A:link  {
color:	#336666;
font-family:	Verdana, Arial, Sans-Serif;
}

A:visited  {
color:	blue;
font-family:	Verdana, Arial, Sans-Serif;
}

A:active  {
color:	red;
font-family:	Verdana, Arial, Sans-Serif;
}

DIV.CHILDREN  {
color:	#336666;
font-family:	Verdana;
}

DIV.COPYRIGHT  {
color:	#336666;
font-family:	Verdana;
font-size:	8pt;
font-style:	italic;
}

DIV.EVENTS  {
color:	#336666;
font-family:	Verdana;
}

DIV.HOUSEHOLD  {
color:	#336666;
font-family:	Verdana;
}

DIV.MENU  {
color:	#336666;
font-family:	Verdana;
}

DIV.NOTES  {
color:	#336666;
font-family:	Verdana;
font-size:	10pt;
}

DIV.OTHERMARRIAGES  {
color:	#336666;
font-family:	Verdana;
}

DIV.SOURCES  {
color:	#336666;
font-family:	Verdana;
}

DIV.UPDATE  {
color:	#336666;
font-family:	Verdana;
}

H3  {
color:	#336666;
font-family:	Verdana;
font-style:	italic;
font-weight:	normal;
}

TABLE.CHILDRENTABLE  {
color:	#336666;
font-family:	Verdana;
font-variant:	small-caps;
}

body  {
background-attachment:	fixed;
color:	#336666;
font-family:	Verdana;
margin-left:	100px;
}
