body{margin:0;padding:0;background-color:#c7bdab;background-color:#666;font-family:'Lucida Grande',Verdana,Arial,sans-serif;}
body.music{background-color:#966;}
body.books{background-color:#c5ffbf;}
body.tvfilm{background-color:#a5a9c0;}
body.video{background-color:#a5a9c0;}
body.culture{background-color:#807773;}
body.politics{background-color:#b3a3c0;}
body.scitech{background-color:#bfeeff;}
body.sports{background-color:#868372;}
body.gaming{background-color:#ffa980;}
body.gallery{background-color:#ccc;}
body.article{}
img {border:none;}
body.index #content dl{margin-top:0;}
body.index #content dt{margin-top:1em;font-weight:bold;font-size:large;}
body.index #content dd{list-style:none;margin-left:0;text-indent:-1em;bborder:1px solid #00f;}
body.index #content ul{list-style:none;margin-left:0;padding-left:0;text-indent:0;}
body.index #content ul li a:link{font-size:medium;}
body.index #content ul li a:visited{font-size:medium;}
body.index #content ul .excerpt{font-size:small;padding-left:1em;}
body.index #content ul .categories{font-size:x-small;color:#695e49;padding-left:2em;margin-top:.5em;margin-bottom:1em;}
body.index #content ul .categories a:link{font-size:x-small;}
body.index #content ul .categories a:visited{font-size:x-small;}
body.index #content ul .author{font-size:x-small;padding-left:1em;}
body.index #content .hottopics{margin:0 10px;padding: 10px;background-color:#c0b6a3;mmargin:0;ppadding:0;}
body.index #content .hottopics span{margin-left:10px;font-weight:normal;font-size:x-small;}
body.index #content span{font-style:italic;}
body.index #content .spotlight ul li {border-bottom:1px solid #c0b6a3;}
body.index #content .spotlight ul li a:link{font-size:small;}
body.index #content .spotlight ul li a:visited{font-size:small;}
body.author #authorStats{float:right;width:260px;border:1px solid #333;padding:.5em;margin:0 0 10px 5px;}
body.author #recComments{float:right;width:260px;height:200px;border:1px solid #333;padding:.5em;margin:0 0 10px 5px;overflow:auto;}
body a:link{color:#119;text-decoration:none;}
body a:visited{color:#619;text-decoration:none;}
body a:active{color:#111;}
body a:hover{text-decoration:underline;}
body.index #content ul .categories a:link{color:#116;}
body.index #content ul .categories a:visited{color:#116;}
div,form{border:none;margin:0;padding:0;}
h1{font-size:large;}
h2{font-size:large;}
h3{font-size:medium;}
h4{font-size:small;}
h5{font-size:x-small;}
#content .notes{text-align:center;font-size:small;} 
#content .notes a:link{font-weight:bold;}
#wrapper{padding:0; background:#f9f9f9 url(/images/background3.gif); position:absolute; left:50%; padding:0; width:800px; margin-left:-388px;}
#header{padding:5px 0 5px 10px; color:#eee; background-color:#ae001e; font-size:x-small;}
#header{width:790px;height:60px;ooverflow:hidden;display:table;}
#header #logo{width:313px;display:table-cell; padding:0;}
#header .pq{width:475px;text-align:center;display:table-cell;vertical-align:middle;}
#header #section{text-align:center;font-size:large; line-height:60px;}
#content{font-size:small; line-height:140%; padding:10px; background-color:#f9f9f9;}
body.index #content .excerpt{line-height:105%;}
body.index #content .categories{line-height:105%;}
#main{margin-left:0; padding:0; float:left; width:620px; bborder:1px solid #0f0;}
#navbar {background-color:#c0b6a3;text-align:left;font-size:small;width:797px;padding-left:3px;overflow:hidden;}
#navbar ul {display:inline;border-right:1px solid #987;margin:0 0 0 1px;padding:0;}
#navbar ul li {border-left:1px solid #987; list-style:none; display:inline;margin:0;padding:0 .4em;}
#navbar ul li.navSectionHere {background-color:#f9f9f9; font-size:medium;font-weight:bold;}
#navbar ul li.navSectionSpecial {background-color:yellow; font-weight:bold;}
#navbar ul li.navLogin {font-weight:bold;color:#543;border-left:3px double #987;}
#navbar ul li.navSitemap {border-left:3px double #987; border-right:1px solid #987;}
#navbar a:link,.notice a:link{color:#ae001e;}
#navbar a:visited,.notice a:visited{color:#ae001e;}
#navbar a:active,.notice a:active{color:#fff;}
#sidebar {float:right; width:170px; padding:0 5px; font-size:100%; overflow:hidden; }
#sidebar .highlight{font-size:small;font-weight:bold;border:solid 1px #000;padding:.5em;margin-top:1em;background:#fff;}
#sidebar .highlight h3{font-size:small;margin:0;}
#search  {font-size:small;font-weight:bold;}
#ainfo   {background-color:#c0b6a3; font-size:small;}
#ainfo h3 {margin:0; padding:.5em;font-size:medium;}
#aic1    {width:290px; margin:10px 0 5px 5px; float:left;}
#aic2    {width:280px; padding:0; margin:10px 10px 0 0; float:right;}
#ainfo ul {list-style:none; margin-top:0; margin-left:0; padding-left:1em; text-indent: -1em;}
#ainfo #categories, #ainfo #series {display:inline; padding-left:0;}
#ainfo #categories li, #ainfo #series li {display:inline;}
#ainfo h3 {margin:0; font-size:medium;}
#sinfo   {bbackground-color:#c0b6a3; border-top:3px solid #c0b6a3; font-size:small; }
#sinfo h3 {margin:0; font-size:medium;}
#open {clear:both;font-size:x-small;text-align:center;}
.open {clear:both;font-size:x-small;text-align:center;}
#sinfo dt {font-weight:bold;}
#sinfo dd {list-style:none; margin-left:0; padding-left:1em; text-indent: -1em;}
#sinfo ul {list-style:none; margin-left:0; padding-left:1em; text-indent: -1em;}
#sic1    {width:300px; float:left; margin:10px 0 5px 5px;}
#sic2    {width:290px; padding:0; margin:10px 10px 0 0;float:right; font-size:x-small; }
#sinfo #sic2 ul li {font-weight:bold;}
#sinfo #sic2 ul .cheader {ffont-weight:normal;}
#sinfo #sic2 ul .cbody {font-weight:normal; font-style:italic;}
#sinfo #sic1 ul li a:link{font-weight:bold;}
#sinfo #sic1 ul li a:hover{font-weight:bold;}
#sinfo #sic1 ul li a:active{font-weight:bold;}
#sinfo #sic1 ul li a:visited{font-weight:bold;}

#recentcomments {border-bottom:thin solid #666;}
#recentcomments h3 {padding:10px 0 0 10px;}
#recentcomments ul li {font-weight:bold;}
#recentcomments ul .cbody {font-weight:normal; font-style:italic;}
#features h3 {padding:10px 0 0 10px;}
#features a:link{font-weight:bold;}
#features a:hover{font-weight:bold;}
#features a:active{font-weight:bold;}
#features a:visited{font-weight:bold;}
.sic1    {width:300px; float:left; margin:10px 0 5px 5px;}
.sic2    {width:290px; float:right; padding:0; margin:10px 10px 0 0;}
#footer  {clear:both; padding:5px 10px; color:#eee; background-color:#ae001e; font-size:x-small;}
#footer a:link {color:#fff;font-weight:bold;}
#footer a:visited{color:#fff;font-weight:bold;}
#footer a:active{color:#fff;}
#footer .links {font-size:x-small;}
#footer .links a:link {font-weight:bold;}
#footer .links h3 {font-size:x-small;margin:0 5px 0 0; display:inline;}
#footer .links ul{margin:0;padding:0;list-style:none;display:inline;}
#footer .links ul li {font-size:x-small; display:inline;}
#content .articleType {margin-left:-10px; width:12em; background:#c0b6a3; color:#ae001e; text-align:center; font-weight:bold; font-size:large;}
#content .reviewItem {float:right; text-align:center; font-size:x-small; line-height:100%;}
#content .reviewDesc {color:gray;text-align:right;border-bottom:1px solid gray;padding:.5em;}
#content .tagline {color:#666;font-size:small;line-height:120%;}
#content .amazon {text-align:center;font-size:x-small;line-height:100%;}
#content .amazon span {float:left;}
#content .amazon div {clear:both; padding-top:10px;}
#content .notice,#comments .notice{width:468;background:#c0b6a3;color:#ae001e;text-align:center;padding:.5em;margin:0 auto 1em;}
#comments {font-size:small;line-height:100%;ppadding:10px;background-color:#f9f9f9;}
#comments h1 {font-size:large;}
#comments .comment{margin:0;padding:0;width:610px;border-bottom:2px #f9f9f9 solid;}
#comments .comment .cheader{float:left;text-align:right;width:110px;padding:5px;overflow:hidden;background-color:#c0b6a3;}
#comments .comment .cheader .cid{font-size:x-small;font-weight:bold;}
#comments .comment .cheader .name{font-size:small;}
#comments .comment .cheader .url{font-size:small;}
#comments .comment .cheader .date{font-size:x-small;color:#666;}
#comments .comment .cheader .time{font-size:x-small;color:#666;}
#comments .comment .cbody{float:left;width:480px;padding:0;overflow:auto;border-top:2px #c0b6a3 solid;}
#comments .comment .cbody p{margin:5px 0 10px 10px;padding:0;}
#comments .comment .cfooter{clear:left;margin:0;padding:0;height:1px;}
#comments #addcomment {font-size:medium;font-weight:bold;padding:1em 0 0 0;}
#comments #pinginfo {font-size:small;padding:.5em .5em 1em;}
#sidebar .links {padding-bottom:1em; font-size:small;}
#sidebar .links h3 {margin-bottom:0;font-size:small;}
#sidebar .links ul {margin:0; padding:0; list-style:none;padding-left:1em; text-indent: -1em;}
#sidebar .notice {text-align:center;font-size:x-small;padding-top:1em;}
#sidebar .archives {font-size:x-small;padding-bottom:1em;}
#sidebar .archives h3 {margin-bottom:0;font-size:small;}
#sidebar .archives p {display:inline; margin:0 0 0 5px; font-weight:bold;}
#sidebar .archives ul {margin:0 0 5px 5px; padding:0; list-style:none; display:inline;}
#sidebar .archives ul li {display:inline;} 
#sidebar .stats {font-size:xx-small;color:#fed;text-align:center;padding-top:5em;}
#sidebar .imagead{text-align:center;}
#sidebar .amazon {text-align:center;font-size:x-small;line-height:100%;margin:1em 0;}
#sidebar .links span{font-size:xx-small;}
body.index #content ul a:link{font-weight:bold;}
body.index #content ul a:active{font-weight:bold;}
body.index #content ul a:visited{font-weight:bold;}
body.index #content ul .categories a:link{font-weight:normal;}
body.index #content ul .categories a:active{font-weight:normal;}
body.index #content ul .categories a:visited{font-weight:normal;}
#sidebar .links a:link{font-weight:bold;}
#sidebar .links a:hover{font-weight:bold;}
#sidebar .links a:active{font-weight:bold;}
#sidebar .links a:visited{font-weight:bold;}
#navbar a:link{font-weight:bold;}
#navbar a:hover{font-weight:bold;}
#navbar a:active{font-weight:bold;}
#navbar a:visited{font-weight:bold;}
#ad1 {padding:0 0 0 1em; background-color:#c0b6a3;text-align:left;font-size:x-small;}
#ad1 .links a:link {font-weight:bold;}
#ad1 .links a:visited {font-weight:bold;}
#ad1 .links ul{margin:0;padding:0;list-style:none;display:inline;}
#ad1 .links ul li {font-size:x-small; display:inline;}
#ad2 {padding:0;margin:5px 0;margin:0;background-color:#ae001e;text-align:center; bborder:1px solid #00f;}
#ad3 {width:100%; text-align:center; margin:.5em;}
bbody.index #ad3 {text-align:left;}
#ad4 {width:100%; text-align:center; margin:.5em;}
#ad5 {width:100%; text-align:left; margin:.5em;}
body.index #ad5 {text-align:left;}
#ad6 {float:left;margin:.5em 1em .5em 0;bborder-top:1px solid gray;bborder-bottom:1px solid gray;text-align:center;}
#ad8 {clear:both;padding:1px; background-color:#c0b6a3;text-align:center;}
body.index #content #ad5{text-align:center;} 
.adstrip{font-size:small;}
.adstrip_title{font-family:Times;font-style:italic;font-weight:normal;font-size:small;text-align:center;color:#000;}
ttd.adstrip_title{border-bottom:solid 1px #987;}
.blogad{text-align:left;width:100%;cursor:pointer;border:solid 1px #000;background:#fff;}
.blogad_headline{text-align:left;font-family:Times;border-spacing:0;color:#000000;font-weight:bold;font-size:medium;}
.blogad_thumbnail{text-align:center;border:none;border-spacing:0;}
.blogad_text{margin:0;font-family:Times;color:#000;border-spacing:0;font-size:small;}
.blogad_link{font-style:italic;font-family:Times;margin:0;color:#000;visibility:visible;font-weight:normal;}
a.blogad_link:link{font-size:small;text-decoration:underline;color:#000;}
a.blogad_link:visited{text-decoration:none;font-style:normal;font-size:small;color:#000;}
a.blogad_link:active{text-decoration:underline;color:#F00;}
a.blogad_link:hover{text-decoration:underline;color:#F00;}
.adstrip_link{font-family:Times;font-style:italic;font-weight:normal;font-size: small;color:#000;margin:0;}
a.adstrip_link:link{text-decoration:none;font-size:small;color:#000;}
a.adstrip_link:visited{font-style:normal;font-size:small;color:#000;}
a.adstrip_link:active{text-decoration:none;color:#F00;}
a.adstrip_link:hover{text-decoration:none;color:#F00;}
.adHeadline {font-size:small;}
.adText {font-size:x-small; color:black;}
.adText link:hover{text-decoration:none;}

div.narrowbox {width:225px; margin-bottom:5px; }
div.widebox {width:475px; margin-bottom:5px; clear:both; }
div.boxtitle {padding:5px 5px 0; border-bottom:1px solid #999; font-weight:bold; font-family:Georgia, serif; }
div.boxbody {margin-left:5px; padding:5px; font-family:Verdana, san serif; font-size:small; border-left:1px solid #999; }
div.boxbody img {float:left; margin:0 5px 5px 0; }
div#aArticles ul {list-style:none; padding:0; margin:0; }
li.aArticle {margin-bottom:20px; clear:left; }
li.aArticle img {margin-right:5px; }
li.aArticle h3 {display:inline; }
li.aArticle p.aAExcerpt {display:inline; }
li.aArticle p.aADate {margin:0;font-weight:bold; }
li.aArticle p.aASection {margin:0; }
div#aBio div.boxbody {color:#666; font-size:x-small; }
div#aComments ul {list-style:none; padding:0; margin:0; }
li.aComment h3 {display:inline; }
li.aComment {margin-bottom:10px; }
.clist {font-size:small;}
.clist ul {list-style:none; margin-left:0; padding-left:1em; text-indent: -1em;}
.clist ul .cbody {font-weight:normal; font-style:italic;}
.clist ul li {font-weight:bold;}
.clist ul li a:link{font-weight:bold;}
.clist ul li a:hover{font-weight:bold;}
.clist ul li a:active{font-weight:bold;}
.clist ul li a:visited{font-weight:bold;}
#sidebar .links .clist span{font-size:small;}
#related {margin-top:5px;text-align:left;width:288px;padding:5px;font-size:11px;font-family:arial,sans-serif;line-height:1em;border:1px solid #666;}
#related a {font-weight:bold;}
#promote{ddisplay:none;text-align:center;font-style:italic;font-weight:bold; margin:1em;}
#authorbio {color:#666;font-size:x-small;line-height:120%;margin:1em 2em;}
div.rss_box_blog {clear:both;font-size:small; line-height:120%;}
div.rss_box_blog ul.rss_items {padding-left:0;}
div.rss_box_blog ul.rss_items li.rss_item{list-style:none;}
div.rss_box_blog a.rss_item:link{font-size:medium;font-weight:bold;color:black; }
div.rss_box_blog a.rss_item:hover{font-size:medium;font-weight:bold;color:black;text-decoration:none;}
div.rss_box_blog a.rss_item:visited{font-size:medium;font-weight:bold;color:black; }
div.rss_box_blog .rss_date{font-size:xx-small;color:gray;}
div#rss_box_bc{float:left;width:300px;border:1px solid #333;padding:.5em;margin:0 0 15px 0;}
div.rss_box_bc .rss_date{font-size:xx-small;color:gray;}
div.rss_box_bc ul.rss_items {padding-left:0;}
div.rss_box_bc ul.rss_items li.rss_item{list-style:none;}
