<STYLE type=text/css>.listprice {
	FONT-FAMILY: arial,verdana,helvetica,sans-serif; TEXT-DECORATION: line-through
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif; 
}
H1 {
	FONT-SIZE: 16pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif; margin-bottom: 5pt; margin-left: 5pt; margin-top: 3pt;
}
H2 {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif; margin-bottom: 5pt; margin-left: 0pt; margin-top: 0pt;
}
H3 {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif; margin-bottom: 5pt; margin-left: 0pt; margin-top: 0pt;
}
TH {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
.large {
	FONT-SIZE: 10pt
}
.small {
	FONT-SIZE: 8pt
}
.white {
	COLOR: #ffffff
; text-decoration: none}
.topnav {
	COLOR: #ffffff
; text-decoration: underline}

.MessageBar {
	COLOR: #ffffff
}
A.MessageBar:visited {
	COLOR: #ffffff
}
A.MessageBar:link {
	COLOR: #ffffff
}
A.MessageBar:active {
	COLOR: #ffffff
}
A:link {text-decoration: underline}
A:visited {text-decoration: underline}
A:active {text-decoration: underline}
A:hover {text-decoration: underline; color: #0000FF;}
</STYLE>