.TributeLinkMenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}

.PhotoCutline { font-family: Arial, Helvetica, sans-serif; font-size: 11px }

.StoryText { font-family: Arial, Helvetica, sans-serif; font-size: 12px }

.StoryTextLinks { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0000FF; text-decoration: underline }

.TextMenu { font-family: Arial, Helvetica, sans-serif; font-size: 11px }

.TextMenuLinks { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF; text-decoration: none }

.TopMainMenu { font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 1px; color: #000000; clip: rect( ) }

.TributeLink { font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 4px; margin-left: 7px }

.Poem2 { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 9px; font-weight: normal }

.Headline2 { font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold }

.Date2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #FFFFFF; clip: rect( ); margin-top: 1px }

.Bullet2 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; margin-top: 2px }

A {

  color: #0000FF;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 12px;

  text-decoration: none;

}



A:hover {

  color: #FF0000;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 12px;

  text-decoration: none;

}



A.nav { color: #0000FF;

		background: transparent;

		text-decoration: none;

; font-family: Arial, Helvetica, sans-serif; font-size: 11px}



A.nav:hover { color: #FF0000;

		background: transparent;

		text-decoration: underline;

; font-family: Arial, Helvetica, sans-serif; font-size: 11px}



A.nav2 { color: #000000;

		background: transparent;

; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none}



A.nav2:hover { color: #000000;

		background: transparent;

		text-decoration: underline;

; font-family: Arial, Helvetica, sans-serif; font-size: 12px}



A.tribute { color: #0000FF;

		background: transparent;

; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; font-weight: bold}



A.tribute:hover { color: #FF0000;

		background: transparent;

		text-decoration: underline;

; font-family: Arial, Helvetica, sans-serif; font-size: 12px}


A.photo_link { color: #0000FF;

		background: transparent;
		
; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; font-weight: bold}



A.photo_link:hover { color: #FF0000;

		background: transparent;

		text-decoration: underline;

; font-family: Arial, Helvetica, sans-serif; font-size: 14px}
