.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.bluebg {
	background-color: #000033;
}
.redbg {

	background-color: #B40000;
}
.drkgreybg {


	background-color: #DCDCDC;
}
.clrlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFB6B6;
	text-decoration: none;
}
.star {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	text-decoration: none;
}
.bigtxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #000033;
}
.boldtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.boldtxtline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:underline;
	font-weight: bold;
}
.bigredtxt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #CC0000;
}
.lightgreybg {



	background-color: #EEEEEE;
}
.textfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #000000;
}
.smalltext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.btns {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #D1D1D1;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D9D9D9;
	border-right-color: #9D9D9D;
	border-bottom-color: #9D9D9D;
	border-left-color: #D9D9D9;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.textover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
.redtxt {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #CC0000;
}
.bluetext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #06656F;
}
.bluetxt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #000033;
}
.greytext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #595858;
}

.rowdivider {
	background-color: #f7f7f7;
}
