body{background-color:#ffffff;
margin: 35px 0px 20px 5px;
}

body.plantCard{background-color:#ffffff;
margin: 30px 0px 20px 30px;
}

body.printCard{background-color:#ffffff;
margin: 23px 0px 36px 30px;
}

.subNav{
font-family:arial;
font-size:9px;
line-height:1.1;
color:#888801;
}

.subNav_garden{
font-family:arial;
font-size:9px;
line-height:.9;
color:#888801;
}

.on{
color:#5a3e17;
}

.white{
border-color:#FFFFFF;
}

.months12{
font-family:arial;
font-size:12px;
color:#aba80e;
}

.printMonths{
font-family:arial;
font-size:14px;
color:#000000;
}

.printText{
padding-left:1;
font-family:arial;
font-size:11px;
color:#000000;
}

.printText2{
line-height:1;
padding-left:1;
font-family:arial;
font-size:11px;
color:#000000;
}

.printTitle{
padding-left:1;
font-family:arial;
font-size:13px;
color:#000000;
}

.gardenTitle{
padding-bottom:1;
font-family:arial;
font-size:18px;
color:#aba80e;
line-height:1;
}

.artTitle{
font-family:arial;
font-size:18px;
color:#ffffff;
}

.volunteerHead{
font-family:arial;
font-size:12px;
line-height:1.3;
color:#aba80e;
}

.eventLocation{
font-family:arial;
font-size:14px;
line-height:1.3;
color:#aba80e;
}

.plantText{
font-family:arial;
font-size:15px;
line-height:1.1;
color:#aba80e;
}

.gardenHighlights{
font-family:arial;
font-size:18px;
color:#999900;
line-height:1.1;
}

.volunteerSide{
margin-left:1;
font-family:arial;
font-size:11px;
line-height:1;
color:#aba80e;
}

.gardenSide{
margin-left:1;
font-family:arial;
font-size:11px;
color:#4e4d4d;
}

.eventSide{
margin-left:1;
font-family:arial;
font-size:11px;
color:#000000;
line-height:1.8;
}

.yellow{
color:#aba80e;
}

.gold{
color:#999900;
}

.default10{
margin-left:1;
font-family:arial;
font-size:10px;
color:#000000;
}

.default11{
margin-left:1;
font-family:arial;
font-size:11px;
}

.default12{
font-family:arial;
font-size:12px;
color:#000000;
}
 
.default9{
margin-left:1;
font-family:arial;
font-size:9px;
color:#000000;
}

.shopText{
margin-left:1;
font-family:arial;
font-size:11px;
color:#666666;
line-height: 1.1;
}

.gardenText{
padding-left:1;
font-family:arial;
font-size:11px;
color:#666666;
line-height: 1.4; 
}

.artText{
margin-left:1;
font-family:arial;
font-size:11px;
color:#333333;
line-height: 1.4;
}

.waveHouse{
margin-left:1;
font-family:arial;
font-size:11px;
color:#ffffff;
line-height: 1.4;
}

.eventText{
margin-left:1;
font-family:arial;
font-size:11px;
color:#666666;
line-height: 1.5;
}

.plantText2{
margin-left:1;
font-family:arial;
font-size:11px;
color:#666666;
line-height: 1.6;
}

.eventDate{
padding-left:1;
font-family:arial;
font-size:11px;
color:#969595;
line-height: 1;
}

.eventSubEvent{
font-family:arial;
font-size:11px;
color:#969595;
line-height: 1.2;
}


.mouseDir{
font-family:arial;
font-size:12px;
color:#5a3e17;
line-height: 1.4;
}

.liteGrey{
color:#999999;
}

.midGrey{
color:#666666;
}

.midDarkGrey{
color:#898787;
}

.darkGrey{
color:#4e4d4d;
}

a{
color:#333333;
text-decoration:none;
}

a.line{
color:#333333;
text-decoration:underline;
}

a.lineNo{
color:#666666;
text-decoration:underline;
}

a.lineNo:hover{
color:#333333;
text-decoration:none;
}

a.tight{
line-height:1.1;
}

a.Onstate{
color:#aba80e;
text-decoration:none;
}

a.subNav:hover{
color:#5A3E17;
text-decoration:underline;
}

a.subNav_garden:hover{
color:#5A3E17;
text-decoration:underline;
}

a:hover{
text-decoration:underline;
}

.subscribe{
background:#ffffff;
font-family:arial;
font-weight:normal;
font-size:10px;
color:#666666;
padding: 0px 4px;
border-right-width: 1px;
border-left-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-style: solid;
border-color:#666666;
}

.pload{
display:none;
}

select{
font-family:arial;
font-size:11px;
color:#666666;
}

