BODY {BACKGROUND-COLOR: #FFFFFF; COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt}

P {COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt}

H1 {color: #000080; font-family: Tahoma, Verdana, Arial; font-size: 20pt}	 
H2 {color: #000080; font-family: Tahoma, Verdana, Arial; font-size: 18pt}	
H3 {color: #000080; font-family: Tahoma, Verdana, Arial; font-size: 16pt}
H4 {color: #000080; font-family: Tahoma, Verdana, Arial; font-size: 13pt}
H5 {color: #000080; font-family: Tahoma, Verdana, Arial; font-size: 11pt}

TD {COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt}

SELECT   {COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt}
INPUT    {COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt}
TEXTAREA {COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt}

<!----------- Custom CSS Attributes ----------->

.navA:link    {FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; COLOR: #000080}
.navA:visited {FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; COLOR: #000080}
.navA:active  {FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; COLOR: red}
.navA:hover   {FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; COLOR: red}

.size7   {font-family: Verdana, Arial; font-size: 7pt}
.size7-5 {font-family: Verdana, Arial; font-size: 7.5pt}
.size8   {font-family: Verdana, Arial; font-size: 8pt}
.size9   {font-family: Verdana, Arial; font-size: 9pt}
.size11  {font-family: Verdana, Arial; font-size: 11pt}
.size12  {font-family: Verdana, Arial; font-size: 12pt}
.size13  {font-family: Verdana, Arial; font-size: 13pt}
.size14  {font-family: Verdana, Arial; font-size: 14pt}
.size15  {font-family: Verdana, Arial; font-size: 15pt}
.size16  {font-family: Verdana, Arial; font-size: 16pt}
.size18  {font-family: Verdana, Arial; font-size: 18pt}
