BODY { background: white;}

DIV, FORM, INPUT, P, OL, SELECT, TEXTAREA, TR, TD, UL {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
}


P {
	margin-top: 6px; margin-bottom: 6px;
}


INPUT, TEXTAREA {
	background-color: #FFFFFF;
}

FORM {
	margin : 0px;
	padding : 0px;
}


HR {
	height : 1px;
}

IMG {
	border-style : none;
}

UL {
	FONT-SIZE: 8pt; color : #000000; margin-top: 2px; margin-bottom: 2px;
}

OL {
	FONT-SIZE: 8pt; color : #000000; margin-top: 2px; margin-bottom: 2px;
}

.smallbullet {
	FONT-SIZE: 7pt; color : #666666; margin-top: 2px; margin-bottom: 2px;
}

.bluelist {
	FONT-SIZE: 8pt; color : #214278; margin-top: 2px; margin-bottom: 2px;
}

A, A:visited, A:hover {
	COLOR: #18619C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}


A.A7, A.A7:visited, A.A7:hover {
	COLOR: #18619C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}
A.A6, A.A6:visited, A.A6:hover {
	COLOR: #18619C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.footer, TABLE.footer A {
	COLOR: #527D18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}
A.footer:visited, TABLE.footer A:visited {
	COLOR: #527D18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}
A.footer:hover, TABLE.footer A:hover {
	COLOR: #63971D; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.white {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}


A.white:visited {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.white:hover {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.tools {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.tools:visited {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.tools:hover {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

/* LIstings and prices */

.ourprice {
	COLOR: #69972D; FONT-SIZE: 9pt; FONT-WEIGHT: bold;
}

.ourpricedark {
	COLOR: #527D18; FONT-SIZE: 9pt; FONT-WEIGHT: bold;
}

.prcntoff {
	COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: bold;
}

.listprice {
	COLOR: #666666; FONT-SIZE: 9pt; FONT-WEIGHT: bold;
}

.listpricestrike {
	COLOR: #666666; FONT-SIZE: 9pt; FONT-WEIGHT: bold; Text-Decoration: line-through;
}

A.best {
	COLOR: #527D18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.best:visited {
	COLOR: #527D18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

A.best:hover {
	COLOR: #527D18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

.custtest {
	COLOR: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal;
}

.custname {
	COLOR: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold;
}


/* Heads */

.whitesub {
	COLOR: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt;
}

.whitetext {
	COLOR: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt;
}

.subhead1 {
	COLOR: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;
}

.subhead2 {
	COLOR: #18619C; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold;
}

.subhead3 {
	COLOR: #18619C; font-family: Arial, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold;
}

.subhead4 {
	COLOR: #666666; font-family: Arial, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold;
}

.subhead5 {
	COLOR: #18619C; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold;
}

.book_excerpt {

        COLOR: #18619C; font-family: Arial, sans-serif; FONT-SIZE: 7pt;
}



.greydescript {
	COLOR: #7F7F7F; FONT-SIZE: 8pt; FONT-WEIGHT: normal;
}


/* Gobal Navigation Text */

A.globalnav, TABLE.globalnav A {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none; text-shadow: #666 0px 1px 0px;
}
A.globalnav:visited, TABLE.globalnav A:visited {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none; text-shadow: #666 0px 1px 0px;
}
A.globalnav:hover, TABLE.globalnav A:hover {
	COLOR: #EEEEEE; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none; text-shadow: #666 0px 1px 0px;
}

A.cartaccount {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal; Text-Decoration: none;
}
A.cartaccount:visited {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal; Text-Decoration: none;
}
A.cartaccount:hover {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}



/* Subjects Nav Links */

A.subjects {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none;
}
A.subjects:visited {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none;
}
A.subjects:hover {
	COLOR: #BEDA9B; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold;
}

TABLE.sub_subj A, A.sub_subj {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none;
}

TABLE.sub_subj A:visited, A.sub_subj:visited {
	COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none;
}

TABLE.sub_subj A:hover, A.sub_subj:hover {
	COLOR: #BEDA9B; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold;
}

.trigger{
cursor: pointer;
cursor: hand;
COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: bold; Text-Decoration: none;
   }

.branch{
display: none;
margin-left: 9px;
}

.branch_level3{
display: none;
margin-left: 14px;
}



/* Chris' stuff */

BIG {
	font-size: 120%;
}

TABLE.blackblue A, A.blackblue {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal; Text-Decoration: none;
}
TABLE.blackblue A:Visited, A.blackblue:visited {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal; Text-Decoration: none;
}
TABLE.blackblue A:hover, A.blackblue:hover {
	COLOR: #18619C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-STYLE: normal; FONT-WEIGHT: normal; Text-Decoration: none;
}

.bluehead {
	COLOR: #18619C; font-family: Arial, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; text-align: center;
}

.blueheadleft {
	COLOR: #18619C; font-family: Arial, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold;
}
.bluehead15 {
	COLOR: #18619C; font-family: Arial, sans-serif; FONT-SIZE: 15pt; FONT-WEIGHT: bold; text-align: center;
}
.f11 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-STYLE: normal;
}
.f16 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 16pt; FONT-STYLE: normal;
}

A.A11:link, A.A11:visited {
	COLOR: #18619C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}
A.A11:hover {
	COLOR: #1861FF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}
A.A10:link, A.A10:visited {
	COLOR: #18619C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}
A.A10:hover {
	COLOR: #1861FF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: normal;
}

Table.baskquote TD, .baskquote {
	font-family: helvetica,arial,sans-serif; font-size: 11px;
}

.table_article {
	font-family: Arial, sans-serif; FONT-SIZE:8pt; FONT-WEIGHT: normal;
}

.rederror {
	color : red;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
}

.signature {
        color: #666666; font-size: 10px; margin-top: 4px; line-height: 120%;
}

.cust_name {
        color: #009966; font-size: 17px;
}

.cust_location {
        font-size: 14px;
}


