/* CSS Document */

html {
	font-size: 80%;
}

body {
	background-color: #7F7F7F;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-size: 100%;
	line-height: 140%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 820px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-image: url(../images/shadows.gif);
	background-repeat: repeat-y;
}

#content {
	width: 800px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid #000000;
	background-color: #104A9C;
}

table#header {
	width: 100%;
	background-color: #FFFFFF;
}

#header p {
	text-align: right;
	padding: 0px;
	margin: 0px 7px 0px 0px;
	font-size: 80%;
}

#header p a {
	margin-left: 20px;
	color: #000000;
}

#breadcrumb {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	font-size: 90%;
	height: 19px;
}

#breadcrumb p {
	color: #FFFFFF;	
	margin: 0px;
	padding: 0px;
	display: inline;
}

#breadcrumb #search {
	display: inline;
	float: right;
}

.search, .datesearch, .newsletter {
	border: 1px solid #000000;
	font-size: 10px;
	color: #555555;
}

.datesearch {
	margin-right: 2px;
	line-height: 100%;
	width: 50px;
	margin-bottom: 0px;
}

.newsletter {
	margin-right: 2px;
	line-height: 100%;
	width: 105px;
	margin-bottom: 5px;
}

.goButton {
	position: relative;
	top: -5px;
}

p.viewvenues {
	font-style: italic;
	font-size: 80%;
	text-align: right;
	margin-bottom: 0px;
}

img.calpic {
	position: relative;
	top: 2px;
	margin-right: 2px;
}

#column1 {
	float: left;
	width: 187px;
	padding-left: 3px;
}

#column2 {
	float: left;
	width: 414px;
	padding-left: 3px;
	padding-right: 3px;
}

#column2wide {
	float: left;
	width: 604px;
	padding-left: 3px;
	padding-right: 3px;
}

#column3 {
	float: left;
	width: 187px;
	padding-right: 3px;
}

#columnBuy {
	float: left;
	width: 794px;
	padding-left: 3px;
	padding-right: 3px;
}

.box, .boxfloaterleft, .boxfloaterright, .boxnopadding {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	margin-bottom: 3px;
	padding: 5px;
}

.boxnopadding {
    padding: 0px;
}

.boxfloaterleft, .boxfloaterright {
	width: 193px;
	float: left;
}

.boxfloaterleft {
	margin-right: 3px;
	width: 194px;
}

.shadedbox {
	background-color: #E5FAFA;
	border: 1px solid #104A9C;
	padding: 3px;
	margin-bottom: 5px;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	background-color: #104A9C;
	color: #FFFFFF;
	margin: 0px 0px 5px 0px;
	padding: 4px 6px 6px 6px;
}

h2 {
	font-size: 120%;
	color: #FF8502;
	font-style: italic;
	margin: 0px 0px 5px 0px;
}

h2.hpfeature {
	color: #104A9C;
}

h3 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 100%;
	text-transform: uppercase;
	color: #FF8502;
	clear: both;
}

h4 {
	margin: 15px 0px 5px 0px;
	padding: 0px;
	font-size: 90%;
	color: #FF8502;
	clear:both;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	font-size: 80%;
	list-style-type: none;
	line-height: 130%;
}

p {
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

p.atoz {
	font-size: 90%;
}

.blue {
	color: #104A9C;
}

a:link {
	text-decoration: none;
	color: #00e;
}

#breadcrumb a:link {
	text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	text-decoration: none;
	color: #00e;
}

#breadcrumb a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover, #breadcrumb a:hover {
	text-decoration: underline;
}

a:active, #breadcrumb a:active {
	text-decoration: none;
}

img.hero {
	border: 1px solid #104A9C;
	margin: 0px 5px 5px 0px;
	float: left;
}

img.herohomepage {
	border: 1px solid #104A9C;
	margin: 0px 5px 0px 0px;
	float: left;
}

.featured {
	font-size: 80%;
	line-height: 130%;
}

.featured img {
	border: 1px solid #104A9C;
	margin-bottom: 3px;
	margin-right: 3px;
}

.featured img.last {
	border: 1px solid #104A9C;
	margin-bottom: 0px;
	margin-right: 3px;
}

.privacy {
	font-size: 80%;
	line-height: 100%;
	margin: 0px;
}

a.buy img {
	margin-bottom: 15px;
}

img.buyRight {
	margin-left: 5px;
	margin-bottom: 15px;
	float: right;
}

ul#menu  {
}

ul#menu li, ul#menu li.here {
	background-image: url(../images/tab-off.gif);
	display: block;
	float:left;
	width: 96px;
	height: 31px;
	text-align: center;
	font-size: 100%;
}

ul#menu li#here {
	background-image: url(../images/tab-on.gif);
}

ul#menu li a {
	width: 100%;
	height: 100%;
	position:relative;
	top: 13px;
	font-size: 100%;
	color: #00e;
}

ul#menu li#here a {
	color: #FFFFFF;
}

table.padRight {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	width: 100%;
}

table.padRight tr {
	vertical-align: top;
}

table.padRight td {
	width: 25%;
	padding-right: 3px;
	line-height: 100%;
	font-size: 80%;
}

table.padRight td h3 {
    margin-top: 15px;
    font-size: 125%;
}

table.padRightWS {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 100%;
}

table.padRightWS tr {
	vertical-align: top;
}

table.padRightWS td {
	width: 25%;
	padding-right: 3px;
	line-height: 100%;
	font-size: 80%;
}

table.padRightWS td h3 {
    margin-top: 15px;
    font-size: 125%;
}

table.venuetable {
	margin-bottom: 15px;
}

#footer {
	height: 100%;
	margin-left: 3px;
	margin-right: 3px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	clear: both;
	text-align: center;
	font-size: 100%;
}

#footer p {
	margin: 0px;
	padding: 0px;
	font-size: 80%;
}

#footer p a {
	color: #000000;
	margin: 0px 9px;
	/*used to be 21*/
}

.list_box_content {
	width:201px;
	float:left;
	font-size: 80%;
	margin:0px;
	padding:0px;
	line-height: 130%;
}

.buy_link_button {
	font-weight:bold;
}

p.error {
	font-size: 80%;
	line-height: 100%;
	margin: 0px 0px 5px 0px;
}

p.newslettererror {
	font-size: 80%;
	line-height: 100%;
	margin: 5px 0px 0px 0px;
}

p.more {
	font-size: 80%;
	line-height: 100%;
	margin: 0px;
	font-style: italic;
	text-align: center;
}

p.nospace {
	margin: 0px;
}

.clear {
	clear:both;
	height:1px;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
}

td.featured_events_ws_td
{
    border-top: solid 1px #b3b3b3;
    padding-bottom:5px;
    padding-top:2px;
}

.MoreNewsLink
{
	font-size:11px;
	font-style:italic;	
}