	/* top row of tabs above a white box 580px wide. Up to 5 tabs only. */
		TABLE.topTabs580 {
			width: 556px;
			background-color: transparent;
		}
		TD.tt580_l_margin {
			width: 28px; /* assumes left column content is going to overlap */
		}
		TD.tt580_l_on, TD.tt580_l_off {
			width: 107px; height: 20px;
			background:url(/images/everest/layout/tt580_left_on.gif) no-repeat top left;
			text-align: center; vertical-align: middle;
			position: relative; z-index: 100;
		}	
		TD.tt580_l_off {
			background:url(/images/everest/layout/tt580_left_off.gif) no-repeat top left;
		}		
		TD.tt580_mid_on, TD.tt580_mid_off {
			width: 105px; height: 20px;
			background:url(/images/everest/layout/tt580_mid_on.gif) no-repeat top left;
			text-align: center; vertical-align: middle;
			position: relative; z-index: 100;
		}	
		TD.tt580_mid_off {
			background:url(/images/everest/layout/tt580_mid_off.gif) no-repeat top left;
		}
		TD.tt580_r_on, TD.tt580_r_off {
			width: 106px; height: 20px;
			background:url(/images/everest/layout/tt580_right_on.gif) no-repeat top left;
			text-align: center; vertical-align: middle;
			position: relative; z-index: 100;
		}	
		TD.tt580_r_off {
			background:url(/images/everest/layout/tt580_right_off.gif) no-repeat top left;
		}
		/* bottom row of tabs above a white box 580px wide. Up to 5 tabs only. */ 
		TABLE.botTabs580 {
			width: 580px;
			background: url(/images/everest/layout/tt580_bg.gif) no-repeat top left;
		}
		TABLE.botTabs747 {
			width: 747px;
			background: url(/images/everest/layout/tt747_bg.gif) no-repeat top left;
		}		
		TD.bt580_l_margin {
			width: 21px; /* assumes left column content is going to overlap */
		}
		TD.bt580_l_on, TD.bt580_l_off {
			width: 109px; height: 24px;
			background:url(/images/everest/layout/bt580_left_on.gif) no-repeat top left;
			text-align: center; vertical-align: middle;
			position: relative; z-index: 100;
		}	
		TD.bt580_l_off {
			background:url(/images/everest/layout/bt580_left_off.gif) no-repeat top left;
		}		
		TD.bt580_mid_on, TD.bt580_mid_off {
			width: 109px; height: 24px;
			background:url(/images/everest/layout/bt580_mid_on.gif) no-repeat top right;
			text-align: center; vertical-align: middle;
			position: relative; z-index: 100;
		}	
		TD.bt580_mid_off {
			background:url(/images/everest/layout/bt580_mid_off.gif) no-repeat top left;
		}
		TD.bt580_r_on, TD.bt580_r_off {
			width: 111px; height: 24px;
			background:url(/images/everest/layout/bt580_right_on.gif) no-repeat top left;
			text-align: center; vertical-align: middle;
			position: relative; z-index: 100;
		}	
		TD.bt580_r_off {
			background:url(/images/everest/layout/bt580_right_off.gif) no-repeat top left;
		}
		TD.bt580_r_margin {
			width: 9px; /* assumes left column content is going to overlap */
		}		

