body 
{ 
color: #000000;
background-color: #EFDEC6;
background-image: url(img/bg.gif); 
margin-top: 0; 
margin-left: 0; 
margin-right: 0 
}

a:link
{
color: #735A39;
text-decoration: underline;
background-color: transparent;
}

a:visited
{
color: #735A39;
text-decoration: underline;
background-color: transparent;
}

a:active
{
color: #CC0033;
text-decoration: underline;
background-color: transparent;
}

a:hover
{
color:#CC0033;
text-decoration: underline;
background-color: transparent;
}

a.searchtop
{
color: "#EFDEC6";

}

b.keyword
{
background-color: yellow;
font-weight: normal
}

img 
{ 
border: 0 
}

img.result
{ 
float: right;
height: 100px;
width: 100px 
}

table
{
border: 0
}

td.top
{
background-image: url(img/top.jpg);
text-align: right;
vertical-align: bottom
}

td.timeline
{
vertical-align: top 
}

th.timeline
{
vertical-align: top 
}

p
{
text-indent: 0.5in
}

p.side
{
text-indent: 0in
}

p.quote
{
margin-right: 1in;
margin-left: 1in;
text-indent: 0in;
font-style: italic
}

p.help
{
margin-left: 1.0cm;
text-indent: 0in
}

a:link.menu
{
color: #D4BE9E;
text-decoration: underline;
background-color: transparent;
}

a:visited.menu
{
color: #D4BE9E;
text-decoration: underline;
background-color: transparent;
}

select.boxw
{
width: 200px
}
input.boxw
{
width: 200px
}

li.help
{
margin-left: 1.0cm
}