body { 
	background-color: white; 
	margin: 0; 
}

.imagebox {
	background-color: #d3d1cf;
	font-size: 10pt;
	FONT-FAMILY: Helvetica, Arial, sans-serif 
		}
.date {
	font-size: 9pt;
	FONT-FAMILY: sans-serif;
	COLOR: #C66B11;
	font-style: italic; 
		}
/* 	background-color: #d3d1cf;  removed this from .clippingsbox , table to edges */
.clippingsbox {
	font-size: 10pt;
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
}

A:link {
	FONT-SIZE: 10pt; 
	COLOR: #000033; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}
A:visited {
	FONT-SIZE: 10pt; 
	COLOR: #663300; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}

A:hover { background: #FFA }


A:active {

	COLOR: #967393; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}

/* fix SEARCH */
span.leftnavhdg {
        FONT-WEIGHT: bold;
        FONT-SIZE: 8pt;
        COLOR: #CC9900;
        FONT-FAMILY: Helvetica, Arial, sans-serif;
        TEXT-DECORATION: none;
}

A.leftnavhdg:link {
	FONT-WEIGHT: bold;  
	FONT-SIZE: 8pt; 
	COLOR: #CC9900; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	TEXT-DECORATION: none;
}
A.leftnavhdg:visited {
       FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	COLOR: #CC9900; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none;
}

A.leftnavhdg:hover {
        COLOR: #2E346D;
        TEXT-DECORATION: underline
}

A.leftnavhdg:active {
        FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Helvetica, Arial, Hsans-serif; 
	TEXT-DECORATION: none;
}

A.leftnav:link {
	FONT-SIZE: 8pt; 
	COLOR: #000033; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none;
}
A.leftnav:visited {
	FONT-SIZE: 8pt; 
	COLOR: #000033; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none;
}

A.leftnav:hover {
	COLOR: #2E346D;
        TEXT-DECORATION: underline
}

A.leftnav:active {
	FONT-SIZE: 8pt; 
	COLOR: #000033; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none;
}

A.topnav:link {
	FONT-SIZE: 8pt; 
	COLOR: #2E346D; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none; 
	font-weight: bold; 
}

A.topnav:visited {
	FONT-SIZE: 8pt; 
	COLOR: #2E346D; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none; 
	font-weight: bold
}
A.topnav:active {
	FONT-SIZE: 8pt; 
	COLOR: #2E346D; 
	FONT-FAMILY: Helvetica, Arial, sans-serif; 
	TEXT-DECORATION: none; 
	font-weight: bold
}
A.topnav:hover {
	COLOR: #788598;
        BACKGROUND-COLOR: #FFF5D9
}

A.clippingstext:link {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	text-decoration: underline
}
A.clippingstext:visited {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	text-decoration: underline
}
A.clippingstext:hover {
	FONT-SIZE: 10pt; 
	COLOR: #0060FF; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	text-decoration: underline;
        background: #FFA 
}

A.clippingstext:active {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	text-decoration: underline
}

A.storyTitle:link {
	FONT-SIZE: 10pt; 
	COLOR: #1C1C90;
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	TEXT-DECORATION: none;
}
A.storyTitle:visited {
	FONT-SIZE: 10pt; 
	COLOR: #834CAC; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	TEXT-DECORATION: none;

}
A.storyTitle:hover {
        FONT-SIZE: 10pt;
        COLOR: #0060FF;
        FONT-FAMILY: Helvetica, Arial, sans-serif;
        TEXT-DECORATION: underline;
        background: #FFA
}

A.storyTitle:active {
	FONT-SIZE: 10pt; 
	COLOR: #834CAC;
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	TEXT-DECORATION: none;
}

P {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}

UL {
	text-indent: 2pt; 
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}
LI {
	text-indent:2pt; 
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}
OL {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}
DL {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}
DT {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}
DD {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-FAMILY: Helvetica, Arial, sans-serif;
}

.centerbox {  
	font-family: sans-serif; 
	font-size: 10pt; 
	text-align: left; 
	margin-left: 5pt; 
}
/* margin-right: 5pt;  try to use padding not margins? */
div.centerbox {
 padding-right: 12px
}

.imageboxtext {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #000000;
}

.marginbox {
	margin-right: 5pt; 
	margin-left: 5pt; 
	text-align: left; 
	text-indent: 5pt;
}

div.articleItems {
 padding-right: 8px
}

div.articleItems a:link {
 COLOR: #1C1C90;
 TEXT-DECORATION: underline
}

div.articleItems a:visited {
 TEXT-DECORATION: underline;
 COLOR: #834CAC
}

div.articleItems a:hover {
 TEXT-DECORATION: underline;
 COLOR: #0060FF;
 background: #FFA
}



/* additions mostly for main content */


table.SoundByte { background: url(../images/blbg.gif) }
td.newsImagebox  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif; padding-left: 4px }
td.mainContent { padding-left: 1em; padding-right: 1.5em }
div.titles { text-align: center }
div.mainContent { font-family: Helvetica, Arial, sans-serif }
span.mainTitle { font-size: large }
span.author  { font-style: italic }
div.mainContent A:link { color: blue }
div.mainContent A:visited { color: purple }
div.mainContent A:hover { background: #FFA }
div.mainContent A:active { color: red }
div.colophon { font-size: small; font-style: italic; text-align: center }
div.colophon A:link { color: blue }
div.colophon A:visited { color: purple }
div.colophon A:hover { background: #FFA }
div.colophon A:active { color: red }
div.colophonR { font-size: small; font-style: italic; text-align: center }
div.colophonR A:link { color: blue }
div.colophonR A:visited { color: purple }
div.colophonR A:hover { background: #FFA }
div.colophonR A:active { color: red }
table.hostedBy { border-color: #ffffcc; border-width: thin; }
td.clippingsItems { padding-left: 3.5px }
div.clippingsbox { padding: 0; margin: 0 }
p.epigram { font-family: sans-serif; font-size: larger; text-align: center; font-style: italic; color: FF00FF }

/* news items type 2 */
td.newsSeq { background-color: aqua; margin-left: 2em }
td.newsSeqSpace { width: 3px }
table.BottomNav { background-color: #FFF5D9 }
td.newsBotSeqLabel { color: red; font-weight: bold; vertical-align: top }
td.BottomSeqText { padding-left: .5em }
tr.BottomNav { font-size: 80% }
span.AdvSearch { text-decoration: underline }

/* fussing around with navigation buttons and title sections for news pages */

td.docdate { padding-bottom: 5px }
span.docDate { font-size: 75% }
tr.docGenTitle { background-color: #E7DCEF; padding-left: 2px }
span.docGenTitle { font-weight: bold }
td.docGenTitle { padding-left: 4px; font-weight: bold }
tr.docGenTitle A:hover { background: #E7DCEF }
td.nseq { padding-top: 7px }
tr.docTopicTitle { background-color: #FFF5D9; font-size: +160%; font-weight: bolder }
td.docTopicTitle { padding-left: 2px; padding-top: 3px; padding-bottom: 3px; }
/* From W3C approximately */
h1 { font-size: 2em; margin: .67em 0; font-weight: bolder; color: #624D0E }
h2 { font-size: 1.5em; margin: .83em 0; font-weight: bolder; color: #624D0E }
h3 { font-size: 1.17em; margin: 1em 0; font-weight: bolder; color: #624D0E }
h4 { font-size: 1.00em; margin: 1.00em 0; font-weight: bolder; color: #624D0E }
h5 { font-size: .83em; line-height: 1.17em; margin: 1.67em 0; font-weight: bolder; color: #624D0E }
h6 { font-size: .67em; margin: 2.33em 0; font-weight: bolder }
a.b-clippings:hover { background-color: #D3D1CF }
a.b-press:hover { background-color: #FFF5D9 }
a.b-newsletter:hover { background-color: #D3D1CF }
a.b-bwhite:hover { background-color: white }

/* Search page provisional */

p.s-notes { font-size: smaller; padding-left: 4px; padding-right: 3px }
div.s-Intro { padding-left: 4px; padding-right: 3px; FONT-FAMILY: Helvetica, Arial, sans-serif; }
table.help { margin-left: 4px; border: thin solid #0000FF; border-width: thin; padding-left: 4px }
td.ip { background-color: #CCFFCC; padding-left: 3px; }
td.gg { background-color: #CCFFFF; padding-left: 3px; }
table.s-Forms { margin-left: 4px }

span.qalt { font-weight: bold }
span.longquote { color: #8B4500; font-family: Arial, sans-serif ; }
span.xmlCode { background-color: aqua ; }
span.rssV091 { background-color: #FF7E00; color: white; font-size: 70%; font-weight: bold ; }
span.smallFont { font-size: 75%; }


img.left { float: left; border-right: 3px solid #fff; } 
img.right { float: right }