BODY {
	background : White url(/images/header/vert_bg.gif);
	margin : 0 0 0 0;
	scrollbar-base-color : #A59ACE;
	scrollbar-track-color: #E9EBED;
}

BODY,TD,TH,LI,OL,UL,DL,BLOCKQUOTE,SELECT,TD.results {
	color: #424242;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	}
	
DIV,P {
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	}
	
A:LINK, A:ACTIVE {
	color : #ce1010;
	background-color: transparent;
	text-decoration : none;
}

A:VISITED {
	color : #8b0000;
	background-color: transparent;
	text-decoration : none;
}

A:HOVER {
	text-decoration : underline;
	color : #ce1010;
}

small {font-family:Arial, Helvetica, sans-serif;font-size:11px;}
small small {font-size:10.4px;}
small small small {font-size:9.4px;}

big {font-family:Arial,Helvetica,Geneva,sans-serif; font-size:10pt;}
big big {font-size:11pt;}
big big big {font-size:13pt;}

.biggest,.H1,H1 {font-family : Arial, Helvetica, sans-serif;font-size:13pt;}
.bigger,.H2,H2 {font-family : Arial, Helvetica, sans-serif;font-size:11pt;}
.big,.H3,H3 {font-family : Arial, Helvetica, sans-serif;font-size:10pt;}
.body,.H4,H4 {font-family : Arial, Helvetica, sans-serif;font-size:9pt;}
.small,.H5,H5 {font-family : Arial, Helvetica, sans-serif;font-size:11px;}
.smaller,.H6,H6 {font-family : Arial, Helvetica, sans-serif;font-size:10.4px;}
.smallest {font-family : Arial, Helvetica, sans-serif;font-size:9.4px;}
.xxxsmall {font-family : Arial, Helvetica, sans-serif;font-size:7px;}

H1.biggest,H1.bigger,H2.biggest,H2.bigger {margin-top:0em; 	margin-bottom:0em;}

HR {
	color:#A59ACE;
	background:#A59ACE;
	border-color:#A59ACE;
	border-style:none;
	height:2px;
}

table.sidebox {
	background-color:#FFFFFF;
	border:2px solid #A59ACE;
}

table.sidebox th {
	border: 1px solid #A59ACE;
	background-color: #A59ACE;
	padding: 3px;
	font-size:11px;
	font-weight:normal;
}
			
table.sidebox  td {
	border:1px solid #A59ACE;
	font-size:11px;
	padding:4px;
}
			
table.sidebox td.tint {background-color: #DFDBEE;}

	A img.blackborder {
		color : #424242;
		background-color: transparent;
		border: 1 solid #424242;
	}

	A:HOVER img.blackborder {
		color: #ce1010;
		background-color: transparent;
		border: 1px solid #ce1010;
	}

	A img.blackborder2 {
		color: #424242;
		background-color: transparent;
		border-color: #424242;
	}

	A:HOVER img.blackborder2 {
		color: #ce1010;
		background-color: transparent;
		border-color: #ce1010;
	}

input,textarea {font-family: "Courier New", Courier, monospace; font-size:9pt}

.button {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	cursor:pointer;
	cursor:hand;
}

a:link.popup,a:visited.popup,a:active.popup,a:hover.popup {text-decoration:none;}
a:link.popup,a:visited.popup,a:active.popup {color:#ce1010}
a.popup {cursor:help;padding:2px;background-color: ;}
a:hover.popup {color:InfoText;background-color:InfoBackground;padding:1px;border:1px solid WindowFrame;}

.liftout {
	color: #9386C4;
	background-color: transparent;
} 

.quote, li {
	color: #666699;
	background-color: transparent;
} 

div.half p, div.half ol, div.half,ul, div.half pre, p.half {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.close p, div.close ol, div.close ul,div.close pre, p.close {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: 12pt; 
	text-indent: -12pt; 
}

div.bodytext p, div.bodytext ol, div.bodytext ul, div.bodytext pre, p.bodytext {
	text-align: justify;
	margin-top: 0.5em;
	margin-bottom:0.5em;
}

p.crosshead, div.bodytext p.crosshead, div.half p.crosshead {
	text-align: center;
	color: #9386C4;
	background-color: transparent;
	font-weight: bold;
	font-size:10pt;
	text-transform:uppercase;
}

p.subhead, div.bodytext p.subhead, div.half p.subhead {
	text-align: left;
	color: #9386C4;
	background-color: transparent;
	font-weight: bold;
	font-size:10pt;
	text-transform:uppercase;
}

span.dropcap{ 
	font-size:33pt;
	font-family:"Times New Roman",Times,serif;
	font-weight:bold;
	float:left;
	width:1.5em;
	color: #9386c4;
	background-color: #DFDBEE;
	margin-top:-7pt;
	text-align:right;
	padding-right:2px;
	padding-left:2px;
	margin-left:0px;
	margin-right:0px;
} 

span.dropcap2{ 
	float: left;
	width: 1.5em;
	background-color:#DFDBEE;
	color: #424242;
	font-weight: bold;
	font-size: 22pt;
	font-family: "Times New Roman", Times, serif;
	margin-top: -3pt;
	text-align:right;
	padding-right:2px;
	padding-left:2px;
	margin-left:0px;
	margin-right:2px;
} 

p.first, p.first2 {
	margin-bottom:0.5em;
}

p.first:first-line, p.first2:first-line {
	font-weight : bold;
	text-transform: uppercase;
}

	p.first:first-letter {
		font-size:33pt;
		line-height: 21pt;
		font-family: "Times New Roman", Times, serif;
		font-weight: bold;
		color: #a59ace;
		background-color: transparent;
		padding-right:2px;
		float:left;
 		margin-right: 0.03em;
		margin-bottom:-0.25em;
		margin-top: -2pt;
	}

	p.first2:first-letter {
		font-size:16pt;
		line-height:11pt;
		font-family : "Times New Roman", Times, serif;
		font-weight : bold;
		color: #9386c4;
		background-color : transparent;
		float: left;
 		margin-right: 0.02em;
		margin-bottom:-0.18em;
		margin-top: -2pt;
	}

ul.sitemap, div.sitemap ul {
	list-style: none;
	margin-left: 0;
	margin-top: 0.5em;
	margin-bottom: 0em;
	padding-left: 1.4em;
	text-indent: -1em;
	list-style-type: square;
	list-style-position: inside;
}

div.sitemap li {
	color: #424242;
	background-color: transparent;
}

li.sitemap2 {
	padding-left: 1.4em;
	list-style-type: disc;
}

#standard {
	background-color: #DFDBEE;
	border-style: solid;
	border-color: #A59ACE;
	border-width: 1px;
}
	.sans2 {font-family:arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#424242;}
.sans1 {font-family:arial,Helvetica,Geneva,sans-serif;font-size:11px;color:#424242;}
.sans0 {font-family:arial,Helvetica,Geneva,sans-serif;font-size:9.4px;color:#424242;}

/* Top level dummy menu */
.clD,A.clD,A:link.clD,A:visited.clD,A:active.clD,A:hover.clD{font-family:arial,helvetica;font-size:11px;color:#424242; }   

.clCMEvent{position:absolute; z-index:300; width:100%; height:100%; clip:rect(0,100%,100%,0); left:0; top:0; visibility:hidden}

.clCMAbs{position:absolute; width:10; height:10; left:0; top:0; visibility:hidden}

/* bar */
.clBar{layer-background-color:#424242; background-color:#424242;}
.clBar{position:absolute; width:10; height:10; visibility:hidden; }

/* Top level menu */
.clT{position:absolute; overflow:hidden; width:80; height:25; cursor:pointer; cursor:hand}
.clT{padding:1px; font-size:11px; text-align:center}
.clT{color:#424242; }   
.clB{layer-background-color:#a59ace; background-color:#a59ace;}
.clB{position:absolute; visibility:hidden; z-index:300}

.clTover{position:absolute; overflow:hidden; width:80; height:25; cursor:pointer; cursor:hand}
.clTover{padding:1px; font-size:11px; text-align:center}
.clTover{color:black;}
.clTover{layer-background-color:#bfb8dc; background-color:#bfb8dc;}


/* Level 1 */
.clS{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clS{padding:2px; font-size:11px}
.clS{color:#424242; background-color:#a59ace; layer-background-color:#a59ace;}
.clLevel1border{position:absolute; visibility:hidden; background-color:#424242; layer-background-color:#424242;}


.clSover{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clSover{padding:2px; font-size:11px}
.clSover{color:black;}
.clSover{layer-background-color:#bfb8dc; background-color:#bfb8dc;}


/* Level 2 */
.clS2{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clS2{padding:2px; font-size:11px;}
.clS2{color:#424242; background-color:#a59ace; layer-background-color:#a59ace;}
.clLevel2border{position:absolute; visibility:hidden; background-color:#424242; layer-background-color:#424242;}

.clS2over{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clS2over{color:black;}
.clS2over{padding:2px; font-size:11px;}
.clS2over{layer-background-color:#bfb8dc; background-color:#bfb8dc;}


/* Level 2 */
.clS3{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clS3{padding:2px; font-size:11px;}
.clS3{color:#424242; background-color:#a59ace; layer-background-color:#a59ace;}
.clLevel3border{position:absolute; visibility:hidden; background-color:#424242; layer-background-color:#424242;}

.clS3over{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clS3over{color:black;}
.clS3over{padding:2px; font-size:11px;}
.clS3over{layer-background-color:#bfb8dc; background-color:#bfb8dc;}



