body {	background-color: white;font-family: "Times New Roman", "Times", "serif"}
ol {	color: black;	text-align: justify;}
.center {	text-align: center;}
pre		{ border: 1pt solid black; padding: 5pt }
pre		{ background-color: lightyellow }
pre		{ white-space: pre }
pre		{ FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace}
.small {	color: #000000;	font-size: 60%;	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";}
.footnote { font-family:"Times New Roman", "Times", "serif"; font-size:80%; italic;}

p { text-align: justify; } ul { text-align: justify; }
a:link {  color: #0000FF}
a:visited {  color: #660066}
a:hover {  color: #FF0000;}
