h3 {font-family: "arial", "Verdana", "Helvetica", "sans-serif"; font-size: 12 pt;}
p {font-family: "arial", "Verdana", "Helvetica", "sans-serif"; font-size: 11 pt;}
.class1 p {font-family: "arial", "Verdana", "Helvetica", "sans-serif"; font-size: 11.5 pt;}
p.welcome {font-family: "arial", "Verdana", "Helvetica", "sans-serif"; font-size: 10 pt; text-indent: 12}

.class2 P {font-family: "arial", "Verdana", "Helvetica", "sans-serif"; font-size: 10 pt}

a.nev:link {color: #60537F; text-decoration: none; padding:0 0 0 16px}
a.nev:visited {color: #60537F; text-decoration: none; padding:0 0 0 16px}
a.nev:active {color: #60537F; text-decoration: none; font-weight: bold; padding:0 0 0 16px}
a.nev:hover {color: #61C1F8; text-decoration: underline; padding:0 0 0 16px}

TD.footer {font-family: "arial", "Verdana", "Helvetica", "sans-serif";
  font-size: 10 pt; color: #ffffff; text-weight: bold}
li {font-family: "arial", "Verdana", "Helvetica"; font-size: 10 pt}
a.footer:link {color: #ffffff; text-decoration: none}
a.footer:visited {color: #ffffff; text-decoration: none}
a.footer:active {color: #ffffff; text-decoration: none}
a.footer:hover {color: #ffffff; text-decoration: underline}