body
{
	font-size: 8pt;
	font-family: Verdana, Arial;
	background-color: #E4E4E4;
	color: #000000;
}

td
{
	font-size: 8pt;
	font-family: Verdana, Arial;
	color: #000000;
}

.top
{
	padding: 0 0 2px 0;
}

.nav
{
	padding: 0 5px 0 2px;
}

form
{
	font-size: 8pt;
	font-family: Verdana, Arial
}

.headerText
{
	font-size: 10pt;
	font-family: Verdana, Arial
}

.button
{
	height: 23px;
	font-size: 8pt;
	font-family: Verdana, Arial;
	vertical-align: baseline;
	color: #000000;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none
}
