.v7 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
td {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt}
.a8 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 8pt; clip:   rect(   )}
.a9 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 10pt; font-weight: bold; clip:  rect(   )}
.a91 { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: xx-small; background-color: ABB5CA; height: 16px; width: 239px; font-weight: bold; padding-top: 1px; padding-left: 6px ; color: #FFFFFF}
.image1 {  clip:    rect(   ); background-position: right bottom; border: 1px #FFFFFF solid}
a.a01:link {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: xx-small; font-weight: bold; color: #CC9933}
a.a01:link {  text-decoration: none}
a.a01:hover {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: xx-small; font-weight: bold; color: #990000; text-decoration: none}
a.a01:visited {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: xx-small; font-weight: bold; color: #CC9933; text-decoration: none}
a:link {  color: #000000; text-decoration: none}
a:hover {  color: #000000; text-decoration: underline}
a:visited {  color: #000000; text-decoration: none}
.v_xxsmall {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: xx-small; font-weight: bold}
.v_medium { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: medium }
.a6 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: xx-small}
.v_small {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: x-small}
.a02 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 13px; line-height: 22px; font-weight: normal}

.v8 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt}
.song {  font-family: "ו"; font-size: 9pt}


a.a03:link {  color: #990000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.a03:hover {  color: #990000; text-decoration: underline;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.a03:visited {  color: #990000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}

a.a04:link {  color: #000000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.a04:hover {  color: #000000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.a04:visited {  color: #000000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
.v8 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt}

.wea {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 6pt}
.v7 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
td {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt}
.image {  border: 1px #FFFFFF solid}
a.biz01:link { color: #000000; text-decoration: none;font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt}
a.biz01:hover {  color: #000000; text-decoration: none;font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt}
a.biz01:visited {  color: #000000; text-decoration: none;font-family: "Arial", "Helvetica", "sans-serif";font-size: 9pt}
a.biz02:link { color: #000000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.biz02:hover {  color: #000000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif";font-size: 7pt}
a.biz02:visited {  color: #000000; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}

a.lk:link { color: #D38034; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.lk:hover {  color: #D38034; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}
a.lk:visited {  color: #D38034; text-decoration: none;font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt}.supbiaot {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12pt; font-weight: bold; color: #000000}
.temp {  border-color: #a7b5c1 #a7b5c1 #FFFFFF; background-color: #a7b5c1; border-style: groove; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 9px; color: #FFFFFF}
.curpage {  font-size: x-small; font-weight: bold}
