body{font:70% Verdana, Arial, Helvetica, sans-serif}
img{border:0}
.dotbox{border: 1px dotted #dadada;	padding:5px; margin: 0 0 5px 0;}
.red, .red a, .red a:visited{color:#990000}
.padding2{padding:2px;}
.l140{width:140px; float:left}
.l250{width:250px; float:left}
.l290{width:290px; float:left;}
.l440{width:435px; float:left}
.w30{float:left; width:25%}
.w40{float:left; width:38%}
.w60{float:left; width:58%}
.w70{float:left; width:65%}
.inh1{font-size:70%; margin:0 10px 0 0;}
.inh2{float:right; font-size:70%; margin:0 10px 0 0;}
.inh2 a, .inh2 a:visited {color:#fff;}

.crosssell{float:left; width:48%; margin-left:5px;}
.date1 {padding:5px; height:150px; background-color:#fff5bf; font-size:20px}
.date2 {padding:5px; background-image:url(../IMAGE/dating/every1in220.jpg); height:150px; text-align:center; font-size:13px; font-weight:bold}
.genes1 {height:150px; text-align:center; background-image:url(../IMAGE/genescross-sell/215tophatbubble2.gif)}
.genes2 {background-image:url(../IMAGE/genescross-sell/genesboldover220.jpg); text-align:center; font-size:130%; font-weight:bold; color:#006600}
.bubble, .bubbleda{float:right; width:191px; height:99px; background-image:url(../IMAGE/alsofrom/background1.gif); background-repeat:no-repeat;}
.bubbleda{background-image:url(../IMAGE/alsofrom/bubbleplain.gif);}
.product{margin:5px 10px 0px 60px}
.adContent p{padding:10px 0px 5px 5px}
.adContent img{margin:0px 3px 0px 0px}
.genes{padding:4px; font:110% "Times New Roman", Times, serif; color:#333333;}
.dating{padding:4px 2px 4px 4px; color:#900;}
.dating input{background:#c66; color:#fff; border:1px solid #c00; padding:0; margin:0 0 0 20px; font:85% Arial, Helvetica, sans-serif; font-weight:bold;}
.dating p{padding:0; font-family: Arial, Helvetica, sans-serif; line-height:normal}
.dating a, .dating a:visited{color:#990000; font-weight:bold}
.datingpic{float:right; width:58px; height:51px; overflow:hidden}
small a, small a:visited{color:#666; font-family: Arial, Helvetica, sans-serif;}

.note{position:absolute;z-index:10;	color:#333}
.note .inner{background:#ffc;	border:1px solid #999;  padding:10px;}
.note .close{font-size:80%; float:right; display:block; position:relative; margin:-8px -4px 0 0;}
.note .arrow{text-align:center; position:relative; margin-top:-1px;}
.note .arrowup{text-align:center; position:relative; top:1px; }
.note .arrowleft{position:relative; left:-26px; top:37px; }
#note_shortcut{top:155px; left:190px; width:173px;}
#note_waiting{top:275px;left:250px;	width:343px;}
#note_favint{position:relative; width:240px;}
#note_quickpro{position:relative}
#note_newmail{position:relative; visibility:hidden; display:none;}
#note_notes{position:relative; width:100%}
#note_future{position:relative;}
#note_share{position:relative; top:10px;}

.txtbox{width:500px; height:130px;}
.takethat1{width:270px; float:left; text-align:center;}
.takethat2{width:214px; float:left; text-align:center;}

.datingvid1{float:left; padding-left:50px;}
.datingvidtxt{padding-left:95px;}

