A.link:active {color: #0066CC;; font-family: "Verdana"; font-size: 10px}
A.link:visited {color: #000000;; text-decoration: underline; font-family: "Verdana"; font-size: 10px}
A.link:hover {
	color: #0066CC;
; font-family: "Verdana"; font-size: 10px
; text-decoration: none
}
A.link {
	color: #000000;
	font-size: 10px;
	line-height: 13px;
	text-decoration:underline;
; font-family: "Verdana"
}
.txt {
	color: #000000;
	font-size: 10px;
	text-decoration:none;
	line-height: 12px;
	font-family: "Verdana";
}
.txt_10px {
	color: #000000;
	font-size: 10px;
	text-decoration:none;
	line-height: 12px;
	font-family: "Verdana";
}
.txt_11px {
	color: #000000;
	font-size: 11px;
	text-decoration:none;
	line-height: 13px;
	font-family: "Verdana"
}
.txt_12px {
	color: #000000;
	font-size: 12px;
	text-decoration:none;
	line-height: 14px;
	font-family: "Verdana";
}
.txt_13px {
	color: #000000;
	font-size: 13px;
	text-decoration:none;
	line-height: 15px;
	font-family: "Verdana";
}
.index_10px {
	color: #000000;
	font-size: 10px;
	text-decoration:none;
	line-height: 12px;
	font-family: "Verdana";
	font-weight: bold
}
.index_11px {
	color: #000000;
	font-size: 11px;
	text-decoration:none;
	line-height: 13px;
	font-weight: bold
	font-family: "Verdana"
}
.index_12px {
	color: #000000;
	font-size: 12px;
	text-decoration:none;
	line-height: 14px;
	font-family: "Verdana";
	font-weight: bold
}
.index_13px {
	color: #000000;
	font-size: 13px;
	text-decoration:none;
	line-height: 15px;
	font-family: "Verdana";
	font-weight: bold
}
.menu {
	color: #000000;
	font-size: 12px;
	text-decoration:none;
	line-height: 14px;
	font-family: "Verdana";
	font-weight: bold;
	vlink: none
}
A.sub { color: #000000; font-size: 12px; line-height: 13px; text-decoration:none; }
A.sub:active { color: #000000; font-size: 12px; line-height: 13px; }
A.sub:hover { color: #000000; font-size: 12px; line-height: 13px; text-decoration:underline; }
A.sub:visited { color: #000000; font-size: 12px; line-height: 13px; }
.header { color: #000000; font-size: 14px; text-decoration:none; line-height: 18px; ; font-weight: bold}
