.justifie {  text-align: justify}
A:link {color: #FFFFFF; text-decoration: none} 
A:visited {color: #FFFFFF; text-decoration: none} 
A:active {color: #FFFFFF; text-decoration: underline} 
A:hover {color: #FFFFFF; text-decoration: underline}.lsg {  font-family: "lucida sans"; color: #c0c0c0}
.arb {  font-family: Arial; color: #FFFFFF}
.arg {  font-family: arial; color: #c0c0c0}
.lsb {  font-family: "Lucida Sans"; color: #FFFFFF}
