body, textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	line-height: 1.3;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	background: white;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
}
a {
	color: #490900;
	text-decoration: underline;
}
a:hover {
	text-decoration:none; 
    color:blue
}
/*DFN is used as 'deemphasis'*/
dfn  {
	font-size:75%;
    line-height:125%; 
    font-weight:normal ;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif; 
    font-size:12pt; 
    font-weight:normal; 
    text-align:left; 
	margin:.7em 0pt .4em 0pt; 
}
.sans {
	font-family: Arial, Helvetica, sans-serif; 
    font-size:11pt; 
    font-weight:normal; 
    text-align:left; 
}

ul, ol {
	padding:0em 0em 0em 1.5em; 
	margin:0em;
}
li {
	margin:0.4em 0em;
}


h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:14pt; 
    font-weight:bold; 
    color:#464036; 
    text-align:center; 
    margin:.5em 0pt}
h1 sup  {
	font-size:75%;
}
h1 a {
	text-decoration:none; 
    color: #464036;
}
h1 a:hover {
	text-decoration:none; 
    color:blue
}

    
h2 {
	font-family:Arial, Helvetica, sans-serif;
    font-size:12pt; 
	font-style: normal;
    font-weight:bold;
    color:#464036; 
    text-align:left; 
    margin:1em 0pt 0.5em 0pt;
}
h2 a {
	color: #464036;
	text-decoration: underline;
}
h2 a:hover {
	text-decoration:none; 
    color:blue
}



    
h3 {
	font-family:Arial, Helvetica, sans-serif;
    font-size:11pt; 
    font-weight:bold;
    color:#464036; 
    text-align:left; 
    margin:1em 0pt 0.3em;
}

h3 a {
	text-decoration:underline; 
    color: #464036 
}
h3 a:hover {
	text-decoration:none; 
    color:blue
}
h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif; 
    font-size:10pt; 
    font-weight:normal;
	line-height: 1.3;
    color:#464036; 
    text-align:left; 
    margin:1em 0pt 0em;
}
h4 a {
	text-decoration:underline; 
    color: #464036 
}
h4 a:hover {
	text-decoration:none; 
    color:blue
}
    
h5 {
	font-family:Arial, Helvetica, sans-serif; 
    font-size:8pt; 
    font-weight:normal;
    color:#464036; 
    text-align:left; 
    margin:0 ;
}
h5 a {
	text-decoration:underline; 
    color: #464036 
}
h5 a:hover {
	text-decoration:none; 
    color:blue
}


/*BACKGROUND COLORS AND TABLE BORDERS*/
.bodyback {
	background: #FFFFFF;
}
.hotback {
	background:#FFFFF0;
}

.coolback {
	background:#E7E9EB;
}
.cooltableheading {
	background:#E7E9EB;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:8pt;
	text-align:center;
	padding:0.2em;
}

table.hotbox {
	border:solid #666666 2px; 
	border-left:solid #666666 1px; 
	border-top:solid #666666 1px; 
	border-collapse:collapse;
	background:#FFFFEE repeat-x top left;
}

td.hotboxTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
    font-weight:normal;
    color:#330000; 
	text-align:center;
    padding:.4em 4px 4px 4px;
}
td.hotpanelTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
    font-weight:bold;
    color:#330000; 
	text-align:left;
    padding:0px 4px 4px;
}


.border {
	border:solid 1px #BBAA99;
}
td.borderTB {
	border-top:solid 1px #BBAA99;
	border-bottom:solid 1px #BBAA99;
}
td.borderT {
	border-top:solid 1px #BBAA99;
}
td.borderB {
	border-bottom:solid 1px #BBAA99;
}
td.borderLR {
	border-left:solid 1px #BBAA99;
	border-right:solid 1px #BBAA99;
}
td.borderL {
	border-left:solid 1px #BBAA99;
}
td.borderR {
	border-right:solid 1px #BBAA99;
}


/*FOOTER TEXT*/
.footer {
	font-family:Arial, Helvetica, sans-serif; 
    font-size:8pt; 
    white-space:nowrap; 
    text-align:center; 
    letter-spacing:1pt;
    margin:1em 0px 1em 0px ;
    color: #000000 ;
}
.footer a {
	text-decoration:underline; 
    color: #000000 ;
} 
.footer a:hover {
	text-decoration:none; 
    color:blue;
}




/* KSS FORUM STYLES */

.forum8 {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:8pt; 
	text-align:center; 
	margin:0pt;
}   
td.forum8 {
	border-top:solid 1px #BBAA99;
	border-bottom:solid 1px #BBAA99;
	padding:0.4em 0.7em;
}
.forum9 {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:9pt; 
	text-align:center; 
}   

table.forum_tableembed {
	border-collapse:collapse; 
	border:solid 1px #b1a5a0;
	margin:.5em 0pt; 
}
td.forum_tableembed {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:9pt; 
	border:solid 1px #b1a5a0;
	padding:.3em .3em; 
}
td.forum_tableembed p {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:9pt; 
}


td.forum_quoted {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:8pt;
	color:#464036;
	background:#F9F9F1;
	text-align:left; 
	padding:0px; 
	margin:0pt;
}
table.forum_quotebox {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:9pt; 
	text-align:left; 
	border:solid 1px #b1a5a0;
	margin:.5em .6em;
	padding:0px 1em 2px 1em; 
	background:#F9F9F1;
}
td.forum_quotebox, td.forum_quotebox P {
	font-family: Arial, sans-serif; 
	font-weight:normal; 
	font-size:9pt; 
	text-align:left; 
	margin:.5em 0em;
}



/* KSS MENU STYLES */

table.kss_menu {
	border:solid #666666 1px;
	border-right-width:2px;
	border-bottom-width:2px;
	background:#FCFFEE;
}

.kss_menu_columnar_border {
	border-right:solid #666666 1px;
}
.kss_menu_break_above {
	border-top:solid #666666 1px;
}
.kss_menu_break_left {
	border-left:solid #666666 1px;
}

td.kss_menu_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 0.4em;
	font-size:8pt; 
	line-height:1.4em; 
	text-align:left; 
	font-weight:normal; 
	color:#FFFFFF;
	white-space:nowrap; 
    background:#336600;
	border-style:none;
}
td.kss_menu_title a {
    display: inline;
    padding: 0px;
    margin: 0px;
}

td.kss_menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size:9pt; 
	line-height:120%; 
	text-align:left; 
	font-weight:normal; 
	color:black;
    background:inherit;
}
td.kss_menu a {
    display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:9pt; 
	line-height:120%; 
	text-align:left; 
	font-weight:normal; 
	color:black;
	white-space:nowrap; 
    background:inherit;

    padding: 0.1em 0.5em 0.2em;
    margin: 0px;
    text-decoration:none;
}
td.kss_menu a:hover {
    color: #000000;
    text-decoration: none;
    background:#FFFF00;
}



table.kss_tab {
	border-style:none;
	background:none;
}

td.kss_tab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size:9pt; 
	line-height:130%; 
	text-align:center; 
	font-weight:normal; 
	color:black;
	background:none;
	border-style:none;
	height:1.6em;
	width:.9em;
}
td.kss_tab a {
    display: block;
	height:1.6em;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:9pt; 
	line-height:130%; 
	text-align:center; 
	font-weight:normal; 
	color:black;
	white-space:nowrap; 
	background:none;
    text-decoration:none;
}
td.kss_tab a:hover {
    color:#FFFFFF;
    text-decoration: none;
}




td.kss_popmenu {
	width:1px;
	height:1px;
	padding:0px;
	border:none;
    background:none;
}
div.kss_pop_position {
	display:inline;
	position:relative;
	overflow:visible;
	z-index:98;
	background:none;
	left:2px;
	width:1px;
	height:1px;
	margin:0px;
	padding:0px;
}
div.kss_pop_display {
	position:absolute;
    display:none;
	overflow:visible;
	background:none;
	width:1em;
	height:1em;
	margin:0px;
	z-index:99;
}
