/* Printer Friendly Version */

#sidebar, #nav, #footer, #icon, .noprint { display: none; }


div.First {
  background: url(http://a9.g.akamai.net/7/9/8082/v001/democratic1.download.akamai.com/8082/images/print_banner.gif); 0% 0%; no-repeat; fixed; #FFF; color: white;
  page-break-after: no;
}



#wrap {
position: relative;
width: 760px;
margin: 0 auto;
padding: 0 8px;
text-align: left;
}

#col-wrap {
position: relative;
}

#main {
width: 583 px;
margin: 0 1px 0 0;
}


body {
margin-top: 75px;
padding: 0;
font-family: Verdana, Arial, sans-serif;
font-size: 55%;
background-image:url('http://a9.g.akamai.net/7/9/8082/v001/democratic1.download.akamai.com/8082/images/print_banner.gif');
background-repeat: no-repeat;
background-position: left top;

}

body.article #content {
font-family: Verdana, Arial, sans-serif;
font-size: 10pt;
}


body.article #content h2 {
font-family: Verdana, Arial, sans-serif;
font-size: 12pt;
}


#content h1.category {
font-family: Verdana, Arial, sans-serif;
font-size: 14pt;
}

p, td, th, ul, a {
background-color: #fff;
color: #000;
font-family: Verdana, Arial, sans-serif;
font-size: 10pt;
}

