a:link {
	color: #000099;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000099;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

.lftbgline180 {
	background-image: url(../images/lftline180blu_03.gif);
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	top: 10px;
	bottom: 10px;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 16px;
}
.textheadlinebld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
.textforms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #000000;
}
.lftnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 0px 5px 5px 10px;
	font-weight: bold;
}
.textbldblk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	font-weight: bold;
	padding-left: 10px;
}
.textlist {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	list-style-type: square;
	line-height: normal;
	padding-bottom: 10px;
}
.mainborder {
	border: 3px solid;
	color: #334B97;
	margin: 5px;
}
.textbldblu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #334B97;
	font-weight: bold;
}
.textheadlinebldblu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #334B97;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
.textlist2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	list-style-type: none;
	line-height: 18px;
	font-style: italic;
}
.textlistnums {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	line-height: normal;
	padding-bottom: 10px;
}
.textbldblk2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	line-height: 16px;
}
.textbldnames {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000033;
	font-weight: bold;
}
.bgnav1 {
	background-color: #E1DEC2;
}
.BGhorzline15 {
	background-image: url(../images/horzline15.gif);
}
.formstext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #333333;
}
.BGV {
	background-image: url(../images/template_imagesV1/GPC-MASTER-CUTUP-V1_09.gif);
}
.BGH {
	background-image: url(../images/template_imagesV1/GPC-MASTER-CUTUP-V1_39.gif);
}
.BGLFT {
	background-image: url(../images/template_imagesV1/GPC-MASTER-CUTUP-V1_31.gif);
}
.BGnavbuttonblu {
	background-image: url(../images/template_imagesV1/navbgblu15.gif);
}
.BGnavspace {
	background-image: url(../images/template_imagesV1/nav-space16.gif);
}
.BGcolor9DACC0 {
	background-color: #9DACC0;
}
.BGbodyE4E9DB {
	background-color: #E4E9DB;
}
.formstextbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	font-weight: bold;
}
.horzlineblk15 {
	background-image: url(../images/horzline15.gif);
}
.horzlineblk30 {
	background-image: url(../images/horzline30.gif);
}
.titlesbldbluCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #334B97;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
.textnopad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
}
.vline15 {
	background-image:  url("../images/blkline17x17right.gif");
}
.lftnavtestimonial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #2A0D5D;
	padding-right: 10px;
	padding-left: 10px;
	list-style-type: square;
	line-height: 17px;
	padding-bottom: 10px;
}
.BGbodywhite {
	background-color: #FFFFFF;
}
