body		 {

	background-color: #FFFFFF;

	background-repeat: no-repeat;

	font-family: Verdana, Arial, Helvetica, sans-serif

	; font-size: 9pt



}



/* header links at top of main page */

A.no-under:link { 

	text-decoration: none;

	

}

A.no-under:visited { 

	text-decoration: none;

	

}



                         

A.no-under:active {

    text-decoration: none;

	}



                         

A.no-under:hover { 

      color: #333333;  

	text-decoration: none;

      

}  



/* navbar links at left side of main page */

A.nav-no-under:link { 

	color: #990000;

	text-decoration: none;

	font-family: arial, helvetica, sans-serif;

	font-size: 9pt

	

}

A.nav-no-under:visited { 

	color: #990000;

	text-decoration: none;

	font-family: arial, helvetica, sans-serif;

	font-size: 9pt

	

}



                         

A.nav-no-under:active {

    color: #990000;

	text-decoration: none;

	font-family: arial, helvetica, sans-serif;

	font-size: 9pt

	}



                         

A.nav-no-under:hover { 

     color: #330000;

	text-decoration: none;

	font-family: arial, helvetica, sans-serif;

	font-size: 9pt

      

}  



/* css for abstracts */



.foot{

	color: #000000;

	text-decoration: none;

	font-family: arial, helvetica, sans-serif;

	font-size: 8pt;

	font-style: normal;

}



p.left{

	text-decoration: none;

	text-align:left;

	font-family: arial, helvetica, sans-serif;

	font-size: 12pt;

	font-style: normal;

	color: #000000;

	}



.left{

	text-decoration: none;

	text-align:left;

	font-family: arial, helvetica, sans-serif;

	font-size: 12pt;

	font-style: normal;

	color: #000000;

}



p.title {

	color: #990000;

	font-family: arial, helvetica, sans-serif;

	font-size: 24pt;

	font-weight:bold;

	text-align:center;

}



p.name {

	color: #000000;

	font-family: arial, helvetica, sans-serif;

	font-size: 13pt;

	text-align:center;

}

p.smallerfont { 

    color: #000000;

	text-decoration: none;

	font-family: arial, helvetica, sans-serif;

	font-size: 11pt

      

} 
