
.bodycopy {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; line-height: 14px;}
.demolong {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; line-height: 18px;}
.columncopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; line-height: 12px;}
.insiderhed {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none; line-height: 16px;}

.orangeunderlinecolumncopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #ff6600; text-decoration: underline; line-height: 12px;}
.orangeunderlineboldcolumncopy {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #ff6600; text-decoration: underline; line-height: 12px;}
.orangecolumncopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #ff6600; text-decoration: none; line-height: 12px;}

.whitecopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #ffffff; text-decoration: none; line-height: 12px;}
.splashcopy {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none; line-height: 16px;}
.greycopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #999999; text-decoration: none; line-height: 12px;}
.greybodycopy {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none; line-height: 14px;}

.header {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #ff6600; line-height: 16px;}
.subheader {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ff6600; line-height: 12px;}
.greenheader {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #669966; line-height: 16px;}
.blueheader {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #003399; line-height: 16px;}

.dkblue {color: #003399;}
.adSponsorImage {display:inline;}
.adLeaderboard img {display:inline;}

/* Text Styles */
.bodyCopy {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}
.columnCopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000;}
.searchCopy {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #003399;}
.form {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000;}
.h2copy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 12pt; color: #000000;}
.rcopy {font-family: arial; font-size: 12px; font-style: normal; color: #000000;}
.rcopyRed {font-family: arial; font-size: 12px; font-style: normal; color: #ff0000;}
.rlcopy {font-family: arial; font-size: 12px; font-style: normal; color: #003399;}
.r2copy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; color: #000000;}
.r2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #000000;}
.r2ibcopy {font-family: arial; font-size: 12px; font-style: italic; font-weight: bold; line-height: 10pt; color: #000000;}
.headerCapBlue {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #003399;}
.headerOrange {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #ff6600;}
.headerBlack {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000;}
.bigheaderOrange {font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; font-weight: bold; color: #ff6600;}
.headerLinkLine {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #ff6600;}
.headerOrangeSmall {font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #ff6600;}
.biggestBlue {font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #003399;}
.orangeBold {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ff6600;}
.i2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #ff6600;}
.rlcopy {font-family: arial; font-size: 12px; font-style: normal; color: #003399;}
.ohcopy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; color: #ff6600;}
.date {font-family: arial; font-size: 11px; font-style: normal; color: #000000;}
.newsList {font-family: arial; font-size: 10px; font-style: normal; color: #3300ff;}
.LargeBlack {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;}

/* links */
a:link {color:#003399;text-decoration:underline;}
a:visited{color:#666666;text-decoration:underline;}
a:hover {color:#000000;text-decoration:underline;}
a.white {color:#ffffff; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}
a.whiteUL {color:#ffffff; font-family:arial; font-size:11px; font-style:normal; text-decoration:underline;}
a.whiteUL:visited {color:#ffffff; font-family:arial; font-size:11px; font-style:normal; text-decoration:underline;}
a.whiteUL:hover {color:#cccccc; font-family:arial; font-size:11px; font-style:normal; text-decoration:underline;}
a:hover.white {color:#003399; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}
a.bigwhite {font-family: Arial, Helvetica; font-size: 18px; color: #ffffff; text-decoration:underline;}
a.bigwhite:visited {font-family: Arial, Helvetica; font-size: 18px; color: #ffffff; text-decoration:none;}
a.bigwhite:hover {font-family: Arial, Helvetica; font-size: 18px; color: #cccccc; text-decoration:none;}
a.blue {color:#003399; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}
a.blue:visited {color:#003399; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}

a.leftCol {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: underline;}
a.searchNav:link {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003399;}
a.searchNav:visited {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003399;}
a.espncopy:hover {color:#ffffff;text-decoration:underline;}
a.headerLinkLine:link {color:#003399;text-decoration:underline;}
a.headerLinkLine:hover {color:#003399;text-decoration:underline;}
a.special:link {font-family: Arial, Helvetica, sans-serif;font-size: 10px; color:#ffffff;}
a.special:visited{font-family: Arial, Helvetica, sans-serif;font-size: 10px;color:#ffffff;}
a.special:hover {font-family: Arial, Helvetica, sans-serif;font-size: 10px;color:#ff6600;}

a.insider_tab:link {color:#ffffff; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}
a.insider_tab:visited{color:#ffffff; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}
a.insider_tab:hover {color:#003399; font-family:arial; font-size:11px; font-style:normal; text-decoration:none;}

a.dropnav {font-family: Arial, Helvetica, sans-serif;font-size: 11px; color:#000000;}
a.dropnav:hover {font-family: Arial, Helvetica, sans-serif;font-size: 11px; color:#ff6600;}

.searchNav2 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003399;}
.dept {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #003399;}
.splash {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}
.h1copy {font-family: arial; font-size: 16px; font-style: normal; font-weight: bold; line-height: 12pt; color: #ffffff;}
.h1copyBlack {font-family: arial; font-size: 16px; font-style: normal; font-weight: bold; line-height: 12pt; color: #000000;}
.headerOrangeLarge {font-family: arial; font-size: 20px; font-style: normal; font-weight: bold; line-height: 14pt; color: #ff6600;}
.h2copy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 12pt; color: #000000;}

sup {font-size:8px;line-height:5px;}
a.popup {font-size:80%;}
body {font-family: Arial, Helvetica, sans-serif;}
body.popup1 h2 {font-size:120%;font-weight:bold;color:#003399;}
body.popup1 h3 {font-size:100%;font-weight:bold;margin-bottom:0;}

.rlcopy {font-family: arial; font-size: 12px; font-style: normal; color: #003399;}
.rlbcopy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; font-weight: bold; color: #003399;}
.rcopy {font-family: arial; font-size: 12px; font-style: normal; color: #000000;}
.rcopyWhite {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #ffffff;}
.r2copy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; color: #000000;}
.r2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #000000;}
.i2bcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #ff6600;}
.ocopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #ff6600;}
.bigwhitecopy {font-family: arial; font-size: 14px; font-style: normal; font-weight: bold; line-height: 12pt; color: #ffffff;}
.bwhcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; height:20px; color: #ffffff;}
.ncopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #000000;}
.espncopy {font-family: arial; font-size: 11px; font-style: normal; line-height: 10pt; color: #000000;}
.nlinkcopy {font-family: arial; font-size: 10px; font-style: normal; line-height: 10pt; color: #ffffff;}
.noncopy {font-family: arial; font-size: 10px; font-style: normal; line-height: 10pt; color: #ffffff;}
.nbcopy {font-family: arial; font-size: 11px; font-style: normal; font-weight: bold; line-height: 10pt; color: #000000;}
.nlcopy {font-family: arial; font-size: 10px; font-style: normal; line-height: 10pt; color: #003399;}
.scopy {font-family: arial; font-size: 10px; font-style: normal; line-height: 10pt; color: #ffff33;}
.fcopy {font-family: arial; font-size: 8px; font-style: normal; color: #000000;}
.ecopy {font-family: arial; font-size: 10px; font-style: normal; line-height: 10pt; color: #0033ff;}
.ohcopy {font-family: arial; font-size: 12px; font-style: normal; line-height: 10pt; color: #ff6600;}
.errorcopy {font-family: arial; font-size: 12px; font-style: normal; font-weight: bold; line-height: 10pt; color: #FF0000;}
.black {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}
.white {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff;}
.bigwhite {font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #ffffff;}
.white11 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff;}
.articlecopy {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;padding: 0 56px 0 56px;}

/* ARTICLE TOOLBOX AND ADVERT */
#articletools { padding:5px 5px 5px 5px; margin:5px 5px 5px 5px; color:#BBB; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; list-style-position:inside; }
#toolmenucontent { font-family:Geneva, Arial, Helvetica, sans-serif; margin:0 0 8px 8px; }
#toolsmenu { border:1px solid #BBB; float:right; background-color:#EEE; width:100%; font-size:11px; padding:2px 5px 2px 5px; font-family:Geneva, Arial, Helvetica, sans-serif; width:200px; }
.simplemenu { margin:0; padding:5px 0px 5px 10px; font-family:Geneva, Arial, Helvetica, sans-serif; font-weight:bold; line-height: 18px; list-style-position:inside; }
#squareadvert { color: #999; width:100%; padding:5px 5px 5px 5px; margin:0 0 10px 0; border:1px solid #BBB; font-size:10px; float:right;}

/*  ALTERNATING BACKGROUND COLORS FOR TABLES */
table.alternatebgcolor1 {border: 1px solid #000; width:100%; padding-top:2px; }
table.alternatebgcolor1 td { padding: 2px 5px 3px 3px; font-size:12px;}
table.alternatebgcolor1 tr.header td { color: #000; padding-top:15px; border-bottom: 1px solid #000;}
table.alternatebgcolor1 tr.censusheader td { font-weight: bold; color: #000; border-bottom: 2px solid #000;}
table.alternatebgcolor1 tr.light_bg { background: #FFFFFF; }
table.alternatebgcolor1 tr.dark_bg { background: #FFFFCC; }
table.alternatebgcolor1 tr.grey_bg { background: #C0C0C0; }
table.alternatebgcolor1 caption { text-align: right; color: #000; font-size: 10px; caption-side:bottom; padding-top:1px;} 

#censustable {padding-bottom: 20px; width: 85%;}
#censusgroupname {padding-bottom: 5px;}

/*  ALTERNATING BACKGROUND COLORS FOR TABLES */
table.vgraph {width:100%}
table.vgraph td {font-size:12px;}
table.vgraph tr.header td { font-size: 13px; font-weight: bold; color: #000000;}
table.vgraph tr.header td.grade { font-size: 17px; font-weight: bold; color: #000000; text-align: center;}

/*navigation footer*/ 
.termsofuse {font-size:10px;text-align:center;color:#999;padding-top:10px;padding-bottom:10px;}
.termsofuse a:link {color:#039;}
.termsofuse a:visited {color:#039;}
  
#footerGS .lowernavbar, #footerGS div#footerSearch, #footerGS div#footerCopyright {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:10px;
    text-align:center;
}
.lowernavbar a:link, 
.lowernavbar a:visited {color:#039;text-decoration: none;padding: 0px 2px 0px 3px;}
#footerGS .lowernavbar a:hover, #footerGS #footerSearch a:hover, #footerGS div a:hover {
    color:#888888;
    text-decoration:underline;
}
.tagline {font-family: Arial, Helvetica, sans-serif; font-size:12px;color:#777;font-weight:bold;padding-top:10px;}
.expandlinks {text-align:center;color:#999;font-size:10px;}
.expandlinks a {color:#039;}

#footerSearchStates,#footerSearchCities,#footerSearchStateSpecific {font-family: Arial, Helvetica, sans-serif; font-size:12px;color:#666;padding:0px 50px 10px 50px;} 

.pageWidth {width:750px;}

.teaser, .smallTeaser  {
        font-style: italic;
        font-weight: bold;
        color: #EB7A31;
}

.smallTeaser {
        font-size: 11px;
        padding-left: 1em;
}


