/* Link attributes */
A {
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	TEXT-DECORATION: none;
	COLOR: #495F8D;
}
A:link {
	COLOR : #495F8D;
}
A:active {
	COLOR : #0000FF;
}
A:visited {
	COLOR: #808080;
}
/*  Footer font, scrollbar (IE only) and main background */
BODY {
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	SCROLLBAR-3DLIGHT-COLOR: #95A6C9;
	SCROLLBAR-ARROW-COLOR: #FFFFFF; 
	SCROLLBAR-BASE-COLOR: #495F8D;
	SCROLLBAR-DARKSHADOW-COLOR: #495F8D; 
	SCROLLBAR-FACE-COLOR: #495F8D;
	SCROLLBAR-HIGHLIGHT-COLOR: #495F8D;
	SCROLLBAR-SHADOW-COLOR: #374869;
	BACKGROUND-IMAGE: url(bg.gif);
}
/*  Separator lines */
hr {
	COLOR : #F0F0F0;
}
/*  Just so the forms don't take up too much space. You shouldn't change this. */
form {
	MARGIN: 4px 0px 4px 0px
}
/* To keep the font within tables */
td {
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	FONT-SIZE: 8pt;
}
/* For fine print and comment quotes */
.smalltext {
	FONT-SIZE: 9px;
	COLOR:#374869;
}
/* Chatbox message text */
.commenttext {
	FONT-SIZE: 10px;
	COLOR:#333333;
}
/* Comments and chatbox datestamps */
.chatdatetext {
	FONT-SIZE: 7pt;
	COLOR: #495F8D;
}
/* Comments and chatbox names */
.chatnametext {
	FONT-SIZE: 8pt;
	COLOR:#374869;
}
/* The predominant default text used */
.defaulttext {
	FONT-SIZE: 8pt;
	COLOR:black;
}
/*  Text input boxes (e.g. chat box, comment box, search etc. */
.tbox{
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: black;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM: #374869 1px solid;
	BORDER-LEFT:  #374869 1px solid;
	BORDER-RIGHT: #374869 1px solid;
	BORDER-TOP: #374869 1px solid;
}
/*  Submit, clear, subscribe buttons etc.*/
.button{
	FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8px;
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #495F8D;
	BORDER-BOTTOM: #374869 1px solid;
	BORDER-LEFT: #95A6C9 1px solid;
	BORDER-RIGHT: #374869 1px solid;
	BORDER-TOP: #95A6C9 1px solid;
	TEXT-ALIGN: center;
}
/* For titlebar backgrounds */
.captionbg {
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BACKGROUND-IMAGE: url(bgtitle.gif);
}
/*  For article titles */
.captiontext {
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 18px;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	COLOR: white;
	BACKGROUND-IMAGE: url(bgtitle.gif);
; text-transform: lowercase}
/*  For sidebar titles */
.sidecaptiontext {
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana; 
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	FONT-STYLE: normal;
	BACKGROUND-IMAGE: url(bgtitle.gif);
; text-transform: none}

/* The main content area where all the article text is. */
.bodytable {
	BACKGROUND-IMAGE: url(bgtable.gif);
	BORDER-LEFT : 2px solid #495F8D;
	BORDER-RIGHT : 2px solid #495F8D;
}
/*  Sidebar background. */
.sidebodytable {
	BACKGROUND-IMAGE: url(bgtable.gif);
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 6px;
	PADDING-TOP: 1px;
	BORDER-LEFT : 2px solid #495F8D;
	BORDER-RIGHT : 2px solid #495F8D;
}
/*  Sidebar text. */
.sidebodytext {
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	COLOR: #374869;
}
/* For code text */
code {
COLOR: darkgreen;
}
