/**************************
Copyright 2002, 2003
University of Notre Dame
Office of Web Administration
http://web.nd.edu
Last modified: March 6, 2003 
**************************/


/* _______________ text _______________ */

#navbar 
	{
	display: none;	
	}
#navtop 
	{
	display: none;	
	}
#nav 
	{
	display: none;	
	}
#header 
	{
	display: none;	
	}
#headersub 
	{
	width: 100%;
	}
#footerbottom 
	{
	width: 100%;
	}