img.thumb {
width: 60px;
border-width: 5px;
border-style: double;
border-color: FFEEBC;
}
img.large {
border-width: 5px;
border-color: FFEEBC;
border-style: double;
}
body {
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
font-family: arial;
font-size: 10pt;
text-color: 330000;
background-color: ffffff;
}
td {
font-family: arial;
font-size: 10pt;
color: 330000;
}
th {
font-family: arial;
font-size: 10pt;
color: 330000;
}
h1 {
margin: 0px;
font-family: arial;
font-size: 22pt;
text-align: center;
color: 990000;
}
h2 {
margin: 0px;
font-family: arial;
font-weight: 10;
font-size: 18px;
text-align: left;
color: ff0000;
}
h3 {
font-style: normal;
font-size: 18px;
}
h3.center {
font-style: normal;
font-size: 18px;
text-align: center;
}
h4 {
font-style: normal;
font-size: 18px;
text-align: center;
}
h5 {
font-style: normal;
font-size: 18px;
text-align: right;
}
A:hover {
font-style: normal;
color: 000000;
}
A:link {
color: 0000ff;
}
A:active {
color: 0000ff;
}
A:visited {
color: 0000ff;
}
.alternate {
color: 330000;
background-color: FFEAD9;
}
A.link2:link {
color: CC0000;
}
A.link2:active {
color: ff0000;
}
A.link2:visited {
color: CC0000;
}
.right {
text-align: right;
}
.rightalt {
background-color: FFEAD9;
color: 330000;
text-align: right;
}
.middlealt {
background-color: FFEAD9;
color: 330000;
text-align: center;
}
.middle {
text-align: center;
}
.howmany {
font-size: 10pt;
color: 990000;
text-align: center;
}
.inform {
font-size: 10pt;
color: ff0000;
}
.reg {
font-size: 10pt;
color: 330000;
}
.nobg {
background-image: url("") ;
background-color: ffffff;
}
