body{
 margin:0;
 background-color:#FFF;
}
/* remove whitespace that forms add by default */
form{
 display:inline;
}
h1{
 font:bold 19px Arial, Verdana;
 color:#039;
 margin:0;
}
h2{
 font:bold 17px Arial, Verdana;
 color:#333;
 margin:0;
}
a:link{
 color:#039;
 text-decoration:underline;
}
a:visited{
 color:#666;
 text-decoration:underline;
}
a:hover{
 color:#C00;
 text-decoration:underline;
}
a.anchorlink{
 color:#039;
}
a.anchorlink:link{
 color:#039;
}
a.anchorlink:visited{
 color:#039;
}
a.anchorlink:hover{
 color:#C00;
}
a.text1boldwhite{
 font:bold 13px Verdana, Arial;
 color:#FFF;
}
a.text1boldwhite:link{
 font:bold 13px Verdana, Arial;
 color:#FFF;
}
a.text1boldwhite:visited{
 color:#FFF;
}
a.text1boldwhite:hover{
 color:#FFF;
}
a.POVLink{
 font:bold 11px Verdana, Arial;
 color:#FFF;
}
a.POVLink:link{
 font:bold 11px Verdana, Arial;
 color:#FFF;
}
a.POVLink:visited{
 color:#FFF;
}
a.POVLink:hover{
 color:#FFF;
}
.GlobalLink{
 font:10px Verdana, Arial;
 color:#FFF;
}
.HPBannerCopy{
 font:bold 15px Arial, Verdana;
 color:#FFF;
}
.Arial13BoldWhite{
 font:bold 13px Arial, Verdana;
 color:#FFF;
}
.text2whitebold{
 font:bold 13px Verdana, Arial;
 color:#FFF;
 text-decoration:underline;
}
.text2whitebold2{
 color:#FFF;
 font:bold 13px Verdana, Arial;
}
.graymedium{
 color:#666;
}
.errormessage{
 font:bold 14px Verdana, Arial;
 color:#C00;
}
/* Smaller error text, used for more specific messages*/
.conditionalError{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.conditionalmessage{
 font:bold 14px Verdana, Arial;
 color:#039;
}
.breadcrumb{
 font:11px Verdana, Arial;
 color:#333;
}
.text0{
 font:15px Arial, Verdana;
 color:#039;
}
.text0bold{
 font:bold 15px Arial, Verdana;
 color:#039;
}
.text0gray{
 font:15px Arial, Verdana;
 color:#333;
}
.text0boldgray{
 font:bold 15px Arial, Verdana;
 color:#333;
}
.text0boldwhite{
 font:bold 15px Arial, Verdana;
 color:#FFF;
}
.text0boldred{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.text1{
 font:13px Verdana, Arial;
 color:#333;
}
.text1bold{
 font:bold 13px Verdana, Arial;
 color:#333;
}
.text1red{
 font:13px Arial, Verdana;
 color:#C00;
}
.text1orange{
 font:13px Verdana, Arial;
 color:#F60;
}
.text1grayheader{
 font:bold 13px Arial, Verdana;
 color:#666;
}
.text1boldred{
 font:bold 13px Verdana, Arial;
 color:#C00;
}
.text1boldblue{
 font:bold 13px Verdana, Arial;
 color:#039;
}
.text1boldwhite{
 font:bold 13px Verdana, Arial;
 color:#FFF;
}
.text1boldwhite2{
 font:bold 13px Arial, Verdana;
 color:#FFF;
}
.text1b{
 font:12px Verdana, Arial;
 color:#333;
}
.text1orangebold{
 font:bold 13px Verdana, Arial;
 color:#F60;
}
.text1orange{
 font:13px Verdana, Arial;
 color:#F60;
}
.text2{
 font:11px Verdana, Arial;
 color:#333;
}
.text2black{
 font:11px Verdana, Arial;
 color:#000000;
}
.text2white{
 font:11px Verdana, Arial;
 color:#FFF;
}
.text2whitebold2{
 font:bold 11px Verdana, Arial;
 color:#FFF;
}
.text2whitebold2 a{
 font:bold 11px Verdana, Arial;
 color:#FFF;
 text-decoration:underline;
}
.text2bold{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.text2boldblue{
 font:bold 11px Verdana, Arial;
 color:#039;
}
.text2boldred{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.text2italic{
 font:italic 11px Verdana, Arial;
 color:#333;
}
.text2red{
 font:11px Verdana, Arial;
 color:#C00;
}
.text2green{
 font:11px Verdana, Arial;
 color:#C00;
}
.text2greenbold{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.text2ltgray{
 font:11px Verdana, Arial;
 color:#999;
}
.text3{
 font:10px Verdana, Arial;
 color:#333;
}
.text3black{
 font:10px Verdana, Arial;
 color:#000;
}
.text3red{
 font:10px Verdana, Arial;
 color:#C00;
}
.text3white{
 font:10px Verdana, Arial;
 color:#FFF;
}
.text3bold{
 font:bold 10px Verdana, Arial;
 color:#333;
}
.text3boldblack{
 font:bold 10px Verdana, Arial;
 color:#000;
}
.text3boldwhite{
 font:bold 10px Verdana, Arial;
 color:#FFF;
}
.text3boldred{
 font:bold 10px Verdana, Arial;
 color:#C00;
}
.text4{
 font:9px Verdana, Arial;
 color:#333;
}
.text4bold{
 font:bold 9px Verdana, Arial;
 color:#333;
}
.header0{
 font:bold 19px Arial, Verdana;
 color:#C00;
}
.header0gray{
 font:19px Arial, Verdana;
 color:#333;
}
.header0graybold{
 font:bold 19px Arial, Verdana;
 color:#333;
}
.header0blue{
 font:bold 19px Arial, Verdana;
 color:#039;
}
.header1gray{
 font:bold 17px Arial, Verdana;
 color:#333;
}
.header1blue{
 font:bold 17px Arial, Verdana;
 color:#69c;
}
.header1red{
 font:bold 17px Arial, Verdana;
 color:#C00;
}
.header1gray{
 font:bold 17px Arial, Verdana;
 color:#333;
}
.header2{
 font:bold 15px Arial, Verdana;
 color:#333;
}
.header2 a{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.header2blue{
 font:bold 15px Arial, Verdana;
 color:#69C;
}
a.header2blue:visited{
 color:#69C; /* make sure color doesn't change */
}
.header2red{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.header2green{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.header2grey{
 font:bold 15px Arial, Verdana;
 color:#666;
}
.header2white{
 font:bold 15px Arial, Verdana;
 color:#FFF;
}
.header2royal{
 font:bold 15px Arial, Verdana;
 color:#039;
}
.header2purple{
 font:bold 15px Arial, Verdana;
 color:#669;
}
.header3{
 font:bold 13px Arial, Verdana;
 color:#333;
}
.header3white{
 font:bold 13px Arial, Verdana;
 color:#FFF;
}
.header3greenbold{
 font:bold 13px Arial, Verdana;
 color:#C00;
}
.header3red{
 font:bold 13px Arial, Verdana;
 color:#C00;
}
.header24{
 font:bold 24px Arial, Verdana;
 color:#C00;
}
.header24white{
 font:bold 24px Arial, Verdana;
 color:#FFF;
}
.header24blue{
 font:bold 24px Arial, Verdana;
 color:#039;
}
.checkouterror{
 font:bold 22px Arial, Verdana;
 color:#C00;
}
.checkoutHeader{
 font:bold 24px Arial, Verdana;
 color:#039;
}
.checkoutHeaderNew{
 color:#039;
 font:bold 24px Arial, Verdana;
 width:100%;
 margin:15px 0 10px;
 padding:0;
 border-width:0 0 3px;
 border-color:#039;
 border-style:solid;
}
/* Same as checkoutHeaderNew but they wanted 2px rule for some reason. */
.corpShoppingCardHeader{
 color:#039;
 font:bold 24px Arial, Verdana;
 width:100%;
 margin:15px 0 10px;
 padding:0;
 border-width:0 0 3px;
 border-color:#039;
 border-style:solid;
}
.checkoutHeaderLoginSpoof{
 font:bold 18px Verdana, Arial, Helvetica, sans-serif;
 color:#003;
}
.checkoutBoxLoginSpoof{
 border:2px solid #B3A389;
 padding:10px;
 background-color:#FFECC7;
}
.checkoutHeaderUnderline {
 background-color:#039;
 height:3px;
}
.CheckoutSubheader{
 font:bold 13px Arial, Verdana;
 color:#333;
}
.CheckoutSubheaderSmall{
 font:bold 11px Arial, Verdana;
 color:#333;
}
.CheckoutBucketHeader{
 font:bold 13px Arial, Verdana;
 color:#FFF;
}
.ImportantHeader{
 font:bold 17px Arial, Verdana;
 color:#F60;
}
.CheckoutBucketBackground1{
/*background-color:#69C;*/
 background-color:#4c83c8;
}
.CheckoutBucketBackground2{
 background-color:#666;
}
.CheckoutBucketBackground3{
 background-color:#999;
}
.CheckoutBucketBackground4{
 background-color:#CCC;
}
.CheckoutBucketBackground5{
 background-color:#4C83C8;
}
.CheckoutBucketBackground6{
 background-color:#039;
}
.CheckoutBodyText{
 font:normal 11px Verdana, Arial;
 color:#333;
}
.CheckoutBodyTextAccent{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.CheckoutFieldLabels{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.CheckoutFieldExample{
 font:normal 11px Verdana, Arial;
 color:#333;
}
.CheckoutTotal {
 font:bold 11px Verdana, Arial;
 color:#333;
}
.CheckoutSubtotal{
 font:normal 11px Verdana, Arial;
 color:#333;
}
.CheckoutGiftWrap{
 font:normal 11px Verdana, Arial;
 color:#333;
}
.CheckoutSandH{
 font:normal 11px Verdana, Arial;
 color:#333;
}
.CheckoutTax{
 font:normal 11px Verdana, Arial;
 color:#333;
}
.ItemInfoName{
 font:11px Verdana, Arial;
 color:#333;
}
.ItemInfoValue{
 font:11px Verdana, Arial;
 color:#333;
}
.ItemSubhead{
 font:bold 13px Arial, Verdana;
 color:#333;
}
.PriceSmall{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.PriceSmallStrikethru{
 font:italic 11px Verdana, Arial;
 color:#C00;
 text-decoration:line-through;
}
.PriceSmallStrikethruCheckout{
 font:italic 11px Verdana, Arial;
 color:#333;
 text-decoration:line-through;
}
.ShippingCutoffItem{
 font:11px Verdana, Arial;
 color:#039;
}
.ShippingCutoffItemBold{
 font:bold 11px Verdana, Arial;
 color:#090;
}
.ShippingCutoffItemDate{
 font:11px Verdana, Arial;
 color:#333;
}
.ShippingCutoffItemMethod{
 font:bold 11px Verdana, Arial;
 color:#039;
}
.FauxLinkVerdana11{
 font:11px Verdana, Arial;
 color:#00F;
 text-decoration:underline;
}
.AuthorMedium{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.AuthorBig{
 font:bold 13px Verdana, Arial;
 color:#333;
}
.MediaMedium{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.MediaBig{
 font:bold 13px Verdana, Arial;
 color:#333;
}
.PriceMedium{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.PriceBig{
 font:bold 19px Arial, Verdana;
 color:#C00;
}
.PriceGiant{
 font:bold 24px Arial, Verdana;
 color:#C00;
}
.WasPriceMedium{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.WasPriceSmall{
 font:11px Verdana, Arial;
 color:#C00;
}
.PaginationArrows{
 font:bold 13px Verdana, Arial;
 color:#666;
}
.SMBtext{
 font:bold 13px Verdana, Arial;
 color:#333;
}
.crossSellBG{
 background-color:#4C83C8;
}
.bgltgrey{
 background-color:#DDD;
}
.bgmedgrey{
 background-color:#CCC;
}
.bgdrkgrey{
 background-color:#333;
}
.bgred{
 background-color:#C00;
}
.bgltblue{
 background-color:#69C;
}
.bgspecshop{
 background-color:#69C;
}
.bgdrkblue{
 background-color:#039;
}
.bgshelfunderline{
 background-color:#039;
}
.bgleftnav{
 background-color:#039;
}
.bgcream1{
 background-color:#FFC;
}
#bgdrkgrey{
 color:#333;
}
#bgwhite{
 color:#FFF;
}
#bgblack{
 color:#000;
}
.ItemSubheadBG{
 background-color:#CCC;
}
.nonItemBucketBG{
 background-color:#4C83C8;
}
.ItemBucketBG{
 background-color:#039;
}
.SMBbg{
 background-color:#FF9;
}
.checkoutBG{
/* background-color:#039;*/
 background-color:#4c83c8;
}
.ShelfSubhead{
 font:bold 24px Arial, Verdana;
 color:#333;
}
.ArrivalDates{
 font:bold 11px Verdana, Arial;
 color:#039;
}
.BabySubhead{
 font:bold 15px Arial, Verdana;
 color:#F66;
}
.BabyArticleTitle{
 font:bold 17px Arial, Verdana;
 color:#F66;
}
.BabyTopicTitle{
 font:bold 19px Arial, Verdana;
 color:#F66;
}
.BabyAnchorLabel{
 font:bold 15px Arial, Verdana;
 color:#5486DE;
}
.ImportantMedium{
 font:bold 11px Verdana, Arial;
 color:#F60;
}
.ServiceMarkError{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.ShipToStoreBG{
 background-color:#FFEADE;
}
.EmailCheckoutBG{
 background-color:#E7E7E7;
}
.OUTofstockLarge{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.INstockLarge{
 font:bold 15px Arial, Verdana;
 color:#090;
}
.ItemPriceBarBG{
 background-color:#FFC;
}
.CheckoutPriceSmallAccent{
 font:11px Verdana, Arial;
 color:#C00;
}
.CheckoutPromoName{
 font:11px Verdana, Arial;
 color:#333;
}
.CheckoutImportantMessage1{
 font:bold 11px Verdana, Arial;
 color:#F60;
}
.CheckoutImportantMessage1Large{
 font:bold 13px Verdana, Arial;
 color:#F60;
}
.CheckoutBodyTextLarge{
 font:bold 13px Verdana, Arial;
 color:#333;
}
.CheckoutImportantMessage2{
 font:bold 11px Verdana, Arial;
 color:#039;
}
.CheckoutImportantMessage2Large{
 font:bold 13px Verdana, Arial;
 color:#039;
}
.CheckoutBarHeader{
 font:bold 15px Arial, Verdana;
 color:#FFF;
}
.CheckoutPriceSmall{
 font:11px Verdana, Arial;
 color:#333;
}
#navcontainer a{
 display:block;
 color:#333;
 background-color:#FFC;
 padding:4px 10px;
 text-decoration:none;
 font:11px Verdana, Arial,Helvetica,sans-serif;
 margin:0px;
}
#navcontainer a:hover{
 background-color:#EFEF99;
}
#imgcontainer a{
 display:block;
 margin:0;
 border:2px solid #FFFAE0;
}
#imgcontainer a:hover{
 border:2px solid #FFCC69;
}
.imgcontainer{
 display:block;
 margin:0;
 border:2px solid #FFFAE0;
}
.imgcontainerSelected{
 border:2px solid #FCA31D;
}
a.vpLink{
 background:url(/i/if/view_photo_d.gif) no-repeat;
 width:119px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.vpLink:hover{
 background:url(/i/if/view_photo_mo.gif) no-repeat;
 width:119px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.vpSelect{
 background:url(/i/if/view_photo_sel.gif) no-repeat;
 width:119px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.opLink{
 background:url(/i/if/order_print_d.gif) no-repeat;
 width:117px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.opLink:hover{
 background:url(/i/if/order_print_mo.gif) no-repeat;
 width:117px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.opSelect{
 background:url(/i/if/order_print_sel.gif) no-repeat;
 width:117px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.acpLink{
 background:url(/i/if/add_clmPhoto_d.gif) no-repeat;
 width:175px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.acpLink:hover{
 background:url(/i/if/add_clmPhoto_mo.gif) no-repeat;
 width:175px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.acpSelect{
 background:url(/i/if/add_clmPhoto_sel.gif) no-repeat;
 width:175px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.spLink{
 background:url(/i/if/share_photo_d.gif) no-repeat;
 width:127px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.spLink:hover{
 background:url(/i/if/share_photo_mo.gif) no-repeat;
 width:127px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.spSelect{
 background:url(/i/if/share_photo_sel.gif) no-repeat;
 width:127px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.cgmLink{
 background:url(/i/if/cardGift_more_d.gif) no-repeat;
 width:170px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.cgmLink:hover{
 background:url(/i/if/cardGift_more_mo.gif) no-repeat;
 width:170px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
a.cgmSelect{
 background:url(/i/if/cardGift_more_sel.gif) no-repeat;
 width:170px;
 height:31px;
 margin:0;
 padding:0;
 display:block;
}
.ImportantLarge{
 font:bold 13px Verdana, Arial;
 color:#F60;
}
.ItemNameSmall{
 font:11px Verdana, Arial;
 color:#333;
}
.ListPriceLabelSmall{
 font:11px Verdana, Arial;
 color:#333;
}
.ListPriceLabelMedium{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.PriceLabelSmall{
 font:11px Verdana, Arial;
 color:#C00;
}
.PriceLabelMedium{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.ListPriceSmall{
 font:italic 11px Verdana, Arial;
 color:#333;
 text-decoration:line-through;
}
.ListPriceBig{
 color:#333;
 font:italic bold 15px Arial, Verdana;
 text-decoration:line-through;
}
.SubmapMsgBig{
 font:bold 15px Arial, Verdana;
 color:#C00;
}
.SubmapMsgSmall{
 font:11px Verdana, Arial;
 color:#333;
}
.SubmapPriceSmall{
 font:italic 11px Verdana, Arial;
 color:#333;
 text-decoration:line-through;
}
.SubmapPriceBig{
 font:italic bold 15px Arial, Verdana;
 color:#333;
 text-decoration:line-through;
}
.WillNotArrive{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.WillArrive{
 font:bold 11px Verdana, Arial;
 color:#090;
}
.MayNotArrive{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.custCDOptionBorder{
 border:2px solid #FFFAE0;
}
.custCDOptionBorderSelected{
 border:2px solid #FCA31D;
}
.StoreSaves{
 font:11px Verdana, Arial;
 color:#C00;
}
.dividerAfter{
 padding-right:1em;
 border-right:1px solid #CCC;
 margin-right:1em
}
p{
 margin-top:10px;
 margin-bottom:10px;
}
.ModuleHeader1gray{
 font:bold 17px Arial, Verdana;
 color:#333;
}
.ItemPgParagraph{
 font:13px Verdana, Arial;
 color:#333;
}
.BackToTop{
 font:11px Verdana, Arial;
 color:#333;
}
.ContentCreditLegal{
 font:italic 11px Verdana, Arial;
 color:#333;
}
.ContentCreditValue{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.MediaTitleFormat{
 font:bold 19px Arial, Verdana;
 color:#039;
}
.MediaTitleCredits{
 font:14px Arial, Verdana;
 color:#333;
}
.DDMheaderStillTime{
 font:bold 11px Verdana, Arial;
 color:#090;
}
.DDMheaderTooLate{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.ItemPgValueMsg{
 font:11px Verdana, Arial;
 color:#333;
}
.ErrorLabel{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.ErrorMessageNew{
 font:11px Verdana, Arial;
 color:#333;
}
.ConditionalMsg{
 font:11px Verdana, Arial;
 color:#333;
}
.RunoutMessage{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.ItemPgSeeSimilar{
 font:bold 11px Verdana, Arial;
 color:#333;
}
.OnlyInStoresLarge{
 font:bold 15px Arial, Verdana;
 color:#333;
}
.DDMCutoffDate{
 font:11px Verdana, Arial;
 color:#333;
}
.ImportantColor{
 background-color:#F90;
}
.Stripe1{
 background-color:#FFF;
}
.Stripe2{
 background-color:#F5F5F5;
}
.StripeLine{
 background-color:#CCC;
}
.ErrorBG{
 background-color:#ffc;
}
.ErrorBorder{
 background-color:#C00;
}
.CondMsgBG{
 background-color:#ffc;
}
.CondMsgBorder{
 background-color:#039;
}
.DDMbackground{
 background-color:#ffc;
}
/* Pharmacy classes */
.rxTableHeaderbold{
 color:#333;
 font:bold 11px Arial, Verdana;
}
.rxTableData{
 color:#333;
 font:10px Arial, Verdana;
}
.rxTableTabbold{
 color:white;
 font:bold 11px Arial, Verdana;
}
a.rxTableTabbold{
 color:white;
 font:bold 11px Arial, Verdana;
 text-decoration:none;
}
a.rxTableTabbold:hover{
 color:white;
 font:bold 11px Arial, Verdana;
 text-decoration:none;
}
a.rxTableTabbold:visited{
 color:white;
 font:bold 11px Arial, Verdana;
 text-decoration:none;
}
.rxTableDatabold{
 color:#333;
 font:bold 10px Arial, Verdana;
}
.registrybaby{
 color:#286CAA;
 font:bold 12px Arial, Verdana;
}
.registrywedding{
 color:#7978AB;
 font:bold 12px Arial, Verdana;
}
.registrywelcome{
 color:#333;
 font:12px Verdana, Arial;
 line-height:18px;
}
.registrygray{
 color:#333;
 font:bold 12px Arial, Verdana;
}
.registryunknownBGDark{
 background-color:#666;
}
.registryunknownBGMed{
 background-color:#999;
}
.registryunknownBGLight{
 background-color:#CCC;
}
.registrybabyBGDark{
 background-color:#286CAA;
}
.registrybabyBGMed{
 /*background-color:#6CA4D6;*/
 background-color:#4c83c8;
}
.registrybabyBGLight{
 background-color:#DFEDF9;
}
.registryweddingBGDark{
 background-color:#7978AB;
}
.registryweddingBGMed{
 /*background-color:#A4A3C1;*/
 background-color:#4c83c8;
}
.registryweddingBGLight{
 background-color:#EDEDF8;
}
.registrywishlistBGDark{
 background-color:#039;
}
.registrywishlistBGMed{
  /*background-color:#69C;*/
  background-color:#4c83c8;
}
.registrywishlistBGLight{
 background-color:#7978AB;
}
.registryunknownDark{
 color:#666;
}
.registryunknownMed{
 color:#999;
}
.registryunknownLight{
 color:#CCC;
}
.registrybabyDark{
 color:#286CAA;
}
.registrybabyMed{
 color:#6CA4D6;
}
.registrybabyLight{
 color:#DFEDF9;
}
.registryweddingDark{
 color:#7978AB;
}
.registryweddingMed{
 color:#A4A3C1;
}
.registryweddingLight{
 color:#EDEDF8;
}
.registrywishlistDark{
 color:#039;
}
.registrywishlistMed{
 color:#69C;
}
.registrywishlistLight{
 color:#7978AB;
}
input.registry{
 margin-left:0;
 margin-right:0;
 display:block;
 float:left
}
label.registry{
 display:block;
 float:right;
 margin-top:1px
}
.TXT11BoldRed{
 font:bold 11px Verdana, Arial;
 color:#C00;
}
.MIIPheaderSummaryCell{
 background-color:#039;
 padding:5px 10px;
 height:30px;
}
.MIIPheaderSummary{
 font:bold 15px Arial, Verdana;
 color:#FFF;
 padding-right:15px;
 font-variant:small-caps;
}
.MIIPsummaryCell{
 background-color:#DFF5FD;
 border-left:3px solid #039;
 border-bottom:3px solid #039;
 border-right:3px solid #039;
 padding:20px 10px 25px 10px;
}
.MIIPsummaryTitle,.MIIPsummaryTitleEnd{
 padding:0 8px 5px 0;
 border-bottom:1px solid #999;
}
.MIIPsummaryTitleEnd{
 padding-right:0;
}
.MIIPsummary{
 padding:7px 8px 0 0;
}
.MIIPsummaryEnd{
 padding:7px 0;
}
.MIIPsummarySubtotal{
 padding-top:15px;
 border-top:1px solid #999;
 color:#333;
 font:bold 17px Arial, Verdana;
}
.MIIPsummaryCheckoutCell{
 border-bottom:solid 3px #039;
 border-right:solid 3px #039;
 color:#333;
 font:11px Verdana, Arial;
 text-align:center;
}
/* Styles for Photo login page */
#photoLogin{
 background-color:#246CC9;
 margin:0 auto;
 text-align:center;
 width:766px;
}
#photoLogin .LeftEdge{
 float:left;
}
#photoLogin .RightEdge{
 float:right;
}
#photoLogin .spacerSmall{
 height:20px;
}
#photoLogin .spacerBig{
 height:25px;
}
#photoLoginHeader{
 background-color:#AFCAEF;
 width:766px;
 height:58px;
}
#photoLoginHeaderTopLinks{
 font:10px Verdana, Arial;
 color:#039;
}
#photoLoginMain{
 background-color:#FFF;
 margin:0 auto;
 text-align:center;
 width:766px;
 height:595px;
}
#photoLoginMainSection{
 margin:0 auto;
 height:300px;
 width:565px;
}
#photoLoginMainSecondaryMessages{
 margin-top:0;
 margin-bottom:0;
 margin-left:auto;
 margin-right:auto;
 width:565px;
}
#photoLoginMainBottom{
 background-color:#FFF;
 width:766px;
 height:20px;
}
#photoLoginFooter{
 font:10px Verdana, Arial;
 color:#FFF;
}
