body			{background-color:#fff;margin:0px;}

a				{color:#69C;}
a:hover			{color:#DECB79;}
a.grn			{color:#003E38;text-decoration:none;}
a.grn:hover		{color:#DECB79;text-decoration:underline;}
a.none			{color:#69C;text-decoration:none;}
a.none:hover	{color:#DECB79;text-decoration:underline;}
a.on			{color:#69C;text-decoration:underline;font-weight:bold;}
a.on:hover		{color:#DECB79;text-decoration:underline;}

#background		{width:770px;}
.background		{background:url(/FCWSite/img/bg.gif) repeat-y;}

#logo			{background-color:#fff;width:760px;}

#mainnav		{display:none;}
#subnav			{display:none;}
#subnav A		{display:none;}
#subnav A:hover	{display:none;}
.subnav			{display:none;}

#footer			{display:none;}
#footer .languages	{display:none;}

#maintable		{background-color:#fff;width:760px;}

.homeleft		{font:11px/16px arial;width:413px;}
.homeright		{font:11px/16px arial;background:url(/FCWSite/img/line_vert.gif) repeat-y;
				padding:0px 58px 10px 25px;}
.homeengagements	{padding:25px 120px 10px 37px;}

#pagetitle			{font:bold 14px/16px arial;color:#000;padding:10px 25px 28px 28px; width:650px;}
#pagetitle a		{color:#000;text-decoration:none;}
#pagetitle a:hover	{color:#DECB79;text-decoration:none;}

p					{padding-top:0px;margin-top:0px;}
.insetleft			{margin:0px 10px 0px 0px;}

.column1print		{padding:0px 0px 28px 28px;}
.column1			{padding:0px 0px 28px 0px;}
#column1			{width:145px;font:11px/16px arial;color:#000;}
#column1 .bodysm	{font:9px/12px verdana;color:#666;}
#column1 ul			{margin-top:0px;margin-left:18px;list-style-image:url(/FCWSite/img/arrow.gif);
					padding:0px;}

.column2			{padding:0px 28px 28px 0px; width:305px;}
#column2			{font:11px/16px arial;color:#000;}

#column2 .body		{font:11px/18px arial;color:#000;}
#column2 .heading1	{font:bold 11px/18px arial;color:#365686;margin:0px;}
#column2 .heading2	{font:bold 11px/18px arial;color:#003E38;margin:0px;}
#column2 ul			{margin-top:0px;margin-left:18px;list-style-image:url(/FCWSite/img/arrow.gif);
					padding:0px;}

#column2 .formheading1	{font:11px/16px arial;color:#365686;padding-right:5px;}
#column2 .form0		{border:1px solid #999;width:325px;font:11px/14px arial;color:#000;
					margin-bottom:4px;}
#column2 .form1		{border:1px solid #999;width:160px;font:11px/14px arial;color:#000;
					margin-bottom:4px;}
#column2 .form2		{border:1px solid #999;width:250px;font:11px/14px arial;color:#000;
					margin-bottom:4px;}
#column2 .formdate	{border:1px solid #999;width:66px;font:11px/14px arial;color:#000;
					margin-bottom:4px;}
#column2 .bttnfield	{font:11px/14px arial;color:#666;padding:0 4px 5px 4px;
					vertical-align:bottom;}
#column2 .bttn		{background-color:#A44E58;border:0px;font:10px/14px arial;color:#fff;
					text-transform:uppercase;}

.column3			{padding:0px 25px 28px 10px;background:url(/FCWSite/img/line_vert.gif) repeat-y;}
#column3			{width:155px;font:9px/12px verdana;color:#000;}
#column3 a			{color:#69c;text-decoration:none;}
#column3 a:hover	{color:#DECB79;text-decoration:none;}
#column3 ul			{margin:0px 0px 0px 16px;list-style-image:url(/FCWSite/img/arrow.gif);padding:0px;}
#column3 li			{padding-bottom:6px;}

#alpha				{background-color:#efefef;padding:7px 10px 5px;}
#alpha a			{color:#69C;text-decoration:none;width:15px;height:20px;}
#alpha a:hover		{color:#DECB79;text-decoration:none;}

#list td			{font:9px/12px verdana, arial;color:#000;padding:3px 6px 3px 0;
					vertical-align:top;}
#list a				{color:#69C;text-decoration:none;}
#list a:hover		{color:#DECB79;text-decoration:none;}
#list a.on			{color:#69C;text-decoration:underline;font:bold 11px arial;}
#list a.on:hover	{color:#DECB79;text-decoration:underline;}

hr					{color:#ccc;height:1px;}

.dots				{background:url(/FCWSite/img/line_horz.gif) repeat-x;
					background-position:center left;margin:0px;padding:0px;}
.blue				{color:#365686;}