/* CSS Document */
#community .header {  
  font-size: 16px;
  margin-bottom: 10px;
  color: #933;
  border-bottom: solid 1px #955;
  margin-top: 5px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

#community .instructions { 
  text-align: justify;
  margin-bottom: 15px;
  padding: 0 9px 0 9px;
}

#community form table {
  margin: 0 auto;
  background: #eee;
  border: solid 1px #aaa;             
  padding: 10px;
}

#community form table th { 
  text-align: right;
  vertical-align: top;
}

#community form table th.oneline { 
  text-align: left;
  vertical-align: middle;
}

#community form table .help {  
  font-size: small ;
  color: #777;
  text-align: left;  
  padding-bottom: 5px;
}

#community form table .help p {  
  width: 80%;
}

#community form table .error {
  padding-top: 10px;
  padding-bottom: 5px;

  color: red;
  font-weight: bold;
  text-align: center;
}
#community form table .button {
  text-align: center;
  padding-top: 10px;
}

