/* CSS Document */
#community .communitypostinlist {  
  margin: 5px ;
  margin-top: 15px;
  width: auto ;
}

#community .communitypostinlist .title {  
  font-size: 14px;
  font-weight: bold;
}
#community .communitypostinlist .title a {  
}

#community .communitypostinlist .title a:hover {  
}

#community .communitypostinlist .byline {  
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 8px;
  color: #555;                               
}

#community .communitypostinlist .body {  
  width: auto;
  margin: 10px 0;
  text-align: justify;
  font-size: 12px;
  padding: 6px;
}
#community .communitypostinlist .body a.extended {  
  font-weight: bold;
  font-size: 12px;
}
#community .communitypostinlist .postactions {  
  margin: 8px 0 30px 0;
  padding: 3px;
  border: 1px solid #ccc;
  background: #eee;
}

#community .communitypostinlist .postactions a {  
  font-size: 10px;
}
