/* CSS Document */
#community .profileteaser {  
  margin: 0 8px 8px 8px;
  border: solid 1px #125;
  background: #bcf;
  padding: 5px;
  float: right;
  font-size: 10px;
  width: 50%;
}

#community .profileteaser table {  
  width: 100%;
}

#community .profileteaser td {  
  vertical-align: top;
  font-size: 10px;
}

#community .profileteaser .profilepicture {
  text-align: right;
  margin: 0 0 5px 5px;
}

#community .profileteaser .profilepicture img {
  padding: 0;
  border: solid 1px black;
}

#community .profileteaser .title {
  width: 100%;
  font-size: 14px;
  color: #125;
  border-bottom: solid 1px #125;
  margin-bottom: 15px;
}

#community .profileteaser .userid {
  font-size: 12px;
  font-weight: bold;
}

#community .profileteaser .userid .location {
  font-weight: normal;
}

#community .profileteaser .school {  
  margin-top: 5px;
}

#community .profileteaser .readmore {  
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
}

#community .profileteaser .fieldbody {  
  font-size: 10px;
}
