.democracy-choice {
display: block;
background: #06c;
height: 3px;
border-bottom: 2px solid #05a;
font-size: 1px;
}

.dem-choice-border {
margin: 8px 0;
display: block;
background: #fff;
height: 5px;
width: 100px;
border: 1px solid #ccc;
}

/* BLIX fixies */
#democracy input { width: auto; }
#democracy ul { padding: 0; } 
#democracy label {
float: none;
display: inline;
}

#voted-for-this { border: 1px solid #333;}

#dem-total-votes { }
#poll-question { }
#democracy { }