BODY,
a,
strong,
td,
.orange,
.blue,
.black,
.smblack,
.red,
.white
{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

BODY
{
  background-color: #ffffff;
}

a
{
  text-decoration: none;
}

a:link{
  color: #000011;
}

a:visited{
  color: #000011;
}

a:active{
  color: #0000ff;
}

a:hover
{
  color: #0033ff;
  text-decoration: underline;
}

strong
{
  font-weight: bold;
}

.orange
{
  color: #cc6600;
  font-size: 30px;
}

.blue
{
  color: #3399ff;
  font-size: 35px;
  font-weight: bold;
}

.black
{
  color: #000000;
  font-size: 20px;
}

.red
{
  color: #990033;
  font-size: 20px;
}

.smblack
{
  color: #000000;
  font-size: 17px;
  font-weight: bold;
}

.subtlelink
{
	color: #003366;
}

.white
{
  color: #FFFFFF;
  font-weight: bold;
}

img
{
  border: none;
}