/* 	Styles for the IPL home page and main wrapper. 
		These styles use a layout table for backwards
		compatability with older browsers, but use
		CSS for navigation. 

		The purpose of the redesign that these styles
		were created for was primarily accessibility
*/


/* Settings for POTUS */
/* @import url("/div/potus/potus.css"); */
/* CSS Document for POTUS - these classes are for this particular div/exhibit only */

/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

dl.potusCabinet {
	text-indent: 4em;
}

ol.potus { 
font-size:larger;
}

ul.potusNotblEvnts {
	list-style-type: none;
}

div.potusPortrait {
	float: left;
	display: inline;
}

div.potusPortraitStrip {
	position: relative; 
	top: 10em;
	width: 40%;
	left: 140px;
}

div.potusNameList {
	position: relative; 
	top: -502px; 
	left: 60%;
	width: 60%;
}

div.potusIndexes{
    position: relative;
    top: -502px;
}

div.potus {
	text-align: center;
}

div.potusBodyText {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

table.potusTableIndex {
	margin-left: auto;
	margin-right: auto;
}

th.potusElectResults{
	vertical-align:top; 
	text-align:center; 
	font-size: 11px;
	padding: 5px 5px 0px 5px;
}

td.potusElectResults{
	vertical-align:top; 
	text-align:center; 
	font-size: 11px;
}

td.potus50WidthCtr{
	width: 50%;
	text-align: center;
}

td.potus50Width{
	width: 50%;
}

td.potus25WidthCtr{
	width: 25%;
	text-align: center;
}

td.potus75Width{
	width: 75%;
}

td.potusRegSize{
	font-size: 11px;
}

table.potusFord {
	border: 0.2em solid #C0C0C0;
	width: 100%;
}

td.potusFordQrtCtr {
	border: 0.1em solid #8D8D8D;
	width: 25%;
	text-align: center;
}

img.potusNoBdr {
	border: 0;
}

img.potusThumbnail{
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: 0;
}

img.potusPortrait {
	border: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10%;
}

img.potus{
    margin-left: auto;
    margin-right: auto;
	display: block;
}

p.potusCredits {
	font-size:smaller;
}

/* Settings for Native American section */
/* @import url("/div/natam/natam.css"); */
/* CSS Document */

/* Settings for Native American section */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

img.natamFloatLeft {
	float: left;
}

img.natamCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1.natam {
	font-size: 4em;
	color: #990000;
	text-align: center;
}

h2.natamRed {
	text-align: center;
	color: #FF0000;
	font-size: 3em;
}

h3.natamNavi {
	text-align: center;
	font-size: 1.5em;
}

h3.natamNaviBlue {
	text-align: center;
	color: #0000FF;
	font-size: 1.5em;
}

li.natamLiBigFont {
	font-size: 1.3em;
}

span.natamBigFont {
	font-size: 1.3em;
}

p.natamStarDivBlue{
	text-align: center;
	color: #0000FF;
}

p.natamStarDivGreen{
	text-align: center;
	color: #00560D;
}

p.natamStarDivRed{
	text-align: center;
	color: #FF0000;
}

p.natamStarDivOrange{
	text-align: center;
	color: #FF7F00;
}

p.natamEmphText {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
}

span.natamEmphText {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
}

p.natamBlue {
	color: #0000FF;
	font-size: 3em;
}

p.natamGreen {
	color: #00560D;
	font-size: 3em;
}

p.natamOrange {
	color: #FF7F00;
	font-size: 3em;
}

p.natamRed {
	color: #FF0000;
	font-size: 3em;
}

span.natamBlEmphasis{
	color: #0000FF;
}

span.natamWebResDescr{
	color: #00560D;
}

span.natamWebResSource{
	color: #FF7F00;
}

table.natamIndex {
	margin-left: auto;
	margin-right: auto;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

th.natamIndex {
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
}

th.natamIndexBig {
	text-align: center;
	font-size: 3em;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
}
a.natamIndexBlue:link, a.natamIndexBlue:visited {
	color: #0000FF;
}
a.natamIndexOrange:link, a.natamIndexOrange:visited {
	color: #FF7F00;
}
a.natamIndexRed:link, a.natamIndexRed:visited {
	color: #FF0000;
}
a.natamIndexGreen:link, a.natamIndexGreen:visited {
	color: #00560D;
}

td.natamIndex {
	border-top: 1px solid #999999;
	padding: 0 0.3em 0 0.3em;
	border-left: 1px solid #999999;
}


/* Settings for Music History section */
/* @import url("/div/mushist/mushist.css"); */
/* CSS Document */

/* Settings for Music History section */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

img.mushistFloatLeft {
	float: left;
	margin: 0 1em 0 1em;
}

img.mushistFloatRight {
	float: right;
	margin: 0 1em 0 1em;
}

hr.mushistThin {
	color: #555555;
	background-color: #555555;
	height: 1px;
	width: 400px;
	text-align: center;
}

hr.mushistOutline {	
	color: #555555;
	height: 6px;
	width: 90%;
	text-align: center;
}


/* Settings for Detroit Jazz section */
/* @import url("/div/detjazz/detjazz.css"); */
/* CSS Document */

/* Settings for Detroit Jazz section */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

img.dj_image {
	float: left;
	margin: 0 25px 0 25px;
}
	
img.dj_head {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
}

img.dj_bullet {
	border: 0px;
}

img.dj_right {
	position: relative;
	float: right;
	border: 0px;
	padding: 5px;
}

img.dj_left {
	position: relative;
	float: left;
	border: 0px;
	padding: 5px;
}

li.dj {
	list-style-type: none;
	padding-bottom: 10px;
}

ul.dj_bands {
	position: relative;
	margin-left: 100px;
	font-size: 1em;
}

li ul.dj_inner {
	font-size: 1.2em;
}

ol.dj li {
	padding-bottom: 5px;
	margin-left: -10px;
}

p.dj {
	text-align: left;
}

p.dj_indent {
	text-indent: 55px;
}

p.dj_indent_all {
	position: relative;
	margin-left: 55px;
	margin-right: 55px;
}

hr.dj {
	text-align: center;
	border: 0;
	color: #999999;
	background-color: #999999;
	height: 1px;
	width: 100%;
}

hr.dj80 {
	text-align: center;
	border: 0;
	color: #999999;
	background-color: #999999;
	height: 1px;
	width: 80%;
}

td.dj_125 {
	width: 125px;
}

td.dj_425 {
	text-indent: 55px;
	width: 425px;
	font-size: 1em;
}

td.dj_20 {
	width: 20%;
	padding: 10px;
	vertical-align: top;
}

td.dj_25 {
	width: 25%;
	text-align: center;
	font-size: 1.2em;
	vertical-align: middle;
}

td.dj_35 {
	width: 35%;
	padding: 10px;
	vertical-align: top;
	font-size: 1.3em;
}

td.dj_50 {
	text-indent: 55px;
	width: 50%;
	font-size: 1em;
}

div.dj_left {
	position: relative;
	float: left;
	width: 50%;
}

span.dj_head {
	font-size: 2.3em;
}

table.dj_slide {
	width: 100%;
}

td.dj_slide_center {
	text-align: center;
	vertical-align: middle;
}

td.dj_slide_left {
	width: 325px;
	text-align: left;
	vertical-align: middle;
}

td.dj_slideshow {
	width: 30%;
	padding: 5px;
}

table.dj_welcome {
	width: 15%;
	float: left;
}

table.dj_Badlinks {
	width: 60%;
}

td.dj_BadLinks {
	vertical-align: top;
	width: 25%;
}

div.dj_slide_text {
	margin-left: 25px;
}

div.dj {
	position: relative;
	float: left;
}

div.dj_BadLinks {
	float: left;
	width: 15%;
	padding: 10px 10px 10px 10px;
}

div#detjazzFloatLeft {
	float: left; 
	width: 100px;
}

/* Settings for Quiltshow section */
/* @import url("/div/quiltshow/quiltshow.css"); */
/* CSS Document */

/* Settings for quiltshow */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

ul.quiltshowNone{
	list-style-type:none;
	float:left;
	font-weight:bold; 
	width:30%;
}

ul.quiltshowNonenofloat{
	list-style-type:none;
	font-weight: normal;
}

img.quiltshowPageTitle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 27em;
	height: 9em; 
}

img.quiltshowQuilt {
	margin-left: auto;
	margin-right: auto;
	display: block;
/*	
	width: 14em;
	height: 21em; 
*/
}

img.quiltshowTab {
	width: 1em;
	height: 0.5em;
	}

img.quiltshowFullWidth{
/* Shim/spacer image that matches cornerblock's width minus the quiltshowBuffer image
widths */
	width: 10.5em;
}

img.quiltshowCornerblock {
	width: 13.5em;
  height: 13.5em;
		/*	
		width: 9.5em;
    height: 9.5em;
    */
	border: none;
}

img.quiltshowIplLogoSm {
	width: 2.5em;
	height: 2.5em; 
}

img.quiltshowBuffer {
	width: 0.75em;
	height: 100%;
	border: none; 
}

span.quiltshowQuiltTitle{
	font-size: 1.2em;
}

span.quiltshowCredits{
	font-size: 0.8em;
	color: #960;
}

table.quiltshow {
	border: none;
	padding: 0em 0em 0em 0em;
	border-spacing: 0em;
	width: 54em;
}

td.quiltshowSubCblock {
	width: 11.5em;
}

tr.quiltshowTRtop{
	vertical-align: top;
}

tr.quiltshowTRbottom{
	vertical-align: bottom;
}

td.quiltshowMenuBuff {
	border-left: 5px double #FF9;
	border-right: 5px double #FF9;
}

td.quiltshowMenuBuffLeft {
	border-right: 5px double #FF9;
}

td.quiltshowMenuBuffRight {
	border-left: 5px double #FF9;
}


/* Settings for Dino section */
/* @import url("/div/dino/dino.css"); */
/* CSS Document */

/* Settings for dino section (Dinosaurs) */

/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

table.dino {
	width: 450px;
}

td.dino1 {
	width: 150px;
	padding-left: 10px;
	margin-left: 5px;
	vertical-align: top;
}

td.dino2 {
	width: 250px;
	padding-left: 10px;
	margin-left: 5px;
	vertical-align: top;
}


/* Settings for Pottery section */
/* @import url("/div/pottery/pottery.css"); */
/* CSS Document */

/* pottery CSS Document */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

img.potteryPuebloPic {
	border: 3px;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

img.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img.potteryWidth25 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 0em;
}

img.potteryLgPot{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img.potteryLostTnail{
	width: 144px;
}

table.potteryInfoNav{
	width: 540px;
	border: 0em;
	height: 129px;
}

table.potteryBckNxtNav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table.pottery_center {
	width: 540px;
	margin-left: auto;
	margin-right: auto;
}

td.potteryWidth25 {
	text-align: center;
	width: 25%;
}

table.potteryMarquee {
	width: 540px;
	border: 0em;
	margin-left: auto;
	margin-right: auto;
}

td.potteryWidth50{
	width: 50%;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

td.potteryWidth50 {
	width: 50%;
}

td.potteryMarquee {
	text-align: center;
	width: 33%;
	height: 40px;
}

td.potteryNavIcon {
	width: 10%;
	text-align: right;
	height: 40px;
}

td.potteryNavText{
	width: 40%;
}

span.pottery_1pt6em {
	font-size: 1.6em;
}

span.pottery_glossary_1pt6em{
	font-size: 1.6em;
	color: #B57321;
}

span.pottery_1pt2 {
	font-size: 1.2em;
}

span.pottery_Map_1pt2 {
	font-size: 1.2em;
	color: #B57321;
}

span.pottery_Map {
	color: #B57321;
}

span.pottery_pt85em {
	font-size: 0.85em;
}

span.pottery_pt8em {
	font-size: 0.8em;
}


/* Settings for FARQ section */
/* @import url("/div/farq/FARQ.css"); */
/* CSS Document */

/* FARQ CSS Document */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

ol.FARQ_decLists {
	list-style-type: decimal;
}

td.FARQwidth30{
	width: 30%;
}

td.FARQwidth70{
	width: 70%;
}


/* Settings for Pathfinders section */
/* @import url("/div/pf/PF.css"); */
/* CSS Document */

/* PF or pathfinders CSS Document */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

hr.PF_ctrWidth75 {
	width: 75%;
	text-align: center;
}

hr.PF_ctrWidth50 {
	width: 50%;
	text-align: center;
}

ol.PF_type1 {
	list-style-type: decimal;
}

ol.PF_typeA {
	list-style-type: upper-alpha;
}

ul.PF_typeDisc {
	list-style-type: disc;
}

h2#pfHeader {
	font-size: 2em;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	text-align: center;
}

p#pfAbstract{
	font-size: 1.25em;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
}

p.PF_indent {
	text-indent: 40px;
}

span.PF_font_pt85em {
/*font size=-1*/
/*font size=2*/
	font-size: 0.85em;
}

span.PF_font_1em {
/*font size=3*/
	font-size: 1em;
}

span.PF_font_1emTimes {
/*font size=3*/
	font-size: 1em;
	font-family: "Times New Roman", Times, serif;
}

span.PF_font_1pt05em {
/*font size=4*/
	font-size: 1.05em;
}

span.PF_font_1pt15em {
/*font size=+1*/
	font-size: 1.15em;
}

span.PF_font_1pt5em {
/*font size=+2*/
	font-size: 1.5em;
}

span.head {
	font-size: 1.5em;
	font-weight: bold;
}

table.PF_tablePadding15 {
	padding: 15px 15px 15px 15px;
	border: 1px solid #C90;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table.PF_tablePadding15 p {
	padding: 0.2em 1em 0.2em 1em;
}

table.PF_width100vAlignTop {
	width: 100%;
	vertical-align: top;
}

table.PF_brdr1Ctr {
	border: 1px;
	text-align: center;
}

td.PF_width50vAlignTop {
	width: 50%;
	vertical-align: top;
}

td.PF_width50 {
	width: 50%;
}

td.PF_width50ctr {
	width: 50%;
	text-align: center;
}


/* Settings for Kelsey section */
/* @import url("/div/kelsey/kelsey.css"); */
/* CSS Document */

/* Kelsey CSS Document */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

span.kelsey_fontPlus3 {
	font-size: 2em;
}

span.kelsey_fontPlus2 {
	font-size: 1.5em;
}

p.kelsey_MultiLnIndent {
	margin-left: 40px;
	margin-right: 40px;
}


/* Settings for isler section */
/* @import url("/div/isler/isler.css"); */
/* CSS Document */

/* Settings for isler (Isle Royale) section */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

div.isler_nav {
	position: relative;
	float: left;
	margin-top: 100px;
	width: 139px;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
}

div.isler_main {
	margin-left: 144px;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
}

img.isler_center {
	margin-left: auto;
	margin-right: auto;
}

span.img_caption {
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	font-size: 120%;
	text-align: center;
}

table.isler_days {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	border: 0px;
}

td.isler_days {
	padding: 5px;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	text-align: center;
}

img.isler_days {
	margin-left: auto;
	margin-right: auto;
	width: 125px;
	height: 83px;
}

ul.isler li {
	padding-bottom: 10px;
	vertical-align: top;
}

h1.isler {
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	text-align: center;
}

h2.isler {
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	text-align: center;
}


img.isler_day_left {
	float: left;
	width: 125px;
	height: 83px;
}

table.isler_day {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

td.isler_day_img {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	width: 50%;
	height: 100px;
	padding: 3px;
}

td.isler_day_text {
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	text-align: left;
	width: 50%;
	height: 100px;
	padding: 3px;
}

table.isler_day2 {
	width: 100%;
}

td.isler_day2_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 97%;
	vertical-align: middle;
	text-align: left;
	padding-left: 1px;
}

table.isler_day_nav {
	border: 0px;
	width: 100%;
}

td.isler_day_nav_left {
	width: 50%;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	text-align: left;
}

td.isler_day_nav_right {
	width: 50%;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	text-align: right;
}

img.isler_map {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 250px;
	border: 0px;
}

img.isler_map_eastkey {
	border: 0px;
}

img.isler_map_westkey {
	border: 0px;
}

table.isler_day_traveljournals {
	width: 600px;
}

table.isler_journals {
	width: 100%;
	border-top: 1px solid #999999;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #999999;
}

td.isler_journals {
	width: 80%;
	padding: 1px;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #000000;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

td.isler_trails {
	padding: 1px;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #000000;
	font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

img.trail_star {
	border: 0px;
	width: 18px;
	height: 17px;
}


/* Settings for contact section */
/* @import url("/div/contact/contact.css"); */
/* CSS Document */

/* Settings for contact */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

td.contact30 {
	vertical-align: top;
	width: 30%;
	padding: 0 0.5em 0 0.5em;
}

td.contact70 {
	vertical-align: top;
	width: 70%;
	padding: 0 0.5em 0 0.5em;
}


/* Settings for election section */
/* @import url("/div/election/election.css"); */
/* CSS Document */

/* Settings for election */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

td.election {
	vertical-align: top;
	padding: 6px;
}

h1.electionpagehdr {
	font-size: 2em; 
	text-align: center;
}

.electiondatehdr {
	font-size: 1.5em;
}

.electionpagehdrblue {
	text-decoration: underline; 
	color: blue;
}

.electionpagehdrred {
	text-decoration: underline; 
	color: red;
}

.electioncolorblue {
	color: blue;
}
.electioncolorred {
	color: red;
}

h2 span.electionhdrcolorred {
	font-size: 1.2em; 
	color: red;
}

h2 span.electionhdrcolorblue {
	font-size: 1.2em; 
	color: blue;
}

td a.electiontextlink {
	font-size: 1.2em;
}

span.electionsubhdr {
	font-size: 1.2em;
	
}

a.electionlink {
	font-size: 1.2em;	
}

/* Settings for labadie section */
/* @import url("/div/poisonsafe/poisonsafe.css"); */
/* Settings for poisonsafe */

/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

img.poisonsafeCterNoBord{
	border: 0em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img.poisonsafeBack {
	float: left;
	border: none;
}

img.poisonsafeFward {
	float: right;
	border: none;
}

p.poisonsafePurple{
	color: #0000AF;
}

p.poisonsafeBrownNBig{
	font-size: 1.5em;
	color: #963;
}

span.poisonsafeBrownNBig{
	font-size: 1.5em;
	color: #963;
}

span.poisonsafePurple{
	color: #0000AF;
}

span.poisonsafeBrown{
	color: #963;
}

span.poisonsafeFootnote{
	font-size: 0.8em;
}

cite.poisonsafeFootnote{
	font-size: 0.8em;
}

table.poisonsafeAnswer{
	padding: 0.05em 0.05em 0.05em 0.05em;
	width: 100%;
	border: 0.2em solid #CCC;
}

table.poisonsafeEval{
	border: 1em;
	padding: 0.05em 0.05em 0.05em 0.05em;
	height: 1em;
	border-spacing: 0em;
	margin-left: auto;
	margin-right: auto;
}

table.poisonsafeCtrNoBorder{
	border: none;
	margin-left: auto;
	margin-right: auto;
}

td.poisonsafeAnswer{
	border: 0.05em solid black;
}


/* Settings for lighthouse section */
/* @import url("/div/light/lighthouse.css"); */
/* CSS Document */

/* lighthouse CSS styles */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

.lightCopyright { 
	font-size: 0.9em; 
}

.lightBigCap { 
	font-size: 3em; 
}

.lightDescripText { 
	font-size: 1.6em;
}

hr.lighthouseHR {
	width: 30%;
	height: 4px;
	text-align: center;
}


/* Settings for about section */
/* @import url("/div/about/about.css"); */
/* CSS Document */

/* about CSS styles */
/* dynamicgateway.css calls this file and holds generic and wrapper classes that apply to this and other divs/exhibits */
/* These classes are NOT for Internet Explorer */

.aboutBorder {
	border: 1px solid black;
}

table.aboutSponsors{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

td.aboutSponsors{
	width: 50%;
	vertical-align: middle;
	text-align: center;
}


/* Settings for litcrit section */
/* @import url("/div/litcrit/litcrit.css"); */
/* litcrit CSS Document - called from cssnav.css*/

.center {
	text-align: center;
}

.litcrit1_15emfont {
	font-size: 1.15em;
}

.font_neg1em {
/* font size=-1*/
	font-size:0.85em;
}

.litcritCtrFont_neg1em {
/* font size=-1*/
	font-size:0.85em;
	text-align: center;
}

td.litcrit175 {
	width: 175px;
	vertical-align: top;
}

td.litcrit350 {
	width: 350px;
	vertical-align: top;
}

td.litcritHALF {
	width: 50%;
	vertical-align: top;
}

td.litcritOUT260 {
	width: 260px;
}

td.litcritOUT250 {
	width: 250px;
}

div.litcritOUT {
	position: relative;
	left: 35px;
	width: 600px;
}


/* Settings for germanref section */
/* @import url("/div/germanref/GermanRef.css"); */
/* GermanRef CSS Document */

.GRstyle {font-family: Arial, Helvetica, sans-serif;}

h2.GRstyle {font-family: Arial, Helvetica, sans-serif; font-size: 2em;}

h3.GRstyle {font-family: Arial, Helvetica, sans-serif; font-size: 1.5em;}

.GRstyleIndent {font-family: Arial, Helvetica, sans-serif; margin-left: 2em;}

.GRstyleCtr {font-family: Arial, Helvetica, sans-serif; text-align: center;}


/* wrapper classes */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
}
table {
	margin: 0; 
	padding: 0;
	border: 0; 
}
img {
	border: none;
}
blockquote {
	margin: 0 0 .5em 0;
}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: 1.4em;
	color: #000000;
}
h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: 13px;
	color: #000000;
}
h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: .9em;
	color: #000000;
}
table#iplwrapper {
	width: 100%; 
	min-width: 40em;
}
table.banner {
	width: 100%; 
	table-layout: fixed;
	border: 2px solid #C90;
	background-image: url("/common/images/logo130x2.gif"); 
	background-repeat: repeat; 
	position: relative;
	z-index: 30;
}
table.banner div#bannertextNsrch {
	width: 100%; 
	height: 100%;
	padding: 0;
}
h1.bannerText {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0px;
}
h1.SearchHeading { /* text in top banner over searchform */
	display: inline;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	margin-right: 0.5em;
	color: #000;
}
a.bannerLink {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	color: #FFF;
	padding-right: .5em;
	text-decoration: none;
}
a.bannerLink:hover {
	color: #8BF;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
}
/* searchbar appears at top of all pages in common ipl and kidspace */
div#iplsearchbar {
	float: right; 
	margin-right: 1em; 
	font-size: .8em; 
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Sans-serif; 
}
div.iplsearchbaritem {
	float: left; 
	padding-right: .5em;
}
#Title {
	text-align: right;
	margin: 0;
	padding: 0;
	height: 126px;
}
#contentBrowse {
	margin-top: .5em;
	margin-left: .5em;
}
#Search {
        /* padding: 3px 7px;
        color: #000;
				border: 1px solid #8BF;*/
}
#SearchText {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
        /* background-color: #8BF;*/
        color: #000;
}
#SearchText:focus {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
        background-color: #FFF;
        color: #000;
}
#SearchSelect {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
        background-color: #8BF;
        color: #000;
}
#SearchSelect:focus {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
        background-color: #FFF;
        color: #000;
}
#SearchSubmit {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
        background-color: #8BF;
        color: #000;
}
#TrailLabel {
        z-index: 3;
        font-size: 0.8em;
}
#Trail {
        z-index: 4;
        padding: 3px 7px;
				font-size: .9em;
				text-decoration: none;
}
#SeeLabel {
				margin: .5em 0 0 .5em;
        font-size: 0.8em;
        padding: 3px 7px;
        background-color: #9C9;
        color: #FFF;
        border: 1px solid #9C9;
}
#See {
        font-size: 0.8em;
        padding: 3px 7px;
        background-color: #CFC;
        color: #FFF;
        border: 1px solid #9C9;
}
td.nav {
	width: 20%;
	vertical-align: top;
	background-color: #FFFF99;
	border-left: 2px solid #C90;
	border-bottom: 1px solid #C90;
	border-right: 2px solid #C90;
	margin: 0;
	padding-left: 0.25em;
	padding-top: 0.5em;
}

/* CSS hover menus */
/* CSS hover menus */
/* CSS hover menus */

div #Nav {
	vertical-align: top;
}

#Nav h1 {
	height: 1em;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: .8em;
	text-indent: .5em;
	margin: .1em 0 .1em 0;
	color: #0000FF;
}
#Nav h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: .8em;
	font-weight: normal;
	text-indent: 1em;
	margin: 0;
	padding: 0;
	color: #00F;
}
#Nav ul {
	margin: 0;
	padding: 0;
	background: #FF9;
}
#Nav li {
	position: relative;
/* need this to actually select option in IE */
	z-index: 20;
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	}

#Nav li.ieheightfix {
	height: 1.1em;
}

#Nav li a {
	display: block;
	padding: 0;
	text-decoration: none;
}
#Nav li a:hover {
	background-color: #039;
	color: #FFF;
}
#Nav ul ul {
	display: block;
	z-index: -10;
}

#Nav ul ul ul {
	position: absolute; 
	top: 0; 
/* Netscape 8 (and below?) doesn't respond to width rule as well on a Mac */
	width: 20em;
	left: 100%; 
/* need this to actually select option in IE */
	z-index: 100;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: .8em;
	padding: 0.1em 0 0.5em 0.1em;
/* left off border-left here and added it to li tag; otherwise it underlaps other list items in IE*/
	border-top: 1px solid #C90;
	border-bottom: 1px solid #C90;
	border-right: 1px solid #C90;
	display: none;
}

/* want to pull hover menus as high as possible so they don't strecth down past the bottom of the browser */
#Nav ul ul ul#up1 {top: -100%;}
#Nav ul ul ul#up2 {top: -200%;}
#Nav ul ul ul#up3 {top: -300%;}
#Nav ul ul ul#up4 {top: -400%;}
#Nav ul ul ul#healthitem {top: -500%; /* a.k.a. #up5 */}
#Nav ul ul ul#up5b {top: -500%;}
#Nav ul ul ul#up7 {top: -700%;}
#Nav ul ul ul#scienceitem {top: -800%; /* a.k.a. #up8 */}
#Nav ul ul ul#up9 {top: -900%;}
#Nav ul ul ul#upReadyRef {top: -900%;}
#Nav ul ul ul#morespeccolls {top: -400%;}
#Nav ul ul ul#upDict {top: -100%;}

#Nav ul ul ul li {
/* added off border-left to distinguish these items as */
	border-left: 1px solid #C90;
	padding-left: 0.1em;
}

#Nav ul ul ul#hover_ul3 {
/* narrow the dictionaries pop-up menu */
	width: 8em;
}

#Nav ul ul ul ul#healthsubmorelistitem {top: -1510%; /* raise the special collections pop-up menu */}
#Nav ul ul ul ul#busisubmorelistitem {top: -1110%; /* raise the special collections pop-up menu */}
#Nav ul ul ul ul#entsubmorelistitem {top: -910%; /* raise the special collections pop-up menu */}
#Nav ul ul ul ul#scisubmorelistitem {top: -1010%; /* raise the special collections pop-up menu */}
#Nav ul ul ul ul#socsubmorelistitem {top: -1010%; /* raise the special collections pop-up menu */}
#Nav ul ul ul ul#referencesubmorelistitem {top: -910%; /* raise the special collections pop-up menu */}

#Nav ul.level4 {
	font-size: 1em; /* sub-sub-menu font seems to be at .7 times 2 (so tiny) without this; just restoring it to .7 size */
}

/* CSS hover menus; start_doc.xhtml.transitional should point to javascript (hovermenuAid2IE.js) to make these CSS hover menus work with IE*/

/* ".has_submenu" makes css hover menu; removing ":hover" lets hover menu remain up (which we want with hover menus off of other hover menus so long menus don't stretch down outside the browser viewport */
/* IE requires javascript and ".over" to have hover menus */
#Nav ul.level2 li.has_submenu:hover ul.level3,
#Nav ul.level3 li.has_submenu ul.level4, 
#Nav ul.level2 li.over ul.level3,
#Nav ul.level3 li.over ul.level4 {
	display:block;
}

/* Holly Hack. IE Requirement. Seems to only be affecting IE/Win, not IE/ Mac. We're simply abandoning hover menus for Mac users \*/
* html div#Nav ul li { float: left; height: 1%;}
* html div#Nav ul li a { height: 1%; }
/* End */

td.contentMain { /* for content on the home page only */
	height: 100%;
	width: 80%;
	min-width: 500px;
	vertical-align: top;
	font-size: .8em;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #C90;
}
td.content {
	height: 100%;
	width: 80%;
	min-width: 500px;
	vertical-align: top;
	font-size: .8em;
	padding: 1em 0.5em 0.5em 1em;
	margin: 0;
	border-bottom: 1px solid #C90;
	border-right: 1px solid #C90;
}
td.contentMain table#iplindex{
	width: 100%;
	height: 100%;
}
td.spotlight {
	padding: 0 1em 0 1em;
	width: 50%;
	vertical-align: top;
	background-color: #FFFFFF;
}
.spotlight h1 {
	text-align: center;
	color: #C90;
}
td.inside {
	width: 50%;
	border-left: 1px solid #C90;
	border-right: 1px solid #C90;
	padding: 0 1em 0 1em;
}
.inside h1 {
	text-align: center;
	color: #C90;
}
td.insidetext {
	background-color: #FFF;
	background-image: none;
}
td.foot {
	background-image: url("/common/images/foot_bkgd.gif");
	background-repeat: no-repeat;
	color: #336699;
}

.headingabstract {
	margin: 0;
	padding: 0 0 .5em .5em;
}

td.content h3.head {
	font-size: 1.2em;
}
td.content dl {
	margin: 0.2em 0 0 0;
	padding: 0;
	color: #000000;
}
td.content dt strong.head {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	color: #000000;
}
td.content dt a {
	text-decoration: none;
}
td.content dd {
	margin: 0;
	padding: 0 0 1em 1em;
	font-size: .9em;
	color: #000000;
}
td.content dd.subheadAbstract {
	margin: 0;
	padding: 0 0 .1em 1em;
	font-size: .9em;
	color: #000000;
}
td.content h3 {
	margin: 0;
	padding: 0;
}

.fauxColumn {
	width: 1px;
	height: 0em;
	background: #fff url(/common/images/spacer.gif) repeat-y left top;
}

table#qrcformnote td.qrcformnote {
	background-color: #FFFFCC;
	color: #666666;
}

div.qrcform {
	width: 600px;
}

td.sponsorship {
	font-size: small;
	text-align: center;
	border-top: 1px solid #C90;
	border-left: 1px solid #C90;
}

td.sponsorship2 {
	font-size: small;
	border-top: 1px solid #C90;
	text-align: center;
	border-right: 1px solid #C90;
}

td.sponsorshipIndex {
	text-align: center;
	border-top: 1px solid #C90;
	border-left: 1px solid #C90;
}

td.sponsorshipIndex2 {
	text-align: center;
	border-top: 1px solid #C90;
	border-right: 1px solid #C90;
}

div.invsText {
/* only used in feature column of Index page, but should be useful in the future */
	text-decoration: none; 
	visibility: hidden;	
	line-height: 0.1em;
}

img.invspixel {
	 position: absolute;
}

img.invslineNoIe {
/* Hide from all browsers except IE \ */
position: absolute;
/* no more hiding */
}

.clear_both {
	clear: both;
} 

.clear_left {
	clear: left;
}

.clear_right {
	clear: right;
}

.access {
	position: absolute;
	left: -9999px;
}

.skipmain_content {	
display: none;
}

.font1em {
	font-size: 1em;
}

.font1_2em {
	font-size: 1.2em;
}

.font2_3em {
	font-size: 2.3em;
}

.font120 {
	font-size: 120%;
}

.font80 {
	font-size: 80%;
}

span.font_neg1em {
/* font size=-1*/
	font-size:0.85em;
}

span.font_1pt15em {
/* font size=4*/
/* header 3*/
/* font size=+1*/
	font-size:1.15em;
}

span.font_1pt5em {
/* font size=5*/
	font-size:1.5em;
}

.valignTOP {
	vertical-align: top;
}

.width100 {
	width: 100%;
}

.width95 {
    width: 95%;
}

.width80 {
	width: 80%;
}

.width20 {
	width: 20%;
}

.center {
	text-align: center;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

br.clearAll {
	clear: both;
}

.imgCenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.no_border {
	border: 0px;
}






