<style type="text/css">

	BODY {
		COLOR: #000000;
		BACKGROUND-COLOR: #E6E6E6;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px;
		FONT-WEIGHT: none;
		TEXT-DECORATION: none;
	}

	A:visited {
		color: Blue;
	}

	A:link {
		color: Green;
	}

	A:hover {
		color: Olive;
	}

	TEXTAREA {
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px;
	}

	TD {
		COLOR: #000000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px;
		TEXT-DECORATION: none;
	}

	FORM {
		COLOR: #000000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 10px;
		TEXT-DECORATION: none;
	}

	INPUT {
		COLOR: #000000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 9px;
		TEXT-DECORATION: none;
	}

	SELECT {
		COLOR: #000000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 10px;
		TEXT-DECORATION: none;
	}

	.whitetxt {
		COLOR: #FFFFFF;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px;
		TEXT-DECORATION: none;
	}

	.blacktxt {
		COLOR: #000000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px;
		TEXT-DECORATION: none;
	}

	.titlewhite {
		COLOR: #FFFFFF;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 14px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}

	.titlered {
		COLOR: #FF0000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 16px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}

	.titlegreen {
		COLOR: #1DA024;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 16px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}

	.titlepurple {
		COLOR: #A51DC6;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 16px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}

	.titlebrown {
		COLOR: #999900;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 16px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}

	.titleaqua {
		COLOR: #009999;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 16px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}

	.smallwhite {
		COLOR: #FFFFFF;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 10px;
		FONT-WEIGHT: none;
		TEXT-DECORATION: none;
	}

	.smallblack {
		COLOR: #000000;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 10px;
		FONT-WEIGHT: none;
		TEXT-DECORATION: none;
	}

	.whitenav {
		COLOR: #FFFFFF;
		FONT-FAMILY: Arial, Helvetica, sans-serif;
		FONT-SIZE: 12px;
		FONT-WEIGHT: bold;
		TEXT-DECORATION: none;
	}
</style>