h1
	{
	font-size: 18px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	font-weight: bold;
	text-align: Left;
	color: #000000;
}
h2
	{
	font-size: 16px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	font-weight: bold;
	text-align: Left;
	color: #000000;
}
h3
	{
	font-size: 14px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	font-weight: bold;
	text-align: Left;
	color: #000000;
}
.bg0
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #000000;
}
.bg1
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #a6a6a6;
}
.bg2
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #dbdbdb;
}
.bg3
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #cccccc;
}
.bg4
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #999999;
}
.bg5
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #30414a;
}
.bg6
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #637BB5;
}
.bg7
	{
	font-size: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	background-color: #E2FADC;
}
.spcr1
	{
	font-weight: normal;
	font-size: 1px;
	line-height: 1px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.spcr2
	{
	font-weight: normal;
	font-size: 2px;
	line-height: 4px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.spcr5
	{
	font-weight: normal;
	font-size: 5px;
	line-height: 7px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4xs
	{
	font-weight: normal;
	font-size: 8px;
	line-height: 10px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4s
	{
	font-weight: normal;
	font-size: 9px;
	line-height: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4sb
	{
	font-weight: bold;
	font-size: 9px;
	line-height: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4sblu
	{
	font-weight: normal;
	font-size: 9px;
	line-height: 11px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000080;
}
.d4sred
	{
	font-weight: normal;
	font-size: 9px;
	line-height: 11px;
	color: #FF0000;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4m
	{
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4mb
	{
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4mbgrn
	{
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	color: #006600;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4morg
	{
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	color: #FF5C00;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4
	{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4b
	{
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
.d4gry
	{
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #59686d;
}
.d4red
	{
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	color: #FF0000;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4bred
	{
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #FF0000;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4grn
	{
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	color: #006600;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4bgrn
	{
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #006600;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4org
	{
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	color: #FF5C00;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4borg
	{
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #FF5C00;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4frm
	{
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4frmreq
	{
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	color: #000080;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4lb
	{
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
}
.d4xlb
	{
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
	font-family: Arial, verdana, Helvetica, chicago, sans-serif;
	color: #000000;
}
A:link
{
    FONT-SIZE: 12px;
	COLOR: #0B2EB0;	
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
}
A:visited
{
    FONT-SIZE: 12px;
	COLOR: #0B2EB0;	
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
}
A:hover
{
    FONT-SIZE: 12px;
    COLOR: #933B4E;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
}
A.lnkmblu:link
{
    FONT-SIZE: 11px;
    COLOR: #0B2EB0;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	 text-decoration: none;
}
A.lnkmblu:visited
{
    FONT-SIZE: 11px;
    COLOR: #0B2EB0;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnkmblu:hover
{
    FONT-SIZE: 11px;
    COLOR: #0B2EB0;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
 	text-decoration: underline;
}
A.lnkmblk:link
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnkmblk:visited
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnkmblk:hover
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: underline;
}
A.lnkmgry:link
{
    FONT-SIZE: 11px;
    COLOR: #59686d;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnkmgry:visited
{
    FONT-SIZE: 11px;
    COLOR: #59686d;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnkmgry:hover
{
    FONT-SIZE: 11px;
    COLOR: #59686d;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: underline;
}
A.lnknavmblu:link
{
    FONT-SIZE: 11px;
    COLOR: #092869;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnknavmblu:visited
{
	FONT-SIZE: 11px;
	COLOR: #092869;
	FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnknavmblu:hover
{
	FONT-SIZE: 11px;
	COLOR: #092869;
	FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: underline;
}
A.lnknavonmblu:link
{
    FONT-SIZE: 11px;
    COLOR: #933B4E;
    FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnknavonmblu:visited
{
	FONT-SIZE: 11px;
	COLOR: #933B4E;
	FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
A.lnknavonmblu:hover
{
	FONT-SIZE: 11px;
	COLOR: #933B4E;
	FONT-FAMILY: Arial, verdana, Helvetica, chicago, sans-serif;
	text-decoration: none;
}
