A:Visited  {

	font-family : Arial, Helvetica, sans-serif;

	font-weight : bold;

	color : #CC0000;

; text-decoration: none

}



A:Active  {

	font-family : Arial, Helvetica, sans-serif;

	color : #999999;

; font-weight: bold

; text-decoration: none

}



A:Hover  {

	font-family : Arial, Helvetica, sans-serif;

	color : #CC0000;

; font-weight: bold

; text-decoration: underline

}

.bodylink {  font-size: 14px; color: #990000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
.navlink { font-family : Arial, Helvetica, sans-serif; font-weight : bold; ; font-size: 12px; line-height: 18px; color: #FFFFFF; text-decoration: none}
.headlines { font-size : 30px; font-family : Arial, Helvetica, sans-serif; color : #000000; ; font-weight: bold; line-height: normal}
.birdseed { font-size : 10px; font-family : Arial, Helvetica, sans-serif; color : #000000; ; font-weight: normal}
.subhead_black { font-size : 18px; font-family : Arial, Helvetica, sans-serif; color : #000000; ; font-weight: normal }
.subhead_red { font-size : 18px; font-family : Arial, Helvetica, sans-serif; color : #990000; ; font-weight: normal }
.bodytext_black { font-size : 14px; font-family : Arial, Helvetica, sans-serif; color : #000000; ; line-height: 18px }
.bodytext_red { font-size : 14px; font-family : Arial, Helvetica, sans-serif; color : #990000; ; line-height: 18px }
.bodytext_white { font-size : 14px; font-family : Arial, Helvetica, sans-serif; color : #FFFFFF; ; line-height: 18px }
.subhead_white { font-size : 18px; font-family : Arial, Helvetica, sans-serif; color : #FFFFFF; ; font-weight: normal }
.staff { font-size : 12px; color : #666666; ; line-height: normal; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
.staff_headlines { font-size : 12px; ; line-height: normal ; font-family: Arial, Helvetica, sans-serif; color: #000000; font-weight: bold}
.staff_email { font-size : 12px; ; line-height: normal; font-family: Arial, Helvetica, sans-serif}
.staff_links { font-size: 12px; color: #990000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.subhead_brightred {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FF0000}
.articles { font-family : Arial, Helvetica, sans-serif; font-weight : bold; ; font-size: 12px; line-height: 18px; color: #990000; text-decoration: none }
.nada { font-size: 14px; color: #006699; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.navlink2 { font-family : Arial, Helvetica, sans-serif; font-weight : bold; ; font-size: 11px; color: #FFFFFF; text-decoration: none}
.navlink3 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;

}
