.banner_rail	{ font-size: 1px }

.contbl	{ margin-top: 9px }

.ad	{  }
.ad a	{ text-decoration: underline }

.cw, .cw td, .footer td, .lb, .xml, .day	{ font-family: Arial,sans-serif; font-size: 12px }
.st td, .teal, b.teal, .pembar	{ font-family: Frutiger,Verdana,sans-serif }

.cw a, .cw a:visited, .xml a	{ color: #000; text-decoration: none }
.cw a:hover, .footer a:hover, .xml a:hover, .cw a.ul 	{ text-decoration: underline }
.xml a:visited { color: #805E1A }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, form	{ padding: 0px; margin: 0px }
.h1, .h2, .h3, .h4, .h5, .h6	{ font-weight: bold }

h2, .h2	{ font-size: 16px }
h3, .h3	{ font-size: 14px }
h4, .h4	{ font-size: 12px }
h6, .h6	{ font-size: 10px }

.box, div.box, .promo_box   	{ margin: 0px 0px 10px 0px; padding: 3px 6px 8px 6px }

.lb, .w_lb, .promo_lb	{ font-weight: bold; margin: 0px 0px -1px 6px }

.flag	{ margin-bottom: 10px }
.flag a.h2, .flag a.h2:visited	{ color: #D20000 }


.more, .more a, .more a:visited, p.more, div.more	{ margin: 0px; color: #7C100F; font-size: 11px }
.more_small, .more_small a, .more_small a:visited, p.more_small, div.more_small	{ margin: 0px; color: #7C100F; font-size: 10px }
p.more, p.more_small { padding: 0px 2px 6px 10px }
div.more, div.more_small { padding: 0px 2px 0px 10px }

.sm td	{ font-size: 10px }

.white, .white td  { color: #FFF }
.white a, .white a:visited, .white .more	{ color: #FFF; text-decoration: none }
.white a:hover  { text-decoration: underline }

.st	{ border: 1px solid #3F6265; margin: 0px 0px 8px 0px }
.st td, .teal, b.teal	{ font-size: 11px }
.st td	{ background-color: #FFF }
.st img	{ margin: 0px 0px 1px 0px }
.st img.i	{ margin: 4px 10px 4px 6px }
td.L	{ border-bottom: 1px solid #3F6265 }
.teal, b.teal	{ color: #026F78 }

.navbox	{ border: 1px solid #3F6265; padding: 4px 4px 4px 2px; font-size: 10px; background-color: #FFF; margin: 0px 0px 13px 0px }
.navbox p	{ line-height: 10px }

.TxtLink1, .TxtLink2, .TxtLink3, .TxtLink4 { display: inline; }

.footer a, .footer a:visited	{ color: #031AC1; text-decoration: none }

.sr img	{ margin-bottom: 10px }
img.track, .sr img.track, .track	{ margin: 0px }

.small, .small a, .small td	{ font-size: 10px }
.mdsmall, .mdsmall a, .mdsmall td	{ font-size: 11px }
s	{ color: #F00; size: x-small; text-decoration: none }

.chad	{ padding: 0px 0px 0px 10px }
.chad a	{ text-decoration: none }
.chad u	{ font-size: 9px; color: #001094; text-decoration: none }
div.chad p	{ margin: 2px 0px }
div.chad p.c:first-letter, div.chad p:first-letter	{ margin: 0px 0px 0px -8px }

.searchbox	{ background-color: #FFFFD6; border-top: 1px solid #E4D7D7; border-bottom: 1px solid #E4D7D7 }
.searchbox td	{ font-size: 11px; font-weight: bold }

.red, a.red, a.red:visited	{ color: #D20000 }

.sechop	{ margin: 4px 0px 11px 0px; font-size: 11px; text-align: center }

.seccopy	{ font-size: 10px; padding-bottom: 8px }

.slms, .pembar	{ border-top: 1px solid #C2C2C2; border-bottom: 1px solid #C2C2C2; padding: 3px 0px; margin: 22px 0px 7px 0px }
.slms .left, .pembar .left	{ padding-left: 6px }
.slms .right, .pembar .right	{ padding-right: 6px; text-align: right }
.slms	{ font-size: 13px }
.pembar img	{ margin-right: 10px }

.orange, .orange a, .orange a:visited	{ color: #FE6301 }

.byln, td.byln, div.byln	{ margin-bottom: 11px; font-size: 11px }
.byln div	{ font-weight: bold; font-size: 12px; margin-top: 5px }

.mhl	{ margin-top: 22px }
.mhl .box	{ background-color: #FFF5EE; border-top: 1px solid #9B7A7A }
.mhl .lb	{ color: #9C3131 }

.fstory	{ padding: 0px 0px 0px 8px; margin: 0px }

.nf { color: #38455F; font-size: 10px }
.nf b { font-size: 12px; color: #1C2F76 }
.nf i { font-style: normal; color: #FD7801 }

.cx     { color: #FF6403 }
.cx i   { color: #CC3200; font-style: normal }

.inside         { color: #D20000; margin-bottom: 12px }
.inside b       { font-size: 14px; color: #000 }
.inside u       { text-decoration: none; font-size: 11px; font-weight: bold; color: #000 }
.inside div	{ color: #000; line-height: 10px }

.cap	{ font-size: 10px; line-height: 10px; text-align: right; margin: -2px 0px 9px 0px }
.cap div	{ text-align: left; margin-top: 1px }
.cap a, div.cap a	{ text-decoration: underline }

.w_box	 { margin: 0px 0px 13px 0px }
.w_head	{ font-size: 10px; padding: 3px }
.w_foot	{ padding: 1px; margin: 0px 4px 6px 4px; text-align: center }

.polls_head	{ font-size: 10px; padding: 3px 3px 3px 4px; background-color: #FEFEE6; border-bottom: 1px solid #F3DEC9 }

a img	{ border: 0px }

