.no-print,
.menu,
#strap,
#homeNewsHeader,
#featPlayerPic,
#section-header,
#sidebar {
	display: none;
	visibility: hidden;
}

#hd img {
	filter: gray;
}

h1,
h2,
h3,
#ft {
	border-top: 1px solid silver;
}

table {
	outline: 1px solid silver;
}

a {
	color: black;
}