/* STRUCTURE ----------------------------------------------- */
body {
	background-position: center center;
	margin: 5px 5px 15px 5px;
	padding: 0px;
}
.bodyfont,.formbuttons,h1,h2,h3,p,a,.smalltext,.smalltext p,.whitetext
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.bodyfont 
{
	font-size: 12px;
	line-height: 17px;
	color: #000000;
}
/* HEADINGS ----------------------------------------------- */
h1 {
	font-size: 19px;
	line-height: 21px;
	font-weight: bold;
	color: #0C3B6A;
}
h2 
{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
	color: #8A857C;
}
h3 
{
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	font-style: oblique;
	color: #000000;
}
/* GENERAL FONT STYLES ----------------------------------------------- */
p 
{
	font-size: 12px;
	line-height: 17px;
	color: #000000;
}
.whitetext 
{
	font-size: 12px;
	line-height: 17px;
	color: #ffffff;
}
a:link {
	font-size: 12px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: none;
}
hr
{
	color: #999999;
	width: 100%;
	height: 1px;
}
/* SPECIALIZED FONT STYLES ----------------------------------------------- */
.smalltext 
{
	font-size: 11px;
	line-height: normal;
	color: #000000;
}
.smalltext p
{
	font-size: 11px;
	line-height: normal;
	color: #000000;
}
.smalltext a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: none;
}
.smalltext a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: none;
}
.smalltext a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: underline;
}
.smalltext a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0C3B6A;
	text-decoration: underline;
}
.footertext 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 35px;
	color: #ffffff;
}
.footertext a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 35px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}
.footertext a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 35px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}
.footertext a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 35px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
.footertext a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 35px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
.contentbar
{
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	font-variant:small-caps;
	color: #000000;
	padding: 3px;
	border: 1px solid #000000;
}
/* LISTS ----------------------------------------------- */
ul 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
ol 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/* SRUCTURE GENERAL ----------------------------------------------- */
.image {
  float: right;
  margin: 3px;
  padding: 3px;
}
.image p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	color: #000000;
  font-style: italic;
  text-indent: 0px;
	margin: 0px;
}
/* SRUCTURE LEFT BAR ----------------------------------------------- */
.leftbar
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #663300;
	font-size: 12px;
	line-height: normal;
	padding: 0px 5px 0px 5px;
}
.leftbar ul
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #663300;
	font-size: 12px;
	line-height: normal;
	list-style-type:disc;
	list-style-position: outside;
	margin-left: 15px;
}
.leftbar p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #663300;
	font-size: 12px;
	line-height: 16px;
}
.leftbar h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	color: #663300;
	margin: -10px 0px -10px 0px;
	padding: 0px;
}
.leftbar h2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	font-style:oblique;
	color: #663300;
	margin: -10px 0px -10px 0px;
	padding: 0px;
}
.leftbar em
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:oblique;
}
.leftbar a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #336666;
	text-decoration: none;
}
.leftbar a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #336666;
	text-decoration: none;
}
.leftbar a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #336666;
	text-decoration: underline;
}
.leftbar a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #336666;
	text-decoration: none;
}
/* SRUCTURE RIGHT BAR ----------------------------------------------- */
.rightbar
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 11px;
	line-height: normal;
	padding: 0px 5px 0px 5px;
}
.rightbar p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 11px;
	line-height: normal;
}
.rightbar h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color: #003366;
	margin: 0px;
}
.rightbar em
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 11px;
	line-height: normal;
	font-style:oblique;
}
.rightbar a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
.rightbar a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
.rightbar a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
.rightbar a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
/* STRUCTURE FEATURE ITEMS ----------------------------------------------- */
.outlinebox {
	padding: 10px;
	border: 3px double #919177;
	margin: 10px 15px 10px 15px;
}
.outlinebox h1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
/* FORMS ----------------------------------------------- */
.inputstyle
{
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: middle;
	background-position: center center;
}
.formbuttons
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	vertical-align: bottom;
}
.linkbuttons
{
	background-color: #ffffff;
	border-width: 1px;
	border-color: #000000;
	border-style:solid;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	height: 21px;
	vertical-align: bottom;
}
.filterform
{
	width: 95%;
	background-color: #ffffff;
	border: 1px solid #95A7B9;
	margin-top: 0px;
	padding: 5px;
}
.formbuttons
{
	font-size: 11px;
	line-height: 14px;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	font-style: normal;
	border-width: 1px;
	border-color: #1D4369;
	border-style: solid;
	margin: 5px;
	vertical-align: middle;
}
.formbuttons a
{
	background-color: #ffffff;
	font-size: 11px;
	line-height: 15px;
	margin: 0px;
	padding: 2px;
}
.formbuttons a:link
{
	color: #000000;
	text-decoration: none;	
}
.formbuttons a:visited
{
	color: #000000;
	text-decoration: none;	
}
.formbuttons a:hover
{
	color: #000000;
	text-decoration: none;	
}
.formbuttons a:active
{
	color: #000000;
	text-decoration: none;	
}
.access
{
	visibility: visible;
	display: block;
}
.noshow
{
	visibility: hidden;
	display: none;
}