.mstheme
{
	separator-image: url(blorulee.gif);
	list-image-1: url(blobul1e.gif);
	list-image-2: url(blobul2e.gif);
	list-image-3: url(blobul3e.gif);
	nav-banner-image: url(blobane.gif);
	navbutton-horiz-normal: url(bhbtnne.gif);
	navbutton-horiz-hovered: url(bhbtnhe.gif);
	navbutton-horiz-pushed: url(bhbtnse.gif);
	navbutton-vert-normal: url(bvbtnne.gif);
	navbutton-vert-hovered: url(bvbtnhe.gif);
	navbutton-vert-pushed: url(bvbtnse.gif);
	navbutton-home-normal: url(bhmbtne.gif);
	navbutton-home-hovered: url(bhmbthe.gif);
	navbutton-home-pushed: url(bhmbtne.gif);
	navbutton-next-normal: url(bnbtnne.gif);
	navbutton-next-hovered: url(bnbtnhe.gif);
	navbutton-next-pushed: url(bnbtnne.gif);
	navbutton-prev-normal: url(bpbtnne.gif);
	navbutton-prev-hovered: url(bpbtnhe.gif);
	navbutton-prev-pushed: url(bpbtnne.gif);
	navbutton-up-normal: url(bubtnne.gif);
	navbutton-up-hovered: url(bubtnhe.gif);
	navbutton-up-pushed: url(bubtnne.gif);
}
.mstheme-bannertxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: bold;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url('blobul1e.gif');
}
ul ul
{
	list-style-image: url('blobul2e.gif');
}
ul ul ul
{
	list-style-image: url('blobul3e.gif');
}
a:link
{
	color: rgb(204, 0, 0);
}
a:active
{
	color: rgb(255, 204, 0);
}
a:visited
{
	color: rgb(153, 153, 153);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(153, 153, 153);
	table-border-color-dark: rgb(102, 102, 102);
}
h1
{
	color: rgb(102, 102, 102);
}
h2
{
	color: rgb(102, 102, 102);
}
h3
{
	color: rgb(102, 102, 102);
}
h4
{
	color: rgb(102, 102, 102);
}
h5
{
	color: rgb(102, 102, 102);
}
h6
{
	color: rgb(102, 102, 102);
}
button
{
	background-color: rgb(102, 102, 102);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 0, 0);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(102, 102, 102);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(102, 102, 102);
}
th
{
	color: rgb(0, 0, 0);
}
.mstheme-bannertxt a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-bannertxt a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-bannertxt a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-bannertxt-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: bold;
}
.mstheme-bannertxt-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-bannertxt-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-bannertxt-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-bannertxt-s
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: bold;
}
.mstheme-bannertxt-s a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-bannertxt-s a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-bannertxt-s a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-horiz-navtxt a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-horiz-navtxt a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-horiz-navtxt a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-horiz-navtxt-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme-horiz-navtxt-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-horiz-navtxt-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-horiz-navtxt-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-horiz-navtxt-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme-horiz-navtxt-gs a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-horiz-navtxt-gs a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-horiz-navtxt-gs a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxthome a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxthome a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxthome a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxthome-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxthome-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxthome-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxthome-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome-gs a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxthome-gs a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxthome-gs a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtnext a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtnext a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtnext a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtnext-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtnext-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtnext-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtnext-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext-gs a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtnext-gs a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtnext-gs a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtprev a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtprev a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtprev a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtprev-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtprev-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtprev-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtprev-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev-gs a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtprev-gs a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtprev-gs a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtup a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtup a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtup a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtup-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtup-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtup-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-navtxtup-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup-gs a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-navtxtup-gs a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-navtxtup-gs a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-topbar-font a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-topbar-font a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-topbar-font a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-topbar-font-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0,0,0);
	font-size: 8pt;
}
.mstheme-topbar-font-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-topbar-font-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-topbar-font-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-vert-navtxt a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-vert-navtxt a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-vert-navtxt a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-vert-navtxt-g
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme-vert-navtxt-g a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-vert-navtxt-g a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-vert-navtxt-g a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-vert-navtxt-gs
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme-vert-navtxt-gs a:link
{
	color: rgb(204, 0, 0);
}
.mstheme-vert-navtxt-gs a:active
{
	color: rgb(204, 153, 51);
}
.mstheme-vert-navtxt-gs a:visited
{
	color: rgb(153, 153, 153);
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(blogbalc.gif) }
.mstheme-topbar-font { color: rgb(0,0,0); font-size: 8pt; font-family: Arial, Arial, Helvetica }
body         { background-image: url('blobkgde.gif'); font-family: Arial, Arial, Helvetica }
button       { font-weight: bold; font-size: 8pt; font-family: Arial, Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-family: Arial, Arial, Helvetica; font-style: normal }
fieldset     { font-family: Arial, Arial, Helvetica; font-size: 8pt; font-style: normal; 
               border-style: solid; border-width: 1pt }
h1           { font-size: 24pt; font-family: Arial, Arial, Helvetica }
h2           { font-family: Arial, Arial, Helvetica; font-style: normal; font-size: 18pt; 
               font-weight: normal }
h3           { font-family: Arial, Arial, Helvetica; font-size: 14pt; font-weight: normal; 
               font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal; font-family: 
               Arial, Arial, Helvetica }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               Arial, Arial, Helvetica }
h6           { font-family: Arial, Arial, Helvetica; font-size: 8pt; font-style: normal; 
               font-weight: normal }
label        { font-style: normal; font-family: Arial, Arial, Helvetica; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal }
legend       { font-style: normal; font-size: 8pt; font-family: Arial, Arial, Helvetica }
marquee      { font-family: Arial, Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-family: Arial, Arial, Helvetica; font-size: 8pt; 
               border-style: solid;  }
table        { font-family: Arial, Arial, Helvetica; font-style: normal }
textarea     { font-style: normal; font-size: 8pt; font-family: Arial, Arial, Helvetica; 
               border-style: solid;  }
th           { font-family: Arial, Arial, Helvetica; font-style: normal }
