/* GENERAL CONTENT CSS */
.advertisement 	{font-size: 10px; font-weight: bold; color: #999999;letter-spacing: 1px;}
body 			{font-family: Arial, Verdana, Helvetica; font-size: 12px; color: #595959; }
.body_text {font-size: 12px; color: #595959; text-decoration: none;}
.bodytextwhite {font-size: 12px; color: #ffffff; text-decoration: none; font-family: Arial, Verdana, Helvetica;}
.body_textlink1 {font-size: 12px; color: #595959; text-decoration: underline;}
.bracketlinks 	{font-size: 12px; font-weight: bold; color: #4E4E4E;}
.bracket 	{font-size: 12px; font-weight: bold; color: #4E4E4E;}
.byline 		{font-size: 10px;}
.commenttxt 	{font-family: Arial, Verdana, Helvetica; font-size: 11px; font-weight: bold; color: #336699;}
.fnbox_title 	{font-size: 12px; font-weight: bold;}
.fnbox_links 	{font-size: 12px; color: #595959;}
.fnbox_timeupdate {font-size: 12px;	color: #959595;}
.headersmall 	{font-family: Arial, Verdana, Helvetica; font-size: 10px; font-weight: none; color: #6c6c6c;}
.footerline1 	{font-family: Arial, Verdana, Helvetica; font-size: 11px; font-weight: bold; color: #6c6c6c;}
.footerline2 	{font-family: Arial, Verdana, Helvetica; font-size: 10px; font-weight: none; color: #6c6c6c;}
.headlinebig 	{font-size: 34px; font-weight: bold; color: #4A5880;}
.headline 		{font-size: 24px; font-weight: bold; color: #4A5880;}
.headline_title	{font-size: 24px; font-weight: bold; color: #4A5880;}
.headlinetxt 	{font-family: Arial, Verdana, Helvetica; font-size: 12px; color: #595959;}
.headlinetxt2 	{font-family: Arial, Verdana, Helvetica; font-size: 12px; font-weight: bold; color: #595959;}
.Nav_Channel 	{color: #000000; font-weight: bold; font-family: Arial, Verdana, Helvetica; font-size: 12px;}
.Nav_Yehey 		{color: #6C6C6C; font-size: 12px;}
.pagination 	{font-size: 12px; font-weight: bold; color: #4E4E4E;}
.pagination2 	{font-family: Arial, Verdana, Helvetica; font-size: 12px; font-weight: bold; color: #7c4141;}
.pagination3	{font-size: 12px; font-weight: bold; color: #4E4E4E;}
.poll_question 	{color: #6C6C6C; font-weight: bold;}
.poll_text 		{color: #6C6C6C;}
.USR_interact 	{color: #999999; font-weight: bold;	font-size: 11px;}
.sectioname		{color: #666666; font-weight: bold;	font-size: 12px; font-family: Arial, Verdana, Helvetica;}
.textlink		{font-family: arial, verdana, helvetica; font-size: 12px;	font-weight:none; color: #595959;}
.error			{font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #990000;}
.bodytextwhitebig			{font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #ffffff;}


/* HEADER POSITIONING CSS */
#topheader{position: relative; top: 0px; left: 0px; width: 760px; height: 95px;}
#yehey{position: absolute; top: 25px; left: 0px; width: 200px;}
#searchbox{position: absolute; top: 0px; right: 0px; width: 350px;}
#channeltabs{position: relative; top: 3px; left: 0px; width: 761px; height:19px;}

/*FOOTER POSITIONING CSS*/
#footerbanner{position: relative; top: 0px; left: 0px; width: 760px; padding: 10px;}
#channelcol{position: relative; top: 0px; left: 0px; width: 760px; border-bottom: 1px solid #CCCCCC; font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; padding-top: 10px; padding-bottom: 5px;}
#otherscol{position: relative; top: 0px; left: 0px; width: 760px; font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; padding-top: 5px;}
#otherscolsmall{position: relative; top: 0px; left: 0px; width: 760px; font-family:Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; padding-top: 3px; padding-bottom: 10px;}
#copyright{position: relative; top: 0px; left: 0px; width: 760px; font-family:Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; height: 19px; padding-top: 3px;}



/* -------------------------- LINKS ------------------------*/

/*  Headline Links */
.headline{color: #4A5880; text-decoration : none;}
.headline:active{color: #4A5880;	text-decoration : none;}
.headline:visited{color: #4A5880; text-decoration : none;}
.headline:hover{color: #000000; text-decoration : none;}


/*  Big Headline Links */
.headlinebigtext{font-size:34px; color: #4A5880; text-decoration : none;}
.headlinebig{font-size:34px; color: #4A5880; text-decoration : none;}
.headlinebig:active{font-size:34px;color: #4A5880;	text-decoration : none;}
.headlinebig:visited{font-size:34px;color: #4A5880; text-decoration : none;}
.headlinebig:hover{font-size:34px;color: #000000; text-decoration : none;}

/* Bracket Links*/
.bracketlinks{color: #000000; text-decoration : none;}
.bracketlinks:active{color: #000000;	text-decoration : none;}
.bracketlinks:visited{color: #000000; text-decoration : none;}
.bracketlinks:hover{color: #8A2020; text-decoration : none;}

/* User Interaction Links */
.USR_interact{color: #999999; text-decoration : none;}
.USR_interact:active{color: #999999;	text-decoration : none;}
.USR_interact:visited{color: #999999; text-decoration : none;}
.USR_interact:hover{color: #999999; text-decoration : underline;}

/* Pagination links */
.pagination{text-decoration : none;}
.pagination:active{text-decoration : none;}
.pagination:visited{text-decoration : none;}
.pagination:hover{text-decoration : underline;}


/* Pagination3 links */
.pagination3{text-decoration : none;}
.pagination3:active{text-decoration : none;}
.pagination3:visited{text-decoration : none;}
.pagination:hover{text-decoration : none;}


/* Yehey! Navigation links */
.Nav_Yehey{text-decoration : none;}
.Nav_Yehey:active{text-decoration : none;}
.Nav_Yehey:visited{text-decoration : none;}
.Nav_Yehey:hover{text-decoration : underline;}

/* Channel Navigation links */
.Nav_Channel{text-decoration : none;}
.Nav_Channel:active{text-decoration : none;}
.Nav_Channel:visited{text-decoration : none;}
.Nav_Channel:hover{text-decoration : none;}

/* Channel Navigation links */
.headlinetxt{color: #595959; text-decoration : none;}
.headlinetxt:active{color: #595959; text-decoration : none;}
.headlinetxt:visited{color: #595959; text-decoration : none;}
.headlinetxt:hover{color: #595959; text-decoration : none;}

/* Channel Navigation links */
.headlinetxt2{color: #595959; text-decoration : none;}
.headlinetxt2:active{color: #595959; text-decoration : none;}
.headlinetxt2:visited{color: #595959; text-decoration : none;}
.headlinetxt2:hover{color: #595959; text-decoration : underline;}

/* Channel Navigation links */
.commenttxt{color: #336699; text-decoration : underline;}
.commenttxt:active{color: #336699; text-decoration : underline;}
.commenttxt:visited{color: #336699; text-decoration : underline;}
.commenttxt:hover{color: #336699; text-decoration : underline;}

/*  Header Small Navigation Links */
.headersmall{color: #3a3a3a; text-decoration : none;}
.headersmall:active{color: #3a3a3a;	text-decoration : none;}
.headersmall:visited{color: #3a3a3a; text-decoration : none;}
.headersmall:hover{color: #3a3a3a; text-decoration : underline;}

/*  footer navigation Links */
.footerline1{color: #6c6c6c; text-decoration : none;}
.footerline1:active{color: #6c6c6c;	text-decoration : none;}
.footerline1:visited{color: #6c6c6c; text-decoration : none;}
.footerline1:hover{color: #6c6c6c; text-decoration : underline;}

/*  footer other Links */
.footerline2{color: #6c6c6c; text-decoration : none;}
.footerline2:active{color: #6c6c6c;	text-decoration : none;}
.footerline2:visited{color: #6c6c6c; text-decoration : none;}
.footerline2:hover{color: #6c6c6c; text-decoration : underline;}

/*  sectionname  Links */
.sectionnameheader{text-decoration : none; color:#666666; font-weight:bold; text-align:center; font-size: 12px;}
.sectioname{text-decoration : none; color:#666666;}
.sectioname:active{text-decoration : none; color:#666666;}
.sectioname:visited{text-decoration : none; color:#666666;}
.sectioname:hover{text-decoration : underline; color:#666666;}

.errorlink{font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #990000;}
.errorlink:active{font-size:11px;color: #990000;	text-decoration : underline;}
.errorlink:visited{font-size:11px;color: #990000; text-decoration : underline;}
.errorlink:hover{font-size:11px;color: #FF0000; text-decoration : underline;}

a.l1{color: #727587; text-decoration : none;}
a.l1:active{color: #727587;	text-decoration : none;}
a.l1:visited{color: #727587; text-decoration : none;}
a.l1:hover{color: #000000; text-decoration : none;}

a.textlink {color: #595959; text-decoration : none;}
a.textlink:active {color: #595959; text-decoration : none;}
a.textlink:visited{color: #595959; text-decoration : none;}
a.textlink:hover{color: #595959; text-decoration : underline;}

/* Channel Navigation links */
.l1{color: #595959; text-decoration : none;}
.l1{color: #595959; text-decoration : none;}
.l1:visited{color: #595959; text-decoration : none;}
.l1:hover{color: #595959; text-decoration : underline;}



/* HEADER POSITIONING CSS - entertainment
#topheader{position: relative; top: 0px; left: 0px; width: 760px; height: 45px;}
#yehey{position: absolute; top: 22px; left: 0px; width: 200px;}
#searchbox{position: absolute; top: 0px; right: -1px; width: 350px;}*/




/* -------------------------- UPDATES ------------------------

FEB 27 - First CSS

MAR 03 - Added :
#topheader{position: relative; top: 0px; left: 0px; width: 760px; height: 45px;}
#yehey{position: absolute; top: 22px; left: 0px; width: 200px;}
#searchbox{position: absolute; top: 0px; right: -1px; width: 350px;}

MAR 10 - Added - Footer positioning css / footerline1 & 2

MAR 15 - Added Pagination 2  and Sectionname Links

MAR 24 - Added:
.sectionnameheader{text-decoration : none; color:#666666; font-weight:bold;}

MAR 25 - Added
.error  and  .errorlink   for error messages.  - Jay

MAR 29 - Added
.bracket - for brackets in .bracketlinks


*/














