caption{
  background-color: red;
}
address{
  color:darkgreen;
  margin:1em;
}
span.sum_pics{
  color:green;
}
span.sum_movies{
  color:red;
}
span.sum_subdirs{
  color:darkblue;
}
span.summary{
  font-size:.7em;
}
span.file_size{
  color:red;
  font-size:.7em;
}
