/* Copyright 2000 - Active Matter, Inc. */

body, p, b, font, h1, h2, h3, h4, h5, li, td, th, a, a:link, a:visited, a:hover, strong, i, blockquote
  {font-family: Verdana; font-size: 11px; color: 333333;}
p, font, td, li, b, strong, th, .error
  {font-size: 11px;} /* Please do not add "margin-right: 20px;" to this style sheet rule. */
p, td, li, th, blockquote
  {color: 333333; font-weight: normal;}
body
  {background: white; color: 333333;}
b, strong, .bold, .bigbold, .smallbold, .error
  {font-weight: bold}
.bold
  {font-size: 11px;}
.bigbold
  {font-size: 15px;}
.smallbold
  {font-size: 10px;}
.error
  {color: Red;}
i, em
  {text-decoration: italics;}
u
  {text-decoration: underline;}
h1, h2, h3, h4, h5
  {font-size: 14px; font-weight: bold; color: cc3300; font-family: verdena;}
h2
  {font-size: 13px; font-weight: bold; color: 990000; font-family: verdena;}
h3
  {font-size: 12px; font-weight: bold; color: 000000; font-family: verdena;}
/*h4
  {font-size: 13px;}
h5
  {font-size: 11px;}
  */
th
  {font-weight: bold; text-align: left;}
  
a, a:link, a:visited, a:hover, a:visited:hover
  {color: 336600; font-weight: bold; text-decoration: none;}
a:visited, 
  {color: 999999; font-weight: bold;}
a:hover, a:visited:hover
  {text-decoration: underline;}
  
  
input, .textarea, textarea
  {font-size: 13px; font-family: monospace, sans-serif; font-weight: 100;}
ol, ul
  {margin: 0 0 0 25;}
pre
  {font-family: monospace; font-size: 11px;}
.arial
  {font-family: Arial, sans-serif;}
.CIAdminBar
  {font-size: 10px; color: #FFFFFF; font-weight: bold; background: #99CC33;}
.Required
  {font-size: 11px; font-weight: bold;}
.text
  {font-size: 11px; font-weight: normal;}
.agencybar 
  {font-size: 14px; color: #ffffff; background: #0033cc; font-weight: bold;}
.adminbar, .AdminBar, .SmallAdminBar
  {font-size: 14px; color: #ffffff; background: #3333ff; font-weight: bold;}
.SmallAdminBar
  {font-size: 10px;}
.small
  {font-size: 11px;}
.smaller
  {font-size: 9px;}
.large
  {font-size: 15px;}
.larger
  {font-size: 17px;}
.lighter
  {font-size: 11px; color: #AAAAAA; font-style: italic}
a.smaller, a.smaller:link, a.smaller:visited, a.smaller:hover, a.smaller:visited:hover
  {font-size: 9px;}
a.small, a.small:link, a.small:visited, a.small:hover, a.small:visited:hover
  {font-size: 11px;}
a.highlight, a.highlight:link, a.highlight:visited, a.highlight:hover, a.highlight:visited:hover
  {font-size: 13px; color: white; text-decoration: none;}

.BAHeaderBar, .BGHeaderBar, .BOHeaderBar, .CWHeaderBar, .CDHeaderBar, .DOHeaderBar, .ECHeaderBar, .FAHeaderBar, .FMHeaderBar, .GRHeaderBar, .GCHeaderBar, .HPHeaderBar, 
.IDHeaderBar, .IPHeaderBar, .JBHeaderBar, .MGHeaderBar, .MMHeaderBar, .MDHeaderBar, .NLHeaderBar, .PEHeaderBar, .PRHeaderBar, .SBHeaderBar, .SEHeaderBar,
.STHeaderBar, .TLHeaderBar, .TPHeaderBar, .VTHeaderBar, .HeaderBar, .CalendarBar
  /*{font-size: 11px; color: #333333; font-weight: bold; background: #99CCFF;}*/
  {font-size: 11px; color: #FFFFFF; font-weight: bold; background: #669900;}
.BGBoldEntry, a.BGBoldEntry, a.BGBoldEntry:link, a.BGBoldEntry:visited, a.BGBoldEntry:hover, a.BGBoldEntry:visited:hover, .BGBigLetter
  {font-size: 15px; font-weight: bold;}
a.BGBoldEntry:hover, a.BGBoldEntry:visited:hover
  {color: red;}
.BGBigLetter
  {font-size: 19px;}
.BGNormalEntry, a.BGNormalEntry, a.BGNormalEntry:link, a.BGNormalEntry:visited, a.BGNormalEntry:hover, a.BGNormalEntry:visited:hover
  {font-size: 11px;}
a.BGNormalEntry:hover
  {color: red;}
.BGFeatureHeader
  {font-size: 14px; color: #0033cc; font-weight: bold; background: white;}

.BARow1
  {background: #FFFFFF;}
.BARow2
  {background: #E8E8E8;}
.BACellName
  {font-weight: bold;}
.BASubHeaderBar
  {font-size: 12px; color: #000000; font-weight: bold; background: #B0B8EF;}
.BAReturnMsg
  {font-size: 12px; color: #9966FF; font-weight: bold;}
a.BABreadCrumbLink, a.BABreadCrumbLink:link, a.BABreadCrumbLink:visited, a.BABreadCrumbLink:hover, a.BABreadCrumbLink:visited:hover
  {font-size: 15px; font-weight: bold; text-decoration: none; color: #CCFFFF}
a.BALink, a.BALink:link, a.BALink:visited, a.BALink:hover, a.BALink:visited:hover
  {font-size: 12px; text-decoration: none; color: #0000FF}
 
.CWerror
  {font-size: 13px; font-weight: bold; color: #CC3333;}
.CWbglight, .CWbgdark
  {font-size: 13px; color: Black; background: #99CCCC;}
.CWbgdark
  {background: SteelBlue;}
a.CWhelp, a.CWhelp:link, a.CWhelp:visited, a.CWhelp:hover, a.CWhelp:visited:hover, a.CWhelpDark, a.CWhelpDark:link, a.CWhelpDark:visited, a.CWhelpDark:hover, a.CWhelpDark:visited:hover
  {font-size: 18px; color: white; text-decoration: none; font-weight: bold;}
a.CWhelpDark, a.CWhelpDark:link, a.CWhelpDark:visited, a.CWhelpDark:hover, a.CWhelpDark:visited:hover
  {color: SteelBlue;}
h1.CWWizard
  {color:#FFFFFF; font-weight: bold;}

.CMSmall
  {font-size: 11px;}
.CMMedium
  {font-size: 13px;}
.CMLarge
  {font-size: 15px;}
.CMError
  {font-size: 13px; font-weight: bold; color: red;}
a.CMSmall, a.CMSmall:link, a.CMSmall:visited, a.CMSmall:hover, a.CMSmall:visited:hover
  {font-size: 11px; text-decoration: none; color: blue;}
a.CMSmall:visited
  {color: purple;}
a.CMSmall:hover
  {text-decoration: underline; color: red;}
.CMSiteName
  {font-size: 15px; font-weight: bold; color: white;}
a.CMMedium, a.CMMedium:link, a.CMMedium:visited, a.CMMedium:hover, a.CMMedium:visited:hover
  {font-size: 13px; text-decoration: none; color: blue;}
a.CMMedium:visited
  {color: purple;}
a.CMMedium:hover
  {text-decoration: underline; color: red;}
i.CMSmall, i.CMLinkCFM, i.CMLinkURL
  {font-size: 11px; text-decoration: italics;}
i.CMLinkCFM
  {color: Crimson;}
i.CMLinkURL
  {color: MediumSeaGreen;}
a.CMVarType, a.CMVarType:link, a.CMVarType:visited, a.CMVarType:hover, a.CMVarType:visited:hover
  {font-size: 11px; font-weight: bold; text-decoration: none; color: #3333ff;}
a.CMVarType:hover
  {color: white; background: #3333ff;}
a.CMVarTypeSelected, a.CMVarTypeSelected:link, a.CMVarTypeSelected:visited, a.CMVarTypeSelected:hover, a.CMVarTypeSelected:visited:hover
  {font-size: 11px; font-weight: bold; text-decoration: none; color: white; background: #3333ff;}
.CMVarHeader
  {font-size: 11px; font-weight: bold; color: white;}

.CDSmallHeader, a.CDHeaderLink, a.CDHeaderLink:link, a.CDHeaderLink:visited, a.CDHeaderLink:hover, a.CDHeaderLink:visited:hover,
a.CDSmallHeaderLink, a.CDSmallHeaderLink:link, a.CDSmallHeaderLink:Visited, a.CDSmallHeaderLink:hover, a.CDSmallHeaderLink:visited:hover
  {font-size: 10px; color: #ffffff; font-weight: bold; background: #0033cc;}
a.CDHeaderLink, a.CDHeaderLink:link, a.CDHeaderLink:visited, a.CDHeaderLink:hover, a.CDHeaderLink:visited:hover
  {font-size: 14px; text-decoration: none;}
a.CDHeaderLink:hover, a.CDHeaderLink:visited:hover
  {text-decoration: underline;}
a.CDSmallHeaderLink, a.CDSmallHeaderLink:link, a.CDSmallHeaderLink:Visited, a.CDSmallHeaderLink:hover, a.CDSmallHeaderLink:visited:hover
  {text-decoration: none;}
a.CDSmallHeaderLink:Hover 
  {text-decoration: underline;}
a.CDAdminLink, a.CDAdminLink:link, a.CDAdminLink:visited, a.CDAdminLink:hover, a.CDAdminLink:visited:hover
  {font-size: 14px; color: #ffffff; text-decoration: none; font-weight: bold; background: #3333ff;}
a.CDAdminLink:hover, a.CDAdminLink:visited:hover
  {text-decoration: underline;}
a.ciadminwhite, a.ciadminwhite:link, a.ciadminwhite:visited, a.ciadminwhite:hover, a.ciadminwhite:visited:hover
  {font-size: 10px; color: #ffffff; text-decoration: none; font-weight: bold;}
a.ciadminwhite:hover, a.ciadminwhite:visited:hover
  {text-decoration: underline;}

.COSubHead
 {font-size: 12px; color: #0033cc; font-weight: bold;}
.COOptionBar
 {color: white; font-weight: bold; background: #003399;}
.COMessage
 {color: red;}

a.CPActiveLink, a.CPActiveLink:link, a.CPActiveLink:visited, a.CPActiveLink:hover, a.CPActiveLink:visited:hover
  {font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif; color: Blue;}

a.CPInactiveLink, a.CPInactiveLink:link, a.CPInactiveLink:visited, a.CPInactiveLink:hover, a.CPInactiveLink:visited:hover
  {font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif; color: Gray;}
     
.ECNavMenu 
  {font-size: 11px; color: #330000; font-weight: bold; background: #CC9900;}
.ECBasketHeader, .ECInvoiceBar
  {font-size: 11px; color: #FFFFFF; font-weight: bold; background: #669900;}
.ECYourPrice, .ECYouSave
  {font-size: 14px; color: Green; font-weight: bold;}
a.ECNavMenu, a.ECNavMenu:link, a.ECNavMenu:visited, a.ECNavMenu:hover, a.ECNavMenu:visited:hover
  {font-size: 11px; color: #330000; font-weight: bold; text-decoration: none}
a.ECNavMenu:hover, a.ECNavMenu:visited:hover
  {color: White;}
.ECgood, .ECbad
  {font-size: 13px; font-weight: bold; color: Green;}
.ECbad
  {color: Red;}
  
.FMRow1
  {background: #FFFFFF;}
.FMRow2
  {background: #E8E8E8;}
.FMSubHeaderBar
  {font-size: 12px; color: #000000; font-weight: bold; background: #B0B8EF;}
.FMCellName
  {font-weight: bold;}
.FMCellSmall
  {font-size: 10px;}
.FMMessageHeader
  {font-size: 12px; color: #000000; font-weight: bold; background: #B0B8EF;}
.FMMessageBody1
  {font-size: 12px; color: #000000; background: #DEDFDF;}
.FMMessageBody2
  {font-size: 12px; color: #000000; background: #F7F7F7;}
.FMBreadCrumb
  {font-size: 15px; color: #000000; font-weight: bold;}
.FMReturnMsg
  {font-size: 12px; color: #9966FF; font-weight: bold;}
a.FMBreadCrumbLink, a.FMBreadCrumbLink:link, a.FMBreadCrumbLink:visited, a.FMBreadCrumbLink:hover, a.FMBreadCrumbLink:visited:hover
  {font-size: 15px; font-weight: bold; text-decoration: none; color: #CCFFFF}
a.FMReplyLink, a.FMReplyLink:link, a.FMReplyLink:visited, a.FMReplyLink:hover, a.FMReplyLink:visited:hover
  {font-size: 10px; text-decoration: none; color: #6600CC}
a.FMLink, a.FMLink:link, a.FMLink:visited, a.FMLink:hover, a.FMLink:visited:hover
  {font-size: 12px; text-decoration: none; color: #0000FF}
a.FMInactiveLink, a.FMInactiveLink:link, a.FMInactiveLink:visited, a.FMInactiveLink:hover, a.FMInactiveLink:visited:hover
  {font-size: 12px; text-decoration: none; color: #AAAAAA}
  
	/* HomePage */
.HPHeadline1
	{font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #ffffff; background: #0033cc; font-weight: bold;}
.HPHeadline2
	{font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #ffffff; background: #66cc33; font-weight: bold;}

.IMDiff
  {font-size: 13px; font-weight: bold; color: red;}

.JBResumeBar
  {font-size: 13px; background: aliceblue; font-weight: bold;}

.MGColor1, .MGColor2
  {font-size: 13px; color: red; font-weight: bold;}
.MGColor2
  {color: navy;}
.MGColor1Large, .MGColor2Large
  {font-size: 15px; color: red; font-weight: bold;}
.MGColor2Large
  {color: navy;}
.MGCopyright
  {font-size: 9px; color: #0033cc; font-weight: normal;}

.MCToolBarLink, .MCToolBar, .MCSelected
  {font-size: 13px; color: #ffffff; font-weight: bold;}
.MCToolBar 
  {background: #3333ff;}
.MCSelected
  {font-size: 11px; background: #000099;}
.MCHeading
  {font-size: 17px; color: #000099; font-weight: bold; text-decoration: none;}

.SCLoginBar
  {font-size: 11px; color: #FFFFFF; font-weight: bold; background: #669900;}

a.SiteMapTitle, a.SiteMapTitle:link, a.SiteMapTitle:visited, a.SiteMapTitle:hover, a.SiteMapTitle:visited:hover
  {font-size: 14px; font-weight: bold; color: cc3300; text-decoration: none; font-family: verdena;}

a.STHeader, a.STHeader:link, a.STHeader:visited, a.STHeader:hover, a.STHeader:visited:hover
  {font-size: 15px; color: #ffffff; text-decoration: none; font-weight: bold;}
.STAdminHeaderBar
 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #CCFFFF; background: #3333ff; font-weight: bold;}

.MCText
  {font-size: 10px; color: #000000;}
.MCTextwhiteBig
  {font-size: 12px; color: #ffffff; font-weight: bold;}
.MCTextwhiteBold
  {font-size: 10px; color: #ffffff; font-weight: bold;}
.MCTextwhite
  {font-size: 10px; color: #ffffff;}
.MCTextwhiteSmall
  {font-size: 10px; color: #ffffff; font-weight: normal;}
.MCToolBar 
  {font-size: 12px; color: #ffffff; font-weight: bold; background: #3333ff;}
.MCHeading
  {font-size: 16px; color: #000099; font-weight: bold; text-decoration: none;}
.MCHeaderBar1
  {font-size: 14px; color: #ffffff; font-weight: bold; background: #ffffff;}
.MCHeaderBar2
  {font-size: 14px; color: #ffffff; font-weight: bold; background: #99cc33;}
.MCHeaderBar3
  {font-size: 14px; color: #000000; background: #e8e8e8;}
.MCSelected
  {font-size: 10px; color: #ffffff; font-weight: bold; background: #000099;}
.MCBold
  {font-size: 10px; color: #000000; font-weight: bold;}
.MCBigBold
  {font-size: 12px; color: #000000; font-weight: bold;}
.MCError
  {font-size: 12px; color: Red; font-weight: bold;}
a.MCFolderLink, a.MCFolderLink:link, a.MCFolderLink:visited, a.MCFolderLink:hover, a.MCFolderLink:visited:hover
  {font-size: 10px; color: #ffffff; font-weight: normal; text-decoration: underline;}
a.MCSelectedFolderLink, a.MCSelectedFolderLink:link, a.MCSelectedFolderLink:visited, a.MCSelectedFolderLink:hover, a.MCSelectedFolderLink:visited:hover
  {font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none;}
a.MCHeaderLink, a.MCHeaderLink:link, a.MCHeaderLink:visited, a.MCHeaderLink:hover, a.MCHeaderLink:visited:hover
  {font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: underline;}
a.MCOldMessageLink, a.MCOldMessageLink:link, a.MCOldMessageLink:visited, a.MCOldMessageLink:hover, a.MCOldMessageLink:visited:hover
  {font-size: 10px; color: #000099; text-decoration: underline;}
a.MCNewMessageLink, a.MCNewMessageLink:link, a.MCNewMessageLink:visited, a.MCNewMessageLink:hover, a.MCNewMessageLink:visited:hover
  {font-size: 10px; color: #000099; font-weight: bold; text-decoration: underline;}
a.MCSelectedLink, a.MCSelectedLink:link, a.MCSelectedLink:visited, a.MCSelectedLink:hover, a.MCSelectedLink:visited:hover
  {font-size: 10px; color: #ffffff; font-weight: bold; text-decoration: underline;}
a.MCNavMenu, a.MCNavMenu:link, a.MCNavMenu:visited, a.MCNavMenu:hover, a.MCNavMenu:visted:hover
  {font-size: 11px; color: #0033cc; font-weight: bold; text-decoration: none;}
a.MCNavMenu:hover, a.MCNavMenu:visted:hover 
  {color: #ffffff;}
.button2
  {font-size: 11px; color: #ffffff; font-weight: normal; background: #000099}

a.SideNav, a.SideNav:link, a.SideNav:visited, a.SideNav:hover, a.SideNav:visited:hover,
a.SideNavSelected, a.SideNavSelected:link, a.SideNavSelected:visited, a.SideNavSelected:hover, a.SideNavSelected:visited:hover,
div.SideNavSelected, div.SideNavSelectedTitle
  {font-size: 11px; color: #003333; text-decoration: none; font-weight: normal;}
a.SideNav:hover, a.SideNav:visited:hover
  {text-decoration: underline; color: 660000}
a.SideNavSelected, a.SideNavSelected:link, a.SideNavSelected:visited, a.SideNavSelected:hover, a.SideNavSelected:visited:hover, div.SideNavSelected, div.SideNavSelectedTitle
  {font-weight: bold;} 
a.SideNavTitle, a.SideNavTitle:link, a.SideNavTitle:visited, a.SideNavTitle:hover, a.SideNavTitle:visited:hover
  {font-size: 11px; color: #003333; text-decoration: none; font-weight: bold;}
a.SideNavSelectedTitle, a.SideNavSelectedTitle:link, a.SideNavSelectedTitle:visited, a.SideNavSelectedTitle:hover, a.SideNavSelectedTitle:visited:hover
  {font-size: 11px; color: #003333; text-decoration: none; font-weight: bold;}
a.SideNavTitle:hover, a.SideNavTitle:visited:hover, a.SideNavSelectedTitle:hover, a.SideNavSelectedTitle:visited:hover
  {color: 003333; text-decoration: underline}

.TLSubHeaderBar
  {font-size: 12px; color: #000000; font-weight: bold; background: #B0B8EF;}
.TLReturnMsg
  {font-size: 12px; color: #9966FF; font-weight: bold;}
.TLRow1
  {background: #FFFFFF;}
.TLRow2
  {background: #E8E8E8;}
a.TLLink, a.TLLink:link, a.TLLink:visited, a.TLLink:hover, a.TLLink:visited:hover
  {font-size: 12px; text-decoration: none; color: #0000FF}

a.TopNav, a.TopNav:link, a.TopNav:visited, a.TopNav:hover, a.TopNav:visited:hover,
a.TopNavSelected, a.TopNavSelected:link, a.TopNavSelected:visited, a.TopNavSelected:hover, a.TopNavSelected:visited:hover,
div.TopNavSelected, div.TopNavSelectedTitle
  {font-size: 13px; color: white; text-decoration: none; font-weight: normal;}
a.TopNav:hover, a.TopNav:visited:hover
  {color: yellow;}
a.TopNavSelected, a.TopNavSelected:link, a.TopNavSelected:visited, a.TopNavSelected:hover, a.TopNavSelected:visited:hover, div.TopNavSelected, div.TopNavSelectedTitle
  {font-weight: bold;} 
a.TopNavTitle, a.TopNavTitle:link, a.TopNavTitle:visited, a.TopNavTitle:hover, a.TopNavTitle:visited:hover
  {font-size: 13px; color: white; text-decoration: none; font-weight: bold;}
a.TopNavSelectedTitle, a.TopNavSelectedTitle:link, a.TopNavSelectedTitle:visited, a.TopNavSelectedTitle:hover, a.TopNavSelectedTitle:visited:hover
  {font-size: 13px; color: white; text-decoration: none; font-weight: bold;}
a.TopNavTitle:hover, a.TopNavTitle:visited:hover, a.TopNavSelectedTitle:hover, a.TopNavSelectedTitle:visited:hover
  {color: yellow;}
a.TopLink, a.TopLink:link, a.TopLink:visited, a.TopLink:hover, a.TopLink:visited:hover
  {font-size: 9px; color: #663300; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif;}

.TPHeader
  {font-size: 14px; font-weight: bold; color: cc3300; font-family: verdena;}
.TPTitle
  {font-size: 14px; font-weight: bold; color: #000099;}
.TPCMBody
  {font-size: 12px;}
a.TPLink, a.TPLink:link, a.TPLink:visited, a.TPLink:hover, a.TPLink:visited:hover
  {font-size: 12px; text-decoration: none; color: #990000;  font-family: verdena;}
a.TPLinkSelected, a.TPLinkSelected:link, a.TPLinkSelected:visited, a.TPLinkSelected:hover, a.TPLinkSelected:visited:hover
  {font-size: 11px; text-decoration: none; color: #990000; font-weight: bold;}
  
.CalendarActive, a.CalendarActive, a.CalendarActive:link, a.CalendarActive:visited, a.CalendarActive:hover, a.CalendarActive:visited
  {font-size: 13px; font-weight: normal; text-decoration: none; color: black}
a.CalendarActive, a.CalendarActive:link, a.CalendarActive:visited, a.CalendarActive:hover, a.CalendarActive:visited
  {font-size: 10px;}
a.CalendarArchived, a.CalendarArchived:link, a.CalendarArchived:visited, a.CalendarArchived:hover, a.CalendarArchived:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: none; color: #996633;}
.CalendarUnapproved, a.CalendarUnapproved, a.CalendarUnapproved:link, a.CalendarUnapproved:visited, a.CalendarUnapproved:hover, a.CalendarUnapproved:visited:hover
  {font-size: 13px; font-weight: normal; text-decoration: none; color: #336699;}
a.CalendarUnapproved, a.CalendarUnapproved:link, a.CalendarUnapproved:visited, a.CalendarUnapproved:hover, a.CalendarUnapproved:visited:hover
  {font-size: 10px;}
.CalendarSmall, .CalendarSmallHeader
  {font-size: 10px; font-weight: normal; text-decoration: none; color: black;}
.CalendarSmallHeader
  {font-weight: bold; color: white; background: #00009c;}
a.CalendarSmall, a.CalendarSmall:link, a.CalendarSmall:visited, a.CalendarSmall:hover, a.CalendarSmall:visited:hover
  {font-size: 9px; font-weight: normal; text-decoration: underline; color: black}
a.CalendarSmall:hover, a.CalendarSmall:visited:hover
  {color: #ff0000;}
.CalendarExpos, a.CalendarExpos, a.CalendarExpos:link, a.CalendarExpos:visited, a.CalendarExpos:hover, a.CalendarExpos:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: none; color: #cc3333}
a.CalendarExpos, a.CalendarExpos:link, a.CalendarExpos:visited, a.CalendarExpos:hover, a.CalendarExpos:visited:hover
  {text-decoration: underline;}
.CalendarHoliday 
  {font-size: 10px; font-weight: normal; text-decoration: none; color: #000000}
td.CalendarChapter 
  {font-size: 10px; font-weight: normal; text-decoration: none; color: MidnightBlue}
a.CalendarChapter, a.CalendarChapter:link, a.CalendarChapter:visited, a.CalendarChapter:hover, a.CalendarChapter:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: underline; color: MidnightBlue}
.CalendarAskExpert, a.CalendarAskExpert, a.CalendarAskExpert:link, a.CalendarAskExpert:visited, a.CalendarAskExpert:hover, a.CalendarAskExpert:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: none; color: #339999}
a.CalendarAskExpert, a.CalendarAskExpert:link, a.CalendarAskExpert:visited, a.CalendarAskExpert:hover, a.CalendarAskExpert:visited:hover
  {text-decoration: underline;}
td.CalendarPersonal 
  {font-size: 13px; font-weight: normal; text-decoration: none; color: Green}
a.CalendarPersonal, a.CalendarPersonal:link, a.CalendarPersonal:visited, a.CalendarPersonal:hover, a.CalendarPersonal:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: underline; color: Green}
.CalendarStandard, a.CalendarStandard, a.CalendarStandard:link, a.CalendarStandard:visited, a.CalendarStandard:hover, a.CalendarStandard:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: none; color: #999933}
a.CalendarStandard, a.CalendarStandard:link, a.CalendarStandard:visited, a.CalendarStandard:hover, a.CalendarStandard:visited:hover
  {text-decoration: underline;}
.CalendarOther, a.CalendarOther, a.CalendarOther:link, a.CalendarOther:visited, a.CalendarOther:hover, a.CalendarOther:visited:hover
  {font-size: 10px; font-weight: normal; text-decoration: none; color: Purple}
a.CalendarOther, a.CalendarOther:link, a.CalendarOther:visited, a.CalendarOther:hover, a.CalendarOther:visited:hover
  {text-decoration: underline;}

div.breadcrumb
  {font-size: 11px; color: 333333;}
a.breadcrumb, a.breadcrumb:link, a.breadcrumb:visited, a.breadcrumb:hover, a.breadcrumb:visited:hover
  {font-size: 11px; color: 999966; text-decoration: none; font-weight: normal}
a.breadcrumb:hover, a.breadcrumb:visited:hover
  {color: 003300; text-decoration: underline;}
a.navmenu, a.navmenu:link, a.navmenu:visited, a.navmenu:hover, a.navmenu:visited:hover
  {font-size: 14px; color: blue; text-decoration: none;}
a.navmenu:hover, a.navmenu:visited:hover
  {font-size: 14px; text-decoration: underline;}
a.navmenusmall, a.navmenusmall:link, a.navmenusmall:visited, a.navmenusmall:hover, a.navmenusmall:visited:hover
  {font-size: 11px; color: blue; text-decoration: none;}
a.navmenusmall:hover, a.navmenusmall:visited:hover
  {color: Red; text-decoration: underline;}
td.navmenu
  {font-size: 14px;}
td.navmenusmall
  {font-size: 11px;}
td.navmenusmbold
  {font-size: 11px; font-weight: bold;}
td.sitename
  {font-size: 19px; color: #ffffff;}
input.button
  {font-size: 13px; color: #ffffff; background: #0033CC; font-family: verdana, sans-serif;}
input.smbutton
  {font-size: 11px; color: #ffffff; background: #0033CC; font-family: verdana, sans-serif;}
i.navmenu
  {font-size: 11px; text-decoration: italics;}
i.navmenuCFM
  {font-size: 11px; color: Crimson; text-decoration: italics;}
i.navmenuLink
  {font-size: 11px; color: MediumSeaGreen; text-decoration: italics;}
blockquote.preview
  {font-size: 11px;}
a.Red
  {font-size: 14px; font-weight: Bold; color: Red; text-decoration: none;} 
a.SiteName, a.SiteName:link, a.SiteName:visited, a.SiteName:hover, a.SiteName:visited:hover
  {font-size: 19px; color: #ffffff; font-weight: bold; text-decoration: none;}
a.Delete, a.Delete:link, a.Delete:visited, a.Delete:hover, a.Delete:visited:hover
  {font-size: 11px; color: #cc0000; font-weight: bold; text-decoration: none;}
a.large, a.large:link, a.large:visited, a.large:hover, a.large:visited:hover
  {font-size: 17px; color: blue; font-weight: normal; text-decoration: underline;}

font.SUSmall
  {font-size: 11px; font-family: verdana, arial, helvetica, sans-serif;}
td.SUHeaderBar
  {font-weight: bold; color: white; background: #0033CC;}
.SUMedium
  {font-size: 13px;}
a.SUMedium, a.SUMedium:link, a.SUMedium:visited, a.SUMedium:hover, a.SUMedium:visited:hover
  {font-size: 13px; text-decoration: none; color: blue;}
a.SUMedium:visited
  {color: purple;}
a.SUMedium:hover
  {text-decoration: underline; color: red;}
  
/* Admin Template Styles */
.AdminNavTable2, .AdminNavTable3, .AdminNavTable4, .AdminNavTable5
  {border-color: #000000; text-align: center; padding: 0; background: #0033cc;}
.AdminNavTable3
  {background: #66ff00;}
td.AdminNavTable
  {width: 20%; text-align: center; padding: 0; text-align: center; font-size: 10px;}
/*  All Top Nav Links and First Row (Level 2's): normal and selected */
a.AdminNavLink2, a.AdminNavLink2:link, a.AdminNavLink2:visited, a.AdminNavLink2:hover,
a.AdminNavLink3, a.AdminNavLink3:link, a.AdminNavLink3:visited, a.AdminNavLink3:hover
  {color: #99ffff; background: #0033cc; width: 100%; height: 100%; text-decoration: none; font-weight: normal; font-size: 10px;}
a.AdminNavLink2Selected, a.AdminNavLink2Selected:link, a.AdminNavLink2Selected:visited, a.AdminNavLink2Selected:hover,
a.AdminNavLink3Selected, a.AdminNavLink3Selected:link, a.AdminNavLink3Selected:visited, a.AdminNavLink3Selected:hover,
a.AdminNavLink2:hover
  {color: #0033cc; background: #99ccff; font-weight: normal; width: 100%; height: 100%; text-decoration: none; font-size: 10px;}
/*  Second Row (Level 3's)  */
a.AdminNavLink3, a.AdminNavLink3:link, a.AdminNavLink3:visited, a.AdminNavLink3:hover
  {color: #000000; background: #66ff00;}
a.AdminNavLink3Selected, a.AdminNavLink3Selected:link, a.AdminNavLink3Selected:visited, a.AdminNavLink3Selected:hover, a.AdminNavLink3:hover
  {color: #33cc00; background: #ffffff;}
  
.Footer
  {font-size: 10px; color: #666666;} 
a.IntFooterLink, a.IntFooterLink:link, a.IntFooterLink:visited, a.IntFooterLink:hover, a.IntFooterLink:visited:hover
  {font-size: 10px; color: #CC6633;} 
a.FooterLink, a.FooterLink:link, a.FooterLink:visited, a.FooterLink:hover, a.FooterLink:visited:hover
  {font-size: 10px; color: #999999;} 
  
.HomeNewsText, .HomeNewsText:link, .HomeNewsText:hover, .HomeNewsText:visited
  {font-size: 11px; font-weight: normal; color: #003333; text-decoration: none;}
.HomeNewsText:hover, .HomeNewsText:visited:hover
  {font-size: 11px; font-weight: normal; color: #003333; text-decoration: underline;}
.HomeBoxLink, .HomeBoxLink:link, .HomeBoxLink:hover, .HomeBoxLink:visited
  {font-size: 11px; font-weight: bold; color: #cc3300; text-decoration: none;}
.HomeBoxLink:hover, .HomeBoxLink:visited:hover
  {font-size: 11px; font-weight: bold; color: #cc3300; text-decoration: underline;}
.HomeBoxText
  {font-size: 11px; color: #333333}
  
.MSCommitteeTypeName
  {font-size: 25px;}
.MSCommitteeName
  {font-size: 15px; color: #A8823F; font-weight: bold;}
