.txtmain {
	font: 11px/1.4em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
a:link {
	color: #820000;
	text-decoration: underline;
}
a:visited {
	color: #333333;
	text-decoration: underline;
}
a:hover {
	color: #820000;
	text-decoration: none;
}
.quoteAuth {
	font: 11px/1.1em Arial, Helvetica, sans-serif;
	color: #820000;
	text-align: right;
	padding-top: 5px;
	padding-right: 11px;
}
.quote {
	font: 13px/1.3em Georgia, "Times New Roman", Times, serif;
	color: #820000;
}
.btmlinks {
	font: 10px/1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFCC;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btmtext {
	font: 10px/1.4em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	letter-spacing: 0.02em;
	margin: 0px;
	padding-bottom: 4px;
}
.copyright {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	margin: 0px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 6px;
}
.logo1 {
	background-color: #666634;
	background-image: url(../images/home/logo.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 295px;
	height: 156px;
}
.topbar {
	background-color: #820000;
	background-image: url(../images/home/topbar.gif);
	background-repeat: repeat-x;
	height: 38px;
}
.tagtop {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 28px;
	margin: 0px;
	vertical-align: middle;
	height: 59px;
}
.topspace {
	height: 33px;
	background-color: #666634;
}
.navback {
	width: 278px;
}
body {
	background-color: #C1C287;
	margin: 0px;
	padding: 0px;
}
.topbar2 {

	background-color: #820000;
	background-image: url(../images/secondary/topbarsec.gif);
	background-repeat: repeat-x;
	height: 34px;
}
.logo2 {
	background-color: #666634;
	width: 225px;
	height: 128px;
	text-align: right;
}
.navback2 {
	background-color: #666634;
	width: 200px;
	background-image: url(../images/lotus/lotusbowlsec.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 33px;
}
.tagtop2 {

	background-color: #C1C287;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 28px;
	margin: 0px;
	vertical-align: middle;
	height: 40px;
}
.topspace2 {

	background-color: #666634;
	height: 28px;
}
.tdmain {
	font: 11px/1.4em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width: 666px;
}
.quote2 {
	font: italic bold 12px/1.4em Arial, Helvetica, sans-serif;
	color: #820000;
}
.btmlinks a:link {
	font: 10px/1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFCC;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.btmlinks a:visited {
	font: 10px/1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFCC;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.btmlinks a:hover {
	font: 10px/1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFCC;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: underline;
}
.txtform1 {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #DADBB7;
	border-top: 2px solid #666634;
	border-right: 2px solid #666634;
	border-left: 2px solid #666634;
}
.hdmeals {
	color: #820000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003300;
	font: bold 14px/2em Verdana, Arial, Helvetica, sans-serif;
}
.txtform2 {

	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #DADBB7;
	border-top: 2px solid #666634;
	border-right: 2px solid #666634;
}
.txtform3 {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #DADBB7;
	border: 2px solid #666634;
}
.txtlinks {
	font: 11px/1.4em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #820000;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.txtlinksrt {
	font: 11px/1.4em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
}
.hdlinks {
	color: #000000;
	font: bold 12px/1.25em Verdana, Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}
.capt {
	font: bold 11px/1.4em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: center;
	width: 210px;
}
.homeleft {
	background-image: url(../images/lotus/lotusbowlhome.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
h1 {
	font: bold 13px/1.2em Arial, Helvetica, sans-serif;
	color: #820000;
	margin: 0px;
	padding: 0px;
}
.txtgrnborder {
	font: bold 11px/1.35em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 2px solid #666634;
	vertical-align: bottom;
}
.homegrad {
	background-color: #666634;
	background-image: url(../images/home/homegrad.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	height: 267px;
}
.txt_hilightbox {
	font: bold 11px/1.3em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFCC;
	background-color: #8B8B47;
	margin: 0px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
}
.txt_hilightbox a:link {
	color: #FFFFCC;
	text-decoration: none;
}
.txt_hilightbox a:visited {
	color: #FFFFCC;
	text-decoration: none;
}
.txt_hilightbox a:hover {

	color: #FFFFCC;
	text-decoration: underline;
}
