.pageHead              { font-size: 200%; font-weight: bold; margin-top: 1em;}
.partial               { display: inline; color: #333; background-color: #DADADA;}  /* Partial seasons are sedated in color. */

.full                  { display: inline; }
.splitHead             { font-weight:bold; border-top: 1px solid gray; margin-bottom: 0em; padding-bottom: 0em;}

.change                { display: none; }

.statHead              { background: #d0d0d0;  padding: 0.3em 0.3em 0.3em 0em; }
.statHeadName          { background: #9cf; font-weight:bold; font-size: 155%; padding: 0.2em; }
.statHeadNameSmall     { background: #9cf; font-weight:bold; font-size: 135%; padding: 0.2em; }
.statHeadNameTiny      { background: #9cf; font-weight:bold; font-size: 115%; padding: 0.25em; }
.pimore                { display: inline; }

.selectStat            { color: blue; text-decoration: underline; cursor: pointer; background-color: white; }
.sumHead               { font-weight:bold; border-bottom: 1px solid black; }
.toggleLink            { color: blue; text-decoration: underline; cursor: pointer; }

.formLink            { color: #c30; text-decoration: none; cursor: pointer; background-color: #fff; }
.formLinkBig         { font-size: 130%; color: #c30; text-decoration: none; cursor: pointer; background-color: #fff; }
.formLinkBigHide     { font-size: 130%; color: #c30; text-decoration: none; cursor: pointer; background-color: #fff; color: #fff; }
.formLinkExplain     { color: #c30; text-decoration: none;  background-color: #fff; }

#fieldByPos            { display: none; }
#fieldByPosExplain     { display: none; }
#fieldByYear           { display: inline; }
#fieldByYearExplain    { display: none; }

P#TSN_AD { background: #9F9; text-align: left; }

.tooltip           {  text-decoration: none; color: #c30; cursor: pointer; }
.tooltipOff        {  text-decoration: none; color: #000;  }
.neutralize        { margin-left: 100px; margin-bottom:0em;}
.pitag             {  background-color:#000; color: #fff; font-size:80%; padding: .1em .3em .1em .3em; }

.PiSubscribeButton {
   color:#009;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:125%;
   font-weight:bold;
   text-decoration: underline;
   background-color:#ff6;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;}