body{
 background-color: #888888;
 margin: 0px;
 padding: 2%;
}

a{
 color:#333333;
 text-decoration:none;
 border-bottom:1px dashed#FF9900;
}

a:hover,a:active{
 color:#FF9900;
 border-bottom:1px solid#FF9900;
}

.style1 {font-size: small}
