div#sitemenus {background-color:#102142;}
div#header {background-image: url(http://vmedia.rivals.com/images/templates/arizona_header06.jpg);background-color: #102142;}
div#header1 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_fb06.jpg);background-color: #102142;}
div#header2 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_fbrecr06.jpg);background-color: #102142;}
div#header3 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_bb06.jpg);background-color: #102142;}
div#header4 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_bbrecr06.jpg);background-color: #102142;}
div#headervideo {background-image: url(http://vmedia.rivals.com/images/templates/arizona_video06.jpg);}
table#header {background-image: url(http://vmedia.rivals.com/images/templates/arizona_header06.jpg);background-color: #102142;}
table#header1 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_fb06.jpg);background-color: #102142;}
table#header2 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_fbrecr06.jpg);background-color: #102142;}
table#header3 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_bb06.jpg);background-color: #102142;}
table#header4 {background-image: url(http://vmedia.rivals.com/images/templates/arizona_bbrecr06.jpg);background-color: #102142;}
table#headerf {background-image: url(http://vmedia.rivals.com/images/templates/arizona_mb06.jpg);background-color: #102142;}
table#headervideo {background-image: url(http://vmedia.rivals.com/images/templates/arizona_video06.jpg);}
p.primaryheader {background-color: #102142;}
div.selectorheader p {background-color: #102142;}
div.selectorheader a.selected {background-color: #102142;}
img.fontnow {border:3px solid #102142;}
table.collegechoices tr.header td.schools {background-color: #102142;}
tr#committed td {color:#102142;}
tr.selectorheader p {background-color: #102142;}
tr.selectorheader a.selected {background-color: #102142;}
tr#committed td {color:#102142;}
td.navmenu{background-image:url(http://vmedia.rivals.com/images/templates/arizona_navlinkbg.gif);}
.fnavborder {border: 2px solid #BC0138;}
td.fnavborderright {border-right: 1px solid #BC0138;}
td.fnavborderleft {border-left: 1px solid #BC0138;}
td.fnavbg {background-color: #BC0138; color: #ffffff;}
td.fnavbg a {color: #102142; text-decoration: none;}
td.fnavbg A:hover {background-color: #7d0125; text-decoration: none;}
div.MenuItem{color:#FFFFFF;}
div.MenuItemSelected{color:#102142;}
div.MenuItemDropdown{color:#000000; background-color:#ece9e2;}
div.MenuItemDropdownSelected{color:#ffffff; background-color:#102142;}
.navmenu p {border-right: 1px solid #7d0125;}
