body
	{
	background-color: #fff;
	margin: 20px 0 0 0;
	padding: 0;
	text-align: center;
	}

img
	{
	border: 0;
	padding: 10px 0 10px 10px;
	}

h1
	{
	color: #369;
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	}

h2
	{
	color: #000;
	margin: 10px 0 0 0;
	padding: 20px 0 10px 0;
	font-size: 12px;
	}

h3, h4
	{
	color: #000;
	margin: 0;
	padding: 0;
	}

h3
	{
	font-size: 12px;
	}

h4
	{
	font-size: 11px;
	}

body, p, h1, h2, h3
	{
	font-family: verdana, helvetica, arial, geneva, sans-serif;
	}

a
	{
	text-decoration: none;
	}

div#page
	{
	width: 690px;
	margin: 0px auto;
	padding-bottom: 20px;
	text-align: left;
	}
	
div#callout
	{
	color: #999;
	font-size: 11px;
	line-height: 16px;
	height: 85px;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px 3px 0 10px;
	font-family: helvetica, verdana, arial, geneva, sans-serif;
	}

div#content
	{
	margin: 0 0 0 190px;
	padding: 0 0 20px 0;
	width: 450px;
	}

div#content p, div#content ul li, div#content ol li, div#content form table tr td
	{
	color: #000;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
	font-family: verdana, helvetica, arial, geneva, sans-serif;
	}

div#content p
	{
	padding: 0 0 10px 0;
	}

div#content p img
	{
	float: right;
	display: inline-block;
	padding-left: 10px;
	}

div#content ul, div#content ol
	{
	margin: 0 0 0 15px;
	padding: 0 0 10px 0;
	}

div#content ul li
	{
	padding: 0;
	list-style-type: square;
	}

div#content ol li
	{
	padding: 0;
	}
	
div#content a
	{
	color: #c90;
	text-decoration: none;
	}

div#content a:hover
	{
	color: #fc3;
	text-decoration: underline;
	}

.posted
	{
	font-size: 9px;
	line-height: 11px;
	margin-bottom: 15px;
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #eee;
	}

div#leftcolumn a:hover, ul#subpage li a:hover
	{
	color: #fc3;
	}

div#leftcolumn
	{
	float: left;
	width: 169px;
	margin: 0;
	padding: 5px 0 0 5px;
	font-family: helvetica, verdana, arial, geneva, sans-serif;
	color: #369;
	font-size: 10px;
	line-height: 21px;
	font-weight: bold;
	}

div#leftcolumn p
	{
	color: #369;
	font-size: 10px;
	line-height: 21px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	}

div#leftcolumn p a, div#leftcolumn a
	{
	color: #c90;
	}

div#leftcolumn ul
	{
	padding: 0;
	margin: 0 0 10px 0;
	list-style-type: square;
	font-family: helvetica, verdana, arial, geneva, sans-serif;
	}
	
div#leftcolumn ul li
	{
	color: #369;
	font-size: 10px;
	line-height: 14px;
	font-weight: normal;
	background-color: #fff;
	padding: 0;
	margin: 0 0 0 15px;
	}

div#leftcolumn ul li a
	{
	color: #c90;
	text-decoration: none;
	}

.formbutton
{
	font-size: 9px;
	font-weight: bold;
	color: #fff;
	background: #fc3;
	background-color: #c90;
}

div#powered
	{
	color: #999;
	font-size: 9px;
	line-height: 11px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

div#powered a
	{
	color: #c90;
	text-transform: none;
	font-weight: normal;
	}

div#powered a:hover
	{
	color: #fc3;
	text-decoration: underline;
	font-weight: normal;
	}