@import url(http://www.washingtonpost.com/wp-adv/css/sponsorship.css);

#wrapperClassified {
  /* float:right; */
  font-family:arial,sans-serif;
  font-size:8pt;
  margin-bottom:5px;
}
#ClassifiedHeader {
  padding:5px;
  background-color:#5B87B8;
  text-transform:uppercase;
  color:#FFFFFF;
  font-weight:bold;
}
#ClassifiedHeader span {
  font-size:smaller;
  font-weight: normal;
}
#ClassifiedBody {
  padding:5px;
  background-color:#EFF3F7;
  color:#0C4790;
  font-weight:normal;
}
.ClassifiedLink {
	padding-bottom:3px;
}
#ClassifiedBody a {
  font-weight:bold;
}
#TJBody a:link {
  color:#0C4790;
}
#ClassifiedBody a:visited {
  color:#333366;
}