@import url("cal.css");
.main {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	color: #222222;
; font-weight: normal
}
.mainBold {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.footer {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.white { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #FFFFFF; }
.textfield { 
font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; 
font-size: 12px; color: #000000; 
text-decoration: none; 
background-color: #FFFFFF; 
border: 1px #999999 solid
}
.button { font-family: Verdana, "Microsoft Sans Serif", Arial ; font-size: 9px;  color: #FFFFFF; text-decoration: none; background-color: 8C8C8C; border: 1px #000000 solid; padding-right: 1px; padding-left: 1px; padding-top: 1px; padding-bottom: 0px; font-weight: bold}
.noVrepeat {
	background-repeat: repeat;
}
a:link {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	color: #2C537A;
}
a:visited {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	color: #2C537A;
}
a:hover {
	color: #999999;
}
body {  font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #000000;  background-color: #ffffff; }
select {  font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px}
.whiteBold { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 9px; color: #FFFFFF; ; font-weight: bold}
.blackBold { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #333333; ; font-weight: bold }
.redBold { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #FF0000; ; font-weight: bold }
.small {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #333333}

a.linkHeader:link {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.linkHeader:visited {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.linkHeader:hover {
	color: #333333;
}
.redBig { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #FF0000; ; font-weight: bold }
a.linkBig:link {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	color: #2C537A;
	text-decoration: underline;
	font-weight: bold;
}
a.linkBig:visited {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 12px;
	color: #2C537A;
	text-decoration: underline;
	font-weight: bold;
}
a.linkBig:hover {
	color: #333333;
}.blueMed { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #00496C; }
.headerTDBlue { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #FFFFFF; background-color: #5C6983; height: 18px; font-weight: bold}
.pageHeader {  font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 13px; font-weight: normal; color: #003366}
.orangeBold { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #FF7700; ; font-weight: bold }
.blue { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #00496C; }
.bgLightBlue {  background-color: #F0F3F4}
.blueNormal { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; font-weight: normal; color: #00496C; }
.leftBar {  font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; background-color: D6D6D6; width: 160px}
.headerTDYellow { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; background-color: #e0b705; height: 18px }
.gray { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #444444; ; font-weight: normal }
.red {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 13px;
	color: #FF0000;
	font : bold;
}
.devider {  background-color: #CCCCCC; width: 1px}
.bgBlue {  background-color: #DCEBEF}
.mainArea {  font-family: "Microsoft Sans Serif", Arial, Verdana; font-size: 12px; background-color: #FFFFFF}
.msg { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 12px; color: #FF0000; }

.footer {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #222222}

a.linkFooter:link {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
a.linkFooter:visited {
	font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
a.linkFooter:hover {
	color: #333333;
}
.orange { font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 9px; color: #FF7700; ; font-weight: normal}
.small { font-family: Verdana; font-size: 12px; color: #222222; ; font-weight: normal }
.small2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; font-family: Verdana; font-size: 9px; color: #222222; ; font-weight: normal }
.med {
	font-size: 12px;
	font-weight: bold;
}
form {  margin: 0px}
.headerTD {
font-family: Arial, "Microsoft Sans Serif", Verdana, sans-serif; font-size: 11px; color: #FFFFFF; background-color: #5C6983; height: 18px; font-weight: bold
}
.labelBlue {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2D5A60;
}
.textMustardBig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #D3B55F;
}
.textSerif {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
.textMustard {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #D3B55F;
}
.textBlueBig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #538A8D;
	font-weight: bold;
}
.redColor{color:#D30000;}
.blackColor{color:#000000;}