
#LISstylelinks a, #LISstylelinks a:link, #LISstylelinks a:visited {
 color: #000;  
 background-color: transparent; 
 text-decoration: none;
 }
#LISstylelinks a:hover, #LISstylelinks a:active  {
 color: #c03;  
 background-color: transparent; 
 text-decoration: underline;
 }
/***  Side NavBar   ****/

#LISnavBar {
	color: #777; 	
	background-color: #fff; 
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	}
#LISQucikLinks {
	color: #777; 	
	background-color: #fff; 
	width: 175px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 20px;
	}
#LISnavHome, #LISnavServices, #LISnavInformation {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 90%;
	position: static;
	top:0px;
	left:0px;
	}	
#LISnavBar a, #navBar a:link, #navBar a:visited {
	color: #333; 	
	background-color: transparent; 
	padding-right: 5px;
	text-decoration: none;
	}
#LISnavBar a:hover, #navBar a:active  {
	color: #c03; 	
	background-color: transparent; 
	text-decoration: underline;
	}
	
	
#LISnavBar a.navMainLink {
	color: #039;
	background-color: transparent; 
	font-weight: bold;
	padding-right: 5px;
	}
#LISnavBar a.navMainLink:link, #navBar a.navMainLink:visited {
	color: #039;  	
	background-color: transparent; 
	text-decoration: none;
	}
#LISnavBar a.navMainLink:hover, #navBar a.navMainLink:active  {
	color: #c03; 	
	background-color: transparent; 
	text-decoration: underline;
	}
#LISnavBar br {
	line-height: 8px;
	}

.LISsubnav {
	padding-left: 10px;
	}
	


	
