A  {
	text-decoration : none;
	font-weight : normal;
	font-style : normal;
	color : #b5b5b5;
}

A:Visited  {
	text-decoration : none;
}

A:Active  {
	text-decoration : none;
	font-weight : normal;
	font-style : normal;
	color : #b5b5b5;
}

A:Hover  {
	text-decoration : none;
	font-weight : normal;
	font-style : normal;
	color : #004080;
}

BODY  {}

.text  {
	font-size : 11px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #8C8C8C;
}

.textb  {
	font-size : 11px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #004080;
}

.textl  {
	font-size : 15px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #b5b5b5;
}

.textbr  {
	font-size : 14px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #a0898a;
}

.textl2  {
	font-size : 16px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #7f8fa8;
}

.textl3  {
	font-size : 14px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #7f8fa8;
}

.textl4  {
	font-size : 12px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #7f8fa8;
}
.textl4_2  {
	font-size : 12px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #7f8fa8;
	line-height: 16px;
}

.textg  {
	font-size : 11px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #3c7b6d;
}

.text3  {
	font-size : 11px;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : #FFFFFF;
}

.boldtextb  {
	font-size : 11px;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : #8C8C8C;
}

.textw  {
	font-size : 11px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #FFFFFF;
  }
  SELECT  {
  	font-family : Verdana, Tahoma, sans-serif;
  	font-size : 11px;
  	color : black;
  	background-color : WhiteSmoke;
	border-width: 1px;
  	border-style : outset;
  	border-color : Silver;
  }
  INPUT {
  	font-family : Verdana, Tahoma, sans-serif;
  	font-size : 11px;
  	color : black;
	border-width: 1px;
  	background-color : WhiteSmoke;
  	border-style : solid;
  	border-color : #2F4F4F;
  }




.text4 {
	font-size : 9px;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color: #8c8c8c;
}
.pricetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #004080;
}
