.tableBorderThin {
	border-style:solid;
	border-width:1px;
	border-color:black;
}
.defaultText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color: #000000;
	background-color : transparent;
}

.superscript{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 6pt;
	color: #000000;
	background-color : transparent;
	vertical-align : super;
}

.smallItalicText{
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size: 8pt;
}

.smallText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

.smallBoldText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight: bold;
}

.defaultBoldText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight: bold;
}

.largeBoldText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-weight: bold;
}

.largeText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
}
.messageText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color: #ff0000;
	background-color : #ffffff;
}

.mainTitle {
	FONT-WEIGHT: bold;
        FONT-SIZE: 12pt;
        COLOR: #ffffff;
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        BACKGROUND-COLOR: #cc0000;
        TEXT-ALIGN: center
}

.pageTitleText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16pt;
        font-style: italic;
        color: #000000;
	background-color : #ffffff;
}

.pageTitle2Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16pt;
        font-style: italic;
		font-weight: bold;
        color: #990000;
	background-color : #ffffff;
}

.pageHeader1Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18pt;
        font-style: bold;
		font-weight: bold;
        color: #000000;
	background-color : #ffffff;
}

.pageHeader2Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 22pt;
        font-style: bold;
		font-weight: bold;
        color: #990000;
	background-color : #ffffff;
}

.pageHeader3Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18pt;
        font-style: bold;
		font-weight: bold;
        color: #990000;
	background-color : #ffffff;
}

.pageHeader4Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16pt;
        font-style: bold;
		font-weight: bold;
        color: #990000;
	background-color : #ffffff;
}

.menuTabs, .menuTabs:LINK, .menuTabs:HOVER, .menuTabs:ACTIVE, .menuTabs:VISITED{
	font-family : "Arial, Helvetica, sans-serif";
	font-size : 10pt;
	font-style: normal;
	color: #ffffff;
	background-color : #006633;
}

.whiteText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	background-color : #006633;
}

.navTableHeader{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	vertical-align: middle;
        color: #ffffff;
	background-color : #cc0000;
}

.navTableHeaderSmall{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	vertical-align: middle;
        color: #ffffff;
	background-color : #cc0000;
}

.navTableEntry{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	vertical-align: middle;
        color: #ffffff;
	background-color : #006633;
}

.navTableEntrySmall{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	vertical-align: middle;
        color: #ffffff;
	background-color : #006633;
}


.tableHeader, .tableHeader:LINK, .tableHeader:HOVER, .tableHeader:ACTIVE, .tableHeader:VISITED{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color : #006633;
	color: #ffffff;
}

.tableHeaderAlt, .tableHeaderAlt:LINK, .tableHeaderAlt:HOVER, .tableHeaderAlt:ACTIVE, .tableHeaderAlt:VISITED{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	background-color : #cc0000;
	color: #ffffff;
}

.tableHeaderSmall{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color : #336699;
	color: #ffffff;
}


.tableFooter{
	font-family : Arial, Helvetica, sans-serif;
	background-color : #336699;
	color: #ffffff;
}

.tableEntry{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color: #ffffff;
	color: #000000
}

.tableEntryBold{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight: bold;
	background-color: #ffffff;
	color: #000000
}

.tableEntryWarning{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	background-color: #FFCCCC;
	color: #000000
}


.tableEntrySmall{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color: #ffffff;
	color: #000000
}

.tableEntryAlt{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color: #99CCCC;
	color: #000000;
}

.tableEntryAlt2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color: #CCCCCC;
	color: #000000;
}

.tableEntryAltBold{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight: bold;
	background-color: #99CCCC;
	color: #000000;
}

.tableEntryWarningAlt{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	background-color: #CC6666;
	color: #000000;
}

.tableEntrySmallAlt{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color: #99CCCC;
	color: #000000;
}
.tableEntrySubPar{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #cc0000;
}

.tableEntryAbovePar{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight: bold;
	background-color: #000000;
	color: #ffffff;
}

.tableEntryBottomButtonBar{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	background-color: #99CCCC;
	color: #000001;
	font-weight: bold;   
        border-top: groove 2px #99ccff;
}

.tableEntryGrooved{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	background-color: #006633;
	color: #ffffff;
        border-top: groove 2px #99ccff;
	border-bottom : groove 2px #99ccff;
	border-left : groove 2px #99ccff;
	border-right : groove 2px #99ccff;
}

.tableEntryGroovedSmall{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	background-color: #336699;
	color: #ffffff;
        border-top: groove 2px #99ccff;
	border-bottom : groove 2px #99ccff;
	border-left : groove 2px #99ccff;
	border-right : groove 2px #99ccff;
}

.tableGrooved{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
        border-top: groove 2px #99ccff;
	border-bottom : groove 2px #99ccff;
	border-left : groove 2px #99ccff;
	border-right : groove 2px #99ccff;
}

.tableGroovedLeft{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
        border-top: groove 2px #99ccff;
	border-bottom : groove 2px #99ccff;
	border-left : groove 2px #99ccff;
}

.tableGroovedRight{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
        border-top: groove 2px #99ccff;
	border-bottom : groove 2px #99ccff;
	border-right : groove 2px #99ccff;
}

.tableGroovedHorizontal{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
        border-top: groove 2px #99ccff;
	border-bottom : groove 2px #99ccff;
}

.formfield {
	BORDER-RIGHT: #cccccc 1px inset; BORDER-TOP: #cccccc 1px inset; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px inset; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}

A:ACTIVE {
	color : #CC0000; TEXT-DECORATION: underline
}

A:HOVER {
	color : #CC0000; TEXT-DECORATION: underline
}

A:LINK {
	color : #000066;
}

A:VISITED{
	color : #660000;
}


A {
	font-family : Arial, Helvetica, sans-serif;
	COLOR: #003399; TEXT-DECORATION: none
}

.tableFooter{
	background-color : #CC9966;
	color: Blue;
}

.mainMenu{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color: #000000;
}   
.mainMenuReverse{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color: #FFFFFF;
}   

.subMenu1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color: #000000;
}   

.subMenu2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 6pt;
	color: #000000;
}   

.layer{
        z-index: 1; 
        visibility: hidden; 
        position: absolute; 
        background: #006600;
        color: white;
        font-size: 8pt;
}

.scoringTableEntry {
	FONT-SIZE: 8pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color : White;
	border-top-style : solid;
	border-top-color : #DCDCDC;
	border-top-width : 1px;
	border-right-color : #DCDCDC;
	border-right-style : solid;
	border-right-width : 1px;
}

.scoringTableEntryAlt {
	FONT-SIZE: 8pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color : Black;
	border-top-style : solid;
	border-top-color : #DCDCDC;
	border-top-width : 1px;
	border-right-color : #DCDCDC;
	border-right-style : solid;
	border-right-width : 1px;
}

#menuBar {position: relative; 
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
                  left: 0; 
                  top: 0; 
                  width: 100%; 
                  height: 18px; 
                  border: 1px solid #ffffff; 
                  background-color: #006633; 
                  layer-background-color: #006633; 
                 } 

.daMenu {position: relative; 
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
               width: 102px; 
               height: 18px; 
               color: #ffffff
               border: 1px solid #006633; 
               background-color: #006633; 
               top: 0px 
              } 

.moreMenu {position: absolute; 
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
                    width: 102px; 
                    border: 1px solid red; 
                    color: #ffffff;
                    background-color: #006633; 
                    layer-background-color: #006633; 
                    visibility: hidden;                     
                    } 

   
.bracketAll{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
        border-top: groove 4px #000000;
	border-bottom : groove 4px #000000;
	border-left : groove 4px #000000;
	border-right : groove 4px #000000;
}

.bracketBottom{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight: bold;
	border-bottom : groove 4px #000000;
}

.bracketTop{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	border-top : groove 4px #000000;
}

.bracketLeft{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	border-left : groove 4px #000000;
}

.bracketRight{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	border-right : groove 4px #000000;
}

.bracketBottomLeftRight{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight: bold;
	border-bottom : groove 4px #000000;
	border-left : groove 4px #000000;
	border-right : groove 4px #000000;	
}

.bracketBottomRight{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight: bold;
	border-bottom : groove 4px #000000;
	border-right : groove 4px #000000;	
}

.bracketBottomLeft{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight: bold;
	border-bottom : groove 4px #000000;
	border-left : groove 4px #000000;	
}




