div.headline {
	font-family;helvetica,arial,sans-serif;
	font-size: 19px;
	font-weight: bold;
	padding: 8px 8px 8px 0px;
	height: 1%;

}

div.replytitle {
	font-size: small;
	font-weight: bold;
	padding: 4px 4px 4px 4px;
}

div.replyactions {
text-align: right;
}

div.maincontent {
/*	margin: 0px 0px 0px 0px; */
/*	background-color: #eee; */
	font-size: 12px; 
	/* To fix some mysterious bug 
	   in the bottom of the boxes */
	border-bottom: 1px solid black;
}
div.clearinghax {
	clear: both;
	width: 100%;
}
div.articlecontent {
height: 1%;
	
}

p.articlecontent {
	margin: 0px 8px 8px 8px;
	height: 1%;
	}

div.maininfo {
	float: right;
	width: 150px; 
	margin: 0px 0px 10px 10px;
	padding: 4px;
	border: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 9px; /* var x-small */

}

div.reply {
	font-size: 11px;
	margin-top: 16px;
	border-top: 1px solid black;
	overflow: hidden;
	clear: both;
}

div.replyindent {
	margin-top: 16px;
	margin-left: 16px;
	border-top: 1px solid black;
}

div.replycontent {
	font-size: 11px;
/*	text-indent: 16px;*/
	margin: 4px 4px 4px 2px;
	clear: both;
}

div.reply_head {
	height: auto;
	padding:5px 5px 5px 5px;

}
div.replyinfo {
	width:auto;
	height: inherit; 
	font-size: 9px;
	float: left; 
}

a.action {
	background: url("/icon/adgerd.gif") no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
}

div.auglysing_main {
	float: left;
	padding-top: 8px;
	width: auto;
	padding-bottom: 8px;
	margin-left: 16px;
}
div.ahugamal_header {
	float: right;
	width: 300px;
	height: 70px;
	margin-right: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}
div.auglysing_main_forsida {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
}
div.header_mynd {

	border-left: 1px solid #000;
	text-align: right;
}
div.header_nafn {
	text-align:left;
	border-top: 2px solid #000;
	padding-bottom: 1px;
	padding-left: 2px;
	clear: both;
	font-weight: bold;
}
/*Litlir kubbar til hliðar */
div.small_kubbur_title {
	font-size: 12px;
	border-bottom: 2px solid #000;
	font-weight: bold;
	width: 150px;
	padding-top: 8px;
}

div.small_kubbur_content {
	padding-top: 4px;
	padding-bottom: 8px;
	width: 150px;
}

/* Sidebar */
div.sidebar_main {
width: 150px;

}
div.sidebar_menu {
}
div.sidebar_auglysing {
	width: 150px;
	height: 150px;
	padding-top: 5px;
	padding-bottom: 8px;
}
/* div.sidebar_auglysing_2 {
width: 150px;
height: 100px;
padding-top: 20px;

} */
div.sidebar_auglysing_stor {
	width: 150px;
	height: 200px;
	padding-top: 10px;
	padding-bottom: 5px;
}
div.sidebar_smallboxes {
	width: 150px;
	padding-top: 8px;
}

/* Haus á síðunni */
	div.top_head {
	border: 1px dotted #000;

}
div.top_head_hugi_logo {
	vertical-align: bottom;
	float: left;
}
div.top_head_auglysing {
	float: right;
	padding-bottom: 10px;
}
div.top_flipar {
	clear: both;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}
div.top_flipar img {
	vertical-align: middle;
}

div.ahugamalin_min {
	padding-top: 4px;
}

div.top_title img {
	vertical-align: middle;
}

div.top_title {
	clear: both;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
    }
div.search_bar {
	padding-top: 5px;
}

/* Auglýsingar á síðum og forsíðu */
div.augl_header {
width: 100%;
}
div.auglysing {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

div.auglysing_kubbar {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
}


/* Fyrrum Inline Styles (non-dynamic) úr index.php */
		body {
			font-family: verdana, sans-serif;
		}

		a {
                        text-decoration: none;
                }

                .dd {
                        font-size: 9px;
                }
                table {
                        font-size: 3px;
                }
                .atitle {
                        font-size: 12px; font-weight: bold;
                }
                .lb {
                        height: 38px;
                }
                body,td {
                        font-size: 10px;
                }
		.flokkur {
                        font-size: 10px; text-decoration: none;
                }
 		.anav {
                        background-color: #333333;
                }
                .subnav {
                        background-color: #333333;
                }
 		.scheduletitle {
                        font-weight: bold;
                        text-align: center;
                }
                .scheduleitem {
                        text-align: center;
                }
                b.underline_bold {
                        font-weight: bold;
                        border-bottom: 1px solid #999999;
                        font-size:14px;

                }

.spacer {
padding-right: 15px;
width: 15px;
height: 1%;
}
div.wrapper {
width: 100%;
}
.tofluhaus {
border-bottom: 1px solid #000;
font-size: 12px;
text-align: left;
width: 100%;
}


/* EOF */
