p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000066;

}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #000066;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #666699;
	margin-bottom: 10px;
}
a:link {
	color: #000099;
	text-decoration: underline;






}
a:visited {
	color: #000099;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000066;
}
.menu {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;
	color: #000066;


}
.menu a:link {
	text-decoration: none;
	font-weight: normal;


}
.menu a:hover {
	color: #d98200;
	text-decoration: none;



}
.menu a:visited {
	text-decoration: none;

}
a:hover {
	color: #D98200;


}
.font12pt {
	font-size: 12pt;
}
.font9pt {
	font-size: 9pt;
}
.font8pt {
	font-size: 8pt;
}
.font14 {
	font-size: 14pt;
}
.font7pt {
	font-size: 7pt;
}
.font6pt {
	font-size: 6pt;
}
.pgtitle {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 20pt;
	color: #000066;
}
.pgsubtitle {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;
	color: #000066;

}
.doortitle {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 20pt;
	color: #000066;
	font-weight: bold;

}
.doorquestion {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;
	color: #000066;
	font-style: normal;

}
.blackborder {
	border: #000000;
}
.quote {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 10pt;
	color: #000066;


}
.plain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000066;
}
.comic10pt {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 10pt;
	color: #000066;
}
.comments {
	font-size: 10pt;
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, serif;
	font-weight: bolder;
	color: #000066;



}
.comments a:hover {
	color: #d98200;
}
.comments a:link {
	text-decoration: none;

}
.comments a:visited {
	text-decoration: none;
}
.comic16pt {

	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 16pt;
	color: #000066;
}
.font16pt {
	font-size: 16pt;
}
.font18pt {
	font-size: 18pt;
}
.font20pt {
	font-size: 20pt;

}
.font24pt {
	font-size: 24pt;

}
.comic {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
}
.portraitname {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 16pt;
	color: #000066;
	font-weight: bolder;

}
.portraitcity {


	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;
	color: #000066;
}
.quote9pt {

	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 9pt;
	color: #000066;
}
.arial10 {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000066;
}
.arial12 {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000066;
}
.arial11 {




	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000066;
}
.comic13pt {

	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 13pt;
	color: #000066;
}
.comic14pt {


	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 14pt;
	color: #000066;
}
.quoteblack {

	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 10pt;
	color: #000000;
}
.menuBlack {

	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;
	color: #000000;
}
.menuBlack a:link {
	text-decoration: none;
	font-weight: normal;
	color: #000000;

}
.menuBlack a:hover {

	color: #d98200;
	text-decoration: none;
}
.menuBlack a:visited {
	text-decoration: none;
	color: #000000;

}
.comic12pt {


	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 12pt;
	color: #000066;
}
.co7-heading {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 18pt;
	color: #000066;
	text-align: center;


}
.co7-subhead {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 14pt;
	color: #000066;
	text-align: left;
	font-style: italic;



}
.comic11pt {



	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 11pt;
	color: #000066;
}
.default {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000066;
}
.defaultplus {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 14pt;
	color: #000066;
}
.default-heading {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;


}
.default-subhead {
	font-weight: bold;
	background-position: center;
}
.declaration {
	font-family: "Comic Sans MS", "Lucida Sans", "Trebuchet MS", serif;
	font-size: 11pt;
	color: #000066;
	line-height: 20pt;

}
.default7pt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000066;
}
.default8pt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000066;
}
.default9pt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000066;
}
.default12pt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000066;
}
