A {color:black;font-size:12px}
A:Visited {text-decoration:none;color:maroon;font-size:12px}
A:Active {text-decoration:none;color:gray;font-size:12px}
A:Hover {text-decoration:none;color:Red;font-size:12px}
IMG {border-color:#ffffff;}
B {font-size:11px;font-family:Arial,Helvetica,Verdana,sans-serif;color:Black;}
.stxt {font-size:8px;font-family:Arial,Helvetica,Verdana,sans-serif;color:Black;}
.mtxt {font-size:10px;font-family:Arial,Helvetica,Verdana,sans-serif;color:Black;}
.ltxt {font-size:12px;font-family:Arial,Helvetica,Verdana,sans-serif;color:Black;}
.title {font-size:14px;font-family:Arial,Helvetica,Verdana,sans-serif;color:red;}
.bdbrg {font-weight:bold;color:#990000;}
.bdbrg1 {font-size:12px;font-weight:bold;color:#990000;}

A.nav1 {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;color:black;font-weight:normal;}
A.nav1:Visited {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;color:silver;font-weight:normal;}
A.nav1:Active {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;color:Red;font-weight:normal;}
A.nav1:Hover {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;color:Green;font-weight:normal;  background-color : white; }

A.nav2 {text-decoration:none;font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;color:black;font-weight:bold;background-color:white;}
A.nav2:Visited {font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;color:gray;font-weight:bold;}
A.nav2:Active {font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;color:Red;font-weight:bold;}
A.nav2:Hover {font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;color:red;font-weight:bold;  background-color : silver; }
.tablenav {font-size:12px;font-family:Arial,Helvetica,Verdana,sans-serif;}

h1 {font-size:20px;font-family:Arial,Helvetica,Verdana,sans-serif;color:gray;font-weight:bold;background-color: #E1E1E1; margin: 0px 0%}
h2 {font-size:16px;font-family:Arial,Helvetica,Verdana,sans-serif;color:maroon;font-weight:bold;}
h3 {font-size:14px;font-family:Arial,Helvetica,Verdana,sans-serif;color:red;font-weight:normal;}
h4 {font-size:11px;font-family:Arial,Helvetica,Verdana,sans-serif;color:White;}
hr {color: maroon;background-color:maroon;height:1px;margin-top: 1px;margin-bottom: 1px;}
ol {font-size:12px;font-family:Arial,Helvetica,Verdana,sans-serif;color:Black;}
u {font-size:7px;font-family:Arial,Helvetica,Verdana,sans-serif;color:black;}
TH {font-size:11px;font-family:Arial,Helvetica,Verdana,sans-serif;}
TD {font-size:12px;font-family:Arial,Helvetica,Verdana,sans-serif;background-color :#ffffff;}
i {font-size:10px;font-family:Arial,Helvetica,Verdana,sans-serif;color:#008000}
.vstxt {font-size:7px;font-family:Arial,Helvetica,Verdana,sans-serif;color:white;}
body {font-size:12px;font-family:Arial,Helvetica,Verdana,sans-serif;color:black;}

#navcontainer {padding: 0; background: #E1E1E1; height: 20px;}
#navlist {margin: 0px; padding: 0px 0px; display: block;}
#navlist li {list-style: none; float: left;}
#navcontainer a, #navlist li.extend {margin: 0px; display: block; border-top: 1px solid #333; padding: 1px 6px; text-decoration: none; background: #E1E1E1; font: normal 12px Arial, serif; color: #000;}
#navcontainer a:hover, #navcontainer a#current {padding: 1px 5px; background: #FAFAFA; border-right: 1px solid #333; border-left: 1px solid #333; border-top: 1px solid #FAFAFA; border-bottom: 1px solid #333; color: #000; }
#navcontainer a#current {background: #F6F6F6; border-top: 1px solid #F6F6F6; font-weight: bold;}
#navcontainer li#active {border-right: 2px solid #828282; border-bottom: 2px solid #828282;}

#sidenavcontainer a, #menu a:visited {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none; background-color:#fff; color:#000; display:block; width:12em; height:1.0em; border-bottom:1px solid #fff;  border-right:1px solid #000; padding:0.0em; }
#sidenavcontainer a:hover {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif; text-align:left;background-color:silver;}
#sidenavcontainer a:visited {font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif; text-align:left;background-color:#fff;color:maroon;}

