BODY { background: #E7CA87; }
.frame { background: #E7CA87; }
.bar { background-color: #F3E4C3; }
.bar1 { background-color: #F9F2E1; }

A:link { color: #597DA9; }
A:visited { color: #40628B; }
A:active { color: #000; }
A:hover { color: #000; }
.issuetxt { color: #E7CA87; }
.authortxt { color: #444; }
.title1txt { color: #76A3D8; }
.title2txt { color: #222; }
.hedtxt { color: #222 }
.subtxt { color: #444 }
.subtxt1 { color: #444; }
.subhedtxt { color: #444; }
.subboldtxt { color: #222; }
.articletxt { color: #222; }
.articlesubtxt { color: #000; }
.reviewboxtxt { color: #222; }
.biotxt { color: #444; }
.credittxt { color: #444; }
.linktxt { color: #444; }
.finetxt { color: #888; }
.sidebartxt { color: #666; }
.frontshorttxt { color: #444; }
.frontcontenttxt { color: #444; }
.bookcover { color: #fff; }

.srch_bg { background: #FAA143 url(/img/nouveau/srch/blvr_srch_bg_200702.gif) repeat-y top left }
.srch_box { font: 11px georgia, "book antiqua", garamond, palatino, "times new roman", serif; color: #000; width: 112px; border-width: 1px; border-color: #404040; background-color: #fff; padding-top: 2px; padding-bottom: 2px }