.udm,.udm li,.udm ul{
	margin:0;
	padding:0;
	list-style-type:none;
	}
.udm{
	position:absolute;
	left:0;
	top:0;
	z-index:20000;
	width:0;
	cursor:default !important;
	border:none;
	text-align:left;
	}
.udm{
	margin-left:-2000px;
	margin-top:-2000px;
	}
.udm li{
	display:block;
	width:0;
	position:absolute;
	}
.udm li a{
	position:relative;
	display:block;
	}
.udm a{
	margin-top:-0px;
	}
.udm ul a{
	margin:0;
	}
.udm ul li{
	margin-bottom:0px !important;
	}
.udm ul li:first-child{
	margin-top:0px;
	}
.udm ul a{
	margin-top:0;
	margin-right:0px !important;
	margin-bottom:0;
	margin-left:0px !important;
	}
.udm ul{
	background-image:none;
	background-color:white;
	cursor:default !important;
	width:9.8em;
	height:auto;
	border-width:0px;
	border-color:#677671;
	border-style:solid;
	position:absolute;
	z-index:20100;
	padding:0px;
	}
.udm ul li{
	cursor:default !important;
	width:100%;
	position:static;
	float:none;
	}
.udm ul{
	display:none;
	visibility:hidden;
	}
.udm a .udmA{
	display:block;
	cursor:pointer !important;
	position:absolute;
	right:0;
	top:0;
	text-align:right;
	cursor:inherit;
	}
.udm a .udmA img{
	border:none;
	height:1em;
	cursor:pointer !important;
	}
* html .udm a .udmA{
	top:0px;
	}
* html .udm ul a .udmA{
	top:1px;
	}
* html .udm a .udmA{
	right:0px;
	top:0px;
	}
* html .udm ul a .udmA{
	right:1px;
	top:1px;
	}
.udm a .udmA{
	padding:0px 0 0px 0;
	margin:0 0px 0 0px;
	}
.udm ul a .udmA{
	padding:2px 0 2px 0;
	margin:0 5px 0 5px;
	}
.udm ul a .udmA{
	background-image:none;
	width:auto;
	height:auto;
	}
.udm .udmS{
	margin-left:2px;
	margin-top:2px;
	}
.udm .udmS{
	background-image:none;
	background-color:;
	cursor:default !important;
	position:absolute;
	z-index:20050;
	width:auto;
	height:auto;
	left:0px;
	top:0px;
	display:none;
	filter:alpha(opacity=50);
	}
.udm a,.udm a:link,.udm a.nohref{
	background-image:none;
	background-color:;
	cursor:pointer !important;
	z-index:1000;
	text-align:left;
	border-style:none;
	border-color:;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px !important;
	padding-bottom:0px !important;
	text-decoration:none;
	color:#252b5b;
	border-width:0px;
	font-style:normal;
	font-family:arial,sans-serif;
	font-weight:normal !important;
	}
.udm a,.udm a.nohref{
	font-size:70%;
	}
.udm a .udmA,.udm a:link .udmA,.udm a.nohref .udmA{
	font-family:arial,sans-serif;
	font-weight:normal !important;
	}
.udm li a:visited{
	background-image:none;
	background-color:;
	border-width:0px;
	color:#252b5b;
	font-style:normal;
	border-style:;
	border-color:;
	}
.udm li a.udmR,.udm li a.udmR:visited,.udm li a:hover,.udm li a:focus,.udm li a.nohref:hover,.udm li a.nohref:focus,.udm li a:visited:hover,.udm li a:active{
	font-style:normal;
	background-image:none;
	background-color:;
	text-decoration:none;
	color:#252b5b;
	border-color:;
	border-style:;
	border-width:0px;
	}
.udm ul a,.udm ul a:link,.udm ul a.nohref{
	background-image:none;
	background-color:transparent;
	text-align:left;
	border-width:0px;
	border-style:solid;
	border-color:white;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px !important;
	padding-bottom:2px !important;
	text-decoration:none;
	color:#6D6D6D;
	font-style:normal;
	font-size:70%;
	font-family:arial,sans-serif;
	font-weight:normal !important;
	}
.udm ul a .udmA,.udm ul a:link .udmA,.udm ul a.nohref .udmA{
	font-family:arial,sans-serif;
	font-weight:normal !important;
	}
.udm ul li a:visited,* html .udm ul li a:visited{
	background-image:none;
	background-color:transparent;
	color:#6D6D6D;
	font-style:normal;
	border-width: 0px 0px 0px 0px;
	border-style:solid;
	border-color: white;
	}
.udm ul li a.udmR,.udm ul li a.udmR:visited,.udm ul li a:hover,.udm ul li a:focus,.udm ul li a.nohref:hover,.udm ul li a.nohref:focus,.udm ul li a:visited:hover,.udm ul li a:active{
	font-style:normal;
	background-image:none;
	background-color:#e0e4e3;
	text-decoration:none;
	color: #252b5b;
	border-color: #e0e4e3;
	border-style:solid;
	border-width:0px;
	}
.udm a.nohref,.udm ul a.nohref{
	cursor:default !important;
	}
.udm h1,.udm h2,.udm h3,.udm h4,.udm h5,.udm h6{
	display:block;
	background:none;
	margin:0;
	padding:0;
	border:none;
	font-size:1em;
	font-weight:normal;
	text-decoration:none;
	}
.udm h1,.udm h2,.udm h3,.udm h4,.udm h5,.udm h6{
	width:100%;
	}
@media screen,projection{
	* html .udm li{
	display:inline;
	}}
@media screen,projection{
	* html .udm li,* html .udm ul li{
	display/**/:block;
	float/**/:left;
	}}
@media screen,projection{
	.udm:not(:nth-child(n)).udm li,.udm:not(:nth-child(n)) ul li{
	display:block;
	float:left;
	}}
select{
	visibility:visible;
	}
.udm .udmC{
	position:absolute;
	left:0;
	top:0;
	z-index:20020;
	width:auto;
	height:auto;
	filter:alpha(opacity=0);
	}