#live_menu, #live_menu_list {
	width: 144px;
}

#live1, #live2, #live3, #live4, #live5, #live6, #live7, #live8, #live9, #live10,
#live11, #live12, #live13, #live14, #live15, #live16, #live17, #live18, #live19, #live20 {
	background-color:#a3bfe6;
	width: 144px;
	border-width: 0px 0px 1px 0px;
	border-style:solid;
	border-color: #336699;	
	color: #003366;
}

#live1:hover, #live1:focus, #live1:visited:hover, #live1.udmR, #live1.udmR:visited, #live1:active,
#live2:hover, #live2:focus, #live2:visited:hover, #live2.udmR, #live2.udmR:visited, #live2:active,
#live3:hover, #live3:focus, #live3:visited:hover, #live3.udmR, #live3.udmR:visited, #live3:active,
#live4:hover, #live4:focus, #live4:visited:hover, #live4.udmR, #live4.udmR:visited, #live4:active,
#live5:hover, #live5:focus, #live5:visited:hover, #live5.udmR, #live5.udmR:visited, #live5:active,
#live6:hover, #live6:focus, #live6:visited:hover, #live6.udmR, #live6.udmR:visited, #live6:active,
#live7:hover, #live7:focus, #live7:visited:hover, #live7.udmR, #live7.udmR:visited, #live7:active,
#live8:hover, #live8:focus, #live8:visited:hover, #live8.udmR, #live8.udmR:visited, #live8:active,
#live9:hover, #live9:focus, #live9:visited:hover, #live9.udmR, #live9.udmR:visited, #live9:active,
#live10:hover, #live10:focus, #live10:visited:hover, #live10.udmR, #live10.udmR:visited, #live10:active,
#live11:hover, #live11:focus, #live11:visited:hover, #live11.udmR, #live11.udmR:visited, #live11:active,
#live12:hover, #live12:focus, #live12:visited:hover, #live12.udmR, #live12.udmR:visited, #live12:active,
#live13:hover, #live13:focus, #live13:visited:hover, #live13.udmR, #live13.udmR:visited, #live13:active,
#live14:hover, #live14:focus, #live14:visited:hover, #live14.udmR, #live14.udmR:visited, #live14:active,
#live15:hover, #live15:focus, #live15:visited:hover, #live15.udmR, #live15.udmR:visited, #live15:active,
#live16:hover, #live16:focus, #live16:visited:hover, #live16.udmR, #live16.udmR:visited, #live16:active,
#live17:hover, #live17:focus, #live17:visited:hover, #live17.udmR, #live17.udmR:visited, #live17:active,
#live18:hover, #live18:focus, #live18:visited:hover, #live18.udmR, #live18.udmR:visited, #live18:active,
#live19:hover, #live19:focus, #live19:visited:hover, #live19.udmR, #live19.udmR:visited, #live19:active,
#live20:hover, #live20:focus, #live20:visited:hover, #live20.udmR, #live20.udmR:visited, #live20:active {
	background-color:#4f7cac;
	width: 144px;
	color: #ffffff;
}

*>#live_menu, *>#live_menu_list {
	width: 144px;
}

*>.live_list_item, *>#live1, *>#live2, *>#live3, *>#live4, *>#live5, *>#live6, *>#live7, *>#live8, *>#live9, *>#live10, 
*>#live11, *>#live12, *>#live13, *>#live14, *>#live15, *>#live16, *>#live17, *>#live18, *>#live19, *>#live20 {
	background-color:#a3bfe6;
	width: 134px;
}

*>#live1:hover, *>#live1:focus, *>#live1:visited:hover, *>#live1.udmR, *>#live1.udmR:visited, *>#live1:active,
*>#live2:hover, *>#live2:focus, *>#live2:visited:hover, *>#live2.udmR, *>#live2.udmR:visited, *>#live2:active,
*>#live3:hover, *>#live3:focus, *>#live3:visited:hover, *>#live3.udmR, *>#live3.udmR:visited, *>#live3:active,
*>#live4:hover, *>#live4:focus, *>#live4:visited:hover, *>#live4.udmR, *>#live4.udmR:visited, *>#live4:active,
*>#live5:hover, *>#live5:focus, *>#live5:visited:hover, *>#live5.udmR, *>#live5.udmR:visited, *>#live5:active,
*>#live6:hover, *>#live6:focus, *>#live6:visited:hover, *>#live6.udmR, *>#live6.udmR:visited, *>#live6:active,
*>#live7:hover, *>#live7:focus, *>#live7:visited:hover, *>#live7.udmR, *>#live7.udmR:visited, *>#live7:active,
*>#live8:hover, *>#live8:focus, *>#live8:visited:hover, *>#live8.udmR, *>#live8.udmR:visited, *>#live8:active,
*>#live9:hover, *>#live9:focus, *>#live9:visited:hover, *>#live9.udmR, *>#live9.udmR:visited, *>#live9:active,
*>#live10:hover, *>#live10:focus, *>#live10:visited:hover, *>#live10.udmR, *>#live10.udmR:visited, *>#live10:active,
*>#live11:hover, *>#live11:focus, *>#live11:visited:hover, *>#live11.udmR, *>#live11.udmR:visited, *>#live11:active,
*>#live12:hover, *>#live12:focus, *>#live12:visited:hover, *>#live12.udmR, *>#live12.udmR:visited, *>#live12:active,
*>#live13:hover, *>#live13:focus, *>#live13:visited:hover, *>#live13.udmR, *>#live13.udmR:visited, *>#live13:active,
*>#live14:hover, *>#live14:focus, *>#live14:visited:hover, *>#live14.udmR, *>#live14.udmR:visited, *>#live14:active,
*>#live15:hover, *>#live15:focus, *>#live15:visited:hover, *>#live15.udmR, *>#live15.udmR:visited, *>#live15:active,
*>#live16:hover, *>#live16:focus, *>#live16:visited:hover, *>#live16.udmR, *>#live16.udmR:visited, *>#live16:active,
*>#live17:hover, *>#live17:focus, *>#live17:visited:hover, *>#live17.udmR, *>#live17.udmR:visited, *>#live17:active,
*>#live18:hover, *>#live18:focus, *>#live18:visited:hover, *>#live18.udmR, *>#live18.udmR:visited, *>#live18:active,
*>#live19:hover, *>#live19:focus, *>#live19:visited:hover, *>#live19.udmR, *>#live19.udmR:visited, *>#live19:active,
*>#live20:hover, *>#live20:focus, *>#live20:visited:hover, *>#live20.udmR, *>#live20.udmR:visited, *>#live20:active {
	background-color:#4f7cac;
	width: 134px;
}

#work_menu, #work_menu_list {
	width: 144px;
}

#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8, #work9, #work10,
#work11, #work12, #work13, #work14, #work15, #work16, #work17, #work18, #work19, #work20 {
	background-color:#c5bfe1;
	width: 144px;
	border-width: 0px 0px 1px 0px;
	border-style:solid;
	border-color: #655d93;
	color: #220b4b;
}

#work1:hover, #work1:focus, #work1:visited:hover, #work1.udmR, #work1.udmR:visited, #work1:active,
#work2:hover, #work2:focus, #work2:visited:hover, #work2.udmR, #work2.udmR:visited, #work2:active,
#work3:hover, #work3:focus, #work3:visited:hover, #work3.udmR, #work3.udmR:visited, #work3:active,
#work4:hover, #work4:focus, #work4:visited:hover, #work4.udmR, #work4.udmR:visited, #work4:active,
#work5:hover, #work5:focus, #work5:visited:hover, #work5.udmR, #work5.udmR:visited, #work5:active,
#work6:hover, #work6:focus, #work6:visited:hover, #work6.udmR, #work6.udmR:visited, #work6:active,
#work7:hover, #work7:focus, #work7:visited:hover, #work7.udmR, #work7.udmR:visited, #work7:active,
#work8:hover, #work8:focus, #work8:visited:hover, #work8.udmR, #work8.udmR:visited, #work8:active,
#work9:hover, #work9:focus, #work9:visited:hover, #work9.udmR, #work9.udmR:visited, #work9:active,
#work10:hover, #work10:focus, #work10:visited:hover, #work10.udmR, #work10.udmR:visited, #work10:active,
#work11:hover, #work11:focus, #work11:visited:hover, #work11.udmR, #work11.udmR:visited, #work11:active,
#work12:hover, #work12:focus, #work12:visited:hover, #work12.udmR, #work12.udmR:visited, #work12:active,
#work13:hover, #work13:focus, #work13:visited:hover, #work13.udmR, #work13.udmR:visited, #work13:active,
#work14:hover, #work14:focus, #work14:visited:hover, #work14.udmR, #work14.udmR:visited, #work14:active,
#work15:hover, #work15:focus, #work15:visited:hover, #work15.udmR, #work15.udmR:visited, #work15:active,
#work16:hover, #work16:focus, #work16:visited:hover, #work16.udmR, #work16.udmR:visited, #work16:active,
#work17:hover, #work17:focus, #work17:visited:hover, #work17.udmR, #work17.udmR:visited, #work17:active,
#work18:hover, #work18:focus, #work18:visited:hover, #work18.udmR, #work18.udmR:visited, #work18:active,
#work19:hover, #work19:focus, #work19:visited:hover, #work19.udmR, #work19.udmR:visited, #work19:active,
#work20:hover, #work20:focus, #work20:visited:hover, #work20.udmR, #work20.udmR:visited, #work20:active {
	background-color:#7d76a7;
	width: 144px;
	color: #ffffff;
}

*>#work_menu, *>#work_menu_list {
	width: 144px;
}

*>.work_list_item, *>#work1, *>#work2, *>#work3, *>#work4, *>#work5, *>#work6, *>#work7, *>#work8, *>#work9, *>#work10, 
*>#work11, *>#work12, *>#work13, *>#work14, *>#work15, *>#work16, *>#work17, *>#work18, *>#work19, *>#work20 {
	background-color:#c5bfe1;
	width: 134px;
}

*>#work1:hover, *>#work1:focus, *>#work1:visited:hover, *>#work1.udmR, *>#work1.udmR:visited, *>#work1:active,
*>#work2:hover, *>#work2:focus, *>#work2:visited:hover, *>#work2.udmR, *>#work2.udmR:visited, *>#work2:active,
*>#work3:hover, *>#work3:focus, *>#work3:visited:hover, *>#work3.udmR, *>#work3.udmR:visited, *>#work3:active,
*>#work4:hover, *>#work4:focus, *>#work4:visited:hover, *>#work4.udmR, *>#work4.udmR:visited, *>#work4:active,
*>#work5:hover, *>#work5:focus, *>#work5:visited:hover, *>#work5.udmR, *>#work5.udmR:visited, *>#work5:active,
*>#work6:hover, *>#work6:focus, *>#work6:visited:hover, *>#work6.udmR, *>#work6.udmR:visited, *>#work6:active,
*>#work7:hover, *>#work7:focus, *>#work7:visited:hover, *>#work7.udmR, *>#work7.udmR:visited, *>#work7:active,
*>#work8:hover, *>#work8:focus, *>#work8:visited:hover, *>#work8.udmR, *>#work8.udmR:visited, *>#work8:active,
*>#work9:hover, *>#work9:focus, *>#work9:visited:hover, *>#work9.udmR, *>#work9.udmR:visited, *>#work9:active,
*>#work10:hover, *>#work10:focus, *>#work10:visited:hover, *>#work10.udmR, *>#work10.udmR:visited, *>#work10:active,
*>#work11:hover, *>#work11:focus, *>#work11:visited:hover, *>#work11.udmR, *>#work11.udmR:visited, *>#work11:active,
*>#work12:hover, *>#work12:focus, *>#work12:visited:hover, *>#work12.udmR, *>#work12.udmR:visited, *>#work12:active,
*>#work13:hover, *>#work13:focus, *>#work13:visited:hover, *>#work13.udmR, *>#work13.udmR:visited, *>#work13:active,
*>#work14:hover, *>#work14:focus, *>#work14:visited:hover, *>#work14.udmR, *>#work14.udmR:visited, *>#work14:active,
*>#work15:hover, *>#work15:focus, *>#work15:visited:hover, *>#work15.udmR, *>#work15.udmR:visited, *>#work15:active,
*>#work16:hover, *>#work16:focus, *>#work16:visited:hover, *>#work16.udmR, *>#work16.udmR:visited, *>#work16:active,
*>#work17:hover, *>#work17:focus, *>#work17:visited:hover, *>#work17.udmR, *>#work17.udmR:visited, *>#work17:active,
*>#work18:hover, *>#work18:focus, *>#work18:visited:hover, *>#work18.udmR, *>#work18.udmR:visited, *>#work18:active,
*>#work19:hover, *>#work19:focus, *>#work19:visited:hover, *>#work19.udmR, *>#work19.udmR:visited, *>#work19:active,
*>#work20:hover, *>#work20:focus, *>#work20:visited:hover, *>#work20.udmR, *>#work20.udmR:visited, *>#work20:active {
	background-color:#7d76a7;
	width: 134px;
}

#play_menu, #play_menu_list {
	width: 144px;
}

#play1, #play2, #play3, #play4, #play5, #play6, #play7, #play8, #play9, #play10,
#play11, #play12, #play13, #play14, #play15, #play16, #play17, #play18, #play19, #play20 {
	background-color:#c2d1a2;
	width: 144px;
	border-width: 0px 0px 1px 0px;
	border-style:solid;
	border-color: #677946;
	color: #363f24;
}

#play1:hover, #play1:focus, #play1:visited:hover, #play1.udmR, #play1.udmR:visited, #play1:active,
#play2:hover, #play2:focus, #play2:visited:hover, #play2.udmR, #play2.udmR:visited, #play2:active,
#play3:hover, #play3:focus, #play3:visited:hover, #play3.udmR, #play3.udmR:visited, #play3:active,
#play4:hover, #play4:focus, #play4:visited:hover, #play4.udmR, #play4.udmR:visited, #play4:active,
#play5:hover, #play5:focus, #play5:visited:hover, #play5.udmR, #play5.udmR:visited, #play5:active,
#play6:hover, #play6:focus, #play6:visited:hover, #play6.udmR, #play6.udmR:visited, #play6:active,
#play7:hover, #play7:focus, #play7:visited:hover, #play7.udmR, #play7.udmR:visited, #play7:active,
#play8:hover, #play8:focus, #play8:visited:hover, #play8.udmR, #play8.udmR:visited, #play8:active,
#play9:hover, #play9:focus, #play9:visited:hover, #play9.udmR, #play9.udmR:visited, #play9:active,
#play10:hover, #play10:focus, #play10:visited:hover, #play10.udmR, #play10.udmR:visited, #play10:active,
#play11:hover, #play11:focus, #play11:visited:hover, #play11.udmR, #play11.udmR:visited, #play11:active,
#play12:hover, #play12:focus, #play12:visited:hover, #play12.udmR, #play12.udmR:visited, #play12:active,
#play13:hover, #play13:focus, #play13:visited:hover, #play13.udmR, #play13.udmR:visited, #play13:active,
#play14:hover, #play14:focus, #play14:visited:hover, #play14.udmR, #play14.udmR:visited, #play14:active,
#play15:hover, #play15:focus, #play15:visited:hover, #play15.udmR, #play15.udmR:visited, #play15:active,
#play16:hover, #play16:focus, #play16:visited:hover, #play16.udmR, #play16.udmR:visited, #play16:active,
#play17:hover, #play17:focus, #play17:visited:hover, #play17.udmR, #play17.udmR:visited, #play17:active,
#play18:hover, #play18:focus, #play18:visited:hover, #play18.udmR, #play18.udmR:visited, #play18:active,
#play19:hover, #play19:focus, #play19:visited:hover, #play19.udmR, #play19.udmR:visited, #play19:active,
#play20:hover, #play20:focus, #play20:visited:hover, #play20.udmR, #play20.udmR:visited, #play20:active {
	background-color:#7e8f5d;
	width: 144px;
	color: #ffffff;
}

*>#play_menu, *>#play_menu_list {
	width: 144px;
}

*>.play_list_item, *>#play1, *>#play2, *>#play3, *>#play4, *>#play5, *>#play6, *>#play7, *>#play8, *>#play9, *>#play10, 
*>#play11, *>#play12, *>#play13, *>#play14, *>#play15, *>#play16, *>#play17, *>#play18, *>#play19, *>#play20 {
	background-color:#c2d1a2;
	width: 134px;
}

*>#play1:hover, *>#play1:focus, *>#play1:visited:hover, *>#play1.udmR, *>#play1.udmR:visited, *>#play1:active,
*>#play2:hover, *>#play2:focus, *>#play2:visited:hover, *>#play2.udmR, *>#play2.udmR:visited, *>#play2:active,
*>#play3:hover, *>#play3:focus, *>#play3:visited:hover, *>#play3.udmR, *>#play3.udmR:visited, *>#play3:active,
*>#play4:hover, *>#play4:focus, *>#play4:visited:hover, *>#play4.udmR, *>#play4.udmR:visited, *>#play4:active,
*>#play5:hover, *>#play5:focus, *>#play5:visited:hover, *>#play5.udmR, *>#play5.udmR:visited, *>#play5:active,
*>#play6:hover, *>#play6:focus, *>#play6:visited:hover, *>#play6.udmR, *>#play6.udmR:visited, *>#play6:active,
*>#play7:hover, *>#play7:focus, *>#play7:visited:hover, *>#play7.udmR, *>#play7.udmR:visited, *>#play7:active,
*>#play8:hover, *>#play8:focus, *>#play8:visited:hover, *>#play8.udmR, *>#play8.udmR:visited, *>#play8:active,
*>#play9:hover, *>#play9:focus, *>#play9:visited:hover, *>#play9.udmR, *>#play9.udmR:visited, *>#play9:active,
*>#play10:hover, *>#play10:focus, *>#play10:visited:hover, *>#play10.udmR, *>#play10.udmR:visited, *>#play10:active,
*>#play11:hover, *>#play11:focus, *>#play11:visited:hover, *>#play11.udmR, *>#play11.udmR:visited, *>#play11:active,
*>#play12:hover, *>#play12:focus, *>#play12:visited:hover, *>#play12.udmR, *>#play12.udmR:visited, *>#play12:active,
*>#play13:hover, *>#play13:focus, *>#play13:visited:hover, *>#play13.udmR, *>#play13.udmR:visited, *>#play13:active,
*>#play14:hover, *>#play14:focus, *>#play14:visited:hover, *>#play14.udmR, *>#play14.udmR:visited, *>#play14:active,
*>#play15:hover, *>#play15:focus, *>#play15:visited:hover, *>#play15.udmR, *>#play15.udmR:visited, *>#play15:active,
*>#play16:hover, *>#play16:focus, *>#play16:visited:hover, *>#play16.udmR, *>#play16.udmR:visited, *>#play16:active,
*>#play17:hover, *>#play17:focus, *>#play17:visited:hover, *>#play17.udmR, *>#play17.udmR:visited, *>#play17:active,
*>#play18hover, *>#play18:focus, *>#play18:visited:hover, *>#play18.udmR, *>#play18.udmR:visited, *>#play18:active,
*>#play19:hover, *>#play19:focus, *>#play19:visited:hover, *>#play19.udmR, *>#play19.udmR:visited, *>#play19:active,
*>#play20:hover, *>#play20:focus, *>#play20:visited:hover, *>#play20.udmR, *>#play20.udmR:visited, *>#play20:active {
	background-color:#7e8f5d;
	width: 134px;
}