.otn_rpcolor { color: #5C6270; }
.otn_homecolor { color: #808AA3; }
.otn_heading { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:11px; line-height:160%; }
.otn_text { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; line-height:130%; }

ul.disc {list-style-type: disc}

.headlines { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:11px; color: #666666; line-height:130%;  }
.headlines A:active { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:12px; color: #205E98; line-height: 130%; font-weight:bold; text-decoration:none; }
.headlines A:link { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:12px; color: #205E98; line-height: 130%; font-weight:bold; text-decoration:none; }
.headlines A:visited { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:12px; color: #205E98; line-height: 130%; font-weight:bold; text-decoration:none; }
.headlines A:hover { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:12px; color: #205E98; line-height: 130%; font-weight:bold; text-decoration:underline; }

.text_a_9_2C3B5C { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #2C3B5C; }
.text_a_9_2C3B5C:LINK { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #2C3B5C; text-decoration:none; }
.text_a_9_2C3B5C:ACTIVE { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #2C3B5C;  text-decoration:none; }
.text_a_9_2C3B5C:VISITED { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #2C3B5C;  text-decoration:none; }
.text_a_9_2C3B5C:HOVER {font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #2C3B5C; text-decoration:underline; }

.text_a_9_C7CAD5 { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #C7CAD5; }

.text_a_9_FFD67B { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #FFD67B; }
.text_a_9_FFD67B:LINK { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #FFD67B; text-decoration:none; }
.text_a_9_FFD67B:ACTIVE { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #FFD67B;  text-decoration:none; }
.text_a_9_FFD67B:VISITED { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #FFD67B;  text-decoration:none; }
.text_a_9_FFD67B:HOVER {font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #FFD67B; text-decoration:underline; }
	
.text_a_9_FFFFFF { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:9px; color: #FFFFFF; }


.text_a_10_686864_270 { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #686864; line-height:270%; }

.text_a_10_7D7E7E { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #7D7E7E; }
.text_a_10_7D7E7E:LINK { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #7D7E7E; text-decoration:none; }
.text_a_10_7D7E7E:ACTIVE { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #7D7E7E;  text-decoration:none; }
.text_a_10_7D7E7E:VISITED { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #7D7E7E;  text-decoration:none; }
.text_a_10_7D7E7E:HOVER { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #7D7E7E; text-decoration:underline; }

.text_a_10_999A9D { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:10px; color: #999A9D; line-height:130%;}

.text_a_11_5C6270_130 { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:11px; color: #5C6270; line-height:130%; }

.text_a_11_666666_130 { font-family:Arial, Verdana, Geneva, Palatino, sans-serif; font-size:11px; color: #666666; line-height:130%; } 

.text_v_10 { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; }

.text_v_10_205E98 { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #205E98; }
.text_v_10_205E98:LINK { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #205E98; text-decoration:none; }
.text_v_10_205E98:ACTIVE { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #205E98;  text-decoration:none; }
.text_v_10_205E98:VISITED { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #205E98;  text-decoration:none; }
.text_v_10_205E98:HOVER { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #205E98;text-decoration:underline; }

.text_v_10_4F4F4F_150 { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #4F4F4F; line-height:150%;}

.text_v_10_5E5E5E { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #5E5E5E; line-height:160%; }

.text_v_10_666666 { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #666666;}
.text_v_10_666666:LINK { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #666666; text-decoration:none; }
.text_v_10_666666:ACTIVE { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #666666; text-decoration:none; }
.text_v_10_666666:VISITED { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #666666; text-decoration:none; }
.text_v_10_666666:HOVER { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:10px; color: #666666; text-decoration:underline; }

.text_v_12_205E98_130 { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:12px; color: #205E98; line-height: 130%; }

.text_v_15_4F4F4F { font-family:Verdana, Arial, Geneva, Palatino, sans-serif; font-size:15px; color: #4F4F4F; }

.black  {background-color:#000000; }
.white  {background-color:#FFFFFF; }
.303030 {background-color:#303030; }
.333333 {background-color:#333333; }
.475160 {background-color:#475160; }
.828481 {background-color:#828481; } 
.8A8A8A {background-color:#8A8A8A; }
.8E97B4 {background-color:#8E97B4; }
.B9B9B9 {background-color:#B9B9B9; }
.BFBFBF {background-color:#BFBFBF; }
.C1C4CA {background-color:#C1C4CA; }
.C2C9D3 {background-color:#C2C9D3; }
.E6E6E6 {background-color:#E6E6E6; }
.EEEEEE {background-color:#EEEEEE; }
.EFEFEF {background-color:#EFEFEF; }




input.search { 
 font-family:Arial, Verdana, Geneva, Palatino, sans-serif; 
 font-size:8pt; 
 background-color:#FFFFFF; 
 color:#000000; 
 height:17px;
 width:123px;
 padding:0px; 
 margin:0px;
 vertical-align:top; 
 border-bottom: 0;
 border-left: 1px;
 border-top: 0; 
}

/* browser dropdown for old browsers do not remove, it creates text message if style sheets are being used. */
#gotoTopic {
	display:none;
	}
#gotoRegion {
	display:none;
	}
