p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
A {
	color: #669966;
}
/*A:Visited {
	color: #669966;
}*/
A:Active {
	color: #000000;
}
A:Hover {
	color: #000000;
}
.SN {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}
.SB {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.SI {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: normal;
}
.MN {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}
.MB {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.MBFFFFFF {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.MB990000 {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #990000;
}
.MI {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: normal;
}
.LN {
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}
.LB {
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.LI {
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: normal;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: 669966;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.associationLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: FFFFFF;
}
associationLinks:visited {
	color: #FFFFFF;
}
