
A.topmenu {
	font-family: arial;
	color: #000000;
	text-decoration: none;
	letter-spacing: 2px;
}
/*
A.topmenu:visited {
	color: #000000;
	text-decoration: none;
	letter-spacing: 2px;
}

A.topmenu:active {
	color: #000000;
	text-decoration: none;
	letter-spacing: 2px;
}
*/

A.topmenu:hover {
	color: #FFFFCC;
	text-decoration: none;
	letter-spacing: 2px;
}

A.ddmenu:link {
	color: #000000;
	text-decoration: none;
}

A.ddmenu:visited {
	color: #000000;
	text-decoration: none;
}

A.ddmenu:active {
	color: #000000;
	text-decoration: none;
}

A.ddmenu:hover {
	color: #FFFFCC;
	text-decoration: none;
}

TD.ddmenu {
	font-family: Verdana,Arial;
	font-size: 13px;
}


DIV.ddmenu {
	font-family: Verdana,Arial;
	font-size: 13px;
}