body	{
	 margin:		0px;
	 padding:		0px;	
	 color:			#333333;
	 font-family:		Arial;
	 font-size:		11px;
	 background-image:	url(images/inf2_logo_bg1.gif);
	 background-color: 	#898989;
	 background-repeat:	no-repeat;
	 background-position: 	top right;
	}

td	{
	 text-align:		left;
	 font-family:		Arial;
	 font-size:		12;
	 line-height:		12px;
	 color:			#000000;
	}

a	{
	 text-decoration:	underline;
	 color:			#000000;
	 font-size:		12px;
	}

.td1    {
         background-image:      url(images/inf2_left01.gif);
         background-repeat:     no-repeat;
         background-position:   top left;
        }

.td2	{
	 background-color:	#e3e8ed;
	 background-image:      url(images/inf2_head04_3.gif);
         background-repeat:     no-repeat;
         background-position:   top left;
	}

.td3    {
	 background-color:	#e3e8ed;
         background-image:      url(images/inf2_head05_2b.gif);
         background-repeat:     no-repeat;
         background-position:   top left;
        }

.search	{
	 border:		#666666 1px solid;
	 background-color:	#c0c0b4;
	 color:			#000066;
	 font-size:		10px;
	}

.contact {
	 border:		#000000 1px solid;
	 background-color:	#eeeeee;
	 color:			#000066;
	 font-size:		11px;
	
	}

.copy{
font-family:Arial;
font-size:10px;
color:#F5C580;
text-decoration:none;
line-height:12px;
}

.viewdark {color:#474747; text-decoration:none}
.gray {color:#333333; text-decoration:none}
.lightgray {color:#4E4E4E; text-decoration:none}
a.lightgrey:hover {

    text-decoration: none;
    color: #EAEAEA;
}
.white {color:#ffffff; text-decoration:none}
a.white:hover {

    text-decoration: none;
    color: #D7D7D7;
}
.dark {color:#333333; text-decoration:none}
.lightgrey {color:#F3F3F3; text-decoration:none}
.big {font-size:12px}

.rollover {scrollbar-face-color:#8B8B8B;
		scrollbar-track-color:#E2E2E2;
		scrollbar-arrow-color:#ffffff;
		scrollbar-3Dlight-color:#ffffff;
		scrollbar-base-color:#ffffff;
		scrollbar-shadow-color:#ffffff;
		scrollbar-darkshadow-color:#ffffff;
		scrollbar-highlight-color:#ffffff;}


a:hover{text-decoration:underline;
color: #555555;
}

#under{text-decoration:underline;}

.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.style5 {color: #454545}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.style4 {font-size: 9px}
.style7 {color: #666666}
.style8 {color: #333333}

h1 {
	text-align: left;
	font-family:Arial;
	font-size:10px;
	line-height:12px;
        margin:0px;
        padding:0px;	
}
.verdana {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style25 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}
.whitefoot {color:#ffffff; text-decoration:none}
a.whitefoot:hover {

    text-decoration: underline;
    color: #ffffff;
}

.style117 {
	font-family: Tahoma;
	color: #FFFFFF;
}
a.style117:hover {
	font-family: Tahoma;
	color: #FFFFFF;
}
.style26 {
	font-family: Tahoma;
	font-weight: bold;
}

