body { background: #ffffff }
.menu { text-transform: lowercase; background: #A5B0B9; color: #000000; font-size: 10px; font-family: Verdana, Arial, Helvetica }
.menu A:link, .menu A:visited { color: #000000; text-decoration: none }
.menu A:active, .menu A:hover { color: #DAE1E6; text-decoration: none }

.leftmenu { text-transform: lowercase; font-size: 10px; line-height: 18px; font-weight: bold; font-family: Verdana, Arial, Helvetica }
.leftmenu A:link, .leftmenu A:visited { color: #3E6088; text-decoration: none }
.leftmenu A:active, .leftmenu A:hover { color: #C8A486; text-decoration: none }

h1 { color: #000000; font-weight: bold; font-size: 1.4em; font-family: Arial, Verdana, Helvetica }
h2 { color: #000000; font-weight: bold; font-size: 1.3em; font-family: Arial, Verdana, Helvetica }
h3 { color: #000000; font-weight: bold; font-size: 1.2em; font-family: Arial, Verdana, Helvetica }
h4 { color: #000000; font-weight: bold; font-size: 1.1em; font-family: Arial, Verdana, Helvetica }
h5 { color: #000000; font-weight: bold; font-size: 1em; font-family: Arial, Verdana, Helvetica }
h6 { color: #000000; font-weight: bold; font-size: .9em; font-family: Arial, Verdana, Helvetica }

.content
	{ color: #64717B; font-size: .7em; font-family: Verdana, Arial, Helvetica }
	
input, textarea, select, option { color: #64717B; font-size: 8pt; font-family: Verdana, Arial, Helvetica }

ul, ul ul, ul ul ul, ol, ol ol, ol ol ol { font-size: 1em; color: #64717b; font-family: Verdana, Arial, Helvetica }
	
hr { color: #A5B0B9; height: 1px }

a:link { color: #3E6088; text-decoration: bold }
a:visited { color: #284C78; text-decoration: bold }
a:active, a:hover { color: #C8A486; text-decoration: bold }

.small { font-size: 9px }