a.nav:link {
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 10pt;

}

a.nav:visited {
  color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 10pt;
}

a.nav:hover {
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;
}

a.nav:active {
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;
}



.bodyText {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
}
.formInput {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	background-color: #A9ABAB;
	border: 1px solid #5A5B5B;
	font-size: 8.7pt;
	font-weight: normal;
}
.formButton {
	font-size: 8.7pt;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #A9ABAB;
	border: 1px solid #5A5B5B;


}
