/* by Kenneth Lagerstrom */

.menuLink {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #616161;
text-decoration: none;
}

a.menuLink:hover {
text-decoration: none;
color: #FFFFFF;
}

h1 {
font-family: Tahoma;
font-size: 24px;
font-weight: bold;
color: #E6851C;
}

h2 {
font-family: Tahoma;
font-size: 18px;
font-weight: bold;
color: #000000;
}

h3 {
font-family: Tahoma;
font-size: 16px;
font-weight: bold;
color: #000000;
}

h4 {
font-family: Tahoma;
font-size: 14px;
font-weight: bold;
color: #000000;
}

h5 {
font-family: Tahoma;
font-size: 18px;
font-weight: bold;
color: #000000;
}

body, td, p, select, input, textarea {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #545454;
}

a {
color: #E6851C;
text-decoration: none;
}

a:hover {
color: #E6851C;
text-decoration: underline;
}

.sidenewshdr{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color: #FFFFFF;
}

.navbar{
background-image:url(images/navbg_dn.gif);
}

.searchlink, .searchlink:hover {
color: #FFFFFF;
text-decoration:none;
}
