body 
{
	font-size: x-small;
	font-family: Verdana, Arial, Tahoma;
	color: Black;
}

a:link 
{
	color: #660000;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
}

.WebPart_FeatureTitle
{
	background-image: url(images/RedAlmondHeader.gif);
	height: 24px;
	font-family: Arial;
	font-size: small;
	font-weight: bolder;
	border-width: 0px;
	padding-top: 4px;
	padding-left: 6px;
}

.WebPart_SectionTitle
{
	
	font-family: Arial, Verdana;
	font-size: x-small;
	font-weight: bold;
	color: Red;
	padding: 2px 2px 2px 2px;
	border: 0px;
    background-image: url(images/section_bar.gif);
    background-position: center;
    background-repeat: repeat-x;
}

.WebPart_Chrome
{
    border-width: 5px;
    border-top: 4px solid #660000;
}

.WebPart_CenterContent
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: x-small;
	font-weight: bolder;
	padding: 2px 2px 2px 2px;
	border: 0px;
	color: Blue;
    background-position: center;
    background-repeat: repeat-x;
}

.SimpleTable
{
	border: 0px;
	padding: 0px;
	vertical-align: top;
}