<!--
:link { Color:blue; }

:visited { Color:blue; }
A:hover { Color:red; }
-->
td.main { font-family: arial, helvetica, san-serif ; background-color: #FFF5CE; font-size: 10pt; height: 100%}
td.new { font-family: arial, helvetica, san-serif ;font-size: 10pt; height: 100%}
td.cont { font-family: arial, helvetica, san-serif ; font-size: 10pt; height: 100%}
td.red { font-family: arial, helvetica, san-serif ;font-size: 10pt; height: 100%; link-color: red}
a{text-decoration:none}