BODY { BACKGROUND-COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif }

TABLE { FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif }

TD { FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif }

TH { FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif }


.searchbox { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; WIDTH: 80px; HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FFFFFF; margins: 0px 0px 0px 0px }
		
		
ul	{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif }
			
ol	{ FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif }
			
h1	{ FONT-SIZE: 21px; FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif }
			
h2	{ FONT-SIZE: 15px; COLOR: #990000; FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif }


.red { COLOR: #990000 }

.white { COLOR: #FFFFFF }

.caption { FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif }


SMALL {	FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif }

.submenu { FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif }

.submenu A { COLOR: #FFFFFF; TEXT-DECORATION: none }

.submenu A:link { COLOR: #FFFFFF }

.submenu A:hover { COLOR: #9999CC }


A:link { COLOR: #0000CC; text-decoration: none }

A:hover	{ COLOR: #9999CC; text-decoration: none }

A:visited { text-decoration: none }


.redlink { FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif }

.redlink A { COLOR: #990000; TEXT-DECORATION: none }

.redlink A:link { COLOR: #990000 }

.redlink A:hover { COLOR: #9999CC }