	BODY {
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: smaller;
	color: #000000;
	margin-left: 25px; }
	
	a.menuformat { font: 12px Times, serif; text-decoration:none; }

	a.menuformat:visited { font: 12px Times, serif; text-decoration:none; }

	a.menuformat:hover { font: 12px Times, serif; text-decoration:none; }

	.bodybold { font-family: "Verdana", Helvetica, sans-serif; font-size: smaller; color: #000000; font-weight: bold; }
	
	.bodyboldsmall { font-family: "Verdana", Helvetica, sans-serif; font-size: .80em; color: #000000; font-weight: bold; }
	
	.head { font-family: "Verdana", Helvetica, sans-serif: small; color: #000000; font-weight : bold; }
	
	.bighead { font-family: "Verdana", Helvetica, sans-serif; font-size: medium; color: #000000; }
	
	.menuformat   {line-height: 1.1em; }

	.menuformat:visited   {font: smaller "Verdana", Helvetica, sans-serif;  text-decoration:none; }

	.menuformat:hover   {font: smaller "Verdana", Helvetica, sans-serif;  text-decoration:none; }
	
	.switch_light { background: #F8FAFD; color: #375885; text-decoration: none; font: 12px Times, serif; }
			 
	.switch_dark  { background: #E4ECF7; color: #375885; text-decoration: none; font: 12px Times, serif; }
			 
	.switch_over  { background: #4977B6; color: #FFFFFF; text-decoration: none; font: 12px Times, serif; }
	
	.bodytext  { font-family: "Verdana", Helvetica, sans-serif; font-size: smaller; color: #000000; }
	
	.bodytextsmaller  { font-family: "Verdana", Helvetica, sans-serif; font-size: x-small; color: #000000; }
	
	.bodytextmenu  { font-family: "Verdana", Helvetica, sans-serif; font-size: .90em; color: #000000; }
		
	.spreader { line-height: 120%; }


.bottomlinks {
	font-family: "Verdana", Verdana, Times, serif;
	font-size: smaller;
	font-style: normal;
	font-weight: normal;
}
	
.columnlinktext {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: small-caps;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: underline;
	cursor: hand;
}
.boldmessagetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

.bigheadblue {
	font-family: "CopprplGoth Bd BT", "Times New Roman", Courier;
	font-size: 20px;
	color: #375885;
}
@print{
  color: #000000; 
  background: #ffffff; 
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt; 
}
a { 
  text-decoration : underline; 
  color : #0000ff; 
}
h1 {
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: 1.1em;
	color: #375885;
	font-variant:small-caps;
	line-height:normal;
	font-weight:bold;
}
h2 {
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: .87em;
	color: #000000;
	font-variant:small-caps;
	line-height:normal;
	font-weight:bold;
}
h3 {
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	font-variant:small-caps;
	line-height:normal;
	font-weight:bold;
}