
#masthead  { background-color: #c60; background-image: url(seamless_leaves_tile.jpg); background-repeat: repeat-x; background-position: 0 0; visibility: visible; margin: 0; padding: 0 -30px 0 0; position: fixed; z-index: 1000; top: 0; left: 0; width: 3000px; height: 95px }
.link_yellow { color: yellow; font-style: normal; text-decoration: none }
.link_white { color: #fff; text-decoration: none }
a:link { text-decoration: none }
.link_brown { color: #c60; text-decoration: none }
a:visited  { text-decoration: none }
a:hover         { text-decoration: none; background-color: #000 }
