body	{ font-family: Arial, Helvetica; font-size: 10pt; font-weight: normal; }
td		{ font-family: Arial, Helvetica; font-size: 10pt; font-weight: normal; }
input	{ font-family: Arial, Helvetica; font-size: 9pt; font-weight: normal; }
select	{ font-family: Arial, Helvetica; font-size: 9pt; font-weight: normal; }
.smtext		{ font-family: Arial, Helvetica; font-size: 9pt; font-weight: normal; }
.tinytext	{ font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-weight: normal; }
.xtinytext	{ font-family: Verdana, Arial, Helvetica; font-size: 7pt; font-weight: normal; }
.byline		{ color: Gray; font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-weight: normal; font-style: italic; }
.sechead	{ font-family: Arial, Helvetica; font-size: 12pt; font-weight: bold; color: #000000;}
.subhead    { font-family: Arial, Helvetica; font-size: 11pt; font-weight: bold; }
.smhead     { font-family: Arial, Helvetica; font-size: 10pt; font-weight: bold; }
.smhead2    { font-family: Arial, Helvetica; font-size: 12pt; font-weight: normal; }
.required	{ font-family: Arial, Helvetica; font-size: 9pt; font-weight: bold; }
.errtext	{ color: Red; font-family: Arial, Helvetica; font-size: 10pt; font-weight: bold; }
.fixed		{ font-family: Lucida Console, Courier; font-size: 8pt; font-weight: normal; }
.footer		{ color: Gray; font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-weight: normal; font-style: italic; }
a:link		{ color: 000066; text-decoration: none; }
a:visited 	{ color: 000066; text-decoration: none; }
a:active	{ color: 000000; text-decoration: none; }
a:hover		{ color: 000000; text-decoration: none; background:#EEF0F9 }
.bylinealt		{ color: #9999CC; font-family: Verdana, Arial, Helvetica; font-size: 7pt; font-weight: bold; }
.bluequotes		{ color: #9999CC; font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-weight: bold; }
.subnav-sec { color: #0066CC; font-size: 12px; font-weight: bold; text-indent: 12px; padding-bottom: 4px; }
.pt { padding-top: 10px; }