#profile_nav
{
    font-weight:bold;
}
.profile_nav_list
{
    list-style: none;
	margin-left: 10px;
	line-height: 20px;
	padding-left: 1em;
	text-indent: -1em;
}
#godwrapper
{
    margin:10px;
    width:100%;
}
#god
{
    background-color:#EFF7FF;
}
.pointsDisplay {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:600;
	color:red;
	text-decoration:none;
}

#profile, #profile_edit, #profile_viewr
{
    width:100%;
    margin-left:20px;
}
#profileTop
{
    min-width:850px;
    float:left;
}
#profileTopLeft
{
   
}
#profileTopRight
{
   
    margin-right:10px;
    text-align:center;
   
}
#profileTopRight img
{
}
#profileTopRight p
{
    text-align:center;
    color:red;
}
#profileForm
{
}


.form br, .form2 br {
    clear:left;
}
.form select, .form2 select {
	display: block;
	float: left;
	width:200px;
	margin-bottom: 5px;
}
.form select { width:150px; }

.form label, .form2 label {
    display:block;
    float:left;
	text-align: right;
	width:120px;
	padding-right: 20px;
	margin-bottom: 5px;
}

.profile_medium_wrapper
{
    width:100%;
}
.profile_medium
{
    background-color:#fbfaea;
    height:120px;
    width:400px;
}
.profile_list
{
   
}
.profile_small_long
{
    background-color:#EFF7FF;
    width:500px;
    margin:10px;
}
.profile_small_long_table
{
    width:100%;
}
.profileFormTable tr th
{
    text-align:right;
    padding-right:10px;
}
.profileFormTable tr th
{
    white-space:no-wrap;
}
.save_profile_button
{  
    width: 300px;
}
#profile_edit_view_msgbox
{
    width: 300px;
}
#profileBottom
{
    margin-bottom:30px;
}
.profileTextBlock
{
    margin-left:20px;
}


