
<style type="text/css">

/*=======================================================*/
/*DO NOT DELETE STYLE SHEET WORK AROUND*/
/*=======================================================*/
#crappoutstyles{
crap-out:true;}
/*========*/
/*END*/
/*========*/
* {
    padding:0;
    margin:0;
}


#gheader{padding:0px;color:rgb(0,0,0);}

    #gheadertext{
	letter-spacing:-1px;
    text-align:right;
    color:rgb(248,248,248);
    padding-right:5px;
	text-transform:uppercase;
	white-space:nowrap;}

    #gheaderfunctionalnav{
	background:url(/images/global/header_tm_tile.gif) top;
    text-align:right;
	}


td#gheaderstatusandsearch {
width:100%;
background:url(/images/global/header_search_bg.gif);
text-align:right;
}

#gheaderloggedin{
font:10px Arial, helvetica, sans-serif;
color:white;
padding-right:20px;
}

div#name{
font:bold 11px Arial, helvetica, sans-serif;
color:#6B869C	;
padding:1px;
margin-top:0px;
text-align:right;
}
   
  
/*----------------------------------------------------------*/
div#gnavbccontainer{
width:auto;
margin-top:10px;
margin-bottom:10px;
background:#FFFFF2;
border:1px solid #ccc;
border-top:none;
font:10px "Arial", helvetica,  sans-serif;
color:rgb(0,0,0);
padding:0px
}

table#globalnav{
width:100%;
}

#globalnav td{font:12px "Arial", helvetica,  sans-serif;background-image:url(/images/global/d1_bg_tile.gif);}

    td.d1{
    text-align:center;
    font:12px "Arial", helvetica,  sans-serif;
    color:rgb(0,0,0);}

    #globalnav a{
	color:rgb(0,0,0);
	text-decoration:none;}

    #globalnav a:hover{color:rgb(153,0,0);}
	 #globalnav a:active{background:none;}

a.nav {
padding:0px 10px 0px 8px;
margin:-2px;
border-right:1px solid #333;
}
#about{
padding:0px 10px 0px 8px;
margin:-2px;
border-right:none;
}


a#mi:hover{background:#5A5C7E;color:rgb(255,255,255);}
a#rc:hover{background:#6B869C;color:rgb(255,255,255);}
a#profdev:hover{background:#003052;color:rgb(255,255,255);}
a#com:hover{background:#005797;color:#ffffff;}
a#about:hover{background:#990000;color:#ffffff;}

a.mylinksicon{text-align:left;}
a#mylinks:hover{background:none;color:rgb(153,0,0);}
a.mylinks{padding:0px;}
	
/*BREAD CRUMB STYLES*/
#bc{
padding:2px;
}
    .bchead{
    font:10px "Arial", helvetica,  sans-serif;
    color:rgb(51,51,51);
    font-weight:bold;	
    }
	
    #bc a{font:10px "Arial", helvetica, sans-serif;color:rgb(153,0,0);    }
    
	.activebc{
    font:10px "Arial", helvetica,  sans-serif;
    color:rgb(0,0,0);
    font-weight:bold;
	text-transform:uppercase;
    }


/*--------------- D2 STYLES----------*/
#d2{
background:url(/images/global/sections/resources/d2_bg.png);
width:183px;
margin:0px;
padding:0px;
border-bottom:1px solid #666;
}
#poll{
background:url(/images/global/sections/poll/d2_bg.png) repeat-y 0px 25px;
width:183px;
margin:0px;
padding:0px;
border-bottom:1px solid #666;
}
.d2_separator{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 1px;
background:#6B869C url(/images/global/div_d2_seperator_alpha_bg.png) top left repeat-x;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#cccccc',endColorStr='#6B869C', gradientType='0');

width:180px;
border-top:1px solid #999;
border-bottom:2px solid #ccc;
}

.d2_separator_text{
font:12px "Gill Sans", "Century Gothic", "Tahoma", "Arial", helvetica,  sans-serif;
/*font:small "Arial Narrow", "Arial", helvetica,  sans-serif;	*/
color:rgb(255,255,255);
font-weight:bold;
text-align:left;
background:url(/images/global/d2_seperator_bg.gif) no-repeat;
padding:10px 15px 2px 5px;
margin:0px;
}

#d2 div {
display:block;
clear:both;
}

#d2 a {
font:11px Arial, helvetica, sans-serif;
text-decoration:none;
text-align:left;
margin:2px;
padding:3px 15px 3px 3px;	
border:1px solid #eee;
background:#fff;
}

	#d2 a.textlink {
	font:11px Arial, helvetica, sans-serif;
	text-decoration:underline;
	background:none;
	border:none;
	margin:0px;
	padding: 0px; 
	}
	#d2 a.img {
	display:block;
	background:none;
	border:none;
	text-align:center;
	padding:2px 0px 2px 0px;
	margin-top:2px;
	}
	

#d2 a.d2link{
	display:block;
	color:#333;
	}
	#d2 a.d2link:hover{
	background:#eee;
	color:#6B869C;
	} 

a#d2linkon{
	display:block;
	color:rgb(255,255,255);
	background:#6B869C ;
}

/*FOR D2 with Sub links*/
#d2 div a.d2sublink{
	display:block;
	color:#333;
	background:#fff url(/images/global/milonic_sub_icon.gif) no-repeat bottom right;
}
	#d2 div a.d2sublink:hover{
	display:block;
	color:#6B869C;
	background:#eee url(/images/global/milonic_sub_icon.gif) no-repeat bottom right;
	}


	
a#d2sublinkon{
	display:block;
	color:rgb(255,255,255);
	background:#6B869C url(/images/global/milonic_sub_icon.gif) no-repeat bottom right;
	cursor:pointer;
}

a#d2backto{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#999999',endColorStr='white', gradientType='0');*/
background:#fff url(/images/global/back_to_bg.gif) no-repeat top left;
	display:block;
	color:rgb(255,255,255);
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	margin:2px 3px 5px 2px;
	padding:3px 3px 3px 15px;
	color:#6B869C;
	}

	
/*place*/
   div#d2 a.d2sectionhome{
	border:0px;
	margin:0px;
	padding:0px;
   }
   
    div#d2 a.d2sectionhome:hover{
	border:0px;
	margin:0px;
	padding:0px;
   }

div#d2 legend{
font:10px Arial, helvetica, sans-serif;
}


div#GoogleAltLinks{
font:1px Arial, helvetica, sans-serif;
color:rgb(210,210,210);
display:none;
}

/***********************************************/
/*******Page d2 links style*************************/
/*************************************************/
fieldset.page_d2{
float:right;
width:150px;
padding:2px;
margin:0px 0px 0px 10px;
background:#fff;
}

	fieldset.page_d2 legend{
	font:16px "Arial Narrow" "Arial", helvetica,  sans-serif;
	padding:0px;
	margin:0px;
	}
	div.page_d2 {	
/*	margin:2px 0px 2px -8px;*/
	padding:0;
	}
	.page_d2_separator{
	background:#eee;
	border:1px solid #ccc;
	font:10px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#6B869C;
	margin-bottom:3px;
	padding:0px;
	}
	/*.page_d2 li{margin-bottom:3px;padding:0px;}*/
	.page_d2 a.link{
		display:list-item;
		font:11px Arial, helvetica, sans-serif;
		list-style-image:url(/images/global/sm_links_bullet.gif);
		margin-left:12px;
		}
	.page_d2 a{font:11px Arial, helvetica, sans-serif;}
	.page_d2 a:hover{background:#eee;font:11px Arial, sans-serif;}

/*BODY or MAIN CONTENT AREA STYLES*/

#main{
text-align:left;
}

#colleft{}
td#body_left{background:url(/images/global/body_ml.gif) right top repeat-y;padding-left:10px;}
td#body_content{
font-family:Arial, Helvetica, sans-serif;
background:#fff url(/images/global/sections/resources/body_top_tab_bg.png) left top repeat-x;
padding:17px 0px 10px 0px;
width:99%;
height:100%;
}
		/*  For Profile Mgt Tabs */	
		.tab{position:absolute;margin:-15px 0px 0px -9px;}

td#body_right{
background:#fff url(/images/global/body_mr.gif) right top repeat-y;
}



/*Styles for Links Ul's on Section homepages  NEEDS TO BE HERE FOR DYNAMIC COLOR*/
.links h1{
font:20px Arial Narrow, Arial, Helvetica, sans-serif;
color:#6B869C;
margin:0px;
}
.links h2{
font:15px Arial Narrow, Arial, Helvetica, sans-serif;
color:#fff;
background:#6B869C;
margin:0px;
}

.links ul{
list-style-image:url(/images/global/links_bullet.gif);
margin-top:0px;
margin-bottom:10px;
}

.links ul li{
margin-bottom:5px;
}

/*GLOBAL FOOTER STYLES*/
#adminlinks fieldset, #adminlinks legend{
margin-top: 5px;
font:10px Arial Narrow, Arial, sans-serif;
margin:0px;
padding:3px;
}

#gfootermid{background-image:url(/images/global/sections/resources/footer_m.gif);}
#gfooter_right{
background-image:url(/images/global/sections/resources/footer_m.gif);
text-align:right;
	}
	#gfootercopyright{font:x-small Arial;float:left;color:white;vertical-align:middle;}
	#gfooterlinks{text-align:right}
    #gfooterlinks a{font:small  arial, helvetica, sans-serif;color:white;}



.sitecopyright{
font:x-small Arial, helvetica, sans-serif;
text-align:justify;
}

/* Added by JT 2005-12-12 to control CFP/CSP tooltips - 
they were starting to get much too big, and needed custom spacing */

.tooltip ul{
	margin-left:40px;
}

.tooltip ul li{
	line-height:14px;
	margin:0px;
}

.tooltip p, .tooltip h1{
	margin:5px 0px 0px 5px;
}

/*************************/
/*EDITS*********************/
/*NAME		Date		Change
/*Tip		7/21/2005	added "_" to heights in box  styles  eg.(errorbox, noticebox...) to hide from mozilla.

/******GLOBAL STYLES******/
/*************************/
/*This sets default attributes of text in any of these html elements*/

text {
display:block;
margin:10px;}

body{
margin:auto;
}

acronym {
border-bottom:2px dashed #990000;
cursor:help;
}

hr{
/*border:1px dotted #ccc;*/
color:#6B869C;
height:1px;
width:95%;
margin:auto;
}


/*Google "o" image page links
a:link > img{
border:2px dashed red;
text-decoration:none;
}*/


body, table, tr, th, td, p, ul, ol, li {
	font:12px "Arial", helvetica, sans-serif;
	/*color : #515151;*/
	color:rgb(51,51,51);
	}

	/*
#body_content p{
	font:12px arial, helvetica, sans-serif;
	}
	*/

/*!!!!!DUPLICATE STYLE IN TO INPUT BLOCK BELOW*/
button, div.formbuttons input{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#cccccc', gradientType='0');
font:11px Arial, Helvetica, sans-serif;
font-weight:bold;
text-transform:uppercase;
letter-spacing:2px;
background:#ccc;
color:#990000;
cursor:pointer;
}

a.formbutton {
display:block;
width:25%;;
white-space:nowrap;
margin:2px auto 2px auto;
background:url(/images/global/form_button_bg.gif) top left no-repeat;
border-left:1px solid #fff;
border-top:1px solid #fff;
border-bottom:1px solid #666;
border-right:1px solid #666;
padding:3px 20px 3px 20px;
font:bold 11px Arial, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:2px;
}

.page_last_mod{
color:#6B869C;
font:10px Arial, sans-serif;
font-weight:bold;
text-align:right;
margin:0px;
padding:0px;
}
	
.quote{
font:14px "Arial", helvetica, sans-serif;
font-style:italic;
}
cite{
font:10px "Arial", helvetica, sans-serif;
font-weight:bold;
display:block;
text-align:right;
}

.dropshadow{
background:url(/images/global/alpha_dropshadow_bg.png) bottom right no-repeat;
padding:0px 7px 7px 0px;
_filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=5);
_padding:0px;
border:none;
}
/*
.dropshadow{
background:#fff url(/images/global/dropshadow.jpg) right bottom no-repeat;
padding:0px 6px 6px 0px;
}*/

div {
scrollbar-face-color: #E7E2D6;
scrollbar-highlight-color: #ffffff;
scrollbar-3dlight-color: #cccccc;
scrollbar-darkshadow-color: #777777;
scrollbar-shadow-color: #cccccc;
scrollbar-arrow-color: #777777;
scrollbar-track-color: #E2E2E3;}


strong {color:#2A2A2A;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
	
/*Sets default the <strong></strong> tag. Should be used to make text stand out to the user. <img alt="Figure 6.2" border="0" src="/Elements/Images/Security/Guide/6_2.gif" /><*/
pre {
font:11px "Courier New", Courier, mono;
white-space:pre;
margin:10px;

width:500px;

overflow:auto;
border:1px dashed #666;
background:#e4e4e4;
padding:5px;}

/*Set default for an <a href="">*/
a img{text-decoration: none;border:none;}

a:link{
color:rgb(153,0,0);
}
/*Set default for an <a href=""> that has already been clicked and is in the users history*/
	a:visited{
	 /*color:;*/
	/*color:#996600;*/
	color:rgb(153,102,102);
	}
	a:hover{
	/*color: ;*/
	color:#990000;
	text-decoration: none;}
	/*Set default for an <a href=""> that is being clicked on*/
	a:active{
	color: #000;
	background:#eee;
	text-decoration: underline;}


/* Set Style for links PDF's*/
/*a.offsite_pdf{
background:url(/elements/images/icons/generic/offsite_pdf.gif) top left no-repeat;
padding-left:36px;
}*/

.pdf{
background:red url(/elements/images/icons/generic/pdf_link.gif) left 2px no-repeat;
padding-left:23px;

}


p, li {
line-height:16px;
}
p{
margin:2px 0px 15px 15px; 
}
blockquote{
margin:20px 20px 20px 40px;
}

/*************************/
/*HEADING STYLES*/
/*************************/
		
/*Defines advanced style of h1's to be seen in new browsers*/
h1, h2, h3, h4{
font-weight:normal}

h1 {
	/*font-family:"Gill Sans", "Century Gothic", "Tahoma", "Arial", helvetica, sans-serif;*/
	font: 22px "Arial Narrow", "Arial", helvetica, sans-serif;	
	font-weight:300;
	color:#000;
	margin:3px 5px 10px 0px; 
} 
/*Defines advanced style of h2's to be seen in new browsers*/
h2 {
	font-family:"Arial Narrow", "Arial", helvetica, sans-serif;	
	font-size:18px; 
	color:#6B869C;
	background:#eee url(/images/global/h2_bg.png) bottom right no-repeat;
	border-bottom:1px solid #6B869C;
	padding-left:3px;
	margin:10px 0px 0px 5px;
} 

/*Defines advanced style of h3's to be seen in new browsers*/
h3 {
	font:italic 16px "Arial Narrow", "Arial", helvetica, sans-serif;	
	color:#6B869C;
	border-bottom:1px dashed #6B869C;
	margin:0px 0px 0px 10px;
	} 

/*Defines advanced style of h3's to be seen in new browsers*/
h4 {
	font-family:"Arial Narrow", "Arial", helvetica, sans-serif;	
	font-size:15px;
	color:#000;
	background:#eee;
	padding:1px;
	font-style:italic;
	margin:0px 0px 0px 15px;
	padding-left:3px;
} 

/*Defines advanced style of trackbacks to be seen in new browsers*/
#trackbacks {
	font-family:"Arial Narrow", "Arial", helvetica, sans-serif;	
	font-size:18px; 
	background:whitesmoke; 
	border-bottom:0px solid silver;
	padding-left:3px;
	margin:40px 0px 10px 5px;
} 


/*************************/
/*FIELDSET STYLES*/
/*************************/
fieldset {
width:auto;
margin:5px 0px 10px 0px;
padding:10px;
background:#fff url(/images/global/fieldset_gray_grad_bg.jpg) bottom left repeat-x;
_filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='white',endColorStr='#EEEEEE', gradientType='0');
}

legend {
	font:16px "Arial Narrow", "Arial", "Helvetica", sans-serif;
	margin-bottom: 5px;
	color:#6B869C;
}

fieldset h2 {
font: 14px Arial, sans-serif;
margin-left:0px;
}
fieldset p {
margin-left:0px;
}

ul {
list-style-image: url(/images/global/diamond_bullet.gif);
margin-left:50px
}
ol {
margin-left:50px
}		

	/*FOR NESTED UL's*/
	ul ul li{
	list-style-image: url(/images/global/sm_diamond_bullet.gif);
	}

/* CUSTOM BULLETS TO DENOTE CONTENT */
	li.educause{
	list-style-image: url(/images/global/educause_bullet.gif);
	}

	li.multimedia{
	list-style-image: url(/images/global/multimedia_bullet.gif);
	}
	/*fieldset li.multimedia{
	padding-left:20px;
	}	*/
		

li {
margin:0px 3px 10px 0px;
}
	li p{
	margin:10px 10px 10px 0px;
	}

	
		fieldset ul{
		padding:0px 10px 10px 0px;
		margin:0px;
		}
	
		fieldset ul ul {
		margin-left:25px;
		/*padding-bottom:0px;*/
		}
	

fieldset li {
margin:0px 10px 6px 20px;
padding:0px;
}	
fieldset table{
padding:0px; 
margin:0px;
}

/*************************/
/*ANCHOR LINK ATTRIBUTES SET IN css_primary.asp so we can use custom color per section */
/*************************/
/***********************************************************/
/*Box styles -  Can be applied to Div or Para*/
/***********************************************************/

.rss{
text-align:right;
margin-top:-10px;
padding:0px;
/*border:1px solid red;*/
}

.dashedbox{
background-color:#FFFFE5;
margin:10px;
padding:3px 3px 3px 3px;
border:1px dashed #666;
}
.solidbox{
background-color:#FFFFE5;
margin:10px;
padding:3px 3px 3px 3px;
border:1px solid #666;
}
.warningbox{
font:14px Arial, sans-serif;
color:red;
font-weight:bold;
margin:10px;
padding:3px 3px 3px 50px;
border:1px dashed #666;
background:#FFFFE5 url(/elements/images/icons/generic/warning.gif) no-repeat top left;
_height:45px;
overflow:visible;
min-height:45px;
}


.errorbox{
font:14px Arial, sans-serif;
color:#000;
margin:10px;
padding:3px 3px 3px 50px;
border:1px dashed #666;
background:#FFFFE5 url(/elements/images/icons/generic/error.gif) no-repeat top left;
_height:45px;
overflow:visible;
min-height:45px;
}


.noticebox{
font-style:italic;
margin:10px;
padding:15px 3px 15px 45px;
border:1px dashed #666;
background:#FFFFE5 url(/images/global/noticebox_bg.png)  top left no-repeat;
_height:40px;
overflow:visible;
min-height:40px;
}

.noticebox p{
margin:0px 0px 10px 0px;
padding:0px;
}



.lockedbox{
font-style:italic;
margin:10px;
padding:3px 3px 3px 25px;
border:1px dashed #666;
background:#FFFF99 url(/Elements/Images/Icons/File_Types/icon_lock.gif) no-repeat 5px 5px;
_height:35px;
overflow:visible;
min-height:35px;
}





/*************************/
/*Basic Content styles*/
/*************************/


.right{text-align:right;}
.center{text-align:center;}
.backtotop{text-align:right;margin-bottom:15px;}

.text-gray   { color: #808080; }
.text-white  { color: white; }
.text-purple { color: #800080; }
.text-green  { color: #008000; font-weight: bold; }
.row_altColor { background-color: #EEEEEE; }

/*For Past and Future Conference Columns*/
table.conf_dates {
width:100%;
margin-bottom:10px;
}

td.upcoming_col{
vertical-align:top;
width:50%;
}
td.upcoming_col h2{
margin-top:0px;}

td.past_col{
vertical-align:top;
background:#f8f8f8;
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
width:50%;
}
td.past_col h2{
margin-top:0px;}

/*This style is for Netscape 4.x. The style for Newer versions of IE and NN are set in ADVANCED.css. This class makes it so in NN 4.x extra indention is not added to ul or li.*/
.noindent{
margin-left: 1.5em;
padding-left:0;
}
/*This class should be put on a <p> tag around text that is footnoted. Footnoted text is text that typically is put at the bottom of the paragraph and is referred to by a special character from the body of the page. This text is usually just for reference or disclaimer and is meant to be de-emphasized on the page.*/
.footnote{
font:10px "Arial", helvetica, sans-serif;
font-style:italic;
}

/*Class to be applied to text that acts as instructions on the page*/
.instructions{
font:10px "Arial", helvetica, sans-serif;
font-style:italic;
}
/*Class can be put on a <p> or <span>, and should be used to make text bigger than the normal 12px text*/
.large {
font-family:"Arial", helvetica, sans-serif;
font-size:medium;
/*font-size: 14px;*/
}
	
/*Class can be put on a <p> or <span>, and should be used to make text bigger than the normal 12px text 
.largebold{
font-family:"Arial", helvetica, sans-serif;
font-size: 14px;
font-weight:bold;
}*/
	
/*Class can be put on a <p> or <span>, and should be used to make text larger than the normal 12px text and italic	
.largeitalic {
font-family:"Arial", helvetica, sans-serif;
font-size: 14px;
font-style:italic;
}*/
/*Class can be put on a <p> or <span>, and should be used to make text larger than the normal 12px text, italic, and bold
.largeitalicbold {
font-family:"Arial", helvetica, sans-serif;
font-size: 14px;
font-style:italic;
font-weight:bold;
}*/
	
/*Class can be put on a <p> or <span>, and should be used to make text smaller than the normal 12px text*/
.small {
font-family:"Arial", helvetica, sans-serif;
font-size:x-small;
/*font-size: 10px;*/
}

/*Class can be put on a <p> or <span>, and should be used to make text smaller than the normal 12px text	
.smallbold {
font-family:"Arial", helvetica, sans-serif;
font-size: 10px;
font-weight:bold;
}*/
	
/*Class can be put on a <p> or <span>, and should be used to make text smaller than the normal 12px text and italic			
.smallitalic {
font:italic 10px "Arial", helvetica, sans-serif;
}*/
	
/*Class can be put on a <p> or <span>, and should be used to make text smaller than the normal 12px text and italic	
.smallitalicbold {
font-family:"Arial", helvetica, sans-serif;
font-size: 10px;
font-style:italic;
font-weight:bold;
}*/
	
/*Class can be put on a <p> or <span>, and should be used to make text red, typically used on information that the user must see.*/
.red {
color:RED;
}
 /*Class can be put on a <p> or <span>, and should be used to make text white, typically used on text that is displayed on a dark background.*/
.white{
color:White;
font-weight:bold
}
	a.white{
color:White;
font-weight:bold
}
 /*Class can be put on a <p> or <span>, and should be used to make text white, typically used on text that is displayed on a dark background.*/
.green{
color:Green;
font-weight:bold
}
.blue{
color:Blue;
font-weight:bold
}
.center{
text-align:center;
}
.sidebar_right{
float:right;
width:25%;
background-color:#fff;
padding:2px;
margin:5px 2px 20px 10px;
border:1px Solid #ccc;
}
	.sidebar_right p{
	font-family:"Arial", helvetica, sans-serif;
font-size: 10px;
	line-height:12px;
	}
	.sidebar_right li{
	font-family:"Arial", helvetica, sans-serif;
font-size: 10px;
	line-height:12px;
	}
	.sidebar_right a{
	font-family:"Arial", helvetica, sans-serif;
	font-size: 10px;
	}
.sidebar_left{
font-family:"Arial", helvetica, sans-serif;
font-size: 10px;
float:left;
width:200px;
padding:2px;
margin:5px 2px 20px 10px;
background:#eee;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#eeeeee',endColorStr='#ffffff', gradientType='0');
border:1px Solid #ccc;
}

.fleft {float: left; margin:5px 5px 0px 2px;}
.fright {float: right;}
.highlight {background-color: yellow;}	

/*************************/
/*Link styles for Buttons*/
/*************************/
a#button{
font-family:"Arial", helvetica, sans-serif;
font-size: 12px;
color:#fff;
text-decoration:none;
border-left:2px solid #e4e4e4;
border-top:2px solid #e4e4e4;
border-right:2px solid #999;
border-bottom:2px solid #999;
background:#6B869C;
padding:3px;
line-height:25px;
}
	a#button:hover{
	color:#ccc;
	text-decoration:none;
	border-left:1px solid #999;
	border-top:1px solid #999;
	border-right:2px solid #e4e4e4;
	border-bottom:2px solid #e4e4e4;
	background:#6B869C;
	padding:3px;
	}

/* end matt's additions */


/* Hid from all but WinIE\*/
* html .book {
height:1px;}


div.anchorlink {
/*border:1px solid red;*/
height:1%;
line-height:1px;
margin:0px;
margin-bottom:-2px;
padding:0px;
height:1px;
}

/* ADDED BY JT FOR ELECTION APP - 8/19/04 */

.candidate{
font:16px "Arial";
font-weight:bold;
}

a:visited.candidate {
font:16px "Arial";
font-weight:bold;
}

.candidatetable{
border:1px solid #ccc;
background:#666;
}

.candidatetable p,li{
padding-left:10px;
}

/* For COnference Date Blocks*/
.confdatesubhead {
font:17px/15px Arial Narrow, Arial, Helvetica, Sans-serif;
color:#666;
margin:-10px auto 10px 10px;
}

.h1_subhead {
font:17px/15px Arial Narrow, Arial, Helvetica, Sans-serif;
color:#666;
margin:-10px auto 10px 10px;
}
.h3_subhead {
font:14px Arial Narrow, Arial, Helvetica, Sans-serif;
color:#666;
margin:0px auto 10px 10px;
}

div.showhide_head{
font-size:large;
border:1px solid #ccc;
padding:3px;
background:#f8f8f8;

}

a.showhide_link{
text-decoration:none;
font:16px "Arial Narrow", Arial, Helvetica, sans-serif;
cursor:pointer;}

fieldset.regional_conf_quote_wrapper{
margin-top:5px;
background:#f8f8f8 url(/elements/images/icons/left_quote_mark.gif) top left no-repeat;
_background-position:0% 30%;
filter:none;
border:2px solid #ccc;
border-left:1px solid #fff;
border-top:1px solid #fff;
padding:0px;
}
fieldset.regional_conf_quote_wrapper legend{
padding:3px;
text-align:center;
background:#fff;
border:1px solid #ccc;}

div.regional_conf_quote{
text-align:center;
min-height:75px;
_height:75px;
background:url(/elements/images/icons/right_quote_mark.gif) bottom right no-repeat;
padding:5px;
font:italic 16px "Times New Roman", Times, serif;}
/**********************************/
/*-----FORM CLASSES*/
/*NAME		DATE		CHANGE
/*Tip		6/28/2005	Changed margin to padding on formtable 
/************************************/

/*GLOBAL FORM STYLES*/

input, select, textarea{
font:12px Arial;
margin:0px 5px 0px 5px;
}


textarea {
height:100px;
width:99%;
margin:1px;
}

.text-white{
color: white;
}

.formtable{
width:100%;
padding:0px 10px 10px 0px;
margin-left:5px;
margin-right:-5px;
}

/*Defines what the td of the form header should look like such as background color and padding ,as well as how the Header text should be formatted*/

.formheader td{
font:14px "Arial", helvetica, sans-serif;
color:#fff;
background:#6B869C;
padding:3px;
}

.formheader a{
color:#fff;
}

.formheader a:visited{
color:#fff;
}

/*OLD STYLE MANINTAINED ONLY TO PREVENT OLD USSAGE FROM BREAKING... REMOVE ANY INSTANCE WHEN YOU SEE IT AN USE formlabeltop or formlabelmid NOTE: bottom-border, and padding are all set in Advanced.css*/
/*.formlabel{
font:11px "Arial", helvetica, sans-serif;
color:#333;
text-align:right;
vertical-align:top;
background:#e4e4e4;
font-weight:bold;
}*/

/*Defines what the td of the form label that only spans one row, such as Job Title: should look like as well as how the label text should be formatted. NOTE: bottom-border, and padding are all set in Advanced.css*/
.formlabeltop{
font:11px "Arial", helvetica, sans-serif;
color:#333;
font-weight:bold;
text-align:right;
vertical-align:top;
background:#e4e4e4;
border:1px solid #ccc;
padding:3px;
/*width:25%;
/*width:auto;*/
}


/*Defines what the td of the form label that spans multiple rows, such as Full Name: or Street Address should look like as well as how the label text should be formatted. NOTE: bottom-border, and padding are all set in Advanced.css*/
.formlabelmid{
font:11px "Arial", helvetica, sans-serif;
color:#333;
font-weight:bold;
text-align:right;
vertical-align:middle;
background:#e4e4e4;
border:1px solid #ccc;
white-space: nowrap;
padding:3px;
/*width:auto;*/
}
	.formlabelmidleft{
	font:11px "Arial", helvetica, sans-serif;
	color:#333;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	background:#e4e4e4;
	border:1px solid #ccc;
	white-space: nowrap;
	padding:3px;
	/*width:25%;*/
	}

/*Defines what the td of the form field should look likeNOTE: line-height, and padding are all set in Advanced.css*/
td.formfield{
font:12px "Arial", helvetica, sans-serif;
vertical-align:top;
border-bottom:1px dashed #ccc;
width:99%;
}

.formselectlabelmid{
	font:11px "Arial", helvetica, sans-serif;
	color:#333;
	font-weight:bold;
	text-align:right;
	vertical-align:middle;
	background:#e4e4e4;
	border:1px solid #ccc;
	padding:3px;
	width:100%;
}


.formselectlabelmidleft{
	font:11px "Arial", helvetica, sans-serif;
	color:#333;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	background:#e4e4e4;
	border:1px solid #ccc;
	padding:3px;
	width:100%;
}

/*5/9/2006 Changed Text align to Left from Center*/
.formselect{
font:12px "Arial", helvetica, sans-serif;
vertical-align:top;
border-bottom:1px dashed #ccc;
text-align:left;
}

.formbuttons{
width:100%;
background:#6B869C url(/images/global/div_formbuttons_alpha_bg.png) bottom left repeat-x;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#6B869C',endColorStr='#ffffff', gradientType='0');
text-align:center;
margin:0px 0px 20px 0px;
border:1px solid #ccc;
border-bottom:3px solid #999;
padding:3px;
}

	.button {
		cursor:pointer;
		border:1px solid black;
		background-color:#E4E4E4;
		padding:2px;
		font-size:10px;
		vertical-align:middle;
	}


/*div.formbuttons input{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#cccccc', gradientType='0');
font:11px Arial, Helvetica, sans-serif;
font-weight:bold;
background:#ccc;
color:#990000;
cursor:pointer;
margin-left:10px;
	}*/
/*This class should be used in a <span> that is wrapping an asterisk [*] that denotes a field that the user is required to fill out.*/
.requiredfield{
font-weight:bold;
font:12px "Arial", helvetica, sans-serif;
color:red;
}

/*This class can be used on a <p> or <span> that surrounds text accompanied by a check box that the user checks if they agree to do something */
.agreement{
font:10px "Arial", helvetica, sans-serif;
font-style:italic;
}



/*************************/
/*Grid styles ALTERNATING COLOR ROW*/
/*************************/

/**** THIS IS FOR CONSISTANT FONT SIZE IN FAQ TABLES*/
table.faq td p, table.faq td li{
font-size:12px;}


/*Apply to the table*/
.grid_table{
width:99%;
border-collapse:collapse;
margin:5px 5px 20px 5px;
}

	fieldset table.grid_table{width:100%;margin:0px;}

/*Apply to single and multiple column listings*/


	.grid_head td{
	background:#6B869C;
	font:bold 12px Arial, sans-serif;
/*	white-space:expression(document.body.clientWidth > 800? "nowrap": "500px" ); */
	/*white-space:nowrap;*/
	color:#fff;
	padding:3px;
	border:1px solid #999;
	border-bottom:1px solid #000;
	}
	tr.grid_head td.small{
	font-size:10px;}
	
		.grid_head strong{
		color:#fff;
		}

	.grid_head a{
	font:bold 12px Arial, sans-serif;
	color:#fff;
	}
	.grid_head a:hover{
	font:bold 12px Arial, sans-serif;
	color:#fff;background:#ccc;
	}
	.grid_head a:visited{
	font:bold 12px Arial, sans-serif;
	color:#fff;
	}
/*=========SORETED STYLES========*/
td.grid_head_sorted {
background:#e4e4e4;
font-weight:bold;
color:#6B869C;
}

	a.grid_head_sorted {
	color:#6B869C;
	font-weight:bold;
	text-decoration:none;
	}
	a:visited.grid_head_sorted {
	color:#6B869C;
	font-weight:bold;
	text-decoration:none;
	}


.grid_subhead{
background:#d6d6d6;border-collapse:collapse;
}
	.grid_subhead td{
	font:12px Arial, sans-serif;
	color:#000;
	padding:3px 3px 3px 5px;
	border:1px solid #999;
	border-bottom:2px solid #333;
	}


/*Apply to the tr*/
.row_1 td{
font:11px Arial, sans-serif;
background:#fff;
vertical-align:middle;
border-bottom:1px dashed #ccc;
}
	table.grid_table .row_1 td{
	border:1px solid #ccc;
	padding:3px;
	}
		table.grid_table p, table.grid_table li{
		font:11px Arial, sans-serif;
		margin:3px;
		padding:0px;
		}	
		table.grid_table ul{
		margin:5px 0px 5px 20px;
		}					
	

.row_2 td{
font:11px Arial, sans-serif;
background:#eee;
vertical-align:middle;
border-bottom:1px dashed #ccc;
padding:2px;
}
	table.grid_table .row_2 td{
	border:1px solid #ccc;
	padding:3px;
	}
		.row_2 p{
		font:11px Arial, sans-serif;
		margin:3px;
		padding:0px;
		}

.gridrow_h1 td{
background:#fff;
color:#990000;
}

.gridrow_h2 td{
background:#999;
color:#fff;
}

td.grid_row_head{
	background:#6B869C;
	font:bold 12px Arial, sans-serif;
	color:#fff;
	padding:3px;
	border:1px solid #999;
	border-bottom:1px solid #000;/*	white-space:expression(document.body.clientWidth > 800? "nowrap": "500px" ); */
	/*white-space:nowrap;*/
}
/*For TrackBacks*/
div#trackbacks {
border:1px solid #ccc;
padding:0px;
margin:50px 10% 20px 10%;
background-color:#f8f8f8;
}

div#trackbacks h2.trackbacks{
background:none;
background-color:#005796;
color:#fff;
font-size:18px;
text-align:center;
margin:0px;
width:100%;
border-top:5px solid #000;
border-bottom:3px solid #95B8D4;
} 

div#trackbacks h3.trackbacks{
font:normal 14px Arial Narrow, Arial, Helvetica, Sans-serif;
color:#333;
padding-left:10px;
margin:2px;
border-bottom:1px dashed #333;
} 

div#trackbacks ul {
margin-top:0px;
margin-bottom:5px;}

/****************************/
/* from matt for krc test */
/****************************/
.rc_content{
margin:0px;
padding:0px;
}

/*#body_content .rc_content legend 
{
	font-size: small;
	}

#body_content .rc_content p
{
	font-size: small;
}
#body_content .rc_content .term_info 
{
	font-size: smaller;
}

#body_content .rc_content div
{
	font-size: small;
}

#body_content .rc_content li 
{
	font-size: small;
}*/

.rc_content fieldset{
margin:0px 10px 10px 10px;
border:1px solid #e4e4e4;
}

.rc_content h1{
/*color:#63727E;*/
margin:0px;
/*border-bottom:1px solid #990000;*/
}

.rc_content h3 {
	letter-spacing:1px;
	font-size:16px;
	text-decoration: none;
    font-style: normal;
/*    color:#6B859C;*/
	color:#333;
	background:#EFF3F4 url(/images/global/rc_h3_bg.png) top left no-repeat;
	/*border:1px solid #6B859C;*/
	
	/*border-bottom:1px solid #6B859C;*/
	border-bottom:1px solid #ccc;
	padding-left:5px;
	margin:0px 10px 10px 10px;
} 

.term_info
{
color: #666;
font:10px Arial, Helvetica, sans-serif;
/*background:#EFF3F4;*/
border-top:1px solid #ccc;
padding:2px;
margin:0px 0px 10px 0px;
}

fieldset.eq {
background:url(/matt/eq-big2.png) top right no-repeat;
/*background:url(/images/rc/eq_watermark.gif) top right no-repeat;*/
background-attachement: fixed;
}

.scrollingdiv{
padding-right: 10px; margin-bottom: 10px; overflow: auto; width: 99%; height: 140px;
}

.scrollingdiv-long{
padding-right: 10px; margin-bottom: 10px; overflow: auto; width: 99%; height: 250px; clear:both;
}

.rc_content ul {
/*list-style-image: url(/images/rc/rc_bullet.gif);
list-style-position: inside;*/
list-style: disc url(/images/rc/rc_bullet.gif) outside;

margin-top:3px;
margin-bottom:0px;
}

div.krc_section_head{
background:url(/images/global/krc_section_head_left.gif) top left no-repeat;
padding:0px;
margin:0px;
}

	h2.krc_section_head{
	font:17px Arial Narrow, Arial, Helvetica, sans-serif;
	color:#6B859C;
	text-transform:uppercase;
	margin:20px 0px 0px 0px ;
	background:url(/images/global/krc_section_head_right.gif) top right no-repeat;
	padding:5px 0px 18px 35px;
	border:none;
	}
.krc_head{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='white',endColorStr='#EEEEEE', gradientType='0');*/
margin-bottom:1px;
cursor: pointer;
}

span.krc_supinfo{
font:10px "Arial";
color:#666;
}

.krc_head a{
background:#E3E8EC;
display:block;
color: #333;
font:12px "Gill Sans", "Century Gothic", "Tahoma", "Arial", helvetica, sans-serif;
text-align:left;
text-transform: uppercase;
text-decoration:none;
border:1px solid #999;
margin-left: 3px;
padding:3px;
padding-left:8px;
font-weight: bold;
}

.krc_head a:hover{
background-color:#E3E8EC;
color:#fff;
border:1px solid #999;
}

div.krc_head a.d2on{
font-weight: bold;
}

div.krc_head a:active{
}
/* ----------------  CURRENT ISSUES AREA RIGHT SIDE COLUMN ------------------  */
div.val_add{
}

div.val_add h2.krc_section_head{
margin-top:0px;
}

td.val_add_colleft{
width:auto;
/*min-width:300px;*/
border:1px solid white;
}

td.val_add_colright{
width:200px;
border:1px solid #ccc;
background:#D8E0E5 url(/images/global/val_add_colright_alpha_bg.png) right top repeat-y;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#D8E0E5',endColorStr='white', gradientType='1');
}
	.val_add_colright h1{
	font:14px Arial, sans-serif;
	color:#333;
	background:#D8DDE0;
	text-align:center;
	padding:3px;
	border-bottom:3px solid #ccc;
	}

	.val_add_colright h2{
	font:12px Arial, sans-serif;
	font-weight: bold;
	color:#fff;
	background:#8A9CAB;
	border-bottom:3px solid #ccc;
	margin: 5px;	
	padding: 2px;
	}

	.val_add_colright p, .val_add_colright li {
	font:11px Arial , sans-serif;
	}

	.val_add_colright ul, .val_add_colright ol {
		margin-left:20px;
	}


#notify {
	position:		absolute;
	background:		white;
	top:			10px;
	left:			5%;
	width:			20px;
	height:			300;
	writing-mode:	tb-rl;
	padding:		10px;
	filter:			flipV() flipH() alpha(opacity=50) progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fff',endColorStr='#F5F5F5', gradientType='1');
}

#collapse_div {
	text-align:left; /* IE hack! */
	background:white;
	width: 99%;
	}
#collapse_div div {
	margin-left:15px;
	display:block;
	}
#collapse_div h2 {
	color:silver;
	margin-left: 10px;
	background:#F5F5F5;
	padding-left: 10px;
	width: 100%;
	}
#collapse_div h2 a {
	cursor: hand;
	width: 100%;
	}
#collapse_div h2 a:hover {
	background:#F5F5F5;
	cursor: hand;
	}
#collapse_div div p {
	font-weight:normal;
	}
#collapse_div div a {
	display:inline;
	color:#ccc;
	text-decoration:none;
	cursor: hand;
	}
#collapse_div div a:hover {
	border-bottom:1px solid #000;
	color:#000;
	background:#F5F5F5;
	cursor: hand;
	}

.collapse_menu a {
	font-size:9px;
	text-decoration:none;
	color:black;
	background:white;
}
.collapse_menu a:hover {
	font-size:9px;
	text-decoration:underline;
	color:#999;
	background:white;
}

/*d2 styles for Last Updated*/
.last-updated{font:10px arial; color: #666;}
.recently-updated{font:10px arial; color: #666;}


/*****************************************************/
/*Library abstract styles*/
/*****************************************************/
.lib_label{
font:12px Arial, Helvetica, sans-serif;
border:1px solid #ccc;
font-weight:bold;
background:#E3E8EC;
vertical-align:top;
text-align:right;
padding:3px;
width:100px;
}
.lib_info{
border:1px solid #ccc;
background:#FFFFF2;
padding:3px;
}



/*******************************************************/
/****************SECTION HOME PAGE STYLES****************/
/*******************************************************/
#body_content br{line-height:1px;}

#sechp_top{
padding:5px 0px 0px 0px;
}

	.sechp_topleft{
	position:relative;
	margin-top:-15px;
	float:left;
	width:280px;
	}
		.sechp_heading{
		position:relative;
		margin-top:0px;
		margin-bottom:0px;
		margin-left:0px;
		width:250px;
		}

#highlight {
FILTER:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00);
}

#hlHome{
background:url(/images/global/highlights_bg.gif) repeat-y;
FILTER:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00);
height:115px;
overflow:auto;
padding-left:10px;
padding-right:10px;
margin-bottom:0px;
width:260px;
}

	#hlHome img{padding:5px;}
	#hlHome p{font:11.5px Arial, Helvetica, sans-serif;margin:0px;}
	#hlHome a{font-weight:bold;}

#sechp_topright{
position:relative;
margin:0px 0px 0px 285px;
}

#sechp_topright ul ul li {
list-style-image: url(/images/global/sm_links_bullet.gif);
}

#sechp_links{
position:relative;
background:#f8f8f8;
float:right;
width:241px;
margin:0px 0px 0px 10px;
padding-left:10px;
border-left:1px dashed #ccc;
border-bottom:1px dashed #ccc;
}

/*Styles for Links Ul's on Section homepages*/
.links h1{
font:20px Arial Narrow, Arial, Helvetica, sans-serif;
color:;
margin:0px;
}
.links ul{
list-style-image: url(/images/global/links_bullet.gif);
margin-top:0px;
margin-left: 1.5em;
padding-left:0;
}

.links li{
margin:0px 3px 3px 0px;
padding-left:0px;
}

/*NLII Home Pages Styles*/
#reversedout td {vertical-align:top;}


#learnmore_colored{
text-align:right;
padding-bottom:10px;
}


#learnmore_colored a{
color:#265352;
font-weight:bold;
}


.reversedoutheading{
margin:2px;
font:18px Arial Narrow, arial, helvetica, sans-serif;
font-weight:bold;
color:#fff;
	}
	
#reversedout .reversedoutheading a{
	display:inline;
	list-style-image:none;
	margin:0px;
	font:18px Arial Narrow, arial, helvetica, sans-serif;
font-weight:bold;
color:#fff;
margin:0px 5px;
	}
	#reversedout .reversedoutheading a:active{
color:#000;
}

#reversedout a.reversedoutlink {
display:list-item;
list-style-type:circle;
margin:0px auto 5px 20px;	
color:#fff;
}

#reversedout a.reversedoutlink:active{
color:#000;
}




/* */
</style>