/* body styles */

body {
	background : #ffffff;
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:link {
	color : #990000;
	text-decoration : underline;
}/* red */

a:visited {
	color : #0c3844;
	text-decoration : underline;
}/* blue */

a:active {
	color : #3e6b6b;
	text-decoration : underline;
}/* green */

a:hover {
	background-color : #e2edef;
	text-decoration : none;
}/* light blue */



/* font color styles */

.red {
	color : #990000; 
}

.blue {
	color : #0c3844; 
}

.green {
	color : #3e6b6b; 
}

.calendar {
	color : #3f8383; 
}


/* font sizes */

.mediumfont {
	font-size : .80em; 
}

.smallfont {
	font-size : .70em; 
}

.smallerfont {
	font-size : .65em; 
}

/* font sizes with colors */

.smallfontred {
	font-size : .70em; 
	color : #990000;
}

.smallfontblue {
	font-size : .70em; 
	color : #0c3844;
}

.smallfontgreen {
	font-size : .70em; 
	color : #3e6b6b;
}

.mediumfontred {
	font-size : .80em;
	color : #990000;  
}

.mediumfontblue {
	font-size : .80em;
	color : #0c3844;  
}

.mediumfontgreen {
	font-size : .80em;
	color : #3e6b6b;  
}

.largefontgreen {
	font-size : 1em;
	color : #3e6b6b; 
}

/* boxes */

.box {
	background : #e2edef;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .80em;
	color : #0c3844;
}

.boxs {
	background : #e2edef;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;	
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .70em;
	color : #0c3844; 
}

.boxno {
	background : #e2edef;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #0c3844;
}/* used only in events */
	
.linebox {
	background : #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .80em;
	color : #0c3844; 
	}
	
.lineboxs {
	background : #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .70em;
	color : #0c3844;  
	}	
	
.lineboxno {
	background : #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #0c3844;  
	}
	
.calendarbox {
	background : #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .75em;
	color : #0c3844;  
	}
	
.redbox {
	background : #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #990000;
}/* used only in events */

/* pullquote */
	
.pullquote {
	background : #e2edef; 
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .70em;
	text-align : center;
	padding : 5px;
    margin: 5px;
	}

/* video extracts in article body */
	
.extract {
	background : #ffffff; 
	border-style : solid solid solid solid;
	border-width : 1px;
	border-color : #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .70em;
	text-align : center;
	padding : 5px;
    margin: 5px;
	}
	
/* contrasting colors in results tables */
	
.row0 {
	background-color : #ffffff;
	}
	
.row1 {
	background-color: #e2edef;
	}

/* search boxes */
	
.search {
	border: #aac4bf 1px solid;
	font-size : 15px;
    width: 210px;
}
.searcheducate {
	border: #aac4bf 1px solid;
	font-size : 15px;
    width: 75px;
}

.searchevent {
	border: #aac4bf 1px solid;
	font-size : 15px;
}
.submit {
    font-size: 11px;
    background-color: #e2edef;
    color: #0c3844;
    padding: 1px;
    border: 1px solid #aac4bf;
}

.artscouncil {
    font-size: 1em;
    padding: 10px;
	background : #fff;
	border: 1px solid #aac4bf;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #0c3844;
}




