body, td {
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;

	
}

.copy {
	color:#4C4C4C;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:12px;
	font-weight: bold;
	padding-left:15px;
	padding-right:6px;
	padding-bottom:2px;
	padding-top:8px;
	line-height:15px;

}

.copyt {
	color:#9C1173;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:14px;
	font-weight: bold;
}

.copyst {
	color:#E6006C;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:14px;
	font-weight: bold;
}

.copym {
	color:#821B6E;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:12px;
	font-weight: bold;


}

.copyp {
	color:#E6006C;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:15px;
	font-weight: bold;


}

.copyin {
	color:#5C5C5C;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:12px;
	font-weight: normal;
	padding-left:10px;
	padding-right:5px;
	padding-bottom:4px;
	padding-top:3px;

}
.copyw {
	color:#ffffff;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:12px;
	font-weight: normal;
	padding-left:10px;
	padding-right:5px;
	padding-bottom:4px;
	padding-top:3px;

}

.foot {
	color:#CDD9D4;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-align: left;
	padding-left:15px;
	padding-right:2px;


  }
  
  .footin {
	color:#FFECD5;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:10px;
	text-align: right;
	padding-right:5px;


  }
  
  
   a {
	color:#ffffff;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
  }
a:hover {
	color:#ececec;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
}

   a.in {
	color:#ffffff;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
  }
a.in:hover {
	color:#A0BC4C;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
}

   a.text {
	color:#000000;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
  }
a.text:hover {
	color:#FE8500;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
}

   a.spl {
	color:#000000;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:15px;
	text-decoration: none;
	font-weight: bold;
  }
a.spl:hover {
	color:#FE8500;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:15px;
	text-decoration: none;
	font-weight: bold;
}

   a.footer {
	color:#7F321E;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:10px;
	text-decoration: none;
	font-weight: bold;
  }
a.footer:hover {
	color:#ffffff;
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:10px;
	text-decoration: none;
	font-weight: bold;
}




td.bglinert{
	border-right: 1px solid #CECECE;
	border-top: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
}

td.bgline1{
	border-top: 0px none;
	border-right: 1px solid #BBBADC;
	border-bottom: 0px solid none;
	border-left: 1px solid #BBBADC;
}

td.greyline{
	border-top: 0px none;
	border-right: 1px solid #C4C4C4;
	border-bottom: 0px solid none;
	border-left: 1px solid #C4C4C4;
}

td.greenline{
	border-top: 0px none;
	border-right: 5px solid #074128;
	border-bottom: 5px solid #074128;
	border-left: 5px solid #074128;
}

ul{
color:#FFFFFF;
}

ul.txt{
color:#000000;
}

body {
	font-family: "Trebuchet MS", Tahoma, Arial;
	font-size: 11px;
}

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
		
}

#nav a {
	display: block;
 /* width: 1em; */
	word-wrap: nowrap;
}

#nav li { /* all list items */
	float: left;
 /* width: 1em; /* width needed or else Opera goes nuts */
	list-style: none;
}

#nav li ul {
	position: absolute;
	background: #666666;
 /* width: 1em; */
	left: -999em;
	border: 1px solid #474747;
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#content {
	clear: left;
	color: #ccc;
}


.inputbox
	{
	background-color:#ffffff;
	width:175px;
	border: 1pt solid #999999;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	}
	
.checkbox
	{
	background-color:#000000;
	border: 1pt solid #999999;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	}
	
.radiobutton
	{
	background-color:#000000;
	border: 1pt solid #999999;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	}
	
.textarea
	{
	background-color:#ffffff;
	width:200px;
	border: 1pt solid #999999;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	}
	
.button
	{
	background-color:#CCCCCC;
	height:20px;
	width:95px;
	CURSOR: hand;
	border: 1pt solid #999999;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
		
		}

table#drivers {
	empty-cells:show;}

table#drivers td.new_driver {
	font-weight:bold;}
	
.deco {
	font-family:"Trebuchet MS", Tahoma, Arial;
	font-size:11px;
	border: 1px solid #999999;}
input.deco {
	width:15em;}
	
input.butt {
	background-color:#CCCCCC;
	border: 1px solid #999999;
	font-size: 11px;
	font-weight: bold;
	color: #666666;}

table#drivers td a:hover {
	text-decoration:underline;}

fieldset {
	width:80%;
	margin:0 10px 10px;
	clear:both;}
fieldset legend {
	color:#5E871C;
	font-weight:bold;}