.bluelink {
	text-decoration: none;
}
a.bluelink:hover {
	background:#0000CC;
	color:#0000CC;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
	}
	
	
a:link {
	text-decoration: none;
			}
a:hover {
	background:#CCFF99;
	color:#0000CC;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
	}

.dnews		{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: #999999; text-decoration: none; background-color: #CAFE82;
	border: 1px solid #009933; text-align: center;}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #009933;
	text-decoration: none;
}
.term {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}
.grade {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #5344FE;
	text-decoration: none;
}
.division {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5344FE;
	text-decoration: none;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #0000CC;
	text-decoration: none;
}
.subTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009933;
	text-decoration: none;
}
.subTitle1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.round {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.gender {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.address {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}
.navbox {
	border: 1px solid #009933;
	background-color: #FFFFFF;
}

.tagline {
	font:12px times new roman;
	color: #0000CC;
	letter-spacing:.1em;
	font-weight:bold;
	line-height:12px;
	}
	
.tagline2 {
	color: #333333;
	letter-spacing:.1em;
	font-weight:normal;
	line-height:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
	
.adbox {
	border: 1px solid #0000CC;
	background-color: #DCFFB7;
}
.cfmenu			{ font-family:Arial,Helvetica; font-size:11px; color: #CCFF33; text-decoration: none;}
.cfmenu:visited	{
	font-family:Arial,Helvetica; font-size:11px; color: #CEFF8C; text-decoration: none; background-color: none;
}
.cfmenu:hover	{
	font-family:Arial,Helvetica; font-size:11px; color: #0000CC; text-decoration: none; background-color: #CEFF8C;
}

a:link {
	text-decoration: none;
		}
a:visited {
	text-decoration: none;
	}
a:hover {background:#CEFF8C;color:blue}
a:active {
	text-decoration: none;
}
.collname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.colllist {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.collemail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000CC;
}
.dropdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #000000;

}
 .buttontext {
	color: #0000CC;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: hand;
	border: 1px solid #000000;
	background-color: #cdff88;
	background-position: center;
}
.buttontext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	text-decoration: none;
	background-color: #EFFEB7;
	border: 1px solid #000000;
}
body {
 scrollbar-face-color:#0000CC; scrollbar-track-color:#CCFF99; scrollbar-arrow-color:#0000CC; scrollbar-dark-shadow-color:#666666
}
.textlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000CC;
}
.place {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #0000CC;
	text-decoration: none;
}
.TextoEfct {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
	text-decoration: none;
}
.TextoEfct1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color:#000000
	text-decoration: none;
}
.border {
	border: 1px solid #0000CC;
}
.tableTop {
	background-color: #CCFF99;
	font-family: Arial, Helvetica, sans-serif;
	color: #0000CC;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}
.Org {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #C6FF7B;
	font-weight: bold;
}
.whiteText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #FFFFFF;
}
.available {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	}
.SmPic {
	border: 1px solid #333333;
}
.tournamentname {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #CCFF99;
}
.whiteText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #FFFFFF;
}
.cancel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.country {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.city {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
}
.venue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #009933;
}
.month {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0000CC;
}

.date2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
}
.smWhiteTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.author {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #009933;
	text-decoration: underline;
}
.payment {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	color: 669966;
}

input,textarea, select {

}

input.button {

}

.headerblueunderline {
	BORDER-TOP :			#000000 0px solid;
	BORDER-BOTTOM :			#0000FF 1px solid;
	BORDER-RIGHT :			#000000 0px solid;
	BORDER-LEFT :			#000000 0px solid;
}
.birthday {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	font-style: italic;
	font-weight: bold;
	color: #0000CC;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 125px;
	border-bottom: 1px solid #0000CC;
	}
	
ul li {
	position: relative;
	}

li ul {
	position: absolute;
	left: 124px;
	top: 0;
	display: none;
	}

ul li a {
	display: block;
	text-decoration: none;
	color: #0000CC;
	background: #fff;
	padding: 5px;
	border-bottom: 0 solid #0000CC;
	border-top: 1px solid #0000CC;
	border-right: 1px solid #0000CC;
	border-left: 1px solid #0000CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */


li:hover ul, li.over ul { 
	display: block; }

<ul id="nav">
