body {
    margin:0px;
    padding:0;
    min-width:779px;
    font-size: x-small; /* show to Mozilla/Safari/Opera */
    _font-size: xx-small; /* show to IE */
    font-family: verdana,arial,helvetica,sans-serif;
}

#container {
    font-size: 114%; /* show to Mozilla/Safari/Opera */
    _font-size: 120%; /* show to IE */
}

table {
    font-size:100%;
}

form{margin:0;}

div.divider {
    margin:9px 0 9px 0;
    border-top:1px solid #95AED4;
}


div.divider-double {
    margin:9px 0 9px 0;
    border-top:2px solid #95AED4;
}

a:link {color:#003366;text-decoration:underline;}
a:visited {color:#336699;text-decoration:underline;}
a:hover {color:#996633;text-decoration:none;}

#header {
	height:75px;
	background-color:#0B578F;
	color:#FFFFFF;
	font-size:11px;
}

#headerprint {
    display:none;
}

#header .toptext {
    float:right;
	text-align:right;
	padding:20px 8px 0 0;
	width:300px;
}

#header #search-header {
    padding-top:10px;
	vertical-align:middle;
	font-weight:bold;
}

#jb-logo {
    float:left;
    position:relative;
    top:0;
    left:0;
}

#header a:link {color:#FFFFFF;text-decoration:underline;}
#header a:visited {color:#FFFFFF;text-decoration:underline;}
#header a:hover {color:#FFFFFF;text-decoration:none;}

#header-home-bottom {
    border-top:1px solid #92ABD0;
    border-bottom:6px solid #829FCB;
}

#header-nav {
    background-color:#829FCB;
    margin:0;
    padding:0;
    white-space:normal;
    text-align:left;
    border-bottom:5px solid #DE9220;
}

#footer{
    font-size:10px;
    margin:15px 5px 5px 5px;
	min-width: 780px;
	border-top: 1px solid  #95AED4;
	text-align:center;
}


#hp {
	margin:5px;
	padding-top:5px;
	background-color:#E2B131;
}

div.hp-bt {
    height:22px;
    background: url("http://media.wiley.com/stylesheets/jb/hp-bt-bgrd.gif") top right repeat-y #8DACDC;
    padding:6px 0 0 8px;
    color:#FFFFFF;
    font-size:109%;
    font-weight:bold;
}

div.hp-fb {
    height:22px;
    background: url("http://media.wiley.com/stylesheets/jb/hp-fb-bgrd.gif") top right repeat-y #D8E3F3;
    padding:6px 0 0 8px;
    color:#003366;
    font-size:109%;
    font-weight:bold;
    border-bottom:1px solid #95AED4;
}


.layout-left {
     background: url("http://media.wiley.com/stylesheets/jb/leftnav-bgrd.gif") top left repeat-y;
}

.layout-left-search {
     background: url("http://media.wiley.com/stylesheets/jb/leftnav-search-bgrd.gif") top left repeat-y;
}

.layout-right {
     background: url("http://media.wiley.com/stylesheets/jb/rightarea-bgrd-light.gif") top left repeat-y;
}

.layout-right-dark {
     background: url("http://media.wiley.com/stylesheets/jb/rightarea-bgrd.gif") top left repeat-y;
}

#series-nav {
     background: url("http://media.wiley.com/stylesheets/jb/series-bgrd.gif") top left repeat-y;
}

#series-nav a:link{color:#663333;text-decoration:none;font-weight:normal;}
#series-nav a:visited{color:#663333;text-decoration:none;font-weight:normal;}
#series-nav a:hover{color:#663333;text-decoration:underline;font-weight:normal;}


#breadcrumb {
    margin:23px 0 9px 0;
    padding:0 0 4px 3px;
    border-bottom:1px solid #95AED4;
    font-size:10px;
    color:#333333;
}

#breadcrumb b{font-size:12px;}

.grey-text {color:#666666;}
.blue-text {color:#003366;}

h2,h3 {
    color: #333;
    font-weight:bold;
}

h2 {
    padding-bottom: 2px;
    border-bottom: 1px solid #95aed4;
    font-size: 1em;
}

h3 {
    font-size: 1em;
}


.title-bar {
    border-bottom:1px solid #95AED4;
    padding:0 5px 6px 7px;
    margin:20px 0 10px 0;
    font-size:111%;
    color:#7594C3;
    font-weight:bold;
}

div.paginator {
    font-size:10px;
    text-align:right;
    padding:3px;
    color:#666666;
    border-top:1px solid #95AED4;
    margin-top:7px;
}

/* listing styles */
div.subject-listing {
    color:#666666;
    padding-left:3px;
    margin-top:10px;
}

div.listing-listing {
    margin-top:10px;
    float:left;
}

.category-cover {
    display:block;
    width:80px;
    margin-right:10px;
    float:left;
}


/* Auto Nav */
div.autonav {
    font-size:11px;
    color:#F6D98D;
    width:186px;
}

div.autonavLevel0 {
    display:none;
}

div.autonavLevel0On {
    display:none;
}

div.autonav a:link{color:#663333;text-decoration:none;}
div.autonav a:visited{color:#663333;text-decoration:none;}
div.autonav a:hover{color:#663333;text-decoration:underline;}    

div.autonavLevel1 a{display:block;padding:4px 3px 4px 8px;background-color:#F6D98D;border-bottom:1px solid #FBE6B0;border-top:1px solid #EDC067;}

div.autonavLevel1On {display:block;padding:4px 3px 4px 8px;background-color:#FAECC6;color:#663333;border-top:1px solid #EDC067;font-weight:bold;}

div.autonavLevel2 a{display:block;padding:3px 3px 3px 14px;background-color:#FAECC6;}

div.autonavLevel2On {display:block;padding:3px 3px 3px 14px;background-color:#FAECC6;color:#663333;font-weight:bold;}


/* title page */
div.title-bottom{
    border:1px solid #95AED4;
    border-left:none;
    background: url("http://media.wiley.com/stylesheets/jb/title-bgrd.gif") top left repeat-y #F1F4FA;
    padding-top:8px;
}

div.title-left {
    width:138px;
    float:left;
}

div.title-right {
    position:relative;
    color:#666666;
    margin-left:138px;
}

div.title-right div {
    color:#000000;
    line-height:1.5em;
}

div.title-nav-off {
    padding:3px 2px 3px 10px;
    border-top:1px solid #95AED4;
    position:relative;
    z-index:2;
    margin-right:2px;
}

div.title-nav-off a:link{text-decoration:none;}
div.title-nav-off a:visited{text-decoration:none;}       

div.title-nav-on {
    background-color:#F1F4FA;
    border-top:1px solid #95AED4;
    border-right:none;
    border-left:none;
    padding:3px 2px 3px 10px;
    position:relative;
    z-index:2;
    margin-right:2px;
}

div.title-message {
    color:#666666;
    margin:3px 0 3px 10px;
}

div.upsell {
    margin-top:20px;
    padding:10px;
    border:1px solid #95AED4;
    background-color: #F1F4FA;
}

div.upsell-box {
    width:133px;
    height:100px;
    text-align:center;
    padding:10px;
    border:1px solid #91BBD3;
    background-color: #C3D8EC;
    color:#333333;
}

div.orangearrow {
    background: url("http://media.wiley.com/stylesheets/jb/orange-arrow.gif") top left no-repeat;
    padding-left:8px;
    margin:0;
}

.featured-titles-top {
    margin-left:8px;
    border-top:1px solid #95AED4;
    border-bottom:1px solid #C3D8EC;
}

.featured-titles-top img {
    display:block;
    margin:0;
    padding:0;
    width:32px;
    float:left;
}

.featured-titles-top p {
    margin:0;
    padding:4px 0 4px 0;
    width:140px;
    float:left;
    color:#7594C3;
    font-size:11px;
}

.featured-title-title {
    padding:10px 0 0 8px;
    font-size:96%;
    line-height:1.3em;
    color:#666666;
}
