body    {  font-size: 9pt ; font-family: Arial; background-color: #008080; font-style: regular }
table        { font-size:  9pt; text-align: Left; border-width: 0; padding: 11 }   
.credit      { font-size: 7pt; color: #000000; text-align: Center; font-family: Arial }
 a: link {color: #00FFFF; font-size:  9pt}   
a: visited   { color: #00FF00; font-size:  9pt }
td  {font-size:  9pt;  color: #FFFFFF; border-width: 0 }
tr  {  border-width: 0 }
h1          { font-size:  14pt; text: underline;  font-family: Arial; color: #FFFFFF;  text-align: Center; font-variant: normal; font-weight: bold }