.veranda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.newtimes {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
}
.georgia {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}
.ariel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.countytitlered {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #800000;
}
.counytitlemain {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}
.ariel_sm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.newtimes_red {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	color: #FF0000;
}
.mono {
	font-family: "Courier New", Courier, mono;
	font-size: 13px;
}
.ariel_sm_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
