.loginbox {
	background-color: #C1CCBE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	color: #666666
	
}
.tabsBackground {
	background-image: url(/images/tab_fill.gif);	
}
.topnavBackground {
	background-color:#EDEFEA;	
}
.leftnavBackground {
	background-color: #EDEFEA;	
}
.leftnavHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	color: #6DBD20;
}
.leftnavform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #666666;
}
select.leftnavform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #666666;
}
input.leftnavform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #666666;
}
input.searchnavform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #666666;
}
.leftnavblue{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #0C2576;
}
.leftnavlink A{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	color: #666666;
}
.leftnavlink A:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	color: #0087D7;
	text-decoration: underline;
}
a.leftnavlinkfull{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #666666;
}
a.leftnavlinkfull:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #0087D7;
	text-decoration: underline;
}
.leftnavlinkwhite A{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #FFFFFF;
}
.leftnavlinkwhite A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.topnavdivide{
	background-color: #FFFFFF;
}
.topnavdivideleft{
	background-color: #9EAB9A;
}
.topnavlink{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #0087D7;
}
.topnavlink A{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #0087D7;
}
.topnavlink A:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #0087D7;
	text-decoration: underline;
}
.dkbluebg {
	background-color: #0087D7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bolder;
	color: #FFFFFF;
}
.tab {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/tab.gif);
}
.tab A{
	font-weight: bold;
	color: #FFFFFF;
}
.tab A:hover{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
.redbg {
	background-color: #EDEFEA;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bolder;
	text-indent: 5px;
	color: #FFFFFF;
}
.dkblueheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bolder;
	color: #6DBD20;
}
.storyquote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	color: #0087D7;
	font-style: italic;
	font-variant: normal;
	line-height: 18px;
}
.bodycopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 14px;
	color: #666666;
	padding-bottom: 5px;
}
.bodycopy A{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 14px;
	color: #666666;
	padding-bottom: 5px;
	text-decoration: underline;
}
.bodycopy A:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 14px;
	color: #0087D7;
	padding-bottom: 5px;
}
.bodycopy A:visited{
	text-decoration: underline;
}
.footerlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color:#C1CCBE;
	text-decoration:none;
}
.footerlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color:#0087D7;
	text-decoration:underline;
}
.blogcopy {
	font-family: georgia, arial, helvetica, sans-serif;
	font-size: 70%;
	line-height: 14px;
	color: #000000;
	padding-bottom: 5px;
}
.blogcopy A{
	font-family: georgia, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 14px;
	color: #0C2576;
	padding-bottom: 5px;
	text-decoration: underline;
}
.blogcopy A:hover{
	font-family: georgia, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 14px;
	color: #ED171F;
	padding-bottom: 5px;
}
.newsheadlines A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 14px;
	color: #6DBD20;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.newsheadlines A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 14px;
	color: #0087D7;
	text-decoration: underline;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.palebluebg {
	background-color: #EAEFE8;
}
.columndivide {
	background-image: url(/images/px_columndivide.gif);
	background-repeat: repeat;
}
.rightcolumnbg {
	background-image: url(/images/px_rightcolumnbg.gif);
}
.dkbluesubhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
	font-weight: bolder;
	color: #0087D7;
	padding-left: 5px;
}
.dkbluesubhdsm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	line-height: 13px;
	color: #0087D7;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.dkbluesubhdsm2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	line-height: 13px;
	color: #0087D7;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.dkbluewelcome {
	background-color: #0087D7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	color: #FFFFFF;
}
.subheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	line-height: 13px;
	color: #6DBD20;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.subhead A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	line-height: 13px;
	color: #6DBD20;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.subhead A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	line-height: 13px;
	color: #0087D7;
	text-decoration: underline;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.subhead2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	line-height: 13px;
	color: #0087D7;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.subhead3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	line-height: 13px;
	color: #0087D7;
	padding-bottom: 4px;
	font-weight: bold;
	padding-top: 4px;
}
.centrecolumnregion{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 14px;
	color: #000000;
	padding-bottom: 5px;
	background-image: url(/images/px_mapcolumnbg.gif);
}
.centrecolumnform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 14px;
	color: #000000;
	padding-bottom: 5px;
	background-image: url(/images/px_centrecolumnbg.gif);
}
.fullwidthform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 14px;
	color: #000000;
	padding-bottom: 5px;
	background-image: url(/images/px_fullwidthbg.gif);
}