body {
	background: #fafafa;
	background-image: url('/images/sfistbackground.jpg');
	background-repeat: repeat-x;
}
#weather {
	top: 40px;
	left: 120px;
}
#columnheart {
	background: #dbbea0;
}
.adv_blogbody {
	border: 10px solid #dbbea0;
}
#sitelogo {
	position: absolute;
	top: 24px;
	z-index: 5;
}

#columnpad {
	height: 129px !important;
	height: 109px;
}

/* ----------- IMAGES ------------ */


.imgtop, imgbottom {
	display: block;
	padding: 1em 0;
	margin: 0;
	}

.imgleft {
	float: left;
	display: block;
	padding: 6px 10px 6px 0;
	margin: 0;
}
	
.imgleftsub {
	float: left;
	display: block;
	padding: 0 6px 2px 0;
	}

.imgright {
	float: right;
	display: block;
	padding: 6px 0 6px 10px;
	margin: 0;
}

.imgrightsub {
	float: right;
	display: block;
	padding: 0 0 2px 4px;
	}

.imgrightadv {
width:150px;
	float: right;
	display: block;
	padding: 0em 0 0px 0px;
	margin: 0px 0 0 0;
font-size: 10px;
	font-weight: normal;
	}

.oddcom { background: #e7d0ba; }
