/* --- leaderboard ---------------------------------------------------------- */

#adpos1 {
margin:0;
text-align:center;
font-size:10px;
padding:.5em;
background-color:#ddd;
border-bottom:1px solid #999;
border-left:8px solid #999;
}

#headeradpos1 {
background-color: #668B8B;
border-left:8px solid #000;
}
#headeradpos1 img {
border: 0;
}
#headeradpos1 div.leaderboard {
position: relative;
border-left:1px solid #FFF;
margin:0;
padding:10px;
}
#headeradpos1 img.adlabel {
margin-right:5px;
}

#headeradpos1 object, #headeradpos1 embed {
background: #FFF;
}

/* --- header, brandicon ---------------------------------------------------- */

#header {
margin:0;
padding:0;
line-height:30px;
background-color: #668B8B;
border-left:8px solid #000;
}

#header .twocol {
border-left:1px solid #FFF;
margin:0;
padding:0;
}

#header #logo {
margin:0;
padding:10px;
}

/* sitemenu ----------------------------------------------------------------- */

#sitemenu {
margin:0;
padding:0;
height:2em;
font-size:10px;
background-color: #CCE5E5;
border-top:1px solid #fff;
border-bottom:1px solid #777;
border-left: 8px solid #CC3333;
}
#sitemenu .twocol {
border-left:1px solid #fff;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-weight:bold;
}
#sitemenu .twocol1 {
padding:5px 0 5px 10px;
float:left;
}
#sitemenu .twocol2 {
padding:5px 10px 5px 0;
float:right;
}
#sitemenu a, #sitemenu a:link, #sitemenu a:visited {
color:#006;
}
#sitemenu a:hover {
color:#369;
}

/* footer ------------------------------------------------------------------- */

#footer {
margin:0;
border-top:    1px solid #777;
border-right:  1px solid #777;
border-bottom: 1px solid #777;
border-left:   8px solid #CC3333;
background:    #CCE5E5;
padding:       10px 10px 15px 10px;
}

#footer #chronsections select,
#footer #chronsections input {
display:inline;
float:left;
font: .86em Verdana, Arial, sans-serif;
}

#footer #chronsections form {
margin:0;
}

#footer #chronsections select {
width:220px;
margin-right:5px;
}
#footer #chronsections input {
width: 35px;
margin-right:15px;
}
* html #footer #chronsections input {
height:18px;
padding: 0;
line-height: .97em;
}

#footer #chroniclemenu {
display:inline;
float:left;
width:600px;
padding-top:3px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:.82em;
}

/* DEPRECATED STYLES */

/* simplesearch: replaced by searchbar -------------------------------------- */

#header form {
margin:0;
padding:0;
}
#header .twocol1 {
width:200px;
float:left;
}
#header .twocol2 {
text-align:right;
float:right;
padding:10px 0 0 0;
}
#header .clear, #sitemenu .clear  {
font-size:1px;
height:1px;
line-height:1px;
}

#simplesearch {
font-family:verdana, arial, sans-serif;
font-size:10px;
display:inline;
padding:0 10px 0 0;
}
#simplesearch form {
display:inline;
}
#header #simplesearch strong {
color:#FDFFD4;
}

/*  theme: white variant ---------------------------------------------------- */

body.white #adpos1 {
background-color:#ddd;
border-bottom:1px solid #999;
border-left:8px solid #999;
}
body.white #header {
background-color: #fff;
border-right:1px solid #ddd;
border-left:8px solid #ddd;
}
body.white #footer #footermenu {
background-color:#fff;
border-top: 1px solid #ddd;
border-bottom:1px solid #ddd;
border-left:8px solid #ddd;
}
body.white #sitemenu {
background-color: #fff;
border-top:1px solid #ddd;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
border-left: 8px solid #ddd;
}
body.white #sitemenu a, body.white #sitemenu a:link, body.white #sitemenu a:visited {
color:#000;
}
body.white #header #simplesearch strong {
color:#777;
}
