body { font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 14px }
td, div, p { font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 14px }
th { font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 14px }

h1 { font-size: 24px; text-align: center; }
h2 { font-size: 20px; text-align: center; }
h3 { font-size: 16px; }

.xsmall { font-size: 8px; }
.small { font-size: 10px; }
.large { font-size: 16px; }
.xlarge { font-size: 20px; }
.xxlarge { font-size: 24px; }

.whitebold { font-weight: bold; color: #ffffff; }
.whitelink { color: #ffffff; }
.redbold { font-weight: bold; color: #FF0000; }
.redsmall { font-size: 10px; color: #FF0000; }
.purple { color: #9900FF; }
.green { color: #33CC33; }
.darkpink { color: #FF00CC; }
.backlink { font-size: 10px; text-align: right; }
.copyrightfooter { font-size: 9px; text-align: right; }
.backlink { font-size: 10px; text-align: right; }
.adopted_date { font-size: 10px; text-align: right; }
.footer { font-size: 10px; text-align: center; color: #FF0000; }
.header { font-size: 10px; }
