body{
	font-family: arial, helvetica, verdana;
	font-size: 12px;
	color: #234F8E;
	background-image: url(images/RepeaterBody.gif);
}

p{
	font-family: arial, helvetica, verdana;
	font-size: 12px;
	color: #000000;
}


td{
	font-family: arial, helvetica, verdana;
	font-size: 12px;
	color: #000000;
}


h1{
	font-family: arial, helvetica, verdana;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}

h2{
	font-family: arial, helvetica, verdana;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}

h3{
	font-family: arial, helvetica, verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}


li {
    FONT-SIZE: 11pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Tahoma, Arial;
}


a{
	color: blue;
	text-decoration: underline;
}

a:hover{
	color: purple;
	text-decoration: underline;
}

.contentCell{
	padding: 12px 0px 30px 0px:
}


.footerCell{
	font-family: arial, helvetica, verdana;
	font-size: 11px;
	color: #FFFFFF;
	padding: 14px 0px 32px 0px:
}


a.footerLink{
	color: #FFFFFF;
	text-decoration: underline;
}

a.footerLink:hover{
	color: #FFFFFF;
	text-decoration: underline;
}


/********** Cart Styles ********************/


.cartItemsCell{
padding: 7px 8px 0px 0px;
}

.cartSummary{
	color: #234E90;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
}

.cartSummaryVal{
	color: #C33823;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
}

.cartButtons{
	margin: -1px 0px 0px 1px;
	vertical-align: middle;
}

/********** Form Styles ********************/

.entertext{
	color: #000000;
	font-size: 12px;
	background-color: #EBEBEB;
	width: 200px;
}

.required{
	color: #830000;
}


/******* Webfodder Logo Sizing for Div *********/

div.fodder{
	filter:alpha(Opacity=100);
	width:32px;
	height:32px;
}

