a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #004A80;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #004A80;
	text-decoration: none;
}
a:hover {
	color: #990033;
	text-decoration: underline;
}
a.NavOrange:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*color: #F1AB00;*/
    color: #FFFFFF;
	text-decoration: none;
}
a.NavOrange:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*color: #00746B;*/
    color: #CCCCCC;
	text-decoration: none;
}
a.NavOrange:hover {
	/*color: #ED1C24;*/
    color: #FFFFFF;
	text-decoration: underline;
}
b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #005488;
	font-size: 12px;
	line-height: 14px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1 {
	color:	#005488;
	font-weight: bolder;
}
h2 {
	color:	#005488;
	font-weight: bolder;
}
h3 {
	color:	#005488;
	font-weight: bolder;
}
h4 {
	color:	#005488;
	font-weight: bolder;
}
h5 {
	color:	#005488;
	font-weight: bolder;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
pre{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
}
strong {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #005488;
	font-size: 12px;
	line-height: 14px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul {
	list-style-image: url(/images/misc/arrow.gif);
}
.BoldWhite {
	font-weight: bold;
	color: #FFFFFF;
}
.button {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #005488;
	border-bottom: thin solid #222244;
	border-right: thin solid #222244;
	border-top: thin solid #A1B6D3;
	border-left: thin solid #A1B6D3;
	padding: 2px;
}
.default {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color:	#999999;
}
.Header1 {
	font-family: Helvetica, Verdana, Arial;
	font-weight: bolder;
	color: #005488;
	font-size: 18px;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
}
.Header2 {
	font-family: Helvetica, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #005488;
	font-size: 14px;
}
.Header_Content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:	#00746B;
	font-size: 16px;
	font-style: normal;
}
.NavLocation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #005488;
	font-size: 10px;
	line-height: 20px;
	text-decoration: underline;
	vertical-align: middle;
}
.NavOrange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*color: #F1AB00; */
    color; #FFFFFF;
	font-size: 10px;
}
.NavWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
}
.nsdl-table-row-highlight {
	background: #EEEEEE;
	color: #555555;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.ReqField {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
}
.td-small {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	color: #003366;
}
.sub {
	color: #005488;
	font-weight: bold;
	line-height: 14pt;
	font-variant: normal;
	font-style: italic;
}
.td-smaller {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 9px;
	color: #000000;
	line-height: 12px;
}
.Notes {
	font-style: italic;
	color: #003366;
}
.TableHeader {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #CCCCCC;
	border: 1px solid #000000;
}
.TableLabel {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #005488;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
}
.TableHighlight {
	background-color: #A1B6D3;
	border: 1px solid #000000;

}
.TableLabel2 {
	font-size: 12px;
	font-weight: bold;
	color: #005488;
	background-color: #B0D1CB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #000000;

}
.TableHighlight2 {
	background-color: #BFCADB;
	border: 1px solid #000000;

}
.TableHighlightNoBorder {
	background-color: #A1B6D3;

}
.TableHighlightNoBorder2 {
	background-color: #BFCADB;

}


