  body {font-family:Verdana,Arial,Helvetica,"MS sans serif",sans-serif;}
  p, blockquote, div, li, dd {font-size:14px;}
  td {font-size:14px;}
  H1 {font-size:24px;}
  H2 {font-size:20px;}
  H3 {font-size:17px;}
  H4 {font-size:14px;}
  SMALL {font-size:11px; line-height: 16px}
  LI.small {font-size:11px; line-height: 16px}
  H2.sect { color: white; background: black; margin-bottom: 0; padding-bottom: 0.1em; font-size:20px; padding-left: 0.2em; } 
  H3.line { text-decoration: underline;}
  H3.sect { color: white; background: black; margin-bottom: 0; margin-top: 0.1em; 
           padding-top: 0.1em; padding-bottom: 0.1em; padding-left: 0.2em;} 
  H4.tight {  margin-bottom: 0.2em; margin-top: 0.3em; 
           padding-top: 0; padding-bottom: 0; padding-left: 0.2em} 
  H4.line { margin-top: 0.5em;  padding-top: 0.15em; margin-bottom:0; padding-bottom:0;
                text-decoration: underline }
  H4.notes {margin-bottom:0;padding-bottom:0.5em}
  UL.tight {  margin-bottom: 0; margin-top: 0;
                  padding-top: 0em; padding-bottom: 0.2em}
  UL.nomargin{ margin-left: 0.7em; margin-bottom: 0; margin-top: 0; padding-left: 0.7em; padding-top: 0em; padding-bottom: 0.2em} 
  UL.nomargin LI{ margin: 0; padding: 0;} 
  OL.nomargin{ margin-left: 0.7em; margin-bottom: 0; margin-top: 0; padding-left: 0.7em; padding-top: 0em; padding-bottom: 0.2em} 
  OL.nomargin LI{ margin: 0; padding: 0;} 
  OL.tight { margin-bottom: 0; margin-top: 0; 
                  padding-top: 0; padding-bottom: 0.2em} 
  DT.skip {padding-top:0; margin-top:1em; text-decoration:underline}
  BODY.sect { color: black;
                 background-color: #f0f0f0; 
                 background-image: url(worldbw.gif);
                 background-repeat:  repeat;
                 background-attachment: fixed }
  IMG.mid {vertical-align: middle}
  IMG.flag {vertical-align: middle; border: solid 1px white;}
  TABLE.sect {background-image: url(worldbw.gif);}
  HR { margin-bottom: 0.1em; padding-bottom: 0em;}
  HR.black { margin-bottom: 0.4em; padding-bottom: 0em; 
                    margin-top: 0.4em; padding-top: 0em;
                   border-top: thin solid black}
blockquote {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999;
	border-width:1px;
      margin-left: 5%;
}
blockquote.nomargin {
	padding-left: 7px;
	padding-right: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999;
	border-width:1px;
      margin-left: 0;
}
blockquote.noborder {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style:none;
      margin-left: 5%;
}
blockquote p{margin-bottom:0; padding-bottom:0}
 .nowrap { white-space: nowrap; }
 


