/* last updated 2004.11.16 by todd */
/* removed infant mortality styles */

/* Please carry your changes to this file over to its companion, style.ns4.css
which is modified for legacy support of Netscape 4 browsers. */

/* SFGate general style */

/* body         {font-size: 11pt; font-family: verdana,arial,sans-serif; margin: 0; padding: 0} */
/* .rail		{text-decoration: none} */
body			{margin: 0; padding: 0;}
a.rail			{text-decoration: none}

/* Text Specifications */

/* geneva is text 1 */
.text1sm		{font-size: 7.5pt; font-family: geneva, arial, sans-serif;}
.text1smb		{font-size: 7.5pt; font-family: geneva, arial, sans-serif; font-weight: bold;} /* do not use */
.text1md		{font-size: 9pt; font-family: geneva, arial, sans-serif;}
.text1mdb		{font-size: 9pt; font-family: geneva, arial, sans-serif; font-weight: bold;}
.text1lg		{font-size: 11pt; font-family: geneva, arial, sans-serif;}
.text1lgb		{font-size: 11pt; font-family: geneva, arial, sans-serif; font-weight: bold;}

/* verdana is text 2 */
.text2sm		{font-size: 7.5pt; font-family: verdana,arial,sans-serif;}
.text2smb		{font-size: 7.5pt; font-family: verdana,arial,sans-serif; font-weight: bold;}
.text2lt		{font-size: 8pt; font-family: verdana,arial,sans-serif;}
.text2ltb		{font-size: 8pt; font-family: verdana,arial,sans-serif; font-weight: bold;}
.text2md 		{font-size: 9pt; font-family: verdana,arial,sans-serif;}
.text2mdb 		{font-size: 9pt; font-family: verdana,arial,sans-serif; font-weight: bold;}
.text2lg 		{font-size: 11pt; font-family: verdana,arial,sans-serif;}
.text2lgb 		{font-size: 11pt; font-family: verdana,arial,sans-serif; font-weight: bold;}

/* helvetica is text 3 */
.text3sm		{font-size: 8pt; font-family: helvetica, arial, sans-serif;}
.text3smb		{font-size: 8pt; font-family: helvetica, arial, sans-serif; font-weight: bold;}
.text3md		{font-size: 10pt; font-family: helvetica, arial, sans-serif;}
.text3mdb		{font-size: 10pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.text3lg		{font-size: 10.5pt; font-family: helvetica, arial, sans-serif;}
.text3lgb		{font-size: 10.5pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.text3xl		{font-size: 12pt; font-family: helvetica, arial, sans-serif;}
.text3xlb		{font-size: 12pt; font-weight: bold; font-family: helvetica, arial, sans-serif; }

/* times is text 4 */
.text4sm		{font-size: 8pt; font-family: times new roman, times, serif;}
.text4smb		{font-size: 8pt; font-family: times new roman, times, serif; font-weight: bold;}
.text4md		{font-size: 10pt; font-family: times new roman, times, serif;}
.text4mdb		{font-size: 10pt; font-weight: bold; font-family: times new roman, times, serif;}
.text4lg		{font-size: 10.5pt; font-family: times new roman, times, serif;}
.text4lgb		{font-size: 10.5pt; font-weight: bold; font-family: times new roman, times, serif;}
.text4xl		{font-size: 12pt; font-family: times new roman, times, serif;}
.text4xlb		{font-size: 12pt; font-weight: bold; font-family: times new roman, times, serif; }

 /* Editorial Styles */
.tophed			{font-size: 11pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.bannertext		{font-size: 11pt; font-family: helvetica, arial, sans-serif;}
.bannerhed		{font-size: 13pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.attribution    {font-size: 7.5pt; font-family: geneva, arial, sans-serif; color: #666666}
.overline2		{font-size: 7.5pt; font-family: verdana,arial,sans-serif; color: #666666;}
.overline2b 	{font-size: 7.5pt; font-family: verdana,arial,sans-serif; font-weight: bold; color: #666666;}

/* Documentation Styles */
a.doc			{text-decoration: none;}
a.doc:hover	{text-decoration: underline; color: #CCCC66;}

#gray			{color: #666666}
#gray2			{color: #333333}
#gray3			{color: #CCCCCC}
#gray4			{color: #999999}
#red			{color: #990000}
#red2			{color: #660000}
#orangered		{color: #993300}
#italic			{font-style: italic}
#bold			{font-weight: bold}
#white			{color: #FFFFFF}
#black			{color: #000000}
#blkbld			{color: #000000; font-weight: bold}
#darkblue		{color: #000066}
#chronblue		{color: #006699}


/* designer styles */
.dropdown1sm	{font-size: 7.5pt; font-family: geneva, arial, sans-serif;}
.dropdown1md	{font-size: 9pt; font-family: geneva, arial, sans-serif;}
.dropdown2sm	{font-size: 8pt; font-family: verdana,arial,sans-serif;}
.dropdown2md	{font-size: 9pt; font-family: verdana,arial,sans-serif;}

/* Classified Ads, Print Ads */
select.ads_jump	{width: 130px; font-size: 8pt;
				font-family: Verdana, Arial, sans-serif}


/* FinancialContent */
td.fcfix		{font-size: 10px}


.rail_test		{font-size: 7.5pt; font-family: verdana,arial,sans-serif; text-decoration: none}

.dropdown 		{font-size: 8pt; font-family: Verdana, Arial, sans-serif}

 /* SF Chronicle Advertising Services Style */
.header		{font-size: 11pt; font-family: helvetica, arial, sans-serif; text-decoration: none}

/* bible pages obsolete styles */

.content 	{	font-family: verdana; font-size: 11px; }
.subtext	{	font-family: verdana; font-size: 7.5px; }

/* SFGate obsolete styles */

.font1			{font-size: 7.5pt; font-family: verdana,arial,sans-serif;}
.font1b			{font-size: 7.5pt; font-family: verdana,arial,sans-serif; font-weight: bold;}
.font2 			{font-size: 9pt; font-family: verdana,arial,sans-serif;}
.font2b 		{font-size: 9pt; font-family: verdana,arial,sans-serif; font-weight: bold;}
.font3 			{font-size: 11pt; font-family: verdana,arial,sans-serif;}
.font3b 		{font-size: 11pt; font-family: verdana,arial,sans-serif; font-weight: bold;}
.font4			{font-size: 11px; font-family: verdana, arial, sans-serif; line-height: 16px; color: #000000;}

.geneva1		{font-size: 7.5pt; font-family: geneva, arial, sans-serif;}
.geneva1b		{font-size: 7.5pt; font-family: geneva, arial, sans-serif; font-weight: bold;}
.geneva2		{font-size: 9pt; font-family: geneva, arial, sans-serif;}
.geneva2b		{font-size: 9pt; font-family: geneva, arial, sans-serif; font-weight: bold;}
.geneva3		{font-size: 11pt; font-family: geneva, arial, sans-serif;}
.geneva3b		{font-size: 11pt; font-family: geneva, arial, sans-serif; font-weight: bold;}

.helvetica2		{font-size: 10pt; font-family: helvetica, arial, sans-serif;}
.helvetica2b		{font-size: 10pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.helvetica3		{font-size: 10.5pt; font-family: helvetica, arial, sans-serif;}
.helvetica3b	{font-size: 10.5pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.helvetica4		{font-size: 12pt; font-family: helvetica, arial, sans-serif;}
.helvetica4b	{font-size: 12pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}
.helvetica5		{font-size: 14pt; font-family: helvetica, arial, sans-serif;}
.helvetica4b	{font-size: 14pt; font-weight: bold; font-family: helvetica, arial, sans-serif;}

a.chart			{text-align: left; font-size: 7pt;
				font-family: Verdana, Arial, sans-serif}
a.c500			{text-decoration: none}
a.c_anchor		{text-decoration: none}
a.c_plain		{text-decoration: none; text-align: left; font-size: 7pt;
				font-family: Verdana, Arial, sans-serif}
a.c5chart		{text-decoration: none; text-align: left; font-size: 7pt;
				font-family: Verdana, Arial, sans-serif}

td.lefthdr		{font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}
td.c_headleft	{font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}
td.c5lefthdr	{font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}

td.c_headcenter	{text-align: center; font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}
td.c5centerhdr	{text-align: center; font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}

td.righthdr		{text-align: right; font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}
td.c_headright	{text-align: right; font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}
td.c5righthdr	{text-align: right; font-size: 7pt; font-weight: bold;
				font-family: Verdana, Arial, sans-serif}

td.c_plain		{text-align: left; font-size: 7pt;
				font-family: Verdana, Arial, sans-serif}
td.c5chart		{text-align: left; font-size: 7pt;
				font-family: Verdana, Arial, sans-serif}

td.mono			{text-align: right; font-size: 7pt;
				font-family: Monaco, Terminal, monospace}
td.c_mono		{text-align: right; font-size: 7pt;
				font-family: Monaco, Terminal, monospace}
td.chartmono	{text-align: right; font-size: 7pt;
				font-family: Monaco, Terminal, monospace}

/* begin hybrid style */

#content, #contentbody, dl.articlelist {
font-family:Geneva, Arial, Helvetica, sans-serif;
}

/* begin shared styles */

dl.articlelist {
margin:0;
padding:0;
}
dl.articlelist .item {
margin:0 0 .5em;
}
dl.articlelist dt {
margin:0;
padding:0;
font-weight:bold;
font-size:.9em;
}
dl.articlelist dd {
margin:0;
padding:0;
font-size:.8em;
}
dl.articlelist dd.date {
margin:0;
padding:0;
font-size:.75em;
color:#222;
}

/* used for notebook postings, blog style, with limited text */
dl.forum {
font-size:12px;
font-family:Geneva, Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}
dl.forum dt {
font-weight:bold;
color:#aa0000;
font-size:10px;
text-transform:uppercase;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:0 0 3px 0;
margin:0 0 10px 0;
}
dl.forum dd {
margin:0 0 10px 0;
}
dl.forum .item, dl.forum .firstitem {
margin:0 0 1.4em 0;
border-bottom: 1px solid #ddd;
}
dl.forum .firstitem dt {
font-size:10px; 
color:#AA0000;
}
dl.forum .firstitem dd {
font-size:12px;
}


.simplemenu {
 margin:0;
 font-family:Geneva, Arial, Helvetica, sans-serif;
 list-style-position:inside;
 list-style-image:url(/graphics/homepage/blackdot5x7.gif); 
 }
 html>body .simplemenu {
padding:0 0 0 .25em;
 }
