#textads {
border-bottom:1px solid #666;
}

#textads .textad_container
{
background-color:#F9F8F8;
text-align:left;
font: 12px geneva,arial,sans-serif;
color:#333;
padding-bottom:1px;
border-top:1px solid #666;
}


#textads .textad_head 
{
background-color:#F4F4DA;
text-align: left;
padding:10px 5px;
margin:0px;
font-weight: bold;
}


#textads .textad_copy
{
background-color: #F9F8F8;
}


#textads .textad_copy a {
color:#666666;
text-decoration:none;
padding:8px 5px;
display: block;
}

#textads .textad_copy a:hover {
color:#666666;
text-decoration:none;
background-color: #ECEBEB;
padding:8px 5px;
display: block;
}

