	BODY {background: #FFFFFF url(/sitewide/img/grad_bg.jpg) repeat-x; margin:0px; padding:0px; text-align:center;}
	#bodyholder {position: relative; margin-left: auto; margin-right: auto; z-index: 1; width: 762px; background-color: #666E7F; font: normal 11px arial; line-height: 12px; border-color: #939393; border-width: 0px 2px 2px 2px; border-style: solid solid solid solid;}
	#bottomNav {position: relative; margin-left: auto; margin-right: auto; z-index: 1; width: 766px; clear: both; text-align: center; background-color: #939393; font: bold 11px arial; line-height: 12px;}
	#btm_sitemap {position: relative; margin-left: auto; margin-right: auto; z-index: 1; width: 762px; background-color:#939393; font: bold 11px arial; line-height: 12px; clear: both; text-align: center;}
	#btm_sitemap_border {position: relative; margin-left: auto; margin-right: auto; z-index: 1; width: 762px; background-color:#939393; font: bold 11px arial; line-height: 12px; clear: both; text-align: center; border-color: #FFFFFF; border-width: 0px 2px 0px 2px; border-style: solid solid solid solid;}
	.btm_sitemap_first {padding-top:8px; color:#DBDBDB;}
	.btm_sitemap_first a{color:#DBDBDB; text-decoration:none;}
	.btm_sitemap_second {padding:8px 0px 8px 0px; color:#CBCBCB;}
	.btm_sitemap_second a{color:#CBCBCB; text-decoration:none;}
	div.leftnav {width: 158px; margin: 0px; padding: 4px 0px 0px 0px;}
	div.leftnav a {text-align: left; display: block; margin: 0px; font-weight: bold; padding-top: 2px; margin-bottom: -1px; width: 158px; height: 18px; background-repeat: no-repeat; background-position: 6px 6px;}
	.footermod {width:760px; clear:both; border-color: #FFFFFF; border-width: 0px 1px 0px 1px; border-style: solid solid solid solid; background-image: url(/sitewide/globalnav/img/footer_bg.gif); background-repeat: repeat-x; background-color: #FFFFFF;}
	.footer_links {width:745px; text-align:center; color:#878787; font:bold 11px arial; clear:both; padding-top:4px;}
	.footer_links a {color:#878787; font:bold 11px arial; text-decoration:none;}
	#globalNavHolder { position: relative; width:762px; height: 79px; text-align:center; margin-left:auto; margin-right:auto; z-index:0;}
	#layer_menu   { position: absolute; width:762px; height: 79px; left:0px; top: 0px; z-index: 0; }
	.navdotln {position:relative; width: 158px; font-size: 1px; height: 3px; overflow: hidden; line-height: 1px; clear:both; background-repeat: no-repeat; background-position: 0px 1px;}
	.navarrw {position:relative; width: 18px; height: 18px; float:left; clear:none;}
	.hdr_underline {position: relative; height: 15px; border-bottom: 3px #ff6600 solid; text-align: left;}
	.hdr_tab {position: relative; height: 7px; background-color: #ff6600; padding: 5px 5px 3px 5px; margin: 0px}
	.moreBox {position: relative; height: 20px; text-align: right; font-size: 9px; z-index: 100;}
	.moreBox A {text-decoration: none;}
	.morepad {height: 15px; padding: 5px 5px 0px 0px;}
	.pad8 {padding: 8px 8px 8px 8px;}
	.pad8lr {padding: 0px 8px 0px 8px;}
	.pad8lrt {padding: 8px 8px 0px 8px;}
	.pad8lr3t {padding: 3px 8px 0px 8px;}
	.pad12lrt {padding: 12px 12px 0px 12px;}
	.searchmod {position: relative; width: 746px; height: 34px; color: #FFFFFF; clear:both; overflow: hidden;}
	select#searchStyle {font-size: 10px; color: #000000; width: 79px; background-color: #FFFFFF; border-color: #727272; border-width: 1px 1px 1px 1px; border-style: solid solid solid solid;}
	INPUT#searchBoxStyle {font-size: 10px; color: #000000; background-color: #FFFFFF; width: 92px; border-color: #727272; border-width: 1px 1px 1px 1px; border-style: solid solid solid solid;}
	INPUT#searchArtistsBoxStyle, INPUT#searchLeftNavBoxStyle {font-size: 11px; color: #000000; background-color: #FFFFFF; width: 85px; height: 16px; border-color: #727272; border-width: 1px 1px 1px 1px; border-style: solid solid solid solid; padding: 0px 0px 0px 4px; margin: 0px;}
	#searchLeftNavDiv {position: relative; float: left; clear: none; width: 85px;}
	.albm_colPromoText {position: relative; clear: both; width: 225px; height: 18px; color: #2C2C2C; text-align: left; overflow: hidden;}
	.albm_col1 {position: relative; width: 48px; height: 58px; float: left; text-align: left; clear: none; background-image: url(/sitewide/headerfooter/img/cover_bg.gif); background-repeat: no-repeat; overflow: hidden;}
	.albm_col2 {position: relative; width: 169px; height: 58px; float: left; text-align: left; clear: none; color: #0099CC; overflow: hidden;}
	.albm_col2 A {color: #0099CC;}
	.albm_col2 A:hover {color: #FF0000;}
	.albm_mod_col1 {position: relative; width: 48px; float: left; text-align: left; clear: none; background-image: url(/sitewide/portals/img/red_bg_albm_45x45.gif); background-repeat: no-repeat;}
	.albm_mod_col2 {position: relative; width: 86px; float: left; text-align: left; clear: none; color: #FFFFFF;}
	.albm_mod_col2 A {color: #FFFFFF;}
	.albm_mod_col2 A:hover {color: #FF0000;}
	DIV.needFlashTxt {text-align: left; background-color: #FF0000;}
	DIV.needFlashTxt A {position: relative; display: block; font: bold 12px arial; color: #FFFFFF; padding: 8px 8px 8px 8px; color: #FFFFFF;}
	DIV.needFlashTxt A:hover {color: #000000;}
	A.sweepstxt {position: relative; width: 207px; display: block; text-decoration: none; color: #0099CC; padding-left: 15px; background-repeat: no-repeat; background-image: url(/sitewide/headerfooter/img/icn_win_gry.gif); background-position: 0px 0px;}
	A.radBotTxt {position: relative; width: 207px; display: block; text-decoration: none; color: #0099CC; padding-left: 15px; background-repeat: no-repeat; background-image: url(/sitewide/headerfooter/img/icn_radio_gry.gif); background-position: 0px 0px;}
	A.radBotTxt:hover, A.sweepstxt:hover {color: #FF0000;}
	A.sweepstxt .title, A.radBotTxt .title {font-weight: bold; text-decoration: underline;}
	A.sweepstxt .desc, A.radBotTxt .desc {color: #2C2C2C; text-decoration: none;}
	#randBotHolder {left: 0px; width: 762px; height: 178px; z-index: 1000; padding: 0px 0px 0px 0px; text-align: left; background-color: #1C242C; background-image: url(/sitewide/headerfooter/img/footer_bg.jpg);}
	.randBotBox {position: relative; width: 762px; height: 178px; font: normal 11px arial; line-height: 12px; overflow: hidden; background-color: #1C242C; background-image: url(/sitewide/headerfooter/img/footer_bg.jpg);}
	.randBotMod1 {position: relative; width: 256px; height: 111px; text-align: left; float: left; clear: none; overflow: hidden;}
	.randBotMod2 {position: relative; width: 255px; height: 111px; float: left; clear: none; text-align: left; overflow: hidden;}
	.randBotMod3 {position: relative; width: 245px; height: 111px; float: left; clear: none; text-align: left; overflow: hidden;}
	.footerbox {height: 73px; background-image: url(/sitewide/headerfooter/img/footer_mod_bg.jpg); padding: 8px 8px 8px 8px;}
	#topAd {position: absolute; top: 0px; left: 0px; width: 762px; height: 90px; background-color: #939393; z-index: 1000;}
	.toslinks, .toslinks A {font: bold 10px arial; color: #7C848D; line-height: 20px;}
	.toslinks A:hover {color: #FF0000;}	
	.privlinks, .privlinks A {font: bold 11px arial; color: #000000; line-height: 20px;}
	.privlinks A:hover {color: #FF0000;}
	.spacerH8 {position: relative; width: 4px; height: 1px; float: left; clear: none;}
	.spcRandBot {position: relative; width: 3px; height: 1px; float: left; clear: none; font-size: 1px; overflow: hidden;}
	.sitemaplinks,  .sitemaplinks A {font: bold 10px arial; color: #000000; line-height: 17px;}
	.sitemaplinks A:hover {color: #FF0000;}
	#flashHdr {background-color:#939393;}
	
	/* ECOM CLASSES */
	.listPrice { FONT-SIZE: 11px; COLOR: #1c242d; FONT-FAMILY: Arial; }
	.youSave   { FONT-SIZE: 11px; COLOR: #ff242d; FONT-FAMILY: Arial; }
	.yourPrice { FONT-SIZE: 12px; COLOR: #1c242d; FONT-FAMILY: Arial; }
	.ecomRule  { width:100px;height:1px;background-color:#3300ff; }
	