/* GENERAL STYLES */
#centerModules {position: relative; background-color: #000000; width: 420px; padding-bottom: 0px; }
.whiteCell {background-color: #FFFFFF;}
.whiteAuxBg {background-color: #FFFFFF; width:420px;}
.grayCell {background-color: #F2F2F2;}
.sectionHdr {width: 420px; height: 18px; clear: both; background-color: #DCE9F3;}
.sectionTxtPad { padding: 5px 0px 4px 12px;}
.navdotblue373 {position:relative; font-size: 1px; height: 6px; overflow: hidden; line-height: 1px; clear:both; float:center; background-repeat: no-repeat; background-image: url(/dynamic_templates/movies/img/dottedln_blue_373.gif); background-position: 2px 3px; }
#rightAd {position:relative; float:left; width: 176px; height: 600px; z-index: 2; padding-top:69px; }

/* AWARDS */
.categoryCell {background-color: #DCE9F2; border-color: #FFFFFF; border-width: 0px 0px 2px 0px; border-style: solid solid solid solid;}
.categoryText {font: normal 10px arial; color: #5E6F80; padding: 3px 0px 3px 10px; }
.tableText {font: normal 11px arial; color: #1F1F1F; padding: 8px 6px 8px 10px; }
.tableText a{font: bold 11px arial; color: #336699; }
.tableText a:hover{font: bold 11px arial; color: #E7A300;}
.tableHeaderText { font-size:10px; color:#5D707F; }
TABLE.whiteAuxBg THEAD TR TD DIV {padding:4px 6px 3px 10px;background-color:#DBE9F2;}

/* CAST CREW */
.crewText {font: normal 11px arial; color: #1F1F1F; padding: 6px 6px 6px 10px; }
.crewText a{font: bold 11px arial; color: #336699; }
.crewText a:hover{font: bold 11px arial; color: #E7A300;}


/* INTERVIEWS */
.blkTxt {color: #1F1F1F;}
.dottedBlu404 {position: relative; width: 404px; height: 24px; font-size: 1px; overflow: hidden; line-height: 1px; clear: both; background-repeat: no-repeat; background-image: url(/dynamic_templates/movies/img/dotted_ln_blu_404.gif); background-position: 4px 13px;}
.modwhtpic {position: absolute; z-index: 10; top: 2px; left: 2px; width: 82px; height: 55px; color: #FFFFFF; border-color: #FFFFFF; border-width: 2px 2px 2px 2px; border-style: solid solid solid solid;}
.stackOneWht {position: relative; width: 404px; height: 63px; overflow: hidden;  background-color: #FFFFFF;}
.modcopyInt {position: absolute; z-index: 10; top: 2px; left: 96px; width: 288px; height: 59px; text-align: left; overflow: hidden;}
.modcopyInt a {color: #336699; text-decoration: none; display: block; margin: 0px;}
.whtBg420Holder {position: relative; width:404px; padding: 8px 8px 17px 8px; background-color: #FFFFFF;}
.stackLink {text-decoration: underline; color: #336699; }

/* NEWS */
.newsText {font: normal 11px arial; color: #1F1F1F; padding: 8px 8px 8px 0px; }
.newsText a{font: bold 11px arial; color: #336699; }
.newsText a:hover{font: bold 11px arial; color: #E7A300;}
.newsHdr {clear: both; background-color: #FFFFFF; color: #5E6F80; font: normal 12px arial; padding: 12px 8px 12px 34px;}
.newsNum {color: #E7A300; font: normal 9px arial; padding: 10px 10px 8px 10px;}
.date {color: #5E6F80; font: normal 9px arial; text-decoration: none; }

/* NEWSLETTER */
.newsletterHdr {clear: both; background-color: #FFFFFF; color: #1F1F1F; font: normal 11px arial; padding: 12px 12px 0px 12px;}
.subscribeholder2 {position: relative; display: block; width: 408px; padding: 12px 0px 0px 12px; text-align: left; z-index: 1000; background-color: #FFFFFF;}
.subscribeholder2 .cbox {position: relative; float: left; clear: none; padding-top:2px;}
.subscribeholder2 .desc {position: relative; padding: 2px 0px 0px 5px; width: 325px; clear: none; float: left; color: #1F1F1F;}
.subscribeholder2 A {color: #336699;}
.subscribeholder2 A.samplelnk {font-size: 9px; text-decoration: none;}
.subscribeholder2 A:hover {color: #E7A300;}
.subscribeholder2 .nounderln {text-decoration: underline;}
.navdotblue381icnpad {position:relative; width: 381px; font-size: 1px; height: 11px; overflow: hidden; line-height: 1px; clear: both; background-repeat: no-repeat; background-image: url(/dynamic_templates/movies/img/dottedln_blue_381.gif); background-position: 0px 5px;}
	
/* RELATED MOVIES */
.bulletListHolder {padding: 10px 0px 23px 8px; background-color: #FFFFFF; }
.bulletHolder {position: relative; width: 371px; padding: 2px 0px 2px 0px; display:block; clear:both; }
.relatedCopy {position:relative; float: left; clear:none; width: 215px;}
.relatedCat {position: relative; float: left; clear: none; width: 130px; padding-left: 18px; color: #000000; }
.dvdDetailsPad {padding: 7px 0px 0px 0px; background-color: #000000; }
.navdotblue373icnpad {position:relative; width:373px; font-size: 1px; height: 8px; padding-left: 18px; overflow: hidden; line-height: 1px; clear:both; float:center; background-repeat: no-repeat; background-image: url(/dynamic_templates/movies/img/dottedln_blue_373.gif); background-position: 18px 4px; }
.redRelatedBullet {text-align: left; clear:none; margin: 0px; font-weight: normal; padding: 0px 0px 0px 18px; background-repeat: no-repeat; background-image: url(/sitewide/icons/icn_related_yellow.gif); background-position: 0px 1px;}
.bulletText {font: normal 11px arial; color: #1F1F1F; }
.bulletText a{font: bold 11px arial; color: #336699; }
.bulletText a:hover{font: bold 11px arial; color: #E7A300;}

/* SOUNDTRACK INFO */
.albumCover {position: relative; float:left; clear: none; width: 170px; }
.albumInfo {position: relative; float:left; clear:none; width:200px; padding-left: 16px;}
.audioTypeHdr {padding-bottom: 8px; width:56px; float: left; clear:none; text-align:center;}
.bold18, .bold18 a{font: bold 18px arial; color: #FFFFFF; line-height: 18px;}
.bold18 a:hover{color: #E7A300}
.btm12pad {padding: 0px 0px 12px 0px;}
.discHdr {padding-bottom: 7px; width: 260px; float: left; clear:none;}
.gryHdrHolder {position: relative; width:420px; background-color: #3A4B5D; clear: both; border-color: #000000; border-width: 1px 0px 0px 0px; border-style: solid solid solid solid;}
.mainInfoHolder {position: relative; width:386px; padding: 12px 12px 0px 12px;}
.label {font: normal 10px arial; color: #8996A3;}
.trackListingPad {padding: 5px 22px 22px 22px; background-color: #1B334B;}
.yourPrice {color: #FFFFFF; font: bold 11px arial;}

/* TRAILERS */
.auxGradientBg {position:relative; width:420px; clear:both; background: #000000 url(/dynamic_templates/movies/img/auxGradientBg.jpg) repeat-x; height:510px}
.modAuxBg {position: relative; width: 404px; padding: 8px 8px 8px 8px;  }
.modcopyTrailer {position: absolute; z-index: 10; top: 74px; left: 0px; width: 182px; height: 78px; text-align: left; overflow: hidden; }
.modcopyTrailer a {color: #3F9DE7;  display: block; margin: 0px;}	
.modRowHolder {position: relative; width: 388px; height: 144px; padding: 8px 8px 0px 8px; background-color: #000000; }
.modRowNoImgHolder {position: relative; width: 388px; height: 75px; padding: 8px 8px 0px 8px; background-color: #000000; }
.modRowOneHolder {position: relative; width: 192px; height: 144px; padding: 8px 8px 0px 8px; background-color: #000000; }
.stackTrailer {position: relative; width: 192px; height: 136px; overflow: hidden; }
.trailerText {color: #FFFFFF; font: normal 11px arial; text-decoration: none; padding: 2px 0px 0px 26px; display: block; line-height: 11px; }