p { font-size: 10pt; font-family: verdana; }
td { font-size: 10pt; font-family: verdana; }
li { font-family: Verdana; font-size: 10pt; }
option { font-family: Verdana; font-size: 6pt; font-weight: normal; }
select { width: 140px; white-space: word-break; font-size: 8pt; }
select.home { width: 175px; white-space: word-break; font-size: 8pt; }

td.cf { font-size: 12pt; font-family: Goudy Old Style; }
td.cf p { font-size: 12pt; font-family: Goudy Old Style; }
td.cf li { font-size: 12pt; font-family: Goudy Old Style; }
td.cf a:link { font-size: 12pt; font-family: Goudy Old Style; }
td.cf a:visited { font-size: 12pt; font-family: Goudy Old Style; }
td.cf a:hover { font-size: 12pt; font-family: Goudy Old Style; }
td.cf a:active { font-size: 12pt; font-family: Goudy Old Style; }
td.sectionHead	{ font-weight: bold; font-size:	8pt; color:#ffffff; background-color: #424796;}

li.star { font-family: Goudy Old Style; font-size: 12pt; list-style-image: url(CFstar.gif); 
}


a { font-size: 8pt; color: #333366; }
a:visited {font-size: 8pt; color:  #333366; }				
a:hover {font-size: 8pt; color: #660000; }
a:active {font-size: 8pt; color: #660000; }

a.title:link { font-size: 10pt; font-weight: bold; color: #333366; }
a.title:visited {font-size: 10pt; font-weight: bold; color:  #333366; }				
a.title:hover {font-size: 10pt; font-weight: bold; color: #660000; }
a.title:active {font-size: 10pt; font-weight: bold; color: #660000; }


a.gray:link { color: #999999; }
a.gray:visited { color: #999999; }
a.gray:hover { color: #999999; }
a.gray:active { color: #999999; }

a.white:link { font-size: 8pt; color: #ffffff; }
a.white:visited { font-size: 8pt; color: #ffffff; }
a.white:hover { font-size: 8pt; color: #ffffff; }
a.white:active { font-size: 8pt; color: #ffffff; }

a.whiteBold:link { color: #ffffff; font-size: 8pt; font-weight: bold; }
a.whiteBold:visited { color: #ffffff; font-size: 8pt; font-weight: bold; }
a.whiteBold:hover { color: #ffffff; font-size: 8pt; font-weight: bold; }
a.whiteBold:active { color: #ffffff; font-size: 8pt; font-weight: bold; }

a.titleWhite:link { font-size: 10pt; font-weight: bold; color: #ffffff; }
a.titleWhite:visited { font-size: 10pt; font-weight: bold; color: #ffffff; }
a.titleWhite:hover { font-size: 10pt; font-weight: bold; color: #ffffff; }
a.titleWhite:active { font-size: 10pt; font-weight: bold; color: #ffffff; }

td.NGAbanner {background-color: "000066"; background-image: url("NGABanner.gif"); background-repeat: no-repeat; height:60; }
td.Centerbanner {background-color: "000099"; background-image: url("CenterBanner.gif"); background-repeat: no-repeat; height:60; }
td.Governorbanner {background-color: "000099"; background-image: url("governorbanner.jpg"); background-repeat: no-repeat; height:112; }
td.Newsbanner {background-color: "000099"; background-image: url("NewsRoomBanner.jpg"); background-repeat: no-repeat; height:76; }
td.FedRelationsbanner {background-color: "000099"; background-image: url("FedRelationsBanner.jpg"); background-repeat: no-repeat; height:57; }
td.CFbanner {background-color: "000099"; background-image: url("CFBanner.jpg"); background-repeat: no-repeat; height:76; }

td.FC { height: 22pt;}

td.epi-pageTitle { font-family: Verdana; font-size: 10pt; font-weight: bold; }
td.displayTitle { font-family: Verdana; font-size: 10pt; font-weight: bold; }
td.headingTitle { font-family: Verdana; color: #FFFFFF; font-size: 8pt; font-weight: bold;  }
td.headingTitleGray { font-family: Verdana; color: #999999; font-size: 8pt; font-weight: bold; }
td.headingTitleCenter { font-family: Copperplate Gothic Light; color: #660000; font-size: 14pt; font-weight: bold }

td.small { font-family: Verdana; font-size: 8pt; }
td.small p { font-family: Verdana; font-size: 8pt; }

td.smallBold { font-family: Verdana; font-size: 8pt; font-weight: bold; }
td.smallBold a { font-family: Verdana; font-size: 8pt; font-weight: bold; }
td.smallBold a:visited { font-family: Verdana; font-size: 8pt; font-weight: bold; }
td.smallBold a:hover { font-family: Verdana; font-size: 8pt; font-weight: bold; }
td.smallBold a:active { font-family: Verdana; font-size: 8pt; font-weight: bold; }

td.headingTitleBrown { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #38350C; }
td.headingTitleBrown a { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #38350C; }
td.headingTitleBrown a:visited { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #38350C; }
td.headingTitleBrown a:hover { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #38350C; }
td.headingTitleBrown a:active { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #38350C; }
td.headingTitleBrown p { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #38350C; }

td.aboutFedRelations { font-family: Copperplate Gothic Light; color: #3A2C06; font-size: 9pt; line-height:12pt; }
td.titleTimes { font-family: Times New Roman, Times, serif; font-size: 24pt; }
td.documentTitle { font-family: Verdana; font-size: 14pt; font-weight: bold; color: #333366; }
td.subtitle { font-family: Verdana; font-size: 10pt; font-weight: bold; }
td.summary { font-family: Verdana; font-size: 10pt; font-weight: bold; color: #666666; }
td.byline { font-family: Verdana; font-size: 10pt; font-style: italic; }

td.header { font-family: Verdana; color: #000066; font-size: 8pt; font-weight: bold; }
td.footer { font-family: Verdana; color: #999999; font-size: 8pt; font-weight: bold; }
td.footer2 { font-family: Verdana; color: #999999; font-size: 8pt; }

td.thinVerticalSpacer {	height:	5;}
td.grayVerticalLine { width: 5; background-image: url("graylinebg.gif"); }
td.thinHorizontalSpacer { width: 5;}
td.grayHorizontalLine { height: 4; background-image: url("grayhorizlinebg.gif"); }
td.whiteHorizontalLine { height: 4; background-image: url("whitehorizline.gif"); }

td.bgBlue { background-color:000066; font-size: 8pt; color:ffffff; font-weight: bold; }
td.bgRed { background-color:660000; font-size: 8pt; color:ffffff; font-weight: bold; }
td.bgTeal { background-color:669999; font-size: 8pt; color:ffffff; font-weight: bold; }

td.bgGray { background-color:eaeaea; font-size: 8pt; }
td.bgGray a { background-color:eaeaea; font-size: 8pt; }
td.bgGray a:visited { background-color:eaeaea; font-size: 8pt; }
td.bgGray a:hover { background-color:eaeaea; font-size: 8pt; }
td.bgGray a:active { background-color:eaeaea; font-size: 8pt; }
td.bgGray li { background-color:eaeaea; font-size: 8pt; }
td.bgGray p { background-color:eaeaea; font-size: 8pt; }

img.display { margin-left: 3px; margin-right: 3px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }

td.cfCal { font-size: 8pt; background-color: #f1e2b7; color:#7c7d87; }
td.cfCal p { font-size: 8pt; background-color: #f1e2b7; color:#7c7d87; }

td.cfCal1 { font-size: 10pt; font-family: Verdana; background-color: #f9f2df; color:#7c7d87; }

td.cfNews { font-size: 8pt; background-color: #422100; }
td.cfNews p { font-size: 8pt; background-color: #422100; }

#cicontainer {
width: 700px;
margin: 0px auto;
}
#ciheader {
background: #333365;
width: 100%;
padding-right: 0px;
color: #D1D1E9;
}
#cinav {
background: #7A7A9C;
background-image: url('http://www.nga.org/Images/ci0607navbar.jpg');
background-repeat: no-repeat;
background-position: right top;
width: 100%;
text-align: left;
padding: 5px 0px 5px 0px;
color: #ffffff;
}
#cileftbar {
background: #5C7A7A;
float: left;
width: 150px;
padding: 0px;
height: 1150px;
}
#cimain {
background: #ffffff;
background-image: url('http://www.nga.org/Images/ci0607bgshadow.jpg');
float: right;
width: 550px;
padding: 0px;
height: 1150px;
}
#cifooter {
background: #7A7A9C;
width: 100%;
text-align: center;
padding: 5px 0px 5px 0px;
color: #ffffff;
}

div.ciinner {
text-align: left;
padding: 5px;
}

body.ci {
background: #D6E0DB;
margin: 40px;
text-align: center;
font-family: verdana, arial, san-serif;
color: #000000;
font-size: 8pt;
font-weight: normal;
font-style: none;
font-decoration: none;
}

#vertAlign {
height:450px;
}