/* styled html */
body {margin: 0px; 
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif; 
	}

.main { position:absolute; 
	left:0px; 
	top:0px; 
	z-index:0; 
	}


#searchlayover { position: absolute; 
	left:607px; 
	top:22px; 
	z-index:1; 
	}

.indenter { margin-left: 15px; }

div.pullquote {float: right; width: 140px; color: #336633 ;
   border: solid #336633; border-width: 7px 0;
   font: bold 1em Arial, Helvetica, Verdana, sans-serif;
   padding: 3px 2px; margin: 1px 7px;}


/* text formatting styles */
.alertprint { font-size: 8pt; color: #990000; text-decoration: none ; font-weight: bold; }
.header-type { color: #333366; font-size: 100%; font-weight: bold; }
.resource-type { color: #336633; font-size: 100%; font-weight: bold; }
table.resource-type a:link { color: #336633; }
table.resource-type a:visited { color: #669966; }

.second-level { margin-left :7px; font-size: 90%; font-weight: bold; }
.third-level { margin-left :14px; font-size: 90%; }
.fourth-level { font-size: 70%; margin-left: 21px; }
.fifth-level { font-size: 65%; margin-left :28px; }
.annotation { font-size: 70%; font-weight: normal; margin-left :5px; color: black; }
div#greenblock { background-color: #99CC99; padding: 0.33em; margin: 1em 0; }
td.greenblock { background-color: #99CC99; }
.headerprint { font-size: 10pt; color: #000000; font-weight: bold; }
.alertprint  { font-size: 8pt; color: #990000; text-decoration: none ; font-weight: bold; }
.bigprint { font-size: 11pt; color: #000000; font-weight: normal; }
.bigblackprint { font-size: 11pt; color: #000000; font-weight: bold; }
.newsprint { font-size: 9pt; color: #000000; text-decoration: none ; font-weight: normal; }
.blackprint {  font-size: 9pt; color: #000000; text-decoration: none ; font-weight: bold; }
.blackprintunder {  font-size: 9pt; color: #000000; font-weight: bold; text-decoration: underline; }
.italicprint { font-size: 9pt; color: #000000; text-decoration: none; font-style: italic; font-weight: normal; }
.italicprintbold { font-size: 9pt; color: #000000; text-decoration: none; font-style: italic; font-weight: bold; }
.linktype { font-size: 9pt; color: #333366; text-decoration: underline;  font-weight: bold; }
.redprint { font-size: 9pt; color: #FF0000; text-decoration: none ; }
.smallprint { font-size: 8pt; color: #000000; text-decoration: none ; font-weight: normal; }
.smallboldprint { font-size: 8pt; color: #000000; text-decoration: none ; font-weight: bold; }
.small_linkprint { font-size: 8pt; color: #333366; text-decoration: underline; font-weight: bold; }
.smallitalicprint { font-size: 8pt; color: #000000; text-decoration: none; font-style: italic; font-weight: normal; }
.smallunderprint { font-size: 8pt; color: #000000; text-decoration: underline; font-weight: normal; }
.underprint {  font-size: 9pt; color: #000000; text-decoration: underline ; font-weight: normal; }
.underprintbold { font-size: 9pt; color: #000000; text-decoration: underline ; font-weight: bold; }

