div.logo { 
	display: block;
	text-align: right;
	}

div.logo img {
	background: #e2e2e2;
	padding: 3px;
	border: 1px solid #000;
	}

#hzMenu, #breadcrumb, #subMenuContainer, #leftCol, #footer, div.relatedEntries, div.externalLinks { display: none; }