A:link {color: #0000CC; text-decoration: underline;}
A:hover {color: #0000CC;}
A:visited {color: #0000CC; text-decoration: underline;}
A.side:link {text-decoration: none; color: #0000CC;}
A.side:hover {text-decoration: none; color: #0000CC;}
A.side:visited {color: #0000CC; text-decoration: none;}
p {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: disc;}
h1 {  font-family: Arial, Helvetica, sans-serif; color: #990000;}
h2 {  font-family: Arial, Helvetica, sans-serif; color: #990000;}
h3 {  font-family: Arial, Helvetica, sans-serif; color: #990000;}
h4 {  font-family: Arial, Helvetica, sans-serif; color: #990000;}
h5 {  font-family: Arial, Helvetica, sans-serif; color: #990000;}
li {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: disc;}
ol {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: decimal;}
ul {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: disc;}
dt {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: disc;}
dd {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: disc;}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; list-style-type: disc;}
.side {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration: none;}
.navig {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: normal;}
blockquote {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
.bottom {  font-size: x-small; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal;}
.caption {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: normal;}
.notice {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration: none font-weight: bold; font-style:italic;}
.table {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; text-decoration: none}
.right {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; text-decoration: none text-align: right;}

#indexlinks {
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
}


#indexlinks A{
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
}

#indexlinks A:hover {
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
