BODY  {

	background-color : #FFFFFF;
	
}

P  {

	font-size : 110%;

	font-family : Times New Roman, Helvetica, sans-serif;
	
	line-height: 135%}

OL  {

	font-size : 110%;

	font-family : Times New Roman, Helvetica, sans-serif;
	
	line-height: 135%
	
	}

UL  {

	font-size : 110%;

	font-family : Times New Roman, Helvetica, sans-serif;
	
	line-height: 135%
	
	}


H2  {

	color : #000080;

	font-size : 120%;

	font-family : Arial, Helvetica, sans-serif;

}



H3  {

	font-size : 120%;

	font-family : Arial, Helvetica, sans-serif;

	color : #000080;

}



A  {

	font-family: Times New Roman, Helvetica, sans-serif;

	font-size :  100%;
		
	line-height: 135%

}



A:Visited  {

	font-family: Times New Roman, Helvetica, sans-serif;

	font-size :  100%;
		
	line-height: 135%

}
