/*------ CHUNK ------ */
#chunk {
	margin:0px 0px 8px 0px;
	padding:1px;
}

#chunk .leadphoto { text-align:center; }

#chunk h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	padding:2px 5px;
	margin:0px;
}

#chunk h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000;
	background-color:#efefef;
	padding:2px;
	margin:0px;
	text-align:center;
}

#chunk h3.newsheadline {
	padding:5px;
	background-color:#F7F0CA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
}

#chunk .description {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#fff;
	padding:5px;
	margin:0px;
	text-align:justify;
}

* html #chunk .description { text-align:left; }

#chunk .description dd, #chunk .description dt { text-align:left; }

#chunk .description p {
	padding:0px 0px 8px 0px;
	margin:0px;
}


#chunk .infochunk {
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#fff;
	padding:5px;
	margin:0px;
}


#chunk ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color: #fff;
	padding:4px;
	margin:0px;
	list-style-position:outside;
	list-style-type:none;
}

#chunk ul li {
	padding-left: 7px;
	margin-bottom: 3px;
 	background-image: url(/img/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

#chunk ul#features {
	background-color: #fff;
	padding:0px; margin:0px;
	list-style-type:none;
	height: 130px;
}

#chunk ul#features li {
	float: left;
	margin: 0px;
	width: 345px;
	height: 65px;
 	background-image: none;
	background-repeat: no-repeat;
	background-position: 0px;		
}


/*-- Photos --*/

#chunk div.contestphoto {
	background-color:#000;
	padding:2px;
	margin:0px;
	vertical-align:middle;
}


#chunk div.leadphoto {
	background-color:#333;
	margin:0px;
	vertical-align:middle;
	border-bottom: 1px solid #333;
}

#chunk div.leadphoto a {
	line-height:normal;
}

#chunk div.perfimg {
	background-color:#fff;
	padding:2px;
	margin:0px;
	text-align:center;
}

#chunk div.composerphoto {
	background-color:#fff;
	padding:2px;
	margin:0px;
	vertical-align:middle;	
	background-image:url(/img/pictureframe.jpg);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}

#chunk div.composerphoto img {
	margin:30px;
	height:140px;
	width:100px;
}

#chunk div.soundtrackphoto {
	background-color:#fff;
	padding:2px;
	margin:0px;
	vertical-align:middle;	
	background-image:url(/img/coverframe.jpg);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}

#chunk div.soundtrackphoto img {
	margin-top:32px;
	margin-bottom:30px;
	height:82px;
	width:133px;
	padding: 0px;
	margin-left: 2px;
}


.byline {
	padding:5px;
	background-color:#333;
	color:#EFF0F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

.additional {
	padding:5px;
	background-color:#EFF0F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}



.newsdate {
	padding:5px;
	background-color:#F7FAFB;
	color:#999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}


.printable {
	padding:5px;
	background-color:#ECECEC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}