/* Global Elements */
body {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

a {
	line-height:12px;
}

#popupstructure {
	background-color:#EDEFF3;
}

p, td { font-family: verdana, arial, helvetica, sans-serif }

.page-background {background-color:#EDEFF3;}
.table-main {background-color:#fff;}
.table-main2 {background-color:#efefef;}
.alphanav {
	background-color: #fff;
	margin-bottom:10px;
	border: 1px solid #ccc;
}

form.tipjar {
	border: 1px solid #000;
	background-color:#04485F;
	margin: 0px;
	padding: 2px;
	margin-bottom: 5px;
	font-size: 13px; 
	font-family: verdana, arial, helvetica, sans-serif;
	color: #fff;
	text-align:center;
}

/* Form Elements */
.searchbox { 
	color: #000; 
	font-size: 11px; 
	font-family: verdana, arial, helvetica, sans-serif;
}

input, select { 
	color: #000; 
	font-size: 11px; 
	font-family: verdana, arial, helvetica, sans-serif;
}

/* Links */

a:link {color: #036; text-decoration: none;}
a:visited {color: #036;	text-decoration: none;}
a:hover {color: #191970; text-decoration: underline;}

a.white:link {color: #dCe2e9; text-decoration: none;}
a.white:visited {color: #dCe2e9; text-decoration: none;}
a.white:hover {color: #dCe2e9; text-decoration: underline;}

a.reviewed:link {color: #96AFCF; text-decoration: none;}
a.reviewed:visited {color: #96AFCF;	text-decoration: none;}
a.reviewed:hover {color: #96AFCF; text-decoration: underline;}

.byline a:link {color: #dCe2e9; text-decoration: none;}
.byline a:visited {color: #dCe2e9; text-decoration: none;}
.byline a:hover {color: #dCe2e9; text-decoration: underline;}

/* Fonts and Text */

.bodytext, .alphanav {
	color: #333; 
	font-size: 11px; 
	font-family: verdana, arial, helvetica, sans-serif;
}

.bodytext-light { 
	color: #999; 
	font-size: 11px; 
	font-family: verdana, arial, helvetica, sans-serif;
}

.date, .track-time {
	color: #999; 
}

.small { 
	color: #333; 
	font-size: 10px; 
	font-family: arial, helvetica, sans-serif;
}

.small-light { 
	color: #999; 
	font-size: 10px; 
	font-family: arial, helvetica, sans-serif;
}

.header { 
	color: #000; 
	font-size: 13px;
	font-family: arial, helvetica, sans-serif;
	text-transform: capitalize;
	font-weight: bold;
}
.section-header { 
	color: #fff; 
	font-size: 15px;
	font-family: arial, helvetica, sans-serif;
	text-transform: capitalize;
	font-weight: bold;
}

.subtitle { 
	color: #000; 
	font-size: 13px; 
	font-family: arial, helvetica, sans-serif;
	background-color:#eee;
}

/* Data */
dl { margin: 2px; padding:0px; }
dt { font-weight:bold; margin: 0px;}
dd { margin:0px 0px 10px 15px; padding:0px; }

/* Article Interviews */

b.question {color: #009;}

/* Charts and Tables */
.chartheader {background-color:#2E78A5; color:#fff}
.chartlight {background-color:#fff;}
.chartdark {background-color: #f6f6fa;}



ul#chart li.chartlight {
	background-color:#fff;
	background-image:none;
	padding:2px;	
}

ul#chart li.chartdark {
	background-color:#f6f6fa;
	background-image:none;
	padding:2px;	
}


/* Article Types */

.interview-table {background-color:#996666;}
.contest-table {background-color:#003366;}
.exclusive-table {background-color:#9999cc;}
.pickweek-table {background-color:#666699;}
.oldrelease-table {background-color:#cc6633;}
.collection-table {background-color:#336699;}
.specialedition-table {background-color:#669966;}
.scoremaker-table {background-color:#CC6600;}

.ad-table {background-color:#330033;}
.featuredsite-table {background-color:#003300;}
.wireless-table {background-color:#03c;}
.alert-table {background-color:#c00;}

/* Page Section Colors */
.about-left-table {background-color:#993300;}
.about-right-table {background-color:#336666;}

.article-left-table {background-color:#003366;}
.article-table, .article-right-table {background-color:#993333;}

.news-left-table {background-color:#663333;}
.news-table, .news-right-table {background-color:#993366;}
.news-special {background-color:#003399;}
.news-other {background-color:#006666;}
.news-release {background-color:#006600;}
.news-scoring {background-color:#666666; }

.ratings-table {background-color:#03c;}

.review-table {background-color:#999966;}
.reviews-left-table {background-color:#999966;}
.reviews-right-table {background-color:#999966;}

.radio-left-table {background-color:#333;}
.radio-right-table {background-color:#666;}

.search-left-table {background-color:#336666;}
.search-right-table {background-color:#330055;}

.soundtrack-table {background-color:#336666;}
.soundtracks-left-table {background-color:#000066;}
.soundtracks-right-table {background-color:#000055;}
.soundtracks-subtable-1 {background-color:#EFF0F7;}
.soundtracks-subtable-2 {background-color:#ECECEC;}

.resources-left-table {background-color:#006600;}
.resources-right-table {background-color:#005500;}

.artists-left-table {background-color:#336666;}
.artists-right-table{background-color:#335555;}

.marketplace-left-table {background-color:#660000;}
.marketplace-right-table {background-color:#550000;}

/* Advertising Column */
#advertising {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999;
}



/*--  FOOTER --*/
#footer, #popupfooter {
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999;
}

#popupfooter a {
	text-transform:uppercase;
}