BODY {
	color : #333333;
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;

}


H1 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #CC0033;
	font-weight: normal;}
H2 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #666666;
	font-weight: normal;}
H3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #336666;
	font-weight: normal;
	font-style: italic;
}

P { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333; } 

BLOCKQUOTE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
	left: 5px;
	right: 5px;
}
EM { text-decoration: italic; }  


P.date {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;}
P.links {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: center;}

P.large {font-family: "Comic Sans MS", "Viner Hand ITC", "Lucida Handwriting", sans-serif;
	font-size: 12pt;}

A:hover { color: #FFCC00; text-decoration: none;}
A:link { color: #339999; text-decoration: none; }
.links {color: purple; text-decoration: none; font-size: 12pt;}

A {text-decoration:none}
.albumcaption {
	font-family: "Tempus Sans ITC", "Viner Hand ITC", "Lucida Handwriting", sans-serif;
	font-size: 14px;
	color: #333300;
	text-align: center;
	text-indent: 20px;

}
hr {
	line-height: 1px;
	color: #6699CC;
}
.notebook {
	font-family: "Comic Sans MS", "Viner Hand ITC", "Lucida Handwriting", "Tempus Sans ITC", sans-serif;
	font-size: 12px;
}
.comic {
	font-family: "Comic Sans MS", Verdana, sans-serif;
	font-size: 14px;
	color: #000000;
}
.crossedout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: line-through;
}
.notegrey {
	font-family: "Comic Sans MS", Verdana, sans-serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	color: #999999;
}
