/* styles specific to athletics */
.head {
	font-size: 1.4em;
	font-weight: bold;
	color: #990000;
	font-style: italic;
}

.content {
  font-size: 1em;
  color: #000;
}

.subhead {
  font-size: 1em;
  color: #000;
  font-weight: bold;
}

.boxWhite {
  font-size: .9em;
  font-weight: bold;
  color: #fff;
}

.boxBlack {
  font-weight: bold;
  color: #000;
  font-size: .9em;
}

.subheadDark {
  font-weight: bold;
  color: #000;
}

.Blue {
	font-weight: bold;
	color: #003366;
}

.black {
	font-weight: bold;
	color: #000;
}

.white {
	font-weight: normal;
	color: #fff;
}

.caption {
	font-size: .9em;
	color: #ffcc00;
}

.boxYellow {
	font-size: .9em;
	color: #ffcc00;
}

.storyheadline {
  font-family: Helvetica, sans-serif, "Arial Black";
  font-size: 2em;
  font-weight: bold
}

.contentwhite {
	font-size: .9em;
	color: #fff;
}

.yellow {
	color: #ffcc00;
}

.links:link, .links:visited, .links:active {
  color: #fff;
  text-decoration: none;
}

.links:hover {
  color: #fff;
  text-decoration: underline;
}

.links:active {
  color: #fff;
  text-decoration: none;
}

.yellowlinks:link, .yellowlinks:visited {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
}

.yellowlinks::hover	{
  color: #ffcc00;
  text-decoration: underline;
  font-weight: bold;
  font-size: .8em;
}

.yellowlinks:active {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
}

/* styles specific to athletics */
