
	.headline{color:0D3579;font-weight:bold;font-size:12pt;}
	.headline2{font-size:8pt;color:#000000;}
	.upcoming{font-size:8pt;}
	.bold{font-weight:bold;}
	.footertext{color:ffffff;}

BODY, TABLE,p,td,ol,ul,li,br {font-family:arial;font-size:10pt;}

.footertext{font-family:arial;font-size:8pt;} /* footer text */
.headline{font-family:arial;font-size:8pt;color:000000} /* headlines past top stories text */
.topstory{font-family:arial;font-size:12pt;color:000000;font-weight:bold}
.topstorytext{font-family:arial;font-size:10pt;}  /* top story body text */
.caption{font-family:arial;font-size:8pt;font-weight:bold;color:7A7A7B} /* image caption text */
.sidetext{font-family:arial;font-size:8pt;} /* text in third column */
.italics{font-style:italic}
.polltitle{font-family:arial;font-size:8pt;color:ffffff;} 

.image_bgcolor {} /*omitted for transparency  -  Background color of images on index and player detailed pages*/
  
.general_header_row {background-color:#000000;color:#ffffff;font-size:8pt;font-family:arial;}      /* General table header row style */
.general_header {font-family:arial;font-size:14pt;color:000000}  /* General headers - non home page */   
.player_name_header {font-family:arial;font-size:14pt;}  /* Header of detailed player info */

.detailed_headline {font-family:arial;font-size:12pt;font-weight:bold;color:000000;} /* Individula story headline */
.byline {font-family:arial;font-size:10pt;font-weight:bold;font-style:italic;} /* Individual Story Byline */
.newsdate {font-family:arial;font-size:8pt;} /* Individual Story Byline */

.sidebar_border {color:#0000FF;}  /* Border color of sidebar items */
.sidebar_header {color:#000000;font-weight:bold;}

.shortdes{font-family:arial;font-size:10pt;}
.third{font-family:arial;font-size:10pt;color:000000;font-weight:bold}
.sidebarlinkhome{font-family:arial;font-size:8pt;color:000000;}
.sidebarlink{font-family:arial;font-size:8pt;color:000000;font-weight:bold;}
.sidebar_header{font-family:arial;font-size:8pt;color:000000;font-weight:bold;}

.news_source {font-family:arial;font-size:8pt;color:000000;font-style:italic}
.news_date {font-family:arial;font-size:8pt;color:000000;}
.news_link {font-family:arial;font-size:8pt;color:000000;}
.news_archive {color:000000;font-size:8pt;font-family:arial;font-weight:bold;}


.member_school {font-family:arial;font-size:8pt;color:000000;font-style:italic}

.standing_list {font-family:arial;font-size:8pt;color:000000;}
.standing_header {font-family:arial;font-size:8pt;color:000000;font-weight:bold;}
.standing_title {font-family:arial;font-size:12pt;color:000000;font-weight:bold;}
.standing_subtitle {font-family:arial;font-size:8pt;color:000000;font-weight:bold;}

.schedule_item {font-size:8pt;font-family:arial;}

.pow_name {font-size:10pt; font-weight:bold;}
.pow_school {font-size:10pt; font-weight:bold;}

.date {color:#ffffff;font-family:verdana;font-size:8pt;font-weight:bold;}  /* ticker stuff */
.sport {color:#ffffff;font-family:verdana;font-size:8pt;font-weight:bold;}  /* ticker stuff */
.team {color:#ffffff;font-family:verdana;font-size:8pt;}

.school_header{font-family:arial;font-size:12pt;color:000000;font-weight:bold;}

