
.txt   { color: white; font-weight: normal; font-size: 10px; font-family: Verdana; text-decoration: none }
.txt1    { color: black; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none; letter-spacing: 1px }
.headline1   { color: #f0e68c; font-weight: bold; font-size: 11px; font-family: Verdana; text-decoration: none }
.headline2    { color: black; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none; letter-spacing: 1px }
.headline6 { color: black; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none; letter-spacing: 0px }
.headline3 { color: #510101; font-style: italic; font-weight: bold; font-size: 22px; font-family: Verdana; text-decoration: none; letter-spacing: 7px }
.headline4 { color: white; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none }
.headline5 { color: #f0e68c; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none }
TD, TR { color: white; font-size: 10px; font-family: Verdana; text-decoration: none; letter-spacing: 0px }
a    { color: #f0e68c; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none; letter-spacing: 1px }
a:hover        { color: #f08080; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none; letter-spacing: 1px }
.a1   { color: #f0e68c; font-weight: normal; font-size: 10px; font-family: Verdana; text-decoration: underline }
.a1:hover  { color: #f08080; font-weight: normal; font-size: 10px; font-family: Verdana; text-decoration: underline }
