.text {  
font-family: "Times New Roman", Times, serif; 
font-size: 12pt; 
text-decoration: none
}


.link {  
font-family: "Times New Roman", Times, serif; 
font-size: 10pt; 
color: #6699cc;
text-decoration: none
}

.link2 {  
font-family: "Times New Roman", Times, serif; 
font-size: 12pt; 
color: #6699cc;
text-decoration: none
}

.content {  
font-family: "Times New Roman", Times, serif; 
font-size: 12pt; 
text-decoration: none
}

.smalltext {  
font-family: "Times New Roman", Times, serif; 
font-size: 10pt; 
}

.bigtext {  
font-family: "Times New Roman", Times, serif; 
font-size: 16pt;
font-weight:bold; 
color: #FF0000; 
text-decoration: none;}

.NavButton2 {  
BORDER-BOTTOM: #4f4f4f 1px solid; 
BORDER-LEFT: #4f4f4f 1px solid; 
BORDER-RIGHT: #4f4f4f 1px solid; 
BORDER-TOP: #4f4f4f 1px solid; 
COLOR: #ffffff; 
CURSOR: hand; 
FONT-SIZE: 8pt; 
FONT-WEIGHT: normal; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
clip:  rect(   ); 
background-color: #adadad
	 }
 
.NavButton {  
BORDER-BOTTOM: #626262 1px solid; 
BORDER-LEFT: #626262 1px solid; 
BORDER-RIGHT: #626262 1px solid; 
BORDER-TOP: #626262 1px solid; 
COLOR: #5d5d5d; 
CURSOR: hand; 
FONT-SIZE: 8pt; 
FONT-WEIGHT: normal; 
font-family: "Times New Roman", Times, serif; 
clip:  rect(   ); 
background-color: #e6e6e6
	 } 

.FormButton {  
BORDER-BOTTOM: #626262 1px solid; 
BORDER-LEFT: #626262 1px solid; 
BORDER-RIGHT: #626262 1px solid; 
BORDER-TOP: #626262 1px solid; 
COLOR: #5d5d5d; 
CURSOR: hand; 
FONT-SIZE: 8pt; 
FONT-WEIGHT: normal; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
clip:  rect(   ); 
background-color: #e6e6e6
	 }
 
.InputText { 
BORDER-BOTTOM: #7a7a7a 1px solid; 
BORDER-LEFT: #7a7a7a 1px solid; 
BORDER-RIGHT: #7a7a7a 1px solid; 
BORDER-TOP: #7a7a7a 1px solid; 
COLOR: #4f4f4f; 
CURSOR: text; 
FONT-SIZE: 8pt; 
FONT-WEIGHT: normal; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
clip:  rect(   ); 
background-color: #ffffff
	 }
	 
A:link   {
color:#0000CC; 
text-decoration:none
}

A:visited {
color:#009999; 
text-decoration:none
}

A:5d5d5d {
color:"#4682b4"; 
text-decoration:none
}

A:HOVER {
color:"#ff9900"; 
text-decoration:none
}







A.link:link   {
color:"#6699cc"; 
text-decoration:none
}

A.link:visited {
color:"#6699cc"; 
text-decoration:none
}

A.link:5d5d5d {
color:"#6699cc"; 
text-decoration:none
}

A.link:HOVER {
color:"#ff9900"; 
text-decoration:none
}