
body				{font-family:times new roman,serif; font-size:13px;}
p					{font-family:times new roman,serif; font-size:13px;}
td					{font-family:times new roman,serif; font-size:13px;}
ul					{font-family:times new roman,serif; font-size:13px;}
ol					{font-family:times new roman,serif; font-size:13px;}
li					{font-family:times new roman,serif; font-size:13px;}
li.dropdown		{font-family:times new roman,serif; font-size:11px;}

a:link			{color:#333399}
a:active			{color:#006600}
a:visited		{color:#333399}
a:hover			{color:#006600}

a.rollover:link		{color:#333399; text-decoration: none;}
a.rollover:active		{color:#006600; text-decoration: none;}
a.rollover:visited	{color:#333399; text-decoration: none;}
a.rollover:hover		{color:#006600; text-decoration: none;}

a.rolloversm:link		{color:#333399; text-decoration: none; font-size: 11px;}
a.rolloversm:active	{color:#006600; text-decoration: none; font-size: 11px;}
a.rolloversm:visited	{color:#333399; text-decoration: none; font-size: 11px;}
a.rolloversm:hover	{color:#006600; text-decoration: none; font-size: 11px;}

a.header:link		{color:#333399; text-decoration: none; font-size:16px;}
a.header:active	{color:#006600; text-decoration: none; font-size:16px;}
a.header:visited	{color:#333399; text-decoration: none; font-size:16px;}
a.header:hover		{color:#006600; text-decoration: none; font-size:16px;}


.bold				{font-weight: bold;}
.small				{font-size: 10px;}		
.underline			{text-decoration: underline;}

.maintext { font-size: 13px; font-family: Times New Roman, Arial, Verdana, sans-serif; color: #000000; font-weight: normal; text-decoration: none;}
.properties_search_header { font-size: 13px; font-family: Times New Roman, Arial, Verdana, sans-serif; color: #FFFFFF; font-weight: bold; text-decoration: none;}