body {
	margin-top: 0px;
	margin-bottom: 0px;
}
.style1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
}
.style2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}
.style3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
}
.style4 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}
.style5 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #BBAE8A;
}
.style6 {
	font-size: 24px;
	line-height: 22px;
	font-family: Times New Roman;
	color: #000000;
}
.style7 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 16px;
}
.style8 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}
.input {
	line-height: 18px;
	font-size:11px;
	font-family: arial, helvetica, sans-serif;
    vertical-align: middle; 
}
.album {
	border-color: #3E5F8A;
}
