.ucopstyle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: 16px}
a:link {  color: #000000; text-decoration: underline}
a:hover {  color: #0000CC; text-decoration: underline}
a:active {  color: #000000; text-decoration: underline}
a:visited {  color: #0000FF: text-decoration: underline) 
