body {background: #FFF;}

table#header {display: none;}

table#pageheader {display: none;}

td#pagec1 {display: none;}

table#footer {display: none;}

table#page {
	width: 100%;
	padding: 0;
	margin: 0 0 0 0;
	background: #fff; 
	border: none; 
}

td#sectionnav {display: none;}

div#logoblock {display: none;}

td#contentarea, td#contentareafull {padding: 0px 0px 0px 0px;}

p#oclcprint {display: block; padding: 0 0 4px 0;}
