#top {
	position : absolute;
	left : 0;
	top : 0;
	width: 130px;
	height: 145px;
	margin-left: 2px;
	margin-top: 2px;
	background-color: #FFFFFF;
	padding : 0px 0px 0px 0px;
        border-width: 5px 5px 5px 5px;
        border-style: outset outset outset outset;
        border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
        -moz-border-radius: 0px 0px 0px 0px;
}

#bottom {
	position : absolute;
        left : 0;
        width: 130px;
	top : 146px;
	text-align: center;
        margin-left: 2px;
        margin-top: 2px;
        background-color: #D3D3D3;
        padding : 0px 0px 0px 0px;
        border-width: 5px 5px 5px 5px;
	border-style: outset outset outset outset;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	-moz-border-radius: 0px 0px 0px 0px;
	color: red;
        text-decoration: none;
        text-transform:uppercase;
        text-align: center;
	font-size: 8px ;
        font-style: normal;
}

#bottom a, #bottom a:active, #bottom a:visited {border: none 0 #ffffff;
        color: black;
        font-weight:bold;
        font-family:Verdana, Arial, Helvetica,Georgia;
        font-size: 7px ;
        font-style: normal;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
	text-color: red;
        text-decoration: none;
        text-transform:uppercase;
	text-align: center;
}
