/* vBulletin 3 CSS For Style 'Default' (styleid: 2) */
body
{
	background: #EEEEEE url(../../images/bluesaint/gradients/bg.gif);
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0px 20px 0px 20px;
}
a:link, body_alink
{
	color: #000030;
}
a:visited, body_avisited
{
	color: #000030;
}
a:hover, a:active, body_ahover
{
	color: #4E72A2;
}
.page
{
	background: #FFFFFF;
	color: #000000;
}
.page a:link, .page_alink
{
	text-decoration: none;
}
.page a:visited, .page_avisited
{
	text-decoration: none;
}
.page a:hover, .page a:active, .page_ahover
{
	text-decoration: underline;
}
td, th, p, li
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #CFCFCF;
}
.tcat
{
	background: #4E72A2 url(../../images/bluesaint/gradients/catbg.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.thead
{
	background: #E0E0E0  url(../../images/bluesaint/gradients/catbotbg.gif) repeat-x top left;
	color: #666666;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #666666;
	text-decoration: none;
}
.thead a:visited, .thead_avisited
{
	color: #666666;
	text-decoration: none;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #666666;
	text-decoration: underline;
}
.tfoot
{
	background: #4E72A2 url(../../images/bluesaint/gradients/catbg.gif) repeat-x top left;
	color: #FFFFFF;
}
.tfoot a:link, .tfoot_alink
{
	color: #ffffff;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #FFFFFF;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #ffffff;
	text-decoration: underline;
}
.alt1, .alt1Active
{
	background: #F6F6F6;
	color: #000000;
}
.alt2, .alt2Active
{
	background: #F6F6F6;
	color: #000000;
}
td.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F6F6F6;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #000000;
}
.navbar
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #F6F6F6 url(../../images/bluesaint/gradients/gradient_panel.gif) repeat-x top left;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background: #738FB5 url(../../images/bluesaint/gradients/gradient_panelsurround.gif) repeat-x top left;
	color: #000000;
}
legend
{
	color: #22229C;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #4E72A2 url(../../images/bluesaint/gradients/catbg.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #F6F6F6;
	color: #000000;
	border: 1px solid #CFCFCF;
}
.vbmenu_option
{
	background: #F6F6F6;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #4E72A2;
	color: #FFFFFF;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** small padding on 'thead' elements ***** */
td.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }
/* Here you can change the look of the post text and links */

.vb_postbit
{
	color: #333333;
    font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	text-decoration: none;
}
.vb_postbit a:link
{
	color: #333333;
        font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
        border-bottom: 1px dotted #4E72A2;
	text-decoration: none;
}
.vb_postbit a:visited
{
	color: #333333;
        font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
        border-bottom: 1px dotted #4E72A2;
	text-decoration: none;
}
.vb_postbit a:hover, .vb_postbit a:active
{
	color: #4E72A2;
        font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
        border-bottom: 1px dotted #333333;
	text-decoration: none;
}

/* ***** header pm and login box  ***** */
.header_box_guest
{
background-color: #F6F6F6;
color: #000000;
padding:7px 7px 7px 7px;
border: 1px dotted #CFCFCF;
width: 300px;
}
.header_box
{
background-color: #FFFFCC;
color: #000000;
padding:7px 7px 7px 7px;
border: 1px dotted #CFCFCF;
width: 300px;
}

/* ***** postbit user info  ***** */
.postbit_box 
{
background-color: #edf3f9;
color: #000000;
padding:7px 7px 7px 7px;
border: 1px dotted #CFCFCF;
width: 292px;
}

/* ***** spacers and paddings ***** */

.cat_spacer {
padding:5px 0px 5px 0px;
}
.spacer {
padding:5px 0px 5px 0px;
}
.spacer_small {
padding:2px 0px 2px 0px;
}

/* ***** make announcements, stickies moderated, soft deleted posts and search result since last visit pretty ***** */
.announcement {
background-color: #d7e7f6;
color: #000000;
}
.sticky {
background-color: #edf3f9;
color: #000000;
}
.moderated {
background-color: #f9edee;
color: #000000;
}
.subscribed {
background-color: #edf9f2;
color: #000000;
}
.deleted {
background-color: #e5e8eb;
color: #283A5E;
}
.last_visit {
background-color: #edf3f9;
color: #000000;
}

/* ***** dotted hr ***** */
div.hr {
height: 1px;
background: url(../../images/bluesaint/misc/hr.gif) repeat scroll center;
}
div.hr hr {
display: none;
}

/* ***** make dropdown menu pretty ***** */

.vb_menu_control { 
background: #E0E0E0  url(../../images/bluesaint/gradients/catbotbg.gif) repeat-x top left;
color:  #666666;
font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
padding: 3px 6px 3px 6px;
white-space: nowrap;
}
.vb_menu_control a:link {
color:  #666666;
text-decoration: none;
}
.vb_menu_control a:visited {
color:  #666666;
text-decoration: none;
}
.vb_menu_control a:hover, .vb_menu_control a:active {
color:  #666666;
text-decoration: underline;
}


.blusaint_cat_spacer {
padding:5px 0px 5px 0px;
}
.blusaint_inline { 
background: #b7ccfc url(../../images/bluesaint/gradients/catbotbg.gif) repeat-x top left;
color:  #FFFFFF;
font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
padding: 3px 6px 3px 6px;
white-space: nowrap;
}

.borders {
border-left: 1px solid #CFCFCF;
border-right: 1px solid #CFCFCF;
}

.sticky {
background-color: #fefdf0;
color: #4D528C;
border-left: 1px solid #FFFFFF;
border-top: 1px solid #FFFFFF;
}

.announcement {
background-color: #FFFFCC;
color: #4D528C;
border-left: 1px solid #FFFFFF;
border-top: 1px solid #FFFFFF;
}
.announcement_icon {
background-color: #FFFFCC;
color: #4D528C;
border-left: 1px solid #FFFFFF;
border-top: 1px solid #FFFFFF;
}

/* Here you can change the look of the post text and links */

.bluesaint_postbit
{
	color: #000000;
        font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	text-decoration: none;
}
.bluesaint_postbit a:link
{
	color: #001e82;        
        border-bottom: 1px dotted #000000;
	text-decoration: none;
}
.bluesaint_postbit a:visited
{
	color: #000000;
        border-bottom: 1px dotted #000000;
	text-decoration: none;
}
.bluesaint_postbit a:hover, .bluesaint_postbit a:active
{
	color: #3366FF;
        border-bottom: 1px solid #3366FF;
	text-decoration: none;
}



.uq {
   font-size: 10px;
   color: gray; 
}

.us {
   font-size: 9px;
   color: #333333;
}

.us a:link, .us a:visited {
	color: #000000;
}

.banner, .banner-bottom {
   margin-bottom: 5px;
   text-align: center;
   border:1px #4E72A2 solid;
   padding-top: 2px;
}

.banner-bottom {
   border: none;
}