/* 	BC shared styles - all the structural styles are in /WebServer/bcgui/includes/arts/styles/ */
/* 	Don't delete all the basic p and heading directives from here otherwise the CMS won't look correct */

	form {margin:0;}
	p,td,input,li {font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin:0px;line-height:1.4em;}
	a {text-decoration:none;color:#992564}
	a:hover {text-decoration:none;color:#949091}
	body {background-color:#FFFFFF;background-image:URL(/images/gui/bg.gif);}

/* 	Site specific styles*/
	.insetBox {width:112px;margin-bottom:20px;margin-left:15px;}
	.pnl {font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin: 0px 0px 3px 0px;line-height:1.3em;color: #949091 ; font-weight: bold ;text-transform: uppercase}
	.qsText {font-family:verdana,arial,tahoma,sans-serif;font-size:11px;color:#C4C5C4;}
	.qsInput {border:1px solid #C6C7C6;width:135px;font-family:verdana,tahoma,arial,sans-serif;font-size:11px;color:#000000;margin-bottom:6px}
	.qsheading {font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin: 0px 0px 3px 0px;line-height:1.3em;color:#C4C5C4;font-weight: bold ;text-transform: uppercase;}
	.qsBox {border:1px solid #C4C5C4;width:187px;}

	table,h3,h4,h5,h6,form {margin:0px;}
	ul {margin-top:0px;margin-bottom:0px;margin-left:20px;}
	h1 { margin: 20px 0px 10px 0px; arial,helvetica,sans-serif;font-size:16px;margin:0px;line-height:1.4em;color: #949091 ; text-transform: uppercase ;text-decoration: bold ;} 
	h3 {font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin: 0px 0px 3px 0px;line-height:1.3em;color: #000000;font-weight:bold;text-transform:uppercase;} 
	h5 { font-size:13px ; color: #949091 ; text-decoration: none ; margin:0px; line-height:1.4em;} 
	h6 { font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin: 0px 0px 3px 0px;line-height:1.3em;color: #949091 ; font-weight: bold ;text-transform: uppercase} 
	select {font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin:0px;line-height:1.4em;}
	.menu {width:194px;margin:0px;color:#000000}
	.search {font-family:verdana,arial,helvetica,sans-serif;font-size:11px;margin-top:10px;margin-bottom:3px;margin-left:0px;margin-right:0px;line-height:1.4em;color:#949091;}
	.small { border: 0px; padding: 0px; font-family: verdana,arial,helvetica; font-size: 9px; font-weight: normal; }


/* resolve netscape issue Used by the © British Council at the foot of the page */ 

	.contenttextfull{ font-size:100% ; font-family: Verdana ; color: #949091 ; text-decoration: none ; } 
	.contenttextfull A { font-weight : bold; text-decoration: none ; color: #992564 ; } 
	.contenttextfull A:hover { font-weight : bold; text-decoration: underline ; color: #992564 ; } 

/* Accessibility */ 
	.accessibilityStrip {background-image:URL(/bcgui/arts/images/accessibility_strip.jpg);}
	#accessibilityBCLogoNormal {display:block}
	#accessibilitySiteLogoNormal {display:block}
	#accessibilityBCLogoOnYellow {display:none}
	#accessibilitySiteLogoOnYellow {display:none}
	#accessibilityBCLogoOnBlack {display:none}
	#accessibilitySiteLogoOnBlack {display:none}
	
	.showIfNotWhite {display:none;}
	
/*  Used by the British Council statement and links to Freedom of Information, etc at the foot of the page */
		
	.footertext{ font-size:60% ; font-family: Verdana ; color: #000000 ; text-decoration: none ; } 
	.footertext A { font-weight : bold; text-decoration: none ; color: #992564 ; } 
	.footertext A:hover { font-weight : bold; text-decoration: underline ; color: #992564 ; } 


/*  Used by wysiwyg editor */
	.pic {margin: 0px 10px 6px 0px;}
	.picR {margin: 0px 0px 6px 10px;}
	.picFull { margin: 0px; }


/*	buttons and lists */
	
	.bc_buttonText {font-size:11px;font-family: Verdana;color: #949091;text-decoration: none;text-transform:uppercase;}
	.bc_buttonText:hover {text-decoration: underline;color: #000000 ; }
	.bc_buttonTextlowercase {font-size:11px;font-family: Verdana;color: #949091;text-decoration: none ;}
	.bc_buttonTextlowercase:hover {text-decoration: underline;color: #000000;}
	.bc_listItemContent {font-size:11px;font-family:Verdana;color:#000000;text-decoration:none;}
	.bc_color2 {color:#949091;}
	.lozengetext2 {font-size:11px;font-family:Verdana;font-weight:bold;color:#ffffff;text-decoration: none;text-transform : uppercase;}
	
	.homeNewsListRow {margin-bottom:4px; }
	.homeNewsListItem {border:0px;padding:0px;font-family:verdana,arial,helvetica;font-size:11px;font-weight:normal;}
	.homeNewsListItem a {border:0px;padding:0px;font-family:verdana,arial,helvetica;font-size:11px;font-weight:normal;font-color:#000000;}



/* misc */
	.bc_bnrLarge {background-color:#EFF1F0;background-image:URL(/images/pc/bnr_bg_large.gif);border-bottom:1px solid #949091;}
	.bc_bnrSmall {background-color:#EFF1F0;border-bottom:1px solid #949091;}
	
.commment {	.bc_bnrSmall_OLD {background-color:#EFF1F0;background-image:URL(/images/pc/bnr_bg_small.gif);border-bottom:1px solid #949091;}

