p,td,input,li {font-family:arial,helvetica,verdana,sans-serif;font-size:10px;margin:0px;}
.bc_bnr {width:100%;}
.bc_mainNav, .bc_mainNavShadow, .bc_searchBox, .bc_identShadow {display:none;}
.bc_ident {width:100%;background-color:#EFF1F0;border:1px solid #C6C7C6;border-top:0px;border-right:0px;}
.bc_mainTable {width:100%;}
.bc_mainTableCol1 {display:none;}
.bc_mainTableCol2 {display:none;}
.bc_mainTableCol3 {display:none;}

.contenttext {font-size:11px;}

.fullWidth {width:100%;}
.collapseForPrint {display:none;}
.bc_lozengeItemText {color:black;}

h1 {font-size:16px;}
