
/* new styles added for redesign 03/02/06 */

.clsHomeLarge{
	font-family: "trebuchet ms", verdana, arial;
	font-size: 23px;
	font-weight: bold;
	color: #330066;
	margin-bottom: 2px;
}

.clsHomeMedium{
	font-family: "trebuchet ms", verdana, arial;
	font-size: 14px;
	font-weight: normal;
	color: #330066;
	margin-top: 2px;
	margin-bottom: 2px;
}


.clsHomeHeader{
	font-family: "trebuchet ms", verdana, arial;
	font-size: 18px;
	font-weight: normal;
	color: #330066;
	margin-top: 2px;
	margin-bottom: 2px;
}


.ClsHomeSmall {
	font-family: "trebuchet ms", verdana, arial;
	font-size: 12px;
	font-weight: normal;
	color: #330066;
	margin-top: 2px;
	margin-bottom: 2px;
	
}


.clsFormTopGreen
{
    BORDER-TOP: #669900 1px solid
}

.clsFormLeftGreen
{
    BORDER-LEFT: #669900 1px solid
}

.clsFormRightGreen
{
    BORDER-RIGHT: #669900 1px solid
}
.clsFormBottomGreen
{
    BORDER-BOTTOM: #669900 1px solid
}


.clsGreyLines
{
    BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #CCCCCC 1px solid;
}

.clsHeaderButton
{
	BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.7em;
    BACKGROUND: #FF6600;
    BORDER-LEFT: #cccccc 1px solid;
    CURSOR: hand;
    COLOR: #FFFFFF;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: "trebuchet ms", Verdana, Arial;
    TEXT-DECORATION: none;
}

div.links {
overflow: auto;
white-space:nowrap;
width: 270px;
height: 60px;
padding-left: 2px;
cursor: hand;
border: 1px #CCCCCC solid;
background-color: #FFFFFF;
font-family:  Verdana, arial, sans-serif;
font-size: 11px;
font-weight: light;
text-decoration: none;
scrollbar-arrow-color:#003399;
scrollbar-base-color:#DEEDDE;
scrollbar-shadow-color:#DEEDDE;
scrollbar-face-color:#DEEDDE;
scrollbar-highlight-color:#DEEDDE;
scrollbar-dark-shadow-color:#DEEDDE;
scrollbar-3d-light-color:#DEEDDE;
scrollbar-track-color: #DEEDDE;
}


div.fotmlinks {
overflow: auto;
width: 280px;
height: 450px;
padding-left: 2px;
cursor: hand;
background-color: #FFFFFF;
scrollbar-arrow-color:#003399;
scrollbar-base-color:#DEEDDE;
scrollbar-shadow-color:#DEEDDE;
scrollbar-face-color:#DEEDDE;
scrollbar-highlight-color:#DEEDDE;
scrollbar-dark-shadow-color:#DEEDDE;
scrollbar-3d-light-color:#DEEDDE;
scrollbar-track-color: #DEEDDE;
}

.clsTxtSmallSpaced
{
	FONT-SIZE: 0.7em;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-color: #000000;
	line-height: 125%;
}

.clsHomeImageSmall
{
    BORDER-RIGHT: #CCCCCC 1px solid;
    BORDER-TOP: #CCCCCC 1px solid;
    BORDER-LEFT: #CCCCCC 1px solid;
    BORDER-BOTTOM: #CCCCCC 1px solid
}

/* end new styles */

BODY
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-color: #000000;
	BACKGROUND-COLOR: #FFFFFF
	
}
IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
A:link
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}

.clsSecondaryLink a:link, .clsSecondaryLink a:visited, .clsSecondaryLink a:active
{
	text-decoration: none;
	font-color: #000000;
	FONT-SIZE: 0.7em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    
}
.clsSecondaryLink a:hover
{	color: blue;
	text-decoration: underline;
}



A:hover
{
    COLOR: #0099cc;
    TEXT-DECORATION: none
}
.clsTxtSmall
{
	FONT-SIZE: 0.7em;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-color: #000000;
	line-height: 110%;
}

.clsTxtSmaller
{
    FONT-SIZE: 0.6em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-color: #000000
}
.clsTxtSmallColour
{
    FONT-SIZE: 0.7em;
    COLOR: #330066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.clsTxtSmallerColour
{
    FONT-SIZE: 0.6em;
    COLOR: #330066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.clsTxtSmallColourBlue
{
    FONT-SIZE: 0.7em;
    COLOR: #002B79;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.clsContent
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 0.8em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.clsTitle
{
    FONT-SIZE: 1.1em;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.clsTitleColour
{
	FONT-SIZE: 1.1em;
	COLOR: #330066;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.clsTitleColourSmall
{
    FONT-SIZE: 0.9em;
    COLOR: #330066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
}

.clsTitleColourBlue
{
    FONT-SIZE: 1.2em;
    COLOR: #330066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.clsHelpText
{
    FONT-SIZE: 0.7em
}
.clsBreadCrumbBar
{
      font-family: "trebuchet ms", verdana, arial;
	font-size: 0.7em;
	font-weight: normal;
	color: #330066;
	BACKGROUND-COLOR: #DEEDDE
}
.clsYouAreHere
{
    font-family: "trebuchet ms", verdana, arial;
	font-weight: normal;
	color: #330066;
}
.clsHelpTable
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial
}
.clsMainSection
{
    BORDER-RIGHT: #DEEDDE 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #DEEDDE 1px solid;
    PADDING-LEFT: 0px;
    BORDER-LEFT: #DEEDDE 1px solid;
    BORDER-BOTTOM: #DEEDDE 1px solid
}
.clsLeftBar
{
    BORDER-RIGHT: #999999 1px dashed;
    BORDER-TOP: #999999 1px;
    BORDER-LEFT: #d7d7d7 1px solid;
    BORDER-BOTTOM: #d7d7d7 1px solid
}
.clsScrollingMenu
{
    FONT-SIZE: 0.7em;
    CURSOR: hand;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    font-color: #000000
}
.clsFormBox
{
    BACKGROUND-COLOR: #ffffcc
}
.clsFormTop
{
    BORDER-TOP: #cccccc 1px solid
}
.clsFormLeft
{
    BORDER-LEFT: #cccccc 1px solid
}
.clsFormRight
{
    BORDER-RIGHT: #cccccc 1px solid
}
.clsFormBottom
{
    BORDER-BOTTOM: #cccccc 1px solid
}
.clsFormLeftColumn
{
    WIDTH: 120px
}
.clsFormRightColumn
{
    WIDTH: 260px
}
.clsFormSpacerSmall
{
    WIDTH: 5px;
    HEIGHT: 5px
}
.clsFormSpacerLarge
{
    WIDTH: 10px;
    HEIGHT: 10px
}
.clsFormCornerImage
{
    WIDTH: 7px;
    HEIGHT: 7px
}
.clsFormBox2
{
    BACKGROUND-COLOR: #ffffff
}
.clsFormTop2
{
    BORDER-TOP: #DEEDDE 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #DEEDDE
}
.clsFormHead
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #DEEDDE
}
.clsFormTopLeft2
{
    BACKGROUND-COLOR: #DEEDDE
}
.clsFormTopRight2
{
    BACKGROUND-COLOR: #DEEDDE
}
.clsFormButton
{
    MARGIN-TOP: 5px;
    FONT-SIZE: 0.7em;
    WIDTH: 150px;
    CURSOR: hand;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 20px;
    TEXT-DECORATION: none
}
.clsFormButtonSmall
{
    MARGIN-TOP: 5px;
    FONT-SIZE: 0.7em;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 20px;
    TEXT-DECORATION: none
}
.clsFormButtonLarge
{
    MARGIN-TOP: 5px;
    FONT-SIZE: 0.7em;
    WIDTH: 200px;
    CURSOR: hand;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 20px;
    TEXT-DECORATION: none
}
.clsFormSecondaryButton
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.6em;
    BACKGROUND: #cccccc;
    BORDER-LEFT: black 1px solid;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.clsFormInputSmall
{
    FONT-SIZE: 0.7em;
    MARGIN-BOTTOM: 0px;
    WIDTH: 100px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsFormInput
{
    FONT-SIZE: 0.7em;
    MARGIN-BOTTOM: 0px;
    WIDTH: 200px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsFormInternalBox
{
    BORDER-RIGHT: #e0e0a0 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #e0e0a0 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #e0e0a0 1px solid;
    WIDTH: 400px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #e0e0a0 1px solid
}
.clsFormTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.6em;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsFormText
{
    FONT-SIZE: 0.6em;
    MARGIN-BOTTOM: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsFormCaption
{
    FONT-SIZE: 0.6em;
    FONT-FAMILY: Verdana, Arial
}
.clsFormMessage
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 0.8em;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.clsFormSubject
{
    MARGIN-TOP: 5px;
    FONT-SIZE: 0.8em;
    MARGIN-BOTTOM: 10px;
    FONT-FAMILY: Verdana, Arial
}
.clsStepTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 1.8em;
    MARGIN: 10px 10px 10px 0px;
    FONT-FAMILY: Times New Roman, Arial, Helvetica
}
.clsStepComment
{
    FONT-SIZE: 0.7em;
    MARGIN: 5px 10px 15px 0px;
    FONT-FAMILY: Verdana, Arial
}
.clsErrorMessage
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.8em;
    LEFT: 0px;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px 10px 15px;
    WIDTH: 404px;
    COLOR: #cc3300;
    PADDING-TOP: 5px;
    POSITION: relative;
    TEXT-ALIGN: center
}
.clsRequiredFieldHighlight
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.7em;
    MARGIN-BOTTOM: 0px;
    COLOR: #cc3300;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsHighlight
{
    COLOR: #cc3300
}
.clsFormSubHeading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.8em;
    MARGIN-BOTTOM: 5px;
    FONT-FAMILY: Verdana, Arial
}
.clsCategoryTitle
{
    FONT-SIZE: 1.3em;
    MARGIN: 0px;
    FONT-FAMILY: Arial, Helvetica
}
.clsFormComment
{
    FONT-SIZE: 0.8em;
    MARGIN: 5px 0px 10px;
    FONT-FAMILY: Verdana, Arial
}
.clsCategoryName
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 0.9em;
    COLOR: #330066;
    FONT-FAMILY: Arial, verdana, sans-serif;
    BACKGROUND-COLOR: #DEEDDE;
    TEXT-ALIGN: center
}
.clsLoginPassword
{
    MARGIN-BOTTOM: 0px;
    WIDTH: 90px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsLoginEmail
{
    FONT-SIZE: 0.7em;
    MARGIN-BOTTOM: 0px;
    WIDTH: 180px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.clsFRPCapt
{
    FONT-SIZE: 0.7em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-color: #000000
}
.clsFRPTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    FONT-FAMILY: Arial, Helvetica;
    font-color: #000000
}
.clsFRPDetail
{
    FONT-SIZE: 0.7em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-color: #000000
}
.clsFRPSummaryAmts
{
    FONT-SIZE: 1em;
    FONT-FAMILY: Arial, Helvetica;
    font-color: #000000
}
.clsFRPImgTablBdr
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid
}
.clsFRPMessBdr
{
    BORDER-RIGHT: #000000 1px dotted;
    BORDER-TOP: #000000 1px dotted;
    FONT-SIZE: 0.8em;
    BORDER-LEFT: #000000 1px dotted;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px dotted;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.clsFRPAccBdr
{
    BORDER-RIGHT: #0066ff 2px solid;
    BORDER-TOP: #0066ff 2px solid;
    BORDER-LEFT: #0066ff 2px solid;
    BORDER-BOTTOM: #0066ff 2px solid
}
.clsFRPAccTxtSm
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPAccCelBtm
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPAccCelTop
{
    BORDER-RIGHT: #333333 1px solid;
    BORDER-BOTTOM: #000000 1px solid
}
.clsFRPAccCelTotT
{
    BORDER-TOP: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid
}
.clsFRPAccCelTotB
{
    BORDER-BOTTOM: #cccccc 1px solid
}
.clsFRPAccTxtSmB
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 0.7em;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPTxtSmall
{
    FONT-SIZE: 0.7em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-color: #000000
}
.clsFRPBorder
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid
}
.clsFRPDVCaptOn
{
    FONT-SIZE: 0.7em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-color: #999999
}
.clsFRPDVCaptTxtBox
{
    FONT-SIZE: 0.7em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffff99;
    font-color: #999999
}
.clsFRPDVTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica
}
.clsFRPDVDetail
{
    FONT-SIZE: 0.7em;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVDetailOn
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVSummaryAmts
{
    FONT-SIZE: 1em;
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica
}
.clsFRPDVSummaryAmtsOn
{
    FONT-SIZE: 1em;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica
}
.clsFRPDVImgTablBdr
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPDVMessBdr
{
    BORDER-RIGHT: #999999 1px dotted;
    BORDER-TOP: #999999 1px dotted;
    FONT-SIZE: 0.8em;
    BORDER-LEFT: #999999 1px dotted;
    COLOR: #999999;
    BORDER-BOTTOM: #999999 1px dotted;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.clsFRPDVAccBdr
{
    BORDER-RIGHT: #999999 2px solid;
    BORDER-TOP: #999999 2px solid;
    BORDER-LEFT: #999999 2px solid;
    BORDER-BOTTOM: #999999 2px solid
}
.clsFRPDVAccTxtSm
{
    FONT-SIZE: 0.7em;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVAccCelBtm
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPDVAccCelTop
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPDVAccCelTotT
{
    BORDER-TOP: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPDVAccCelTotB
{
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPDVAccCelTotBOn
{
    COLOR: #000000;
    BORDER-BOTTOM: #999999 1px solid
}
.clsFRPDVAccTxtSmB
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 0.7em;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #999999;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVTxtSmall
{
    FONT-SIZE: 0.7em;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVTxtSmallOn
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVTxtBoxL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.9em;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #ffff99
}
.clsFRPDVTxtBoxM
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0.9em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffff99
}
.clsFRPDVTxtArea
{
    FONT-SIZE: 0.8em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffff99
}
.clsFRPDVTxtImageOr
{
    FONT-SIZE: 1.1em;
    COLOR: #f24d48;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVImgFileField
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffff99
}
.clsFRPDVSubImgTabBdr
{
    BORDER-RIGHT: #0066ff 1px dashed;
    BORDER-TOP: #0066ff 1px dashed;
    BORDER-LEFT: #0066ff 1px dashed;
    BORDER-BOTTOM: #0066ff 1px dashed
}
.clsFRPDVOuterBdr
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid
}
.clsFRPDVColTabB
{
    BORDER-RIGHT: #fed4a4 1px solid;
    BORDER-TOP: #fed4a4 1px solid;
    BORDER-LEFT: #fed4a4 1px solid;
    BORDER-BOTTOM: #fed4a4 1px solid
}
.clsFRPDVColTabTxt
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM:#cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVUploadBtn
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsFRPDVTxtBoxUrl
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.9em;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #ffff99
}
.toptab
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#container
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 0px;
    WIDTH: auto;
    PADDING-TOP: 0px;
    POSITION: static
}
#tabnav
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    MARGIN: 0px
}
#tabnav UL
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#tabnav LI
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#tabnav A:link
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND: #ffffff;
    FLOAT: left;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #999999;
    MARGIN-RIGHT: 4px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
#tabnav A:visited
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND: #ffffff;
    FLOAT: left;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #999999;
    MARGIN-RIGHT: 4px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
#tabnav A.active:link
{
    BACKGROUND: #669900;
    COLOR: #ffffff
}
#tabnav A.active:visited
{
    BACKGROUND: #669900;
    COLOR: #ffffff
}
#tabnav A:hover
{
    BACKGROUND: #ffffff;
    COLOR: #000000
}
.clsAccBdr
{
    BORDER-RIGHT: #669900 1px solid;
    BORDER-TOP: #669900 1px solid;
    BORDER-LEFT: #669900 1px solid;
    BORDER-BOTTOM: #669900 1px solid
}
.clsAccountBreadcrumbs
{
    FONT-SIZE: 0.6em;
    BACKGROUND: #669900;
    COLOR: #ffffff
}
.clsAccCellSplit
{
    BORDER-LEFT: #669900 1px dotted
}
.clsAccTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1.2em;
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.clsAccStBdr
{
    BORDER-RIGHT: #669900 2px solid;
    BORDER-TOP: #669900 2px solid;
    BORDER-LEFT: #669900 2px solid;
    BORDER-BOTTOM: #669900 2px solid
}
.clsAccStTxtSm
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsAccStCelBR
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsAccStCelBtm
{
    BORDER-BOTTOM: #999999 1px solid
}
.clsAccStCelTopBR
{
    BORDER-RIGHT: #333333 1px solid;
    BORDER-BOTTOM: #000000 1px solid
}
.clsAccStCelTopB
{
    BORDER-BOTTOM: #000000 1px solid
}
.clsAccStCelTotT
{
    BORDER-TOP: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid
}
.clsAccStCelTotB
{
    BORDER-BOTTOM: #cccccc 1px solid
}
.clsAccStTxtSmB
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 0.7em;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsAccStTxtSmRed
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #f24d48;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clsEmailAddCelBt
{
    FONT: 0.7em Verdana, Arial, Helvetica, sans-serif;
    BORDER-BOTTOM: #333333 1px solid
}
.clsEmailAddCelBtRt
{
    BORDER-RIGHT: #333333 1px solid;
    FONT: 0.7em Verdana, Arial, Helvetica, sans-serif;
    BORDER-BOTTOM: #333333 1px solid
}

.clsEmailAddRowHighlight{
	background-color	: #eeeeee;
	cursor				: hand;
			}
			
.clsEmailAddRowLowlight{
	background-color	: #ffffff;
	cursor				: hand;
}


.lines
{
    BORDER-RIGHT: #999999 1pt dashed;
    BORDER-TOP: #999999 1pt;
    BORDER-LEFT: #999999 1pt;
    COLOR: #cccccc;
    BORDER-BOTTOM: #999999 1pt
}

/* team table css starts here */

.clsTeamStCelTopBR
{
    BORDER-RIGHT: #333333 1px solid;
    BORDER-BOTTOM: #000000 1px solid
}

.clsTeamStCelBR
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}

.clsTeamStCelBtm
{
    BORDER-BOTTOM: #999999 1px solid
}

.clsTeamStCelTopB
{
    BORDER-BOTTOM: #000000 1px solid
}

/*team table css ends here */

.clsFormHr
{
   COLOR: #669900
}

.clsGreyTable
{
	BORDER-TOP: #999999 1px dashed;
	 BORDER-LEFT: #999999 1px dashed;
	  BORDER-RIGHT: #999999 1px dashed;
	 BORDER-BOTTOM: #999999 1px dashed;
	 PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
	 PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
}


/*  Below are the new styles appended to all stylesheets - Sonal Rattan 15/08/2005  */

.clsSearchWrap
{
    BORDER-RIGHT: #c5c2c3 1px dotted;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #c5c2c3 1px dotted;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #c5c2c3 1px dotted;
    WIDTH: 545px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #c5c2c3 1px dotted;
    BACKGROUND-COLOR: #ffffff
}
.clsSearchLogo
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FLOAT: left;
    PADDING-BOTTOM: 2px;
    WIDTH: 135px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: center
}
.clsSearchTitle
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    FONT: bold 0.7em Verdana, Arial, Helvetica, sans-serif;
    PADDING-TOP: 0px
}
.clsSearchWrap P
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    FONT: 0.7em Verdana, Arial, Helvetica, sans-serif;
    PADDING-TOP: 0px
}
.clsSearchWrap INPUT
{
    FLOAT: right
}
.clsSearchBody
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    WIDTH: 400px;
    PADDING-TOP: 5px
}
.clsSearchEnd
{
    FONT: 0.7em Verdana, Arial, Helvetica, sans-serif
}

/*  Below are the new styles appended to all stylesheets for pfp Marketing - Frame Muller 29/09/2005  */

.clsTxtStepTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #990032;
}

.topRightTabTable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.clsFormInputNoSize {
    FONT-SIZE: 0.7em;
    MARGIN-BOTTOM: 0px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}

.clsFormBoxSquare {
	BACKGROUND-COLOR: #fff0df;
	border: 1px solid #669900;
}

.clsFormBoxSquare2 {
	BACKGROUND-COLOR: #ffffff;
	border: 1px solid #669900;
}

.clsAddressBookBtm {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #FFCCFF;
	border-right-color: #FFCCFF;
	border-bottom-color: #FFCCFF;
	border-left-color: #FFCCFF;
}

.clsAddressBookSides {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #FFCCFF;
	border-right-color: #FFCCFF;
	border-bottom-color: #FFCCFF;
	border-left-color: #FFCCFF;
	}

.clsFRPAccOption {
	width: 450px;
	margin: 10px 5px 5px 5px ;
	padding: 0;
	}

.clsFRPAccOption p {
		font: 0.7em Verdana, Arial, sans-serif;
		padding: 0;
		margin: 0;
		height: 50px;
	}

.clsFRPAccOptionHeader{
		padding: 5px 5px 3px 0px;
		margin: 0;
		font: bold 0.7em Verdana, Arial, sans-serif;
		vertical-align: text-bottom;
	}

.clsFRPAccOptionImg1 {
		float: left;
		padding: 0px 15px;
		position: relative;
		vertical-align: text-bottom;
	}

.clsFRPAccOptionImg2 {
		 float: right;
		position: relative;
		}

.clsFRPAccDashboard {
		border-top: 1px dotted #C5C2C3;
	border-left: 1px dotted #C5C2C3;
		margin: 10px 5px 10px 5px ;
		padding: 0px;
	}

.clsFRPAccDashHeader{
		background-color: #F4F1F2;
		padding: 5px 5px 8px 0px;
		margin: 0px;
		font: bold 0.7em Verdana, Arial, sans-serif;
		vertical-align: text-bottom;
	}

.clsFRPAccDashboarImg1 {
		float: left;
		padding: 0px 5px;
		position: relative;
	}

.clsFRPAccDashboarImg2 {
		 float: right;
		position: relative;
		}

.clsFRPAccDashboard p {
		background: #ffffff;
		font: 0.7em Verdana, Arial, sans-serif;
		padding: 7px 0px 0px 0px;
		margin: 0px;
		height: 100px;
	}

/*  new style for pfp page, href for charity name looks like normal text - Frame Muller 05/01/2006  */

A.noHrefStyle, A.noHrefStyle:hover, A.noHrefStyle:visited, A.noHrefStyle:link {
	color: #000;
	text-decoration: none;
}

