*.primary {background-color: rgb(2, 80, 0)}
*.secondary {background-color: rgb(142, 142, 142)}
*.tertiary {background-color: rgb(84, 84, 84)}
*.background {background-color: rgb(0, 0, 0)}
h1#website-title {font-family: verdana, arial, sans-serif; font-size: 20px; font-weight: bold; color: rgb(196, 196, 196); font-style: normal; text-decoration: none}
h2#website-slogan {font-family: verdana, arial, sans-serif; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); font-style: italic; text-decoration: none}
*#content {font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: normal; color: rgb(238, 238, 238); font-style: normal; text-decoration: none}
*#content a:link {font-family: arial, verdana, sans-serif; font-size: 16px; font-weight: bold; color: rgb(51, 204, 204); font-style: normal; text-decoration: underline}
*#content a:active {font-family: arial, verdana, sans-serif; font-size: 16px; font-weight: bold; color: rgb(51, 204, 204); font-style: normal; text-decoration: underline}
*#content a:visited {font-family: arial, verdana, sans-serif; font-size: 16px; font-weight: bold; color: rgb(51, 204, 204); font-style: normal; text-decoration: underline}
*#content a:hover {font-family: arial, verdana, sans-serif; font-size: 16px; font-weight: normal; color: rgb(255, 255, 255); font-style: normal; text-decoration: underline}
*#navcontainer div a h3 {font-family: "comic sans ms", cursive; font-size: 14px; font-weight: bold; color: rgb(74, 230, 0); font-style: normal; text-decoration: none}
*#navcontainer div a:hover h3 {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
*#navcontainer div a:hover {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
*.accent {background: transparent url(../images/DSC_1177.JPG) no-repeat top left}
