h1 {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFA30C;
}

h2 {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	color: #737373;
}

h3 {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	color: #4E5191;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.bodytext {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #4C4C4C;
}

.footlink {
	font-size: x-small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #767676;
	font-weight : bold;
}

.footlt {
	font-size: x-small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #E1E1E1;
}

.footdk {
	font-size: x-small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #9A9A9A;
	font-weight : bold;
}

.listtext {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #737373;
}

.level1 {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFA30C;
	font-weight: bold;
}

.level2 {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	color: #737373;
	font-weight: bold;
}

.level3 {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	color: #606060;
	font-weight: bold;
}

.booktitle {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	color: #4E5191;
	font-weight: bold;
}
