body         { font-family: Verdana; font-size: 10pt; color: #FFFFFF }
a:hover      { color: #CC9933; font-family: Verdana; }
a:link       { color: #FFFFFF }
a:visited    { color: #FFFFFF }
a:active     { color: #FFFFFF; font-family: Verdana }