a 
{
	color: #000000;
	text-decoration: underline;
	font-weight : bold;
}
a:hover 
{
	color: #BCB807;
	text-decoration: underline;
	font-weight : bold;
}
a:link {
	color: #000000;
	font-weight: bold;

}
a:visited {
	color: #55667B;
	font-weight: bold;

}
a:active {
	color: #BFBC16;
	font-weight: bold;

}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.newsTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4A6688;
}
.newsDate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4A6688;
}
.newstext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
}
.strongblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4A6688;
}
