
#footer {
    margin: 0 auto 40px 0;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

#footerAd {
    text-align: center;
}

#footerGS {
    line-height: 10pt;
    font-size: x-small;
    text-align: center;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    margin: 24px 18px 0 18px;
    border-top: 1px solid #ccc;
    padding: 18px 0 18px 0;
}
#footerGS a {
    text-decoration: underline;
    color: #888;
}
#footerGS a:visited {
    color: #aaa;
}
#footerGS a:hover {
    color: #6cc;
}

#footerGS .lowernavbar {
    text-align: center;
    font-weight: bold;
}

#footerGS .lowernavbar a:link,
    #footerGS .lowernavbar a:visited {
    padding: 0px 10px 0px 13px;
    text-decoration: none;
    text-transform: uppercase;
}

#footerGS .lowernavbar a:hover {
    text-decoration: underline;
}

#footerGS #footerText {
    padding-top: 10px;
}

#footerGS #footerSearch {
     padding-top: 10px;
}

#footerGS #footerSearch span {
    padding-left: 2px;
    padding-right: 2px;
}

#footerGS #footerCopyright {
    padding-top: 10px;
    padding-bottom: 10px;
}




#footerSearchStates, #footerSearchCities, #footerSearchStateSpecific, #footerSearchDistricts {
    padding: 0px 50px 10px 50px;
}