html { 
  padding:0px;
  margin:0px;
}

body {
  font-size: 16px;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

a { 
  color: #000000;
  text-decoration: none; 
}
a:visited {
  color: #000000;
}
a:active {
}
a:hover {
  color: #000000;
}

img {
  display: none;
  visibility: hidden;
}

h2 {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

div.ff{
  text-align: center;

}

div.ff1{
  display: none;
  visibility: hidden;
}

div.spacer {
  clear: both;
}

div.blurb {
  text-align: left;
  margin: 24px;
}

div.navbar {
  display: none;
  visibility: hidden;
}

div.ffmenu {
  display: none;
  visibility: hidden;
}

div.sectionhead {
  font-weight: bold;
  text-align: left;
  font-size: 24px;
}

div.sectionleft {
  vertical-align: middle;
  float: left;
  text-align: left;
  line-height: 24px;
  margin-left: 16px;
  width: 430px;
}
div.sectionright {
  float: left;
  text-align: left;
  margin-left: 16px;
  width: 256px;
}

div.logo {
  display: none;
  visibility: hidden;
}

div.banner {
  display: none;
  visibility: hidden;
}

div.headleft {
  display: none;
  visibility: hidden;
}

div.headcenter {
}

div.headcenterandright {
}

div.headright {
  display: none;
  visibility: hidden;
}

table.box {
  border: solid;
  border-color: #00008B;
  width: 100%
}

td.bl {
  text-align: center;
  padding: 0px 8px 0px 8px;
  font-size: 18px;
  font-weight: bold;
}

span.imagecredits {
  display: none;
  visibility: hidden;
}
span.credits {
  font-size: 16px;
}
span.year {
  font-size: 12px;
}
span.gold {
  font-size: 24px;
}