/* Main Content Classes */
 
P
{
    margin-top: 0px;
    margin-bottom: 12px;
}

.Title1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

a.Title1:hover
{
    color: #A11602;
    text-decoration: underline;
}

.Intro1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    margin-top: 9px;
}
.formtitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.Title2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
a.Title2:hover
{
    color: #A11602;
    text-decoration: underline;
}
.Intro2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 11px;
    margin-top: 9px;
}
.List1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}
.List2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    /*line-height:11px;*/
}
a.List2:hover
{
    text-decoration: underline;
}
.List2Italic
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-style: italic;
}
a.List2Italic:hover
{
    text-decoration: underline;
}
.Intro3
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 11px;
}
.DetailTitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
a.DetailTitle:hover
{
    color: #A11602;
    text-decoration: underline;
}
.DetailMainSubTitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
.DetailSubTitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
.DetailComment
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #9c9c9c;
    text-decoration: none;
}
/* for fckeditor */
body, .DetailContent
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
.DetailQuote
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    font-style: italic;
}
.DetailConclusion
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    font-style: italic;
}
.DetailCredits
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: Gray;
    text-decoration: none;
    font-style: italic;
}
.DetailFirstParagraph
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
/* Other Content Classes */

.tdBottom
{
    padding-top: 6px;
    vertical-align: bottom;
}
.tdBottom2
{
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    vertical-align: bottom;
}

TD.contentBox
{
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 6px;
}

TD.contentBox2
{
    padding-top: 6px;
    padding-left: 9px;
    padding-right: 6px;
}

TD.contentBox3
{
    padding-left: 9px;
    padding-right: 6px;
}

TD.contentBox4
{
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 5px;
    padding-left: 5px;
}

TD.contentBox5
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 6px;
}

IMG.topImage
{
    margin-right: 6px;
}

IMG.rightTopImage
{
    margin-bottom: 2px;
    margin-left: 2px;
}

TABLE.boxTopSpace
{
    margin-top: 4px;
}

.boxBgColor
{
    background-color: #f2f2f2;
}

TD.VertSepWidth
{
    padding-left: 13px;
    width: 13px;
}

TD.VertSepWidth1
{
    padding-left: 4px;
    width: 4px;
}

TD.VertSepBg
{
    background-image: url(/img/sep_dotted.gif);
    background-repeat: repeat-y;
    background-position: center top;
}

TD.VertSepBg1
{
    background-image: url(/img/sep_dotted1.gif);
    background-repeat: repeat-y;
    background-position: center top;
}

.ArticleImageCaption
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.ArticleImagePhotographer
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #9c9c9c;
    text-decoration: none;
    margin-top: 2px;
}

/* ---------- */

.red_head
{
    background-image: url(/img/red_head.gif);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #A11602;
    height: 18px;
    text-indent: 9px;
    vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.red_head_txt
{
    background-color: #A11602;
    height: 18px;
    vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.red_head1
{
    background-image: url(/img/red_head.gif);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #A11602;
    height: 18px;
    vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.grey_head
{
    background-image: url(/img/grey_head.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #818085;
    text-decoration: none;
}
.grey_head1
{
    background-image: url(/img/grey_head.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 18px;
    text-align: left;
    vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #818085;
    text-decoration: none;
    padding-left: 8px;
}

.blue_head1 {
	background-image: url(/img/blue_head.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #01005D;
	text-decoration: none;
}

.footer
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #9c9c9c;
    text-decoration: none;
}
.footerPad
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #9c9c9c;
    text-decoration: none;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.footerlnk
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #9c9c9c;
    text-decoration: underline;
}
.footerlnkWhite
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
.voteGraph
{
	background-color: #959595;
	height: 7px;
	font-size: 7px;
	margin-right:4px;
}

.fieldname, .smallselect
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}