.topinfoboxes {
	background-color: #e5ecf9;
	border: 1px solid #00c;
	color: #000;
	margin: 10px 0px 0px 7px;
	font-size: 85%;
	}

.topinfoboxes td {
	padding: 8px 10px 0 10px;
	}	

.secondtagline .col1 {
	}

.secondtagline .col2 {
	}

.homepageboxes .box {
	width: 33%;
	padding: 5px;
	}

.borderlessbox {
	font:       11px Verdana, Arial, Helvetica, sans serif;
	padding-top: 55px;
	position: relative;

}


.readbox, .writebox, .infobox {
	padding: 10px;
	font:       11px Verdana, Arial, Helvetica, sans serif;
	padding-top: 55px;
	border: 1px solid #7d8889;
	position: relative;

}

.writebox, .infobox {
	height: 250px;
	overflow: hidden;
	}


.sh1 {
	font-size: 230%;
	position: absolute;
	top: 0px;
	left: 10px;
	}

.sh2 {
	font-size: 150%;
	position: absolute;
	top: 28px;
	left: 28px;
	}


.sh3 {
	font-size: 150%;
	}

.writebox .startlink {
	padding: 22px 0 0 0;
	text-align:center;
	}


.finduniversity, .startreview  {
	position: relative;
	background-color: #e5ecf9;
	padding: 10px;
	height: 63px;
	border: 1px solid #00c;
	}

.checklist {
	margin-top: 5px;
	margin-left: 0px;
	padding:0;
	}

.checklist .bullet {
	padding: 1px 0 5px 20px;
	background: url('/foo/images/checkmark.gif') no-repeat 2px 2px;

	}
	
.pagetabs a {
	padding: 2px 4px;
	border: 1px solid #00c;
	line-height: 2em;
	width: 9em;
	text-align: center;
	text-decoration: none;
	background-color: #fcfcfc;
	}

.pagetabs a:hover {
	
	color: #fcfcfc;
	background-color: #00c;
	}