body     { font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif }
p     { font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif }
th { font-weight: bold; font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif }
td    { font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif }
.PageHead   { color: #006; font-weight: bold }
.MenuText  { color: #006; font-size: 10px }
input { font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif }
textarea { font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif }
