body {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	border-width : 0px 0px 0px 0px;
}
table, tr, td {
	font-size: 12px;
}
.breadcrumbbox {
	background-color: #ffffcc;
	font-size: 10px;
	color: Gray;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 3px 3px 0px;
	margin: 0;
	text-align: left;
}
#contact {
	padding: 7px 5px 0px 5px;
}
#contact address {
	font-style: normal;
	font-size: 10px;
}
#contact strong {
	display: block;
}
#qbutton {
	background-color: #ffffcc;
}
#qbutton img {
	padding-bottom: 3px;
}
.contact {
	background-color: #ffffcc;
	padding: 7px 5px 0px 7px;
}
.contact address {
	font-style: normal;
	font-size: 10px;
}
.contact strong {
	display: block;
}
.disclaimer {
	background-color: #99cc66;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}
.disclaimer p {
	margin: 0;
}
.quicklink {
	font-size: 12px;
	display:block;
	background-color : #ffcc33;
	color: #003399;
	font-weight: bolder;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 1px;
	padding-bottom: 6px;
	margin-top: 5px;
	border-top: thin solid #0033cc;
}
#contentarea {
	margin: 5px 0px 0px 0px;
	font-size: 12px;
	padding: 5px 0px 0px 5px;
	background-color: White;
	border-left: 2px solid #999966;
}
#quick {
	background-image: url(/graphics/Site_search_116.gif);
	background-repeat: no-repeat;
	background-position : top;
	background-color: #ffffcc;
	border-bottom: 2px solid #999966;
	padding-top: 27px;
	padding-left: 9px;
	padding-bottom: 0px
}
#quick form {
	padding-bottom: 0px;
}
#quick p {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	font-size: 11px;
}
#topnav {
	border-bottom: 2px solid #999966;
	background-color: #ffffcc;
}
.button {
	padding: 0px 0px 0px 5px;
	font-size: 12px;
	font-weight: bolder;
	background-color: #ffffcc;
	margin-top: 0px;
	text-align: left;
}
.button ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: none;
	text-decoration : none;
}
.button li {
	width: 136px;
	margin: 1px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font: bolder 12px/15px;
	text-decoration: none;
}
.button li a {
	display: block;
	font-weight: bolder;
	padding: 5px 5px 5px 0.5em;
	border-left: 4px solid #2175bc;
	background-color: #ffe468;
	color: #003399;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
}
.button li a:hover {
	color: #2175bc;
	text-decoration: none;
}
.button li strong a {
	display: block;
	font-weight: bolder;
	padding: 5px 5px 5px 0.5em;
	border-left: 0px solid #2175bc;
	background-color: #2175bc;
	color: #ffe468;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
}
.button li strong a:hover {
	background-color: #99cc66;
	color: #003399;
	text-decoration: none;
}
.red em {
	color: Red;
	font-weight: bold;
	font-style: normal;
}
.red p {
	border: medium solid Red;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
}