body {
        background-color: #FFEEBB;
        font-family: Helvetica, Arial, Verdana, sans-serif;
}

A:link  { color : #770000; text-decoration:none; }
A:visited       { color : #770077; text-decoration:none; }
A:active        { color : #0000FF; text-decoration:none; }
A:hover { color : #FF0000; text-decoration:none; }

TD, TH { font-size: 13px; }

P { font-size: 13px; }

LI { font-size: 12px; }
.tiny {  font-size : 9px; text-decoration:none; }
.small {  font-size : 11px; text-decoration:none; }
.medium {  font-size : 13px; text-decoration:none; }
.mediumlarge {  font-size : 14px; text-decoration:none; }
.large {  font-size : 15px; text-decoration:none; }
.cell {  font-size : 12px; text-decoration:none; }

