body {
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


.style12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
}


.style13 {font-family: Arial, Helvetica, sans-serif}
.style14 {font-weight: bold; font-size: small; color: #0092CF;}
.style15 {font-weight: bold; font-size: small; color: #FFFFFF;}
.style16 {font-weight: bold; font-size: small; color: #DBE3D6;}
.style18 {font-size: small}
.style21 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: xx-small;
}



.style23 {font-family: Arial, Helvetica, sans-serif; color: #EDEFEA; }
.style24 {font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; }
.style25 {
	color: #EDEFEA;
	font-size: xx-small;
}


.darklinks {color:#0092CF; text-decoration:none;}

.whitelinks {color:#FFFFFF; text-decoration:none;}

.lightlinks {color:#EDEFEA; text-decoration:none;}


a:hover
       {text-decoration:blink;}


.darktables
	{background-color:#7BC142;}

.lighttables
	{background-color:#EDEFEA;}

.whitetables
	{background-color:#FFFFFF;}

