<style type="text/css">

.minitext 
{
	font-size: 8pt; 
	font-family: Arial,Helvetica,sans-serif;
}

.minitext-white
{
	font-size: 8pt; 
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}

.minitext-bold
{
    font-weight: bold;
	font-size: 8pt; 
	font-family: Arial,Helvetica,sans-serif;
}


.minitext-spaced
{
	font-size: 8pt; 
	font-family: Arial,Helvetica,sans-serif;
    PADDING-Bottom: 25px;

}



.smalltext 
{
	font-size: 10px; 
	font-family: Arial,Helvetica,sans-serif;
}

.smalltext-white
{
	font-size: 10px; 
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}

.smalltext-bold
{
    font-weight: bold;
	font-size: 10px; 
	font-family: Arial,Helvetica,sans-serif;
}


.medtext 
{
	font-size: 11px; 
	font-family: Arial,Helvetica,sans-serif;
}

.medtext-white
{
	font-size: 11px; 
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}
.medtext-bold 
{
    font-weight: bold;
	font-size: 11px; 
	font-family: Arial,Helvetica,sans-serif;
}


.standardtext 
{
	font-size: 12px; 
	font-family: Arial,Helvetica,sans-serif;
}

.standardtext-white 
{
	font-size: 12px; 
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}

.standardtext-bold 
{
    font-weight: bold;
	font-size: 12px; 
	font-family: Arial,Helvetica,sans-serif;
}

.standardtext780 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 780px;


}

.largetext 
{
	font-size: 14px; 
	font-family: Arial,Helvetica,sans-serif;
}

.largetext-white 
{
	font-size: 14px; 
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}

.largetext-bold 
{
    font-weight: bold;
	font-size: 14px; 
	font-family: Arial,Helvetica,sans-serif;
}

.largertext 
{
	font-size: 18px; 
	font-family: Arial,Helvetica,sans-serif;
}

.largertext-bold 
{
    font-weight: bold;
	font-size: 18px; 
	font-family: Arial,Helvetica,sans-serif;
}


.maincontentheader 
{

	font-size: 18px; 
	font-family: Arial,Helvetica,sans-serif;
	color: black;
}

.maincontentheader-white
{
	font-size: 18px; 
	font-family: Arial,Helvetica,sans-serif;
	color: white;
}


.LeftHandMenuText2
{
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 8px;
    FONT-SIZE: 12px;
    WIDTH: 140px;
    COLOR: black;
    FONT-FAMILY: Arial,Helvetica,sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.LeftHandMenuText
{
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 2px;
    FONT-SIZE: 11px;
    font-weight: bold; 
    COLOR: #666666;
    FONT-FAMILY: Arial, Sans-Serif, MS Sans-Serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.LeftHandMenuTitle
{
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 8px;
    FONT-SIZE: 11px;
    font-weight: bold; 
    COLOR: blue;
    font-family: Arial,Helvetica,sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.TopMenuText
{
    PADDING-LEFT: 14px;
    PADDING-RIGHT: 8px;
    FONT-SIZE: 12px;
    font-weight: bold; 
    COLOR: #666666;
    FONT-FAMILY: Arial, Sans-Serif, MS Sans-Serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.TopMenuTitle
{
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 8px;
    FONT-SIZE: 14px;
    font-weight: bold; 
    COLOR: #666666;
    font-family: Arial,Helvetica,sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.ULRL
{
	list-style-type: square;
 	margin-left: 5px; 
	margin-top: 8px; 
	margin-right: 4px; 
	margin-bottom: 6px;
    FONT-SIZE: 11px;
    font-weight: bold; 
    COLOR: #666666;
    FONT-FAMILY: Arial, Sans-Serif, MS Sans-Serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.RLMenuText
{
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 1px;
    FONT-SIZE: 11px;
    font-weight: bold; 
    COLOR: #666666;
    FONT-FAMILY: Arial, Sans-Serif, MS Sans-Serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.RLMenuText-NoBold
{
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 1px;
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Arial, Sans-Serif, MS Sans-Serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.RLMenuTitle
{
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 1px;
    FONT-SIZE: 11px;
    font-weight: bold; 
    COLOR: white;
    font-family: Arial,Helvetica,sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.RLP
{
 	margin-left: 5px; 
	margin-top: 8px; 
	margin-right: 4px; 
	margin-bottom: 6px;
}


.RLborder
{
border-color: #C7C68D;
border-width:
1px; border-style: solid;
}

.FakeHeader-White
{
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 2px;
    FONT-SIZE: 11px;
    font-weight: bold; 
	color: white;
    font-family: Arial,Helvetica,sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}


.tablelook {
	background-color: #FFFFFF;
	border: 1px solid #666666;
	height:100%;
}

<!--- begin new OSU styles here --->



<!--- end new OSU styles --->

</style>

<!---not sure what these variants are for Chris A 2-06 -->

.minitext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.minitext-normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.minitext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}


