/* 
MODULE NAME:  gwvrp.css
PURPOSE: Stylesheet for GWVRP application
AUTHOR: Grant Szabo (grant@quagmire.com)
CREATED: 1/30/03
LAST MODIFIED: 2/15/03
*/

.fontItalic    {
	font-family: "Times New Roman";
	font-size: 10pt;
	color: black;
	font-weight: normal;
	font-style: italic;
}
.font1    {
	font-family: Verdana; 
	font-size: 10pt; 
	color: black; 
	font-weight: normal}
.font1Bold    {
	font-family: Verdana; 
	font-size: 10pt; 
	color: black; 
	font-weight: bold}
.font1SmallCaps    {
	font-family: Verdana;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	font-variant: small-caps;
}	
.font2	{
	font-family: Verdana; 
	font-size: 8pt; 
	color: black; 
	font-weight: normal}	
.font2Bold	{
	font-family: Verdana; 
	font-size: 8pt; 
	color: black; 
	font-weight: bold}
.fontShaded	{
  font-family: Verdana; 
  font-size: 10pt; 
  color: Black; 
  font-weight: bold;
  background-color: #dedede;
}
.fontRed  {
	font-family: Verdana; 
	font-size: 10pt; 
	color: red; 
	font-weight: bold}
.fontRequired {
	font-family: Verdana; 
	font-size: 10pt; 
	color: red; 
	font-weight: normal;
}
.fontblue  {
	font-family: Verdana; 
	font-size: 10pt; 
	color: #333399; 
	font-weight: bold
}
.debug {
	font-family: Verdana; 
	font-size: 9pt; 
	color: White; 
	font-weight: bold;
	background: #BA55D3;
}
.PageTitle {
	font-family: Verdana; 
	font-size: 14pt; 
	color: Black; 
	font-weight: bold;
	letter-spacing: 3px;
}
.SubPageTitle	{
  font-family: Verdana; 
  font-size: 11pt; 
  color: Black; 
  font-weight: bold;
  background-color: #bcb185
}
p.font1    {
	font-family: Verdana; 
	font-size: 10pt; 
	color: black; 
	font-weight: normal}
p.font1Bold    {
	font-family: Verdana; 
	font-size: 10pt; 
	color: black; 
	font-weight: bold}
p.fontRed  {
	font-family: Verdana; 
	font-size: 10pt; 
	color: red; 
	font-weight: bold}
p.fontRequired {
	font-family: Verdana; 
	font-size: 10pt; 
	color: red; 
	font-weight: normal;
}
p.fontblue  {
	font-family: Verdana; 
	font-size: 10pt; 
	color: #333399; 
	font-weight: bold
}
tr.colHeading {
	font-family: Verdana; 
	font-size: 8pt; 
	color: White; 
	font-weight: bold;
	background-color: #C45151;
}
tr.font1 {
	font-family: Verdana; 
	font-size: 10pt; 
	color: black; 
	font-weight: normal;
	vertical-align: top;
}
td {
	vertical-align: top;
}
td.font1 {
	font-family: Verdana; 
	font-size: 8pt; 
	color: black; 
	font-weight: normal;
	vertical-align: top;
}
td.font1Bold {
	font-family: Verdana; 
	font-size: 8pt; 
	color: black; 
	font-weight: bold;
	vertical-align: top;
}
tr.highlight {
	background-color: Yellow;
	font-family: Verdana; 
	font-size: 8pt; 
	color: black; 
	font-weight: bold	
}
iframe.visible {
	visibility: visible;	
}
iframe.hidden {
	visibility: hidden;	
}
.Submit {
	font-size:10px;
	font-weight:bold;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style : normal;
}
.SubmitRed {
	font-size:10px;
	font-weight:bold;
	background-color: #be1d1a;
	color:#FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style : normal;
}	

/*
BODY {
	font-family : "Times New Roman", Times, serif;
}
H2 {
	font-family : "Times New Roman", Times, serif;
}
I {
	font-family : "Times New Roman", Times, serif;
}
*/

