<STYLE TYPE="text/css">
BODY
{
    FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
H1
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt
}
TD
{
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
P
{
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
.navbar
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
.ojlite
{
    FONT-FAMILY: Verdana, Helvetica;
    FONT-SIZE: 8pt
}
.ojlitebig
{
    FONT-FAMILY: Verdana, Helvetica;
    FONT-SIZE: 10pt
}
.ojdark
{
    FONT-FAMILY: Verdana, Helvetica;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bolder
}
</STYLE>

