body, td { font-family: arial, sans-serif; font-size: 12px;  }

h1 { font-size: 18px; font-weight: bold; } /* header */
h2 { font-size: 14px; font-weight: bold; } /* sub-header */

.listItem { padding:0px 2px 0px 10px; text-indent: -8px; }

.caption { font-size: 11px; } /* photo captions */
.copyright { font-size: 11px; } /* copyright info */
.legal { font-size: 10px; } 

.fontArial10 { font-size: 10px; }
.fontArial11 { font-size: 11px; }
.fontArial12 { font-size: 12px; }
.fontArial13 { font-size: 13px; }
.fontArial14 { font-size: 14px; }
.fontArial16 { font-size: 16px; }
.fontArial18 { font-size: 18px; }
.fontArial20 { font-size: 20px; }

.time { padding-right: 20px; padding-bottom: 0px; color: #003366; padding-top: 6px; }
.spaceone { padding: 3px 3px 3px 9px; }
.spacetwo { padding 0 5px; }
.spacethree { padding: 0 20px; }
.itemlist { padding-left: 18px; text-indent: -7px; }
.itemlist2 { padding-left: 18px; padding-bottom: 5px; text-indent: -7px; }
.itemlist3 { padding-left: 30px; padding-bottom: 5px; text-indent: -7px; }
.itemlist4 { padding-left: 10px; text-indent: -7px; }
.checklist { padding-left: 33px; padding-bottom: 5px; text-indent: -22px; }
.lplist { padding-left: 48px; text-indent: -8px; }
.thlist { padding-left: 48px; padding-bottom: 7px; text-indent: -8px; }
.thListSpace { padding: 7px 20px 2px 0; }

/* global navbar */
.navTxtLight { font-family : Arial, Helvetica, sans-serif; font-size: 10px; line-height: 18px; color: #003366; }
		.navTxtLight A,
		.navTxtLight A:hover,
		.navTxtLight A:visited,
		.navTxtLight A:active            { color: #003366; text-decoration: none; }
.navTxtDark { font-family : Arial, Helvetica, sans-serif; font-size: 10px; line-height: 18px; color: #FFFFCC; }
		.navTxtDark A,
		.navTxtDark A:hover,
		.navTxtDark A:visited,
		.navTxtDark A:active            { color: #FFFFCC; text-decoration: none;  }

a.tNav:link, a.tNav:visited { text-decoration: none; color: #fff; font-weight: bold; }
a.tNav:hover { color: #006; text-decoration: none; font-weight: bold; }

a.prod:link, a.prod:visited { text-decoration: none; color: #FD6602; font-weight: bold; }
a.prod:hover { color: #f00; text-decoration: none; font-weight: bold; }
a.prodon:link, a.prodon:visited, a.prodon:hover { color: #000066; text-decoration: none; font-weight: bold; }


#products  td { padding: 0 15px; border-right: solid 1px #FD6602;  font-family: arial; font-size: 11px; font-weight: bold; color: #fff; background: url(/twb_content/authorsandbooks/production/images/but_prod_bg.gif) repeat-x; } 
#products td.on { margin-left: 0; margin-right: 0; padding: 0 15px; border-right: none; background: url(/twb_content/authorsandbooks/production/images/but_prodon_bg.gif) repeat-x; }
#products td.last { margin-left: 0; border-right: none;  }
#products td.left { margin-right: 0; padding: 0; border-right: none; background: none;}
#products td.right { margin-left: 0; padding: 0; border-right: none;  background: none }

#main { background-color: #FFE533; } 
#main td { padding: 4px 15px 2px 15px; border-left: solid 1px #3E5D9A; border-right: solid 1px #B3D1FE; border-bottom: solid 1px #fff; background: url(/twb_content/authorsandbooks/production/images/but_bg.gif) repeat; font-family: arial; font-size: 11px; font-weight: bold; color: #fff;}
#main td.first {  border-left: none;  }
#main td.toolsOn  { color: #000066; border-bottom: solid 1px #00CC66; background: url(/twb_content/authorsandbooks/production/images/but_tools_bg.gif) repeat; }
#main td.toolsOn  a:link, #main td.toolsOn  a:visited { color: #000066; text-decoration: none; }
#main td.activitiesOn  { color: #000066; border-bottom: solid 1px #ADFAF4; background: url(/twb_content/authorsandbooks/production/images/but_activities_bg.gif) repeat; }
#main td.activitiesOn  a:link, #main td.activitiesOn  a:visited { color: #000066; text-decoration: none; }
#main td.homeOn  { color: #000066; border-bottom: solid 1px #ABD6FF; border-left: none; background: url(/twb_content/authorsandbooks/production/images/but_home_bg.gif) repeat; }
#main td.homeOn  a:link, #main td.homeOn  a:visited { color: #000066; text-decoration: none; }
#main td.lessonsOn  { color: #000066; border-bottom: solid 1px #CCB0FF; background: url(/twb_content/authorsandbooks/production/images/but_lessons_bg.gif) repeat; }
#main td.lessonsOn  a:link, #main td.lessonsOn  a:visited { color: #000066; text-decoration: none; }
#main td.stratOn  { color: #000066; border-bottom: solid 1px #FFBF47; background: url(/twb_content/authorsandbooks/production/images/but_strat_bg.gif) repeat; }
#main td.stratOn  a:link, #main td.stratOn  a:visited { color: #000066; text-decoration: none; }
#admin { background-color: #FFE533;  } 
#admin td { padding: 4px 12px 2px 12px; border-left: solid 1px #3E5D9A; border-right: solid 1px #B3D1FE; border-bottom: solid 1px #fff; background: url(/twb_content/authorsandbooks/production/images/but_bg.gif) repeat; font-family: arial; font-size: 11px; font-weight: bold; color: #fff;}
#admin td.first { margin-left: 0; border-left: none;  }
#admin td.on  { color: #ffe533; border-bottom: none; border-left: none; background: url(/twb_content/authorsandbooks/production/images/but_adminon_bg.gif) repeat; text-decoration: none;}
#admin td.on a { color: #ffe533;  text-decoration: none; }
#admin td.on  a:link, #admin td.on  a:visited { color: #ffe533; text-decoration: none; }

.tools { font-size: 14px; font-weight: bold; color: #006633; padding-left: 15px; background: url(/twb_content/authorsandbooks/production/images/top_bg.gif) repeat; background-color: #00CC66; height: 29px; width: 720px; text-align: left;}

.navTxt { FONT-SIZE: 11px; COLOR: #ccc; FONT-FAMILY: Arial, Helvetica, sans-serif }
.navTxtSmallRight { FONT-SIZE: 11px; COLOR: #ccc; FONT-FAMILY: Arial, Helvetica, sans-serif }
.navTxt A { COLOR: #ffc }
.navTxt A:hover { COLOR: #ffc }
.navTxt A:visited { COLOR: #ffc }
.navTxt A:active { COLOR: #ffc }
.navTxtSmallRight { PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; TEXT-ALIGN: right }
.navTxtSmallRight A { COLOR: #ffc }
.navTxtSmallRight A:hover { COLOR: #ffc }
.navTxtSmallRight A:visited { COLOR: #ffc }
.navTxtSmallRight A:active { COLOR: #ffc }
.blueOne { BACKGROUND: #036 }
/* end global navbar */