 body,td,th {color: #000000;}
.title {font-size: 16px; font-family: Arial, Helvetica, sans-serif;}
.programs {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.brief {font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.stamp {font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-style: italic; color:#666666}
.caption {font-size: 10px; font-family: Arial, Helvetica, sans-serif; }
.weather_title {font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-style: bold}
.weather_brief {font-size: 10px; font-family: Arial, Helvetica, sans-serif; }
.weather_high {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #FF0000 }
.weather_low {font-size: 12px; font-family: Arial, Helvetica, sans-serif;  color: #0000FF }
.weather_day {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.buttons {font-family: monospace;}
.topstory {font-size: 18px; font-family: Arial, Helvetica, sans-serif; }
.scroller {font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #FFFF00; a:link:#FFFF00; }
.blueheader {font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #FFFFFF; background-image:url(../Images/blueheader.jpg);}
.videobites {font-size: 10px; font-family: Arial, Helvetica, sans-serif; a:link:#FFFFFF; color: #FFFFFF; background-image:url(../Images/vid_fade.jpg);}
.vidlinks {font-size: 10px; font-family: Arial, Helvetica, sans-serif; color:#FFFFFF; }
.morevids {font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #FFFF99; }
.poweredby {font-size: 10px; font-family: Arial, Helvetica, sans-serif; color:#CCCCCC; }
.streamerpic {border: 1px solid #FFFFFF; }
ul {list-style-type: square;
	list-style-position: inside;
	padding: 1px 0px;
	margin-left: 0em;
	margin-bottom: 0em;
	margin-top: 0em;
}
li {list-style-position: inside;
	margin-left: 0em;
	margin-bottom: 0em;
	margin-top: 0em;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}

.racename
{
	background-color:#990000 !important;
	color:#FFFFFF !important;
}

.prereporting 
{
	background-color:#FFFFFF !important;
}

.canname 
{
	background-color:#FFFFFF !important;
}

.votetotal 
{
	background-color:#FFFFFF !important;
}


.pcttotal 
{
	background-color:#FFFFFF !important;
}