/* BODY STYLES marginwidth and marginheight must be in html for Netscape 4.7 */
body {
	background : url(/images/background.gif) #FFFFFF;
	margin : 0em;
	font-family : Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size : 12px;
	color : Black;
	}

input.search {
	width:60px;
	}

/* LINK STYLES listed separately to work in Netscape 4.7 */
a {
	text-decoration: none;
	}
a:link {
	color : #003399;
	text-decoration : none;
	}
a:visited {
	color : #003399;
	text-decoration : none;
	}
a:active {
	color : #003399;
	text-decoration : none;
	}
a:hover {
	color : #003399;
	text-decoration : underline;
	}

a.sectionTitle {
	text-decoration: none;
	}
a.sectionTitle:link {
	color : #660000;
	text-decoration : none;
	}
a.sectionTitle:visited {
	color : #660000;
	text-decoration : none;
	}
a.sectionTitle:active {
	color : #660000;
	text-decoration : none;
	}
a.sectionTitle:hover {
	color : #660000;
	text-decoration : underline;
	}

a.availableforpurchase {
	text-decoration: none;
	}
a.availableforpurchase:link {
	color : #000066;
	text-decoration : none;
	}
a.availableforpurchase:visited {
	color : #000066;
	text-decoration : none;
	}
a.availableforpurchase:active {
	color : #000066;
	text-decoration : none;
	}
a.availableforpurchase:hover {
	color : #000066;
	text-decoration : underline;
	}

a.nav2 {
	text-decoration: none;
	}
a.nav2:link {
	color : #000066;
	text-decoration : none;
	}
a.nav2:visited {
	color : #000066;
	text-decoration : none;
	}
a.nav2:active {
	color : #000066;
	text-decoration : none;
	}
a.nav2:hover {
	color : #0000CC;
	text-decoration : none;
	}

a.nav1 {
	text-decoration: none;
	}
a.nav1:link {
	color : #DDDDDD;
	text-decoration : none;
	}
a.nav1:visited {
	color : #DDDDDD;
	text-decoration : none;
	}
a.nav1:active {
	color : #DDDDDD;
	text-decoration : none;
	}
a.nav1:hover {
	color : #FFFFCC;
	text-decoration : none;
	}

a.navleft {
	text-decoration: none;
	}
a.navleft:link {
	color : #003399;
	text-decoration : none;
	}
a.navleft:visited {
	color : #003399;
	text-decoration : none;
	}
a.navleft:active {
	color : #003399;
	text-decoration : none;
	}
a.navleft:hover {
	color : #0000FF;
	text-decoration : none;
	}	

a.offline {
	text-decoration: none;
	}
a.offline:link {
	color : #666666;
	text-decoration : none;
	}
a.offline:visited {
	color : #666666;
	text-decoration : none;
	}
a.offline:active {
	color : #666666;
	text-decoration : none;
	}
a.offline:hover {
	color : #666666;
	text-decoration : underline;
	}		
	
/* IMG ALT STYLES */
img.logo {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 32px;
	font-weight : bold;
	font-style : normal;
	color : #FFFFFF;
	}
img {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-style : normal;
	color : #000000;
	}


/* NAV STYLES */
td.nav1_on {
	background : #CCCCFF;
	}

.navleft {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #000066;
	}

.navleftBrowse {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #555555;
	}	
	
.navTop {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #DDDDDD;
	}

.navTopOn {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #660000;
	}

.navleftcurrentpage {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #000066;
	}


/* TEXT STYLES */
.bodyText {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-style : normal;
	color : #000000;
	}

.bodyTextBlue {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-style : normal;
	color : #003399;
	}

.bodyTextBold {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	}	

.bodyTextBoldBig {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 16px;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	}		
	
.bodyTextBoldUnderline {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	text-decoration: underline;
	}		
	
.bodyTextBoldBlue {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #003399;
	}	

.bodyTextBoldGray {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #666666;
	}	
	
.categoryTitle {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 14px;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	}	
	
.morelink {
	font-family : Verdana, Geneva, Arial, Helvetica, Sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #003399;
	}	
p {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	color : #000000;
	}
ul {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	}
li {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	}
table  {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 12px;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	}

.footer {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	}
.quickSearch {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #990000;
	}
.featureHeadline {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #003399;
	}
.featureType {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
	color : #660000;
	}
.featureText  {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 11px;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	}

.featureTextBold  {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 11px;
	font-style : normal;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	}
	
.featureTextUrgent  {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 11px;
	font-style : normal;
	color : #CC0000;
	text-decoration : none;
	}
.featureAEIToday {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 14px;
	font-weight : bold;
	font-style : normal;
	color : #660000;
	}
.featureDate  {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 10px;
	font-style : normal;
	color : #666666;
	text-decoration : none;
	}

.sectionTitle {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #990000;
	}
	
.sectionTitleGray {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #999999;
	}	

.yearTitle {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 18px;
	font-weight : bold;
	font-style : normal;
	color : #990000;
	}	
	
.subSection {
	font-family :  Arial, Helvetica, Sans-serif, Geneva;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	}
	
.pageTitle {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 20px;
	font-weight : normal;
	font-style : normal;
	color : #990000;
	}
	
.publicationsFeature {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 13px;
	font-style : normal;
	color : #003399;
	}

.titleFeatureBold {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 14px;
	font-weight : bold;
	font-style : normal;
	color : #003399;
	}	
	
.availableforpurchase {
	font-family : Verdana, Arial, Helvetica, Sans-serif, Geneva;
	font-size : 9px;
	font-weight : bold;
	font-style : normal;
	color : #000066;
	}

.more {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: normal;
	line-height : normal;
	color: #00417B
}

.browse {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold;
	line-height : normal;
	color: #00417B	
}

.highlightText  {
	font-family : Arial, Helvetica, Sans-serif, Verdana, Geneva;
	font-size : 11px;
	color : #000000;
}