.S5C_Layout { font-family:Verdana, Arial; line-height: 16px; }
.S5C_LeftMargin { padding:0px; background-color:#E8E8E8; }
.S5C_RightMargin { padding:0px; background-color:#E8E8E8; }
.S5C_BLCorner { padding:0px; border-left-style:solid; border-left-width:1px; border-left-color:#999999; border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#999999; }
.S5C_BRCorner { padding:0px; border-right-style:solid; border-right-width:1px; border-right-color:#999999; border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#999999; }
.S5C_TLCorner { padding:0px; border-left-style:solid; border-left-width:1px; border-left-color:#999999; border-top-style:solid; border-top-width:1px; border-top-color:#999999; }
.S5C_TRCorner { padding:0px; border-right-style:solid; border-right-width:1px; border-right-color:#999999; border-top-style:solid; border-top-width:1px; border-top-color:#999999; }
.S5C_CartTitle { font-size:12px; font-weight: bold;	color: #FFFFFF; padding-top:4px; padding-bottom:4px; }
.S5C_ColumnHeader {	font-size:10px;	font-weight: bold; color: #666666; padding-top:4px; padding-bottom:4px; }
.S5C_ColumnHeaderRow { background-color:#E8E8E8; }
.S5C_HeaderName {	font-size:10px;	font-weight: bold; color: #666666; padding-top:4px; padding-bottom:4px; padding-right:4px; text-align:left; }
.S5C_HeaderDesc {	font-size:10px;	font-weight: bold; color: #666666; padding:4px; text-align:left; }
.S5C_HeaderID {	font-size:10px;	font-weight: bold; color: #666666; padding:4px; text-align:center; }
.S5C_HeaderPrice {	font-size:10px;	font-weight: bold; color: #666666; padding:4px; text-align:center; }
.S5C_HeaderTotPrice { font-size:10px; font-weight: bold; color: #666666; padding-top:4px; padding-bottom:4px; padding-left:4px;	text-align:right; white-space:nowrap; }
.S5C_Name {	padding-top:4px; padding-bottom:4px; font-size:10px; font-weight: bold; color: #000000; text-align:left; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; white-space:nowrap; }
.S5C_FirstColumnItem {	padding-top:4px; padding-bottom:4px; font-size:10px; font-weight: bold; color: #000000; text-align:left; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_Desc {	padding:4px; font-size:11px; color: #000000; text-align:left; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_ID {	padding-top:4px; padding-bottom:4px; font-size:10px; color: #000000; text-align:center; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_Price { padding-top:4px; padding-bottom:4px; font-size:10px; font-weight:normal; color: #000000; text-align:center;  border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_ColumnItem { padding-top:4px; padding-bottom:4px; font-size:10px; font-weight:normal; color: #000000; text-align:center; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_TotPrice { padding-top:4px; padding-bottom:4px; font-size:10px;	color: #000000; text-align:right; border-style:solid; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_OrderTitle {	font-size:12px;	font-weight: bold; color: #006600; padding-top:4px; padding-bottom:4px; }
.S5C_OrderTitleRow { background-color:#CCCCCC; }
.S5C_OrderHeader { padding-top:4px; padding-bottom:4px; font-size:10px;	font-weight: bold; color:#006600; border-style:solid; border-top-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-color:#999999; }
.S5C_OrderHeaderRow { background-color:#E8E8E8; }
.S5C_Subtotal {	padding-top:4px; padding-bottom:4px; font-size:10px;	font-weight: bold; color: #006600; }
.S5C_SubtotalPrice {	padding-top:4px; padding-bottom:4px; font-size:10px;	color: #000000; text-align:right; }
.S5C_SubtotalRow { background-color:#E8E8E8; }
.S5C_OrderLineItem { padding-top:4px; padding-bottom:4px; font-size:10px; color:#000000; border-top-width: 1px; border-top-color:#FFFFFF; border-top-style:solid; }
.S5C_OrderLineItemRow { background-color:#E8E8E8; }
.S5C_OrderTotal { padding-top:4px; padding-bottom:4px; font-size:10px;	font-weight: bold; color: #006600; border-top-style:solid; border-top-width: 1px; border-top-color:#999999; }
.S5C_OrderTotalRow { background-color:#E8E8E8; }
.S5C_OrderTotalBLCorner { padding:0px; border-left-style:solid; border-left-width:1px; border-left-color:#999999; border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#666666; }
.S5C_OrderTotalBRCorner { padding:0px; border-right-style:solid; border-right-width:1px; border-right-color:#999999; border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#666666; }
.S5C_RowOdd {	background-color:#E8E8E8; }
.S5C_RowEven {	background-color:#E8E8E8; }
.S5C_Footer { }
.S5C_QuickCartLayout { font-family:Verdana, Arial; line-height: 16px; border-width:0px; }
.S5C_QuickCartLabel {	font-size:10px;	color: #006600; background-image:url(../Images/S5_QCLine.gif); text-align:right }
.S5C_QuickCartValue {	font-size:10px;	font-weight: bold; color: #006600; padding:0px; }
.S5C_QuickCartFooter { padding:0px; }
.S5C_QuickCartHeader {	font-size:10px;	font-weight: bold; color: #006600; padding:0px; }
