.copyright {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; COLOR: #58595b; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 9pt; COLOR: #58595b; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
UL {
	FONT-SIZE: 9pt; COLOR: #58595b; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 10pt; COLOR: #2765b4; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #2765b4; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #2765b4; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
