.title
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}
.xlargecontenttitle  /* used for mediakit pages */
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.companyprofiletitle
{
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 24px;
        color: #0D40A6;
        font-weight: bold;
        text-decoration: none;
        line-height: 18px;
        margin-top: 0px;
        margin-bottom: 13px;
        margin-left: 0px;
        margin-right: 0px;
}

.companyprofilehighlight
{
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 12px;
        color: #666666;
        font-weight: bold;
        text-decoration: none;
        line-height: 18px;
        margin-left: 0px;
}

.content
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
}

.asterix
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.error
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	font-weight: normal;
	text-decoration: none;
}

.contenttexthighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.logintitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 6px;
	margin-bottom: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.loginfields
{
	width: 167px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #9CB1DB;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.loginlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.loginlink:hover
{
	color: #0d40a6;
}

.loginbutton
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	width: 50px;
	height: 20px;
}

.servicelinks
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
	line-height: 18px;
}

.servicelinks:hover
{
	color: #0d40a6;
}

.serviceselectform
{
	width: 152px;
	height: 18px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

.servicetxtfieldform
{
	width: 154px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

.servicesubmmitbutton
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	width: 30px;
	height: 20px;
}

.gnspace
{
	margin-top: 7px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

.snspace
{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 12px;
}

.globalnavlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}

.globalnavlink:hover
{
	text-decoration: underline;
}

.secondnavlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
	line-height: 18px;
}

.secondnavlink:hover
{
	text-decoration: underline;
}

.newslettertitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
	line-height: 18px;
}

.newslettericonlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
}

.newsletterlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: underline;
	line-height: 18px;
}

.newsletterlink:hover
{
	color: #0d40a6;
}

.navsignupfield
{
	width: 150px;
	height: 18px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.singupbutton
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 50px;
	height: 20px;
	margin-left: 0px;
	margin-right: 6px;
}

.copyrightstext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #7799DC;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 0px;
}

.footernavlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #99CCFF;
	text-decoration: underline;
	line-height: 18px;
}

.footernavlink:hover
{
	color: #FFFFFF;
}

.footernavtext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #99CCFF;
	text-decoration: none;
}

.purchasemerchtext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.purchaseindextext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 8px;
	margin-left: 3px;
	margin-right: 0px;
}

.purchaseindextexthighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.purchaseindexlinkbold
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.purchaseindexlinkbold:hover
{
	color: #c5e1c5;
}

.purchaseprice
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.purchaselinkspace
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 3px;
	margin-right: 0px;
}

.date
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	font-weight: normal;
	text-decoration: none;
}

.contenttitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 0px;
}

.contenttext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
}

.contenthighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.contentlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
}

.contentlink:hover
{
	color: #0d40a6;
}

.contenttitlelink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
}

.contenttitlelink:hover
{
	color: #0d40a6;
}

.contentitem
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.contentitem:hover
{
	color: #0d40a6;
}

li
{
	text-align : left;
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	list-style-image : url(../images/icn_link.gif);
}

ul
{
	margin-top : 0px;
	margin-bottom : 5px;
	margin-left : 16px;
	margin-right : 0px;
	padding-left : 16px;
	padding-right : 0px;
}

.contentseparator
{
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 0px;
}

.extlinkspace
{
	margin-top: 12px;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-right: 10px;
}

.extlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.extlink:hover
{
	color: #0d40a6;
}

.righttouttitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
	line-height: 18px;
}

.righttouttitle:hover
{
	color: #0d40a6;
}

.righttouttext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.path
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 16px;
	margin-bottom: 25px;
	margin-left: 12px;
	margin-right: 12px;
}

.pathlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.pathlink:hover
{
	color: #0d40a6;
}

.profilestext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 16px;
	margin-left: 12px;
	margin-right: 12px;
}
.profilestext_google
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
}

td.google_adsense
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	padding-top: 0px;
	padding-bottom: 12px;
	padding-right: 12px;
}
td.google_adsense a
{
	color: #0000FF;
	font-weight: bold;
	text-decoration: underline;
}
td.google_adsense_header
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	padding-top: 5px;
	padding-bottom: 1px;
	padding-right: 12px;
	font-style: italic;
}
td.google_adsense_header a
{
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}
td.google_adsense_disclaimer
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 12px;
}


.profilestextbold
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.profileshighlighttext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.profileshighlightlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: underline;
	line-height: 18px;
}

.profileshighlightlink:hover
{
	color: #666666;
}


.searchtitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.searchlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.searchlink:hover
{
	color: #0d40a6;
}

.searchindustryfield
{
	width: 175px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.browselink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
	line-height: 18px;
}

.browselink:hover
{
	color: #0d40a6;
}

.browselinkspace
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
}

.viewsampletext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
}

.viewsamplelink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
	line-height: 18px;
}

.viewsamplelink:hover
{
	color: #0d40a6;
}

.alsotitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.profileslink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.profileslink:hover
{
	color: #0d40a6;
}

.searchtext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.searchresulttitlelink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.searchresulttitlelink:hover
{
	text-decoration: underline;
	color: #0d40a6;
}

.centertoutspace
{
	margin-top: 12px;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-right: 5px;
}

.centertouttext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 10px;
	margin-right: 5px;
}

.centertoutlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.centertoutlink:hover
{
	color: #0d40a6;
}

.update
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 0px;
	margin-right: 12px;
}

.landingstext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 16px;
	margin-left: 12px;
	margin-right: 12px;
}
.landingtext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 12px;
}

.subscriptions
{
	max-width: 362px;
	width: 362px;
}


table.subscriptions
{
	border-collapse: collapse;
	margin: 0px;
	border-width: 0px;
	padding: 0px;
	max-width: 362px;
	width: 362px;
}

td.subscriptions
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #dbe3f2;
	padding: 11px;
	border-width: 0px;
	line-height: 18px;
	color: #666666;
}


.purchaselandingtext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.purchaselandinghighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.landingtitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 12px;
	margin-right: 12px;
}

.toutcontenttitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 13px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.toutlandingitems
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.toutlandinglinks
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}

.toutlandinglinks:hover
{
	color: #0d40a6;
}

.purchaseinddoctout
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 13px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.purchaseindacctout
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 13px;
	margin-bottom: 13px;
	margin-left: 10px;
	margin-right: 10px;
}

.profiledetail
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

.profiledetail:hover
{
	text-decoration: underline;
}

.profiledetailexpand
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 7px;
	margin-right: 0px;
}

.profiletitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 16px;
	margin-right: 0px;
}

.profileinfotext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
}
.zoominfotext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.zoominfotext a
{
	font-weight: bold;
	text-decoration: none;
	color: #0000CD;
}
.zoominfotext a:hover
{
	color: #0000FF;
}
.zoominfotext a:visited
{
	color: #0000CD;
}

.profileinfolink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
	line-height: 18px;
}

.profileinfolink:hover
{
	color: #0d40a6;
}

.merchandisingitem
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 12px;
	margin-right: 0px;
}

.merchandisingitemtitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 0px;
}

.popupupdate
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.popuptitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 12px;
	margin-right: 12px;
}

.shoppingcartprofilelink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

.shoppingcartprofilelink:hover
{
	color: #0d40a6;
}

.shoppingcarttext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

.shoppingcarttitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.shoppingcartlinkhighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
}

.shoppingcartlinkhighlight:hover
{
	color: #0d40a6;
}

.shoppingcarttexthighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

.shoppingcartlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
}

.shoppingcartlink:hover
{
	color: #0d40a6;
}

.shoppingcartsignintexthighlight
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

.shoppingcartsignintext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 8px;
	margin-bottom: 13px;
	margin-left: 10px;
	margin-right: 10px;
}

.importantnote
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.shoppingcartsignintitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.spcartsigninlinkspace
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.shoppingcartsigninfields
{
	width: 155px;
	height: 20px;
 	border: solid 1px;
	/*background-color: #FFFFFF;*/
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

td.shoppingcartsigninfields
{
        width: 155px;
        height: 20px;
        border: 0px;
        color: #666666;
        font-size: 11px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-bottom: 5px;
}

.yourinfonewaccount
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 13px;
	margin-bottom: 7px;
	margin-left: 10px;
	margin-right: 0px;
}

.yourinfonewaccountxt
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	margin-top: 13px;
	margin-bottom: 7px;
	margin-left: 0px;
	margin-right: 10px;
}

.yourinfoitemslabel
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 13px;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-right: 0px;
}

.shoppingcartlabel
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.yourinfonewaccountfields
{
	width: 232px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.yourinfonewaccountstate
{
	width: 56px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.yourinfonewaccountprovince
{
	width: 95px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.yourinfodata
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
}

.youtinfonote
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 0px;
	margin-right: 8px;
}

.orderconfimationdata
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}

.orderconfimationlabel
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 14px;
	margin-left: 0px;
	margin-right: 0px;
}

.datagridlabel
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.paymentcreditcarttype
{
	width: 174px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.expirationdateday
{
	width: 82px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.expirationdatemonth
{
	width: 89px;
	height: 20px;
 	border: solid 1px;
	background-color: #FFFFFF;
	border-color: #666666;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding-left: 5px;
}

.otherconfirmationtxt
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.accessyouritemtext
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.accessyouritetitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.compint_title
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
}
a.compint_pagetitlelink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
}

a.pagetitlelink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
}

.viewsampletextalt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.viewsamplelinkalt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.viewsamplelinkalt:hover {
	COLOR: #0d40a6
}

.pathalt
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 12px;
	margin-right: 12px;
}

.landingstextalt
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 12px;
	margin-right: 12px;
}

.contenttexthighlightalt
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 12px;
	margin-right: 12px;
}

.titlealt
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #0D40A6;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 12px;
	margin-right: 12px;
}

.landingstextalt2
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 12px;
}

/* google adsense start*/

table.google_adsense
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #999999;
        font-weight: normal;
        text-decoration: none;
        margin: 0;
        padding: 0;
}


table.google_adsense a.adsbygoogle
{
        text-decoration: none;
        color: #999999;
}

.adsensedisclaimer
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #999999;
        font-weight: normal;
        text-decoration: none;
}

.adlink
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: normal;
        /*color: #345575;*/
        text-decoration: underline;
}

.adlink:hover
{
        /*color: #666666;*/
        text-decoration: none;
}

/* google adsense end */

.free90daycontent
{
/*
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: red;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
*/
}

table.free90daycontent
{
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 13px;
	margin-left: 12px;
	margin-right: 12px;
	border-style: solid;
  border-color: #999999;
  border-width: 1px;
}

th.free90daycontent
{
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #666666;
	text-align: center;
	border-bottom: 1px solid #999999;
}


