<style type="text/css">
.a_browse_border { border: medium double #00659C; }
.a_cart_text3_style { background-color:#FFFFFF; color:#00659C; font-family:Arial,Helvetica,sans-serif; font-size:larger; font-weight:bold; white-space:nowrap; width:33%; }
.a_checkbox { clear:right; float:right; font-weight:bold; padding:6px; }
.a_color_bar { background-color:#00659C; font-size:x-small; text-align:center; width:100%; }
.a_comments_summary { font-weight:bold; }
.a_error { font-size:150%; font-weight:bold; color:red; }
.a_even_row { background-color:#eeeeee; padding:6px; }
.a_footer { font-size:xx-small; text-align:center; }
.a_heading4 { font-weight:bold; font-family:Arial,Helvetica,sans-serif; }
.a_heading4c { font-weight:bold; font-size:larger; font-family:Arial,Helvetica,sans-serif; color:#CE6500; }
.a_normal_heading { font-weight:bold; }
.a_odd_row { background-color:#ffffff; padding:6px; }
.a_prices { color:#990000; }
.a_prices_list { text-decoration: line-through; }
.a_prices_text { font-weight:bold; }
.a_small_text { font-size:x-small; }
.a_submit_button_style { background-color:#FFCC68; color:#000068; cursor:pointer; font-weight:bold; }
.a_customer_reviews_header { font-weight:bold; font-family:Arial,Helvetica,sans-serif; color:#FFFFFF; }
.a_promotiondescription { font-weight:bold; }
.a_promotiondetails { }
</style>
