.mediatitle { FONT-SIZE: 150%; COLOR: #003366; FONT-FAMILY: MS Reference Sans Serif, MSRef SS EOT,Tahoma; font-weight:normal;margin-bottom:14px}
.inlineTitle { FONT-SIZE: 80%; font-weight:bold; COLOR: #000000; FONT-FAMILY: Verdana; }
.revAssocTitle { FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: Verdana; }
.caption { FONT-SIZE: 75%; COLOR: #333333; FONT-FAMILY: MS Reference Sans Serif, MSRef SS EOT,Verdana; }
.credit { FONT-SIZE: 60%; COLOR: #333333; FONT-FAMILY: Verdana; }
.mediaCell { border:3px solid #ffffff; }
.mediaCellSelected { border:3px solid #000000; }
.cellDisabled { border:1px solid lightgrey; FONT-SIZE: 75%; color:lightgrey; FONT-FAMILY: Verdana; }
.scoCell { width:70; height:70; overflow:hidden; border:3px solid #ffffff; cursor:hand; }
.navCell { width:64; height:64; cursor:hand; overflow:hidden; }
.scoGoto { FONT-SIZE: 80%; COLOR: #0066cc; FONT-FAMILY: Tahoma; cursor:hand; }
.revAssoc { FONT-SIZE:75%; COLOR: #0066cc; FONT-FAMILY: MS Reference Sans Serif, MSRef SS EOT,Verdana; }
.arttitle { FONT-SIZE: 180%; COLOR: #003366; FONT-FAMILY: Verdana; font-weight:normal; margin-bottom:10px}
.medbaritem { position:relative; left:0px; border:1px solid white; cursor:hand; }
.bkHeader { FONT-SIZE: 75%; COLOR: #0066cc; FONT-FAMILY: Verdana }
a.nodec { border:0; margin:0; text-decoration:none; }
.mediactnr { background-image:url(/xImages/artpage/lt_blue_fade_bdgrd.gif); background-repeat:repeat-y; }
.mediabdyctnr { padding-left:16}
.mediacateg { FONT-SIZE: 110%; COLOR: #999999; FONT-FAMILY: Verdana; padding-top:2px }
img.ticon { position:relative; border:0; left:-16; }
div.medbar { height:108px; position:relative; top:0px; border:0; background-color:transparent; }
div.cellTitle { width:120; font-family:MS Reference Sans Serif, MSRef SS EOT, Verdana; font-size:70%; color:#808080; height:28; line-height:14px; cursor:hand; overflow:hidden; text-overflow:ellipsis; }
span.medbarctr { height:108px; overflow:hidden; }
span.slide_cell { width:138; height:138; border:1px solid #cccccc; cursor:hand; }
span.gotoCell { FONT-SIZE: 75%; COLOR: #0066cc; FONT-FAMILY: Verdana }
span.bkTitle { FONT-SIZE: 90%; COLOR: #0066cc; FONT-FAMILY: Verdana; font-weight: bold; }
.qlmod { float:right; width:300px; margin-bottom:10px }
.lnksctnr { clear:right; float:right; margin-bottom:10px }
.notsupp { font-style:italic }
.connspeed { font-family:Arial; font-size:12px; font-weight:bold; color:#000000 }