/*
TITLE: Amfam.com Transitional Style Sheet
AUTHOR: Amfam.com Development Team
DATE: February 2004
PURPOSE: Develop a stylesheet for new amfam.com site.  This transitional style sheet is to be used as a reference point for
a final amfam.com CSS -- "amfam.css" -- and should not be used in production, i.e., on the real amfam.com Web site with these
comments.
*/
 
/* --------------------- BEGIN CSS DECLARATIONS HERE --------------------------- */

/*
NAME: BODY
PURPOSE: These are global elements that will effect every page.
EXAMPLE: <BODY></BODY>
*/
BODY {
/* Scrollbar properties are mainly for Internet Explorer look and feel.  With Internet Explorer you can override the default scrollbar colors -- a purely aesthetic setting. */
 	SCROLLBAR-FACE-COLOR: #cccccc; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #999999; 
	SCROLLBAR-3DLIGHT-COLOR: #999999; 
	SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #006699;	 
	SCROLLBAR-ARROW-COLOR: #004870;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	SCROLLBAR-BASE-COLOR: #999999;
	SCROLLBAR-TRACK-COLOR: #E3E3E3;
	
/* The margin, padding, and border properties are used to override the default browser settings.  In the build, we want complete control of the screen -- allow the borders to reach the edge -- hence the values below. */
	margin: 0em;
	padding: 0em;
	border: 0em;
	
/* Global color of text */
	color: #000000/* black */
/* OLD CSS --> color: black */
	
/* Global background color */
	background-color: #ffffff; /* white */
/* OLD CSS --> background-color: white; */

/* The global font type.  Font-family means that if the first font is not available on the system, to try the second font, and so forth.  "sans-serif" means that the system will choose whatever sans-serif font it finds on a particular user's computer. */
	font-family: verdana, arial, helvetica, sans-serif;
	
}

/*
NAME: TD
PURPOSE: TD abbreviation for Table Data Cell (column)
EXAMPLE: <table><tr><td>This is within a table data cell</td></tr></table>
*/
TD {
	font-size: 80%;
}

/*
NAME: P
PURPOSE: P is a paragraph tag.  Text should usually reside within a paragraph tag (as opposed to directly in a table cell).
EXAMPLE: <p>This is within a paragraph tag</p>
*/
P {
/* The font-size is relative to the tag it is nested within.  To clarify, in the build site, text usually first resides in a table cell (TD) and then within a paragraph (P).  Therefore, the relative font-size of the paragraph (1em) should be the same as the <TD> cell it resides within, hence 1em (1:1 ratio in font size) */
	font-size: 1em;
	/* OLD CSS --> font-family: Verdana, Arial, sans-serif;
					   font-size: 12 px; */
						
	color: #000000; /* dark grey */
	
	/* Give text within a <P> tag a margin of zero, and a padding of zero em on top, and 1em on bottom, left, and right. */	
	margin: 0em;
	padding: 0em 1em 1em 1em; /* top, right, bottom, left padding */
}
/*
NAME: PAPPS
PURPOSE: PAPPS is paragraph tag for some of the amfam.com application that have problem with left padding in P
EXAMPLE: <PAPPS> This is within a paragraph of PAPPS </PAPPS>
*/
PAPPS {
	font-size: 1em; 
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
}
/*
NAME: UL, OL
PURPOSE: UL abbreviation for Unordered List, OL abbreviation for Ordered List
EXAMPLE: <ul><li>one list item</li></ul>
*/
UL, OL {
	margin-top: 0em;
	margin-bottom: 1em;
}

/*
NAME: LI
PURPOSE: LI abbreviation for List Item
EXAMPLE: <ul><li>one list item</li></ul>
*/
LI {
	padding-bottom: 0.2em; /* 0.2em space between list items */
	
	/* OLD CSS --> font-family: Verdana, Arial, sans-serif;
						font-size: 12 px;  */
}
/*
NAME: .head
PURPOSE: The purpose is same as H1. But this one will cater to the needs of the some of the apps.
Recommendation : Use H1 for future instead of .head
*/
.head {
	font-weight: bold;
	font-size: 1.5em;
	color: #004870;
	font-family: Verdana, Arial, sans-serif;
}
/*
NAME: H1
PURPOSE: H1 = Header 1 (First-Level Header)
EXAMPLE: <h1>This is a first-level header</h1>
*/
H1 {
	font-size: 1.5em; /* 1.5 times bigger than the default font */
	margin: 0.5em 0.5em 0.5em 0.5em; /* top, right, bottom, left margins */
	color: #004870; /* dark blue */
	font-family: verdana, arial, helvetica, sans-serif;
	padding: 0em 0em 0em 0em;	/*top, right, bottom, left padding */
}

/*
NAME: .subhead
PURPOSE: The purpose is same as H1. But this one will cater to the needs of the some of the apps.
Recommendation : Use H1 for future instead of .head
*/
.subhead {
	font-weight: bold;
	font-size: 1.3em;
	color: #004870;
	font-family: Verdana, Arial, sans-serif;
}

/*
NAME: H2
PURPOSE: H2 = Header 2 (Second-Level Header)
EXAMPLE: <h2>This is a second-level header</h2>
*/
H2 {
	font-size: 1.3em; /* 1.3 times bigger than the default font */
	margin: 0.5em 0.5em 1em 0.5em; /* top, right, bottom, left margins */
	color: #004870; /* dark blue */
	padding: 0em 0em 0em 0em;	/*top, right, bottom, left padding */
}

/*
NAME: H3
PURPOSE: H3 = Header 3 (Third-Level Header)
EXAMPLE: <h3>This is a third-level header</h3>
*/
H3 {
	font-size: 1em; /* same size as default fault */
	color: #004870; /* dark blue */	
	padding: 0em 0em 0em 0em;	/*top, right, bottom, left padding */
	margin: 0em 0em 0em 1em; /* top, right, bottom, left margins */ 
	/* NOTE: There is no spacing after H3 -- see Billing FAQ for an example */
}

/*
NAME: H4
PURPOSE: H2 = Header 2 (Second-Level Header)
EXAMPLE: <h2>This is a second-level header</h2>
*/
H4 {
	font-size: 1.1em; /* 1.3 times bigger than the default font */
	margin: 0em 0.5em 1em 0.5em; /* top, right, bottom, left margins */
	color: #004870; /* dark blue */
	padding: 0em 0em 0em 0em;	/*top, right, bottom, left padding */
}
H5 {
	font-size: 1.1em; /* 1.3 times bigger than the default font */
	margin: 0em 0em 0em 0em; /* top, right, bottom, left margins */
	color: #004870; /* dark blue */
	padding: 0em 0em 0em 1em;	/*top, right, bottom, left padding */
}
/*
NAME: A
PURPOSE: The A property is for "Anchor" or what we commonly refer to as a link.  The Anchor property has attributes: link, visited, active, and hover.
EXAMPLE: <a href="example.html">Example</a>
*/

/* This property changes the global link style (overrides the default blue and underline) */
A:link {

	/* Font color of link */
	color: #003df8; /* dark blue */
	/* OLD CSS --> color: #336699; */
	
	/* Font weight of link, i.e., how dark the font will appear, by default this would be font-weight:normal */
	font-weight:bold;
	
	/* Whether or not to have an underline, by default this would be text-decoration: underline */
	text-decoration:none;
	
}

/* This property changes the global link visited style (once the user has viewed the page that is linked) -- overrides the default purple and underline */
A:visited {

	/* Font color of visited link */
	color:#996699; /* purple */
	/* OLD CSS --> color: #333300; */

	font-weight:bold;
	text-decoration:none;
}

/* This property changes the global link hover style (when the user puts the cursor over the link) */
A:hover {
	font-weight:bold;
	color:#990000; /* dark red */
	text-decoration:underline;	
}

/* This property changes the global link active style (when the user clicks on a link... and keeps the mouse button down) */
 A:active {
	font-weight:bold;
	color:#990000; /* dark red */
	text-decoration:underline;
}


/* CUSTOM STYLES
The following styles were created as custom styles for handling specific formatting.  The names used are completely arbitrary, and examples of where and/or how the styles are used in the context of the build site is documented where applicable. 
*/


/*
NAME: white
PURPOSE: The link and rollover properties of links on dark text (global nav)
EXAMPLE: <a class="white" href="billing/login.asp">Log In</a>
AS USED: in the inc_header.asp file
*/
.white {
	color: #ffffff; /* white */
	font-weight:bold;
	font-size: 0.7em;
	padding-top: 0.5em;
}

.white A:link, .white A:visited {
  color: #ffffff; /* white */
  text-decoration: none;	
  font-weight:bold;  
}

.white A:hover, .white A:active {
	color: #ffffff; /* white */
	font-weight:bold;
   text-decoration: underline;	
}

/*
NAME: footer
PURPOSE: The link and rollover properties of footer links
EXAMPLE: <a class="footer" href="/company/legal.asp">Legal Notice</a>
AS USED: in the inc_footer.asp file
*/

.footer A:link, .footer A:visited, {
  color: #004870; /* dark blue */
} 

.footer A:hover, .footer A:active {
  color: #990000; /* dark red */
}

/*
NAME: footnote
PURPOSE: Smaller text for footnote reference
EXAMPLE: <p class="footnote">(1) Article one</p>
AS USED: in the company/privacy.asp page
*/
.footnote {
	font-size: 0.8em;
}

/*
NAME: pullquote, pullquote_big
PURPOSE: Larger text to display pull quotes and testimonies
EXAMPLE: <p class="pullquote"><span class="pullquote_big">A</span>merican Family</p>
AS USED: insurance/vehicle/default.asp
*/
.pullquote {
	font-size: 1.2em;
	font-family: "Georgia";
	padding: 0.4em;
	padding-top: 1em;
	line-height: 150%;
	color: #206686; /* light blue */
	text-align:center;
	margin-left: 0.6em;
	margin-right: 0.6em;
}

.pullquote_big {
	font-size: 1.6em;
	font-style: italic;
	
}

/* BEGIN Main MENU STYLES */
/* --------------------------------------------------- */
.bgtopnav {
 background-image:url(../images/topnav_row01_bg.jpg);
 background-repeat: repeat-x
}
.bgtopnav2 {
 background-image:url(../images/topnav_row02_bg.jpg);
 background-repeat: repeat-x
}

/* BEGIN LEFT-NAV MENU STYLES */
/* --------------------------------------------------- */
/*
NAME: "menu"
PURPOSE: The look and feel of the left-side navigation menu
EXAMPLE: <td class="menu1_on"><img src="../images/square_big.gif" alt="">Online Billing</td>
AS USED: Any page with tertiary navigation
*/

/* ----------- THIRD LEVEL NAV ------------- */

/* Third-level not selected */
.menu1_off {
	padding: 0.2em 0em 0.2em 1em; /* top, right, bottom, left padding */
	font-weight: bold;	
	color:#004870; /* dark blue */
	border-bottom: 0.1em solid #cccccc; /* 1 em width solid grey line */
}

/* Third-level not selected, link properties */
.menu1_off A:link, .menu1_off A:visited {
	color:#004870; /* dark blue */
	text-decoration: none;
	font-weight:bold;	
}

/* Third-level not selected, link properties */
.menu1_off A:hover, .menu1_off A:active {
	color:#990000; /* dark red */
	text-decoration: none;
	font-weight:bold;	
}

/* Third level selected */
.menu1_on {
	color: #004870; /* dark blue */
	padding: 0.2em 0em 0.2em 1em; /* top, right, bottom, left padding */
	background-color: #F8DB77; /* yellow-gold (highlight color) */
	font-weight: bold;
}

/* Third level selected, link properties */
.menu1_on A:link, .menu1_on A:visited {
	color:#004870; /* dark blue */
	text-decoration: none;
	font-weight:bold;			
}

/* Third level selected, link properties */
.menu1_on A:hover, .menu1_on A:active {
	color: #990000; /* dark red */
	text-decoration: none;
	font-weight:bold;
}

/* Third level expanded, not selected (no bottom-border) */
.menu1_open {
	padding: 0.2em 0em 0.2em 1em; /* top, right, bottom, left padding */
	font-weight:bold;	
	color:#004870; /* dark blue */
}

/* Third level expanded link properties, not selected (no bottom-border) */
.menu1_open A:link, .menu1_open A:visited {
	color:#004870; /* dark blue */
	text-decoration: none;
	font-weight:bold;	
}

/* Third level expanded link properties, not selected (no bottom-border) */
.menu1_open A:hover, .menu1_open A:active {
	color:#990000; /* dark red */
	text-decoration: none;
	font-weight:bold;	
}

/* ----------- FOURTH LEVEL NAV ------------- */

/* Fourth level not selected */
.menu2_off {
	padding-left: 2em;
	font-size: 0.6em;
	font-weight: bold;	
}

/* Fourth level not selected, link properties */
.menu2_off A:link, .menu2_off A:visited {
	color: #004870; /* dark blue */
	text-decoration: none;
	font-weight: bold;
}

/* Fourth level not selected, link properties */
.menu2_off A:hover, .menu2_off A:active {
	color: #990000; /* dark red */
	text-decoration: none;
	font-weight: bold;
}

/* Fourth level selected */
.menu2_on {
	padding-left: 2em;
	font-weight: bold;
	font-size: 0.6em;
	background-color: #F8DB77; /* yellow/gold */
}

/* Fourth level selected, link properties */
.menu2_on A:link, .menu2_on A:visited {
	color: #004870; /* dark blue */
	text-decoration: none;
	font-weight:bold;
}

/* Fourth level selected, link properties */
.menu2_on A:hover, .menu2_on A:active {
	color: #990000; /* dark red */
	text-decoration: none;
	font-weight:bold;
}

/* Fourth level, last item not selected */
.menu2_end {
	padding: 0em 0em 0.5em 2em;
	font-size: 0.6em;
	font-weight:bold;	
	color:#004870; /* dark blue */
	border-bottom: 0.1em solid #cccccc; /* 1 em width solid grey line */
}

/* Fourth level, last item not selected link properties */
.menu2_end A:link, .menu2_end A:visited {
	color: #004870; /* dark blue */
	text-decoration: none;
	font-weight:bold;
}

/* Fourth level, last item not selected link properties */
.menu2_end A:hover, .menu2_end A:active {
	color: #990000; /* dark red */
	text-decoration: none;
	font-weight:bold;
}
/* END LEFT-NAV MENU STYLES */



.viewstate {
	color: #004870; 
	font-size: 12px;
	padding-bottom: 15px;
	padding-left: 10px;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
}

.changestate {
    color:#003df8; 
	font-size: 10.5px;
	font-family: verdana, arial, helvetica, sans-serif;
}


.changestate A:link, .changestate A:visited {
   /* color:#996699; */
    color:#003df8; 
	font-weight: bold;
  /* text-decoration:underline; */
}


.changestate A:active, .changestate A:hover {
  font-weight:bold;

  color:#990000;
  text-decoration:underline;
}

.stateText {
   padding-top: 53px;
	padding-left: 43px;
	font-size: 20px;
	text-align: center;
	color: #004870; 
}
/*Error */

.error
{
FONT-SIZE: 1em;
 COLOR: #cc0000 ; 
FONT-FAMILY: Verdana, Arial, sans-serif; font-weight:bold;
 background-image:url(http://www.amfam.com/images/error.gif); background-repeat:no-repeat;
 margin-left: 1em;
}

p.error {
/* The font-size is relative to the tag it is nested within.  To clarify, in the build site, text usually first resides in a table cell (TD) and then within a paragraph (P).  Therefore, the relative font-size of the paragraph (1em) should be the same as the <TD> cell it resides within, hence 1em (1:1 ratio in font size) */
font-size: 1em;
COLOR: #cc0000 ; font-weight:bold;
background-image:url(http://www.amfam.com/images/error.gif); background-repeat:no-repeat;
margin-left: 1em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;         
padding: 0em 0em 0em 1em; /* top, right, bottom, left padding */
}

.compact {
	FONT-SIZE:1.0 em;  COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, sans-serif
}

HR {    
color: #003366;
}

/* The following styles are added here from the old amfam.css. These are 
included here only for the apps that are using and not changing in build release.
It is recommended that in the new development these styles should not be used.
*/

/*deprecated - Do not use in the new development */

a.breadcrumb:link {color: #ffffff;}

/*deprecated - Do not use in the new development */
a.breadcrumb:visited {color: #CCCC99;}

/*deprecated - Do not use in the new development */
a.breadcrumb:active  {color: #CCCC99;}

/*deprecated - Do not use in the new development */
p.breadcrumb {    
font-family: Verdana, Arial, sans-serif;
text-align: right;
margin-right: 10 px;
color: #ffffff; 
font-size: 10 px; 
}

/*deprecated - Do not use in the new development */
p.fineprint {    
font-family: Verdana, Arial, sans-serif;
font-size: 9 px; 
}

/*deprecated - Do not use in the new development */
HR {    
color: #CCCC99;
}
/*AFFS Only */
/*Billing Only */

/*Glossary Functionality Changes */
.glossaryTip{	
 background-color: #FFFFE1;
 border: 0.1em solid #000000; /* 1 em width solid grey line */
 font-size: 75%
}

/*AgentSidebar Display Changes  11/05/04 */
.standardtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	
	/*margin: 0em;*/
	/*padding: 0em 2em 0em 2em; *//* top, right, bottom, left padding */	
}

.footertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	
	margin: 0em;
	padding: 0em 2em 0em 2em; /* top, right, bottom, left padding */
	
}


.headertext {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;

	
}

.bodytext {
	font-size: 1em;
						
	color: #FF0000;
	
	margin: 0em;
	padding: 0em 2em 0em 2em; /* top, right, bottom, left padding */
	
}

/*Agent Web Site only styles */
.photo-blue {
	background-color:#DFEAF0;
}

.photo-white {
	background-color:#FFFFFF;
}

.border-l {
	border-left-color: #779BB1;
	border-left-style: solid;
	border-left-width: 1px;
}

.border-r {
	border-right-color: #779BB1;
	border-right-style: solid;
	border-right-width: 1px;
}

.border-bot {
	border-bottom-color: #779BB1;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.website-hdr {
	color: #004870;
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.website-subhdr {
	color: #004870;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.agt-name {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.agt-office-h {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004870;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}

/*
NAME: mainheader
PURPOSE: Have a style which replaces the main header graphics with CSS.
EXAMPLE: <p><span class="main_header"><img src="images/mainheader_curve.jpg"
alt="curve image" width="11" height="29" border="0" align="top"> <span>How
Can We Help You?</span> <img src="images/mainheader_fade75w.jpg" alt="faded
image" width="75" height="29" border="0" align="top"></span></p>
AS USED: As the main light blue headers that have a curve on the left end
and fade on the right end.
*/
.main_header {
    font-size: 95%;
    color: #000000;
    font-weight: 600;
    background-image: url(http://www.amfam.com/images/mainheader_back.gif);
    margin: 5px 0px 5px 0px;
    padding-bottom: inherit;
}
.main_header span {position: relative; top: 5px;}

