
.generaltext-black { color: black; font-size: 10pt; font-family: Tahoma, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.generaltext-white { color: white; font-size: 10pt; font-family: Tahoma, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.tagline-black { color: black; font-size: 8pt; font-family: Tahoma, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.tagline-grey { color: gray; font-size: 8pt; font-family: Tahoma, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.tagline-white { color: white; font-size: 8pt; font-family: Tahoma, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }