/* Admin Navigation Tabs */
a.navheader {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px; color: #fefefe;  margin-left : 5px;  margin-top : 0px; margin-bottom : 0px;font-style : normal;font-weight:bold;  text-decoration : none;}
a.navheader:link {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px; color: #fefefe;  margin-left : 5px;  margin-top : 0px; margin-bottom : 0px;font-style : normal;font-weight:bold;  text-decoration : none;}
a.navheader:visited {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px; color: #fefefe;  margin-left : 5px;  margin-top : 0px; margin-bottom : 0px;font-style : normal;font-weight:bold;  text-decoration : none;}
a.navheader:active {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px; color: #fefefe;  margin-left : 5px;  margin-top : 0px; margin-bottom : 0px;font-style : normal;font-weight:bold;  text-decoration : none;}
a.navheader:hover {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px; color: #D4D4DA;  margin-left : 5px;  margin-top : 0px; margin-bottom : 0px;font-style : normal;font-weight:bold;  text-decoration : none;}

a.adminNavWhite {color:#ffffff;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavWhite:link {color:#ffffff;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavWhite:visited {color:#ffffff;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavWhite:active {color:#ffffff;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavWhite:hover {color:#ffffff;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}

a.adminNavBlack {color:#000000;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavBlack:link {color:#000000;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavBlack:visited {color:#000000;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavBlack:active {color:#000000;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}
a.adminNavBlack:hover {color:#000000;font-weight:bold;text-decoration:none;font-size:12px;font-family:arial,helvetica,sans-serif;}

/* News */
.newsInfo
 {
	margin-left:10px;
	text-indent:-10px;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
}

.newsHead {
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
	line-height:16px;
}

a.newsHead {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#000000;
	line-height:16px;
}
	
a.newsHead:hover {
	color:#0000ff;
}	

.newsHeadlines {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    margin-top : 10px;
    margin-bottom : 0px;
}

/* in use? */
.login {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px;font-weight: bold; color: #ffffff;text-align:center;}
.fileDownload {font-family: "Century Gothic", Arial, sans-serif;font-size: 12px;margin-top:0px;color:#ffffff;}

