td {font-family: arial,verdana,helvetica; font-size:8pt; color: #000;}
a { text-decoration: underline; color: #00c;}

a.blacklink:link, a.blacklink:visited a.blacklink:active  
{
	text-decoration: underline; color: #000;
}

p {font-family: arial,verdana,helvetica; font-size:8pt; color: #000;padding:5px}
.body9pt {font-family: arial,verdana,helvetica; font-size:9pt; color: #000;}
.body10pt {font-family: arial,verdana,helvetica; font-size:10pt; color: #000;}

a.blacklink9pt:link, a.blacklink9pt:visited, a.blacklink9pt:active  
{
	text-decoration: underline; color: #000; font-size:9pt;
}

a.blacklink10pt:link, a.blacklink10pt:visited, a.blacklink10pt:active  
{
	text-decoration: underline; color: #000; font-size:10pt;
}


.navigation {
	margin: 0 0 0 0;
	padding: 0;
    background: FC3;
    width: 478;
	}

.navigation a { text-decoration: none; font-weight: bold; color: #000; padding-right: 6px; padding-left: 6px; }
.navigation a:hover { text-decoration: underline; font-weight: bold; color: #000; padding-right: 6px; padding-left: 6px; }
.navsearch {font-weight: bold; color: #000; padding-right: 6px; padding-left: 6px; }

.linkNoSpace {margin:-6px;padding:-6px}

.footer, .footer p {
	margin: 0 0 0 0;
	padding: 0;
	padding-top: 3;
    height: 12;
    width: 791;
	}
.footer td { font-family: arial,verdana,helvetica; font-size:7pt; color: #999; text-align: center;}

.footer
{
	font-family: arial,verdana,helvetica; font-size:7pt; color: #999; text-align: center;
}


#join {
  padding: 0px;
  position: relative;
  left: 100px;
  top: 136px;
}

.joinlink a { text-decoration: underline; color: #FC3;}


.sidenav {
	margin: 0 0 5 5;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 181;
	height: 379;
 	}

.nav1 a { text-decoration: none; color: #000; padding-right: 12px;}
.nav1selected a { text-decoration: none; font-weight: bold; color: #000; padding-right: 12px;}

.nav2 a { font-size: 7pt; text-decoration: none; color: #660; padding-right: 12px;}
.nav2selected a { font-size: 7pt; text-decoration: none; font-weight: bold; color: #000; padding-right: 12px;}

.pod1 {
	margin: 0 0 10 12;
	padding: 0;
 	}

.pod1 th { color: #330; padding-left: 8px; font-size: 9pt; text-align: left; line-height: 21px; background-color: #FC3;}
.pod1 a { text-decoration: underline; color: #000;}
.pod1list a { text-decoration: underline; color: #000; padding-left: 12px;}

#pod1bg {
	padding: 0;
	margin: 0;
	background:#fff url(images/home/home_bg.jpg) top left no-repeat;
	}

.pod2 {
	margin: 0 0 5 12;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 398;
 	}

.pod2 a { text-decoration: underline; color: #000; }
.pod2header { color: #330; font-weight: bold; font-size: 11pt; line-height: 22px;}

.pod3 {
	margin: 0 0 5 5;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 181;
 	}

.pod3 a { text-decoration: underline; color: #000; }
.pod3header { color: #330; font-weight: bold; padding-left: 6px; font-size: 8pt; line-height: 21px;}


#pod3bg {
	padding: 0;
	margin: 0;
	background:#fff url(images/home/pod3_bg.gif) top left no-repeat;
	}

.pod4 {
	margin: 0 0 5 5;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 392;
 	}

.pod4 th { color: #330; padding-left: 12px; font-size: 9pt; text-align: left; line-height: 24px; background-color: #FC3;}

.subhead { padding-left: 6px; color: #330; font-weight: bold; font-size: 15pt; line-height: 22px;}

.indent { text-indent: 12px; } 

.pod5 {
	margin: 22 0 5 0;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 193;
 	}

.pod5 a { text-decoration: underline; color: #000; }
.pod5header { color: #330; font-weight: bold; padding-left: 6px; font-size: 8pt; line-height: 21px;}


#pod5bg {
	padding: 0;
	margin: 0;
	background:#fff url(images/about/about_bg.gif) top left no-repeat;
	}

.pod6 {
	margin: 2 0 5 0;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 193;
 	}

.pod6 th { color: #330; padding-left: 12px; font-size: 8pt; line-height: 17px; }

.staff { color: #330; font-weight: bold; font-size: 8pt; }

.pod7 {
	margin: 0 5 5 5;
	padding: 0;
 	}

.pod7 a { text-decoration: underline; color: #000; }

.pod8 {
	margin: 0 0 10 6;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 584;
 	}

.pod8 th { color: #330; padding-left: 8px; font-size: 9pt; text-align: left; line-height: 21px; background-color: #FC3;}
.learnmore a { text-decoration: underline; color: #000; padding-left: 12px; }

.pod9 {
	margin: 0 0 6 6;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 287;
 	}

#pod9bg {
	padding: 0;
	margin: 0;
	background:#fff url(images/museum/pod9_bg.gif) top left no-repeat;
	}

.pod9header { color: #330; font-weight: bold; padding-left: 6px; font-size: 8pt; line-height: 21px;}

.pod10 {
	margin: 0 0 6 6;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 154;
 	}

#pod10bg {
	padding: 0;
	margin: 0;
	background:#fff url(images/museum/pod10_bg.gif) top left no-repeat;
	}

.pod11 {
	margin: 0 0 6 6;
	padding: 0;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	width: 142;
 	}

#pod11bg {
	padding: 0;
	margin: 0;
	background:#fff url(images/museum/pod11_bg.gif) top left no-repeat;
	}

.pod11header { color: #330; font-weight: bold; padding-left: 4px; font-size: 8pt; line-height: 21px;}

.benefits a { text-decoration: underline; font-size: 7pt; font-weight: bold; color: #FBC932; padding-top: 4px;}

.nav1list 
{
	padding:0;
	margin:0;
	padding-top:5px;
	list-style: none;
	width:100%;
}

.nav1list li
{
	padding:0;
	margin:0;
	display: inline;
}


li a.nav1,li a.nav1:link,li a.nav1:visited,li a.nav1:active
{
	text-align:right;
	font-family: arial,verdana,helvetica; font-size:8pt; color: #000;text-decoration:none;
	display: block;
	background-image: url(images/nav-off.gif);
	background-repeat: no-repeat;
	background-position: 168px .9em;
	width: auto;
	padding:0;
	margin:0;
	padding: 5px 20px;
	margin: 0 0px 0 0;
	
}

li a.nav1:hover
{
	background-image: url(images/nav-on.gif);
}

li a.nav1selected:link, li a.nav1selected:active, li a.nav1selected:visited, li a.nav1selected:hover
{
	text-align:right;
	font-weight:bold;
	font-family: arial,verdana,helvetica; font-size:8pt; color: #000;text-decoration:none;
	display: block;
	background-image: url(images/nav-on.gif);
	background-repeat: no-repeat;
	background-position: 168px .9em;
	width: auto;
	padding:0;
	margin:0;
	padding: 5px 20px;
	margin: 0 0px 0 0;
	background-color:#FFCC33;
} 

li a.nav2,li a.nav2:link,li a.nav2:visited,li a.nav2:active
{
	text-align:right;
	font-family: arial,verdana,helvetica; font-size:8pt; color: #000;text-decoration:none;
	display: block;
	background-image: url(images/spacer.gif);
	background-repeat: no-repeat;
	background-position: 168px .9em;
	width: auto;
	padding:0;
	margin:0;
	padding: 5px 20px;
	background-color:#efefef;
	/*margin: 0 0px 0 0;
	line-height:5px;*/
	
}

li a.nav2:hover
{
	color:#660;
}

li a.nav2selected,li a.nav2selected:link,li a.nav2selected:visited,li a.nav2selected:active, a.nav2selected:hover
{
	text-align:right;
	font-family: arial,verdana,helvetica; font-size:8pt; color: #660;text-decoration:none;font-weight:bold;
	display: block;
	background-image: url(images/spacer.gif);
	background-repeat: no-repeat;
	background-position: 168px .9em;
	width: auto;
	padding:0;
	margin:0;
	padding: 5px 20px;
	background-color:#efefef;
	/*margin: 0 0px 0 0;
	line-height:5px;*/
}

.smallsubheadyellowbackground
{
	color: #330; padding-left: 12px; font-size: 9pt; text-align: left; line-height: 24px; background-color: #FC3;
}
.smallsubheadwhitebackground
{
	color: #330; padding-left: 4px; font-size: 9pt; text-align: left; line-height: 24px; background-color: #fff;
}

.subhead { color: #330; font-weight: bold; font-size: 11pt; line-height: 22px;}

/*calendar settings */
#outsidecalendartable {background-color:#ffffff}
#outsidecalendartable td p {color:#000000}
#insidecalendartable {background-color:#ffffff;padding:0;margin:0}
.insidecalendarseparator {background-color:#ffffff;height:5px}
.insidecalendaritemdate{padding:2px;padding-left:5px; color:#000000;background-color:#EBEBEB;}
#insidecalendartable .insidecalendaritemdate p{color:#000000}

.calendarname {font-size:14px;text-align:center;color:#000000;background-color:#EBEBEB;}
.calendarweektext {padding-bottom:20px}
.calendarcontainer{width:90%;margin:0;padding:5px;background-color:#ffffff;color:#000000;text-align:center}
.calendartitle td {background-color:#000000;color:#ffffff;font-size:12px}
.calendargeneral {background-color:#000000; color:#ffffff;}
.calendargeneral a:link, .calendargeneral a:active, .calendargeneral a:visited, .calendargeneral a:hover {color:#000000 !important; text-decoration:underline}
.calendarnextprev {background-color:#000000;color:#ffffff;font-size:14px}
.calendarnextprev a:link, .calendarnextprev a:visited, .calendarnextprev a:active, .calendarnextprev a:hover {color:#ffffff !important}

.calendarselector {color:#ffffff}
.calendardayheader {background-color:#000000;color:#ffffff;font-size:12px}
.calendarothermonthdays {background-color:#ffffff;color:#000000;font-size:12px}
.calendarday {background-color:#ebebeb;color:#000000;font-size:12px}
.calendarselectedday {font-weight:bold;background-color:#ffffff !important;color:#000000 !important;font-size:12px}
.calendartoday {background-color:#ffffff;color:#000000;font-size:12px}

.calendaritemcontainer {background-color:#ffffff; padding:5px}
.calendarmorelink:link, .calendarmorelink:visited, .calendarmorelink:active, .calendarmorelink:hover {color:#000000;text-decoration:underline}
.calendaritemseparator {background-color:#000000;padding:0;margin:0;height:1px;}
.calendaritem {padding:0px;margin:0px;padding-bottom:1px}
.calendaritem a:link, .calendaritem a:visited, .calendaritem a:active, .calendaritem a:hover {color:#000000}
.calendarprintabletext, .calendarprintabletext a:link, .calendarprintabletext a:visited, .calendarprintabletext a:active {text-align:center; font-weight:bold; color:#000000 !important}

.printcalendarbg {background-color:#ffffff}
.calendarviewalign {text-align:left}