/* <link rel=stylesheet href="../util/verd.css" type="text/css"> */

p {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 12px;
}


.verd8 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 8px;
}

.verd10 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 10px;
}

.verd12 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 12px;
}

.verd16 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 16px;
}

.verd18 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 18px;
}

.verd20 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 20px;
}

.verd24 {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 24px;
}

.fine {
   font-family: arial,sans-serif;
   font-size: 10px;
}

A:link, A:active, A:visited {
	text-decoration: none;
	color: #0000DD;           /* 0,0,153 */
	background: transparent;
}

A:hover { 
   text-decoration: underline;
	color: #0000DD;
}

HR {
   width: 75%;
   align: center
}

