.body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;

}
.table {
	border: 1px none;
}
.bodygreen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;

}
.bodygreenlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;
	text-decoration: none;

}
.bodygreenlink:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;
	text-decoration: underline;
}
.copyright {
	font-family: "Times New Roman", Times, serif;
	font-size: 8pt;
	font-style: italic;
	line-height: 10pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.bodygreenarty {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;
	line-height: 12pt;
	font-weight: lighter;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #660033;
}
.bodybrownarty {
	font-size: 10pt;
	font-style: normal;
	line-height: 20pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #AA7766;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
.greenartsy {

	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	font-style: italic;
	line-height: 22pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;
}
.greenartsy-sm {


	font-family: "Times New Roman", Times, serif;
	font-size: 9pt;
	font-style: italic;
	line-height: 22pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;
}
.whtartsy-sm {



	font-family: "Times New Roman", Times, serif;
	font-size: 9pt;
	font-style: italic;
	line-height: 22pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #FFFFFF;
}
.whtartsy {




	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	font-style: italic;
	line-height: 22pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #FFFFFF;
}
.bodybrownlink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #660066;
	text-decoration: none;
}
.bodypurplelink {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #660066;
	text-decoration: none;
}
.bodypurplelink:hover {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #660066;
	text-decoration: underline;
}
.bodybluelink:hover {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #6d89e7;
	text-decoration: underline;
}
.bodybluelink {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #6D89E7;
	text-decoration: none;
}
.headergreen {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;
}
.greyartsy {


	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	font-style: italic;
	line-height: 22pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #BBBBBB;
}
.greyartsysmlineht {



	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	font-style: italic;
	line-height: 13pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #ACACAC;
}
.greenartsysmlineht {




	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	font-style: italic;
	line-height: 13pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none;
	color: #009999;
}
