/* E-Photo (Email a Photo to a friend) */
.ePhotoBorder {background-color:#000000;}
.ePhotoBox {background-color:#193682;}
.ePhotoLink {font-size:11px;color:#ffffff;text-decoration:none;font-family:arial;font-weight:bold;}

.gScGRowOdd{font-size:12px; font-family:Arial;}
.gSGTeamLinkRed{color:#F4002D;font-size:12px;font-family:Arial;}
.gSGLink{font-size:12px; font-family:Arial;}
.gSGRowOddStandings{font-size:12px; font-family:Arial;}
.aLPFeature{font-size:12px; font-family:Arial;}
.aLPhotoCaption{font-family:Arial; font-size:11px; font-weight:bold; color:#000000;}
div.aLFeature,div.aLWrapperTab {margin:10px;}
div.cBTitleSubheader {color:#003399;font-size:12px;font-weight:bold;margin-bottom:2px;margin-right:10px;margin-top:5px;text-transform:uppercase;}
div.mCLHeadline {color:#000000;font-weight:bold;}
.lGAClock {background-color:#ffffff;color:red;font-family:verdana, arial, helvetica;font-size:11px;}
div.mCLWrapper {color:#666666;margin-bottom:5px;margin-left:5px;margin-right:5px;margin-top:5px;}
td.cBComp {color:#003399;font-weight:none;}
td.UniversalNavOuterBorder,td.cBRule,td.cBRuleLeftNav,td.cBRuleSubheader {background-color:#003399;color:#003399;font-size:1px;}
a.aLLeadSummarySubheader {color:#666666;margin-bottom:2px;}
div.siteFragment {color:#003399;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
a.aLSummarySubheader {margin-bottom:2px;}
select.Header,select.Footer{color:#000000;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:11px;font-style:normal;font-weight:bold;width:175;}
td.surveyDisplayBarColor,td.tabbedComponentBar {background-color:#003399;}
div.tNBTopGrid,td.tNBTopGrid  {background-color:#003399;color:#FFFFFF;margin-bottom:2px;margin-left:0px;margin-right:0px;margin-top:2px;}
div.tNB {background-color:#003399;color:#FFFFFF;margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
.lGAEventText {background-color:#003399;color:cccccc;font-family:verdana, arial, helvetica;font-size:11px;}
td.cBTopSubheader {color:#003399;font-size:12px;font-weight:none;}
div.aLMoreNewsLink,div.aLStory,div.aLSubhead,div.aLWrapper,div.aLLeadMoreNewsLink,div.aLLeadStory,div.aLLeadSubhead,div.aLLeadWrapper {color:#666666;margin:10px;}
div.aLLeadPhotoCaptionSpotlight {color:#666666;font-size:10px;}
div.surveyBody {color:#003399;margin:5px;}
td.profileHeading {font-weight:bold;}
div.cBTitleREW {background-color:#003399;color:#FFFFFF;font-size:12px;font-weight:none;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;font-family:Arial;}
div.aLSubheader {color:#666666;margin-bottom:2px;margin-top:5px;}
div.mCLFormats,div.aLLeadH1Spotlight,div.aLLeadH1Subheader,div.aLLeadH2Subheader,div.aLLeadH3Subheader,div.aLH1Subheader,div.aLH2Subheader,div.aLH3Subheader {color:#003399;}
div.aLHeadline,div.aLHeadlineTab,div.aLLeadH2,div.aLLeadH2Tab,div.aLH2,div.aLH2Tab {color:#003399;font-family:Georgia,Times,serif;font-size:18px;font-weight:bold;text-transform:uppercase;}
div.aLLeadH1Tab {color:#003399;font-family:Georgia,Times,serif;font-size:18px;font-weight:bold;margin-right:10px;margin-top:10px;}
div.aLLeadPhotoCaption,div.aLLeadPhotoCaptionTab,div.aLPhotoCaption,div.aLLeadPhotoCredit,div.aLLeadPhotoCreditTab,div.aLPhotoCaptionTab,div.aLPhotoCredit,div.aLPhotoCreditTab,div.aLLeadPhotoCreditSpotlight,div.aLLeadPhotoCaptionSubheader,div.aLLeadPhotoCreditSubheader {color:#666666;font-size:10px;margin-bottom:10px;margin-left:5px;margin-right:5px;}
.lGASectionTitle {background-color:#003399;color:white;font-family:verdana, arial, helvetica;font-size:12px;}
td.cBBottom,td.cBSide {background-color:#003399;color:#FFFFFF;font-weight:none;}
div.aLStoryFeature {margin-top:10px;}
div.cBTitleLeftNav {background-color:#003399;color:#FFFFFF;font-size:10px;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
div.aLRelatedItems,div.mCL,div.mCLSummary,table.surveyBody,td.surveyBody,td.surveyButton,div.aLRelatedItemsTab,div.aLLeadSummarySpotlight,div.aLLeadStorySpotlight,div.aLSummarySpotlight,div.aLStorySpotlight,div.aLLeadPSpotlight,div.aLLeadPSubheader,div.aLLeadSummarySubheader,div.aLSummarySubheader,div.aLPSubheader {color:#666666;}
.lGAStateText,.lGALosingTeam,.lGALosingTeam:link {background-color:#FFFFFF;color:red;font-family:verdana, arial, helvetica;font-size:11px;margin-right:5px;}
a.lGAGamesInfoTitle {background-color:#ffffff;color:red;font-size:11px;}
div.aLLeadHeadline,div.aLLeadHeadlineTab {color:#003399;font-family:Verdana,Times,serif;font-size:18px;font-weight:bold;margin-bottom:10px;margin-right:10px;margin-top:10px;text-transform:uppercase;}
div.surveyButton {color:#666666;margin-bottom:4px;margin-top:4px;}
td.cBTopLeftNav {background-color:#003399;color:#FFFFFF;font-size:12px;}
td.tNBRuleLL {background-color:#003399;color:#3366cc;}
div.aLLeadRelatedItems,div.aLLeadRelatedItemsTab {color:#666666;margin-left:10px;margin-right:10px;margin-top:10px;}
hr.tNBRuleLL2 {background-color:#6699ff;color:#003399;}
hr.tNBRuleLL {background-color:#003399;color:#99CCFF;}
a.aLLeadHeadline,a.aLLeadHeadlineTab {font-family:Georgia,Times,serif;font-size:18px;font-weight:bold;margin-right:10px;text-transform:uppercase;}
.lGAGeneralLinks:link {background-color:#FFFFFF;color:#003399;font-family:verdana, arial, helvetica;font-size:11px;}
div.aLWrapperSpotlight {margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
div.aLPretitle,div.aLLeadPretitle {color:#003399;font-style:italic;margin-bottom:10px;margin-left:5px;margin-right:5px;}
select.iNB {background-color:#999999;}
select {color:#000000;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:11px;font-style:normal;font-weight:bold;}
div.aLWrapperSubheader {color:#666666;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
td.sBHRowEven,div.gSGRowOddScoreboard {background-color:#dddddd;}
.lGAWinningTeam,.lGAWinningTeam:link {background-color:#FFFFFF;color:red;font-family:verdana, arial, helvetica;font-size:11px;font-weight:bold;margin-right:5px;}
hr.aLLeadSeparatorTab {color:#003399;margin-top:5px;}
td.tNBLL2,div.tNBDivLL2,td.tNBRuleLL2 {background-color:#3399ff;color:#ffffff;}
div.aLH3 {color:#666666;font-weight:bold;margin-bottom:10px;margin-left:5px;margin-right:5px;}
td.cBTop,td.cBTitle.td.cBTopREW {background-color:#003399;color:#FFFFFF;font-size:12px;font-weight:none;}
div.aLByline,div.aLBylineTab {color:#666666;font-size:12px;}
div.aLH1 {color:#003399;font-family:Georgia,Times,serif;font-size:18px;font-weight:bold;margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
div.tNBRuleLL {background-color:#3366cc;color:#003399;font-size:12px;}
div.aLLeadH1 {color:#003399;font-family:Georgia,Times,serif;font-size:18px;font-weight:bold;margin-top:10px;}
a.tNBLinkLL2 {color:#ffffff;text-decoration:none;}
a.tNBLinkTopGrid {color:#ffffff;background-color:#003399;text-decoration:none;font-family:Arial;font-size:12px;}
a.lGAGamesInfo {background-color:#FFFFFF;color:#003399;font-size:11px;}
div.mCLSpacer {margin-bottom:5px;}
div.aLH1Tab {color:#003399;font-family:Georgia,Times,serif;font-size:18px;font-weight:bold;}
td.weeksTVGridHeader {background-color:#99CCFF;font-weight:bold;}
div.tSGWrapperStandings {margin:5px;}
div.gSGRowStandings {margin-top:5px;}
div.aLHeadlinePlayerInfoNotes {color:#003399;font-family:Georgia,Times,serif;font-size:14px;font-weight:bold;}
td.surveyTitle, td.surveyBody,td.cBCompREW,td.cBSpacingREW {background-color:#ffffff;}
table.globalNav,td.globalNav,tr.globalNav {background-color:#666666;color:#ffffff;font-weight:bold;}
div.aLWrappertest {margin:10px;}
.gSLTeamInfo {background-color:white;color:black;font-family:verdana, arial, helvetica;font-size:16px;font-weight:bold;}
.gSLPlayByPlayTitle {background-color:white;color:black;font-family:verdana, arial, helvetica;font-size:14px;font-weight:bold;}
td.cBTopFeature {background-color:#003366;color:#FFFFFF;font-size:12px;text-transform:uppercase;}
td.photoTitle {color:#003399;font-weight:bold;}
td.cBCompTeamIndex {color:#003399;font-weight:none;}
div.rLLTitle {background-color:#003366;color:#FFFFFF;font-family:verdana, arial, helvetica;text-transform:uppercase;}
td.cBRuleTeamIndex {background-color:#003399;color:#003399;font-size:1px;}
div.tSGTitleArea {background-color:#003399;color:#FFFFFF;}
.gSLScoreInfo {background-color:white;color:black;font-family:verdana, arial, helvetica;font-size:12px;}
div.aLRelatedItemsEntrytest {color:#666666;margin-left:0px;margin-right:10px;margin-top:5px;}
a.aLLeadHeadlinetest {background-color:#FFFFFF;font-family:verdana, arial, helvetica;font-size:18px;font-weight:bold;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;text-transform:uppercase;}
td.imageNavBar,div.imageNavBar,td.cBTopRelatedLinks,td.cBBottomRelatedLinks,td.cBSideRelatedLinks,td.cBSpacingRelatedLinks,td.RelatedLinks,td.rLLBody,td.rLLBullet,td.articleDetailRightLinks {background-color:#003399;}
a.gSLTeamInfo {background-color:white;color:red;font-size:11px;}
div.gSGRowEvenTeams,td.gSGRowEvenTeams {background-color:#ffffff;}
td.TopDarkBlueBorder {background-color:#000066;}
div.tSGTitle {background-color:#003399;color:#FFFFFF;margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
div.tSGConference {background-color:#003399;color:#FFFFFF;font-weight:none;margin-bottom:5px;margin-left:2px;margin-right:10px;margin-top:5px;}
div.aLSpacerInside1,div.aLSpacerOneB,div.aLLeadSpacerInside1,div.aLLeadSpacerOneB {margin-bottom:15px;}
.sortableTeamStatsCellLabels {background-color: #efefe7;font-size: 10pt;font-weight: bolder;}
div.aLHeadlinetest {color:#003399;font-family:verdana, arial, helvetica;font-weight:bold;}
div.aLLeadPhotoCaptiontest {color:#666666;font-size:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
div.gSGTitle {color:#003399;font-family:verdana, arial, helvetica;font-weight:bold;margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
hr.subTextNavBarRuleLL {background-color:#3366cc;color:#003399;}
td.subTextNavBarRuleLL {background-color:#3366cc;color:#ffffff;}
td.imageLinkimageCell,td.imageLinktitleCell,td.photoMainBG,td.photoRelatedBox,table.playerInfoGrid {color:#003399;}
a.rLLA {color:#ffffff;}
.gSLPlayersHighlighted {background-color:#99CCFF;color:black;font-family:verdana, arial, helvetica;font-size:11px;}
.sortableTeamStatsCellHighlight {background-color: #efefe7;font-size: 10pt;}
select.profileFieldsOdd {font-weight:normal;}
a.gSLPlayers {background-color:#CCCCCC;color:red;font-size:11px;}
div.gSGHeader,div.tSGHeader {background-color:#99CCFF;font-weight:bold;margin-bottom:2px;margin-left:10px;margin-right:10px;margin-top:2px;}
div.aLPhotoCaptiontest,div.aLPhotoCredittest {color:#666666;font-size:10px;margin-bottom:10px;margin-left:5px;margin-right:5px;}
div.gSGSectionTitleStandings {color:#003399; font-weight:bold; font-size:16px;text-transform:uppercase;}
td.cBCompRelatedLinks {background-color:#003399;color:#FFFFFF;font-weight:none;}
div.formRowEven {background-color:#CCCCCC;margin-bottom:2px;margin-left:10px;margin-right:10px;margin-top:2px;}
div.aLLeadPhotoCredittest,div.aLRelatedItemstest,a.crtBoxLinks,td.crtBoxText,td.photoCaption,td.photoCredit {color:#666666;}
div.aLLeadHeadlinetest {color:#003399;font-family:verdana, arial, helvetica;font-weight:bold;margin-top:10px;}
select.profileFieldsEven {background-color:#CCCCCC;font-weight:normal;}
div.aLPtest {margin-bottom:10px;margin-left:5px;margin-right:5px;}
a.subTextNavBarLinkLL:hover {color:#ff0000;}
td.gSGSectionColumnHeadingsTeams {background-color:#99ccff;font-family:verdana, arial, helvetica;font-size:14px;font-weight:bold;text-transform:uppercase;}
div.aLWrapperHeadlines {margin-bottom:10px;margin-left:10px;margin-right:10px;margin-top:10px;}
div.cBTitleTeamIndex {color:#003399;font-size:12px;font-weight:bold;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
div.aLLeadH1Feature,div.aLLeadH2Feature,div.aLH1Feature,div.aLH2Feature {color:#003399;font-family:verdana, arial, helvetica;font-size:14px;font-weight:bold;text-transform:uppercase;}
.gSLTeamPercentagesTitle,.gSLPlayersTitle {background-color:#99CCFF;color:black;font-family:verdana, arial, helvetica;font-size:12px;}
div.aLPretitletest {color:#003399;font-style:italic;margin-bottom:10px;margin-left:5px;margin-right:5px;}
.sortableTeamStatsCellOdd {background-color:#C3D2E7;font-size: 10pt;}
a.aLHeadlinetest {background-color:#FFFFFF;font-family:verdana, arial, helvetica;font-weight:bold;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;}
td.profileError {color:#FF0000;font-weight:bold;}
td.profileHeading {font-weight:bold;}
a.subTextNavBarLinkLL {background-color:#3366cc;color:#ffffff;text-decoration:none;}
div.aLPlayerInfoNotes {margin-bottom:5px;margin-left:5px;margin-right:5px;margin-top:5px;}
div.rLLBody {background-color:#003399;color:#FFFFFF;font-size:10px;margin-bottom:10px;margin-left:5px;margin-right:5px;margin-top:5px;}
div.rLLBullet {background-color:#003399;color:#FFFFFF;font-size:8px;margin-bottom:5px;margin-left:7px;margin-top:5px;}
div.aLHeadlineFeature {color:#cc0000;font-family:verdana, arial, helvetica;font-size:18px;font-weight:bold;text-transform:uppercase;}
div.tSG,div.tSGData,div.tSGDate,div.formRowOdd {margin-bottom:2px;margin-left:10px;margin-right:10px;margin-top:2px;font-family:arial;font-size:12px;}
td.crtBoxTitle,div.crtBoxTitle,td.gSGSectionTitleTeams {background-color:#003399;color:#FFFFFF;font-size:12px;font-weight:none;}
div.aLBylineFeature {color:#666666;font-size:12px;}
input.profileFieldsOdd,input.profileFieldsEven {color:#000000;font-family:Arial;font-size:11px;font-weight:normal;}
a.aLAtest {background-color:#FFFFFF;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;}
td.gScGHeader, td.gScGHeadernull {background-color:#99ccff;font-family:Arial;font-size:12;}
.gSLTeamPercentages,.gSLTeamStatistics,.gSLPlayers {background-color:#CCCCCC;color:black;font-family:verdana, arial, helvetica;font-size:11px;}
td.gScGNavBar,span.gScGNavRule,a.gScGNavLink {background-color:#003399;color:#ffffff;font-family:Arial; font-size:11px;}
.sortableTeamStatsCellEven {font-size: 10pt;}
td.gSGRowOddScore {background-color:#99ccff;font-family:verdana, arial, helvetica;}
td.rLLTitle {background-color:#003366;}
td.gSGRowEvenStandings,td.profileFieldsEven,td.formRowEven,td.gSGRowEvenTV,td.gScGRowEven {background-color:#cccccc;font-family:arial;font-size:12px;}
div.aLSpacerHeadlines,div.aLSpacertest,div.aLSpacerTab {margin-top:5px;}
.gSLTeamStatisticsTitle {background-color:#99CCFF;color:660000;font-family:verdana, arial, helvetica;font-size:12px;font-weight:bold;text-transform:uppercase;}
td.gSGSectionColumnHeadingsTeamIndex,td.gSGSectionColumnHeadingsStandings {background-color:#003399; color:#FFFFFF; font-family:verdana, arial, helvetica;font-size:12px;font-weight:bold;text-transform:uppercase;}
div.aLLeadH3Feature,div.aLH3Feature {color:#003399;font-family:verdana, arial, helvetica;font-size:12px;font-weight:bold;}
#table.gSGTableScoreboard {margin-bottom:15px;margin-left:5px;}
div.cBTitleRelatedLinks {background-color:#003399;color:#FFFFFF;font-family:Times;font-size:12px;font-weight:none;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
div.gSGHeaderRow,div.tSGHeaderRow {background-color:#99CCFF;font-weight:bold;}
.gSLPage,.gSLPlayByPlay {background-color:white;color:black;font-family:verdana, arial, helvetica;font-size:11px;}
div.gSGRowOddScore {background-color:#99ccff;font-size:12px;font-weight:none;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
div.aLLeadSummarytest {margin-bottom:10px;margin-right:5px;margin-top:5px;}
.gSLMatchUp {background-color:#003399;color:white;font-family:verdana, arial, helvetica;font-size:14px;}
div.statsFinderBackground {background-color:#cccccc;font-family:Arial; font-size:12px;}
