BODY{font-family:Arial;}
TD{font-size:12px;}
/* E-Photo (Email a Photo to a friend) */
.ePhotoLink {font-size:11px;color:#ffffff;text-decoration:none;font-family:arial;font-weight:bold;}
.ePhotoLinkSm {font-size:10px;color:#ffffff;text-decoration:none;font-family:arial;font-weight:bold;}
.surveyTitle,.pollTitle{font-family:Arial; font-size:11px; color:#000000;}
.surveyBody,.pollBody{font-family:Arial; font-size:10px; color:#000000;}
.globalNav {background-color:#666666;color:#ffffff;font-weight:bold;}
.globalNavPipe {background-color:#666666;color:#990000;font-weight:bold;}
.GlobalLegal{font-family:Arial; font-size:11px; color:#193682;}
.bgBlack,.ePhotoBorder{background-color:#000000;}
.bgRed{background-color:#CC0000;}
.bgBlue,.ePhotoBox{background-color:#193682}
.leftColumnHomepageBackground{background-color:#FFFFFF;}
.rightColumnHomepageBackground{background-color:#193682;}
.leftColumnBackground,.rightColumnBackground{background-color:#FFFFFF;}
.homepageHeader{background-color:#000000; font-family:Arial; font-size:14px; color:#FFFFFF; font-weight:Bold;}
.homepageHeaderLink{background-color:#000000; font-family:Arial; font-size:14px; color:#FFFFFF; font-weight:Bold;text-decoration:none;}
.headerMargin{margin:3px;}
.headerBox{background-color:#527CBA; font-family:Arial; font-size:12px; text-decoration:none; color:#FFFFFF;}
.date {color:#666666;font-family:Arial;font-size:10px;font-weight:normal;margin-top:2px;}
.myNBACell,.emailNewsCell{background-color:#193682; font-family:Arial; font-size:11px; color:#FFFFFF;}
.myNBALink,.emailNewsLink{font-family:Arial; font-size:11px; color:9ACCFF;}
.leftNavCell{background-color:#193682; font-family:Arial; font-size:11px; text-decoration:none;}
a.leftNavLink{font-family:Arial; font-size:11px; color:#FFFFFF; text-decoration:none; margin:3px; font-weight:bold;}
a.leftNavLink:hover,.leftSubNavHeaderLink:hover,.textRed{color:#CC0000;}
.leftNavSeparator,.leftSubNavSeparator{background-color:#C3D2E7;}
.leftNavMargins{margin-left:2px; margin-top:2px; margin-bottom:2px;}
.leftSubNavHeader{background-color:#193682; font-family:Arial; font-size:12px; color:#FFFFFF; font-weight:bold; text-decoration:none;}
.leftSubNavHeaderLink{font-family:Arial; font-size:11px; color:#FFFFFF; font-weight:bold; text-decoration:none; margin:3px;}
.leftSubNavCell{background-color:#527CBA; font-family:Arial; font-size:11px; text-decoration:none;}
a.leftSubNavLink{font-family:Arial; font-size:11px; color:#FFFFFF;text-decoration:none; margin:3px;}
a.leftSubNavLink:hover{color:#F7CF31;}
.leftSubNavMargins{margin-left:8px; margin-top:0px; margin-bottom:0px;}
.contests {color:#003399; font-family:arial; font-size:11px; margin:5px; font-weight:bold}
.hotproductText{font-family:Arial; font-size:11px; color:#999999; margin:5px;}
.hotproductLink{font-family:Arial; font-size:11px; color:#193682;}
.crunchTimeStatNumber{font-family:Arial; font-size:50px; color:#193682;}
.crunchTimeStatText{font-family:Arial; font-size:11px; color:#999999; margin:5px;}
.crunchTimeStatLink{font-family:Arial; font-size:11px; color:#193682;}
.navTitle{margin:0px;font-family:arial;font-size:11px;color:#ffffff;font-weight:bold;}
.navText {margin:5px;font-family:arial;font-size:11px;color:#003399;}
.navCaption {margin:2px;font-family:arial;font-size:11px;color:#010080;}
.nbaTVText{font-family:arial;font-size:11px;color:#000000; margin:3px;}
.nbaTVLink{font-family:arial;font-size:11px;color:#ffffff; margin:3px;}
.teamNewsTitle{background-color:#000000; font-family:Arial; font-size:12px; font-weight:bold; color:#FFFFFF;}
.teamNewsLink{font-family:Arial; font-size:11px; color:#010080; text-decoration:none;}
.legalcopy {color:#000000;font-family:Arial;font-size:10px;font-weight:normal;margin-left:10px;margin-right:10px;margin-top:5px;margin-bottom:5px;}
.liveScoresBackgroundColor,.relatedComp{background-color:#FFFFFF;}
.liveScoresOutsideBoxColor{background-color:#000000;}
.liveScoresInsideBoxColor{background-color:#cccccc;}
.liveScoresCellRow1{background-color:#EFEFE7; font-family:Arial; font-size:11px;}
.liveScoresCellRow2{background-color:#EFEFE7; font-family:Arial; font-size:11px; color:#000000;}
.liveScoresLink{font-family:Arial; font-size:11px; color:#193682; text-decoration:none; }
.liveScoresTeamLink{font-family:Arial; font-size:11px; color:#193682; text-decoration:none; font-weight:bolder;}
.liveScoresScore{background-color:#CCCCCC; font-family:Arial; font-size:11px; color:#000000;}
a.playerlinkSB{font-family:Arial; color:#003399; font-size:11px; text-decoration:none;}
a.playerlinkSB:visited{color: #003399;}
a.playerlinkSB:hover,a.ScoreBoardSec:hover{color: #d60031;}
a.thePlayers {font-family:Arial; color:#003399; font-size:12px; text-decoration:underline;}
a.thePlayers:visited {font-family:Arial; color:#003399; font-size:12px; text-decoration:underline;}
.ScoreBoardSecTitle {font-family:Arial; background-color:#003399;color:white;font-size:11px;font-weight:bold;text-transform:uppercase;}
.ScoreBoardSec {font-family:Arial; color:#ffffff; background-color:#527CBA; font-size:12px; font-weight:none; text-decoration:none;}
.ScoreBoardSecFooter {font-family:Arial; COLOR: #003399; BACKGROUND-COLOR: #cccccc;font-size:11px;font-weight:none;}
a.ScoreBoardSec:visited{color:#ffffff;}
.nightlyLeadersBackground{background-color:#efefe7;}
.nightlyLeadersTitle,.gSGSectionColumnHeadingsMILK {background-color:#193682; font-family:Arial; font-size:11px; font-weight:bold; color:#FFFFFF;text-decoration:none;}
.nightlyLeadersTitle:hover {color:#FF0000;}
.nightlyLeadersData, .gSGRowOddMILK,.gSGRowEvenMILK {background-color:#FFFFFF; font-family:Arial; font-size:10px;color:#000000; border:solid black 1px;}
.featuresBackground{background-color:#efefe7;}
.featuresCell{font-family:Arial; font-size:11px; color:#000000; text-decoration:none;}
.featuresLink{font-family:Arial; font-size:11px; color:#010080; text-decoration:underline;}
.insideHeaderTitle{background-color:#000000;color:#ffffff;font-family:Arial;font-size:12px;font-weight:bold;}
.listHeadlineLead{font-family:Arial; font-size:16px;font-weight:bold;margin-left:8px;margin-top:5px; text-decoration:none; color:#003399;}
.listHeadlineLeadLink{font-family:Arial; font-size:16px; text-decoration:none; font-weight:bold; color:#003399;}
.listHeadlineSubhead{font-family:Arial; font-size:12px; font-weight:bold; text-decoration:none; color:#003399;}
.listHeadlineSubheadLink{font-family:Arial; font-size:12px; text-decoration:none; color:#003399;}
.listHeadlineBullet{margin-left:5px;margin-right:5px;margin-bottom:5px;color:#193682;}
.listPhotoCaption{font-family:Arial; font-size:10px; color:#000000;}
.listPhotoLink{font-family:Arial; font-size:10px; color:#003399;}
.listTeaserText{font-family:Arial; font-size:11px; color:#000000;}
.listMoreNewsLink{font-family:Arial; font-size:12px; color:#003399; text-decoration:none;}
.listBulletedLink{font-family:Arial; font-size:12px; color:#003399;}
.articleBodyBoxColor{background-color:#193682;}
.articleSubHead{font-family:Arial; font-size:12px; color:#000000;}
.articleHeadline,.alHeadlineViewIn{font-family:Arial; font-size:18px; font-weight:bold; color:#193682;}
.articleByline{font-family:Arial; font-size:11px; color:#000000;}
.articleBody,.newsSubSectionText{font-family:Arial; font-size:12px; color:#000000;}
.articlePhotoCaption{font-family:Arial; font-size:11px; font-weight:bold; color:#000000;}
.articlePhotoCredit{font-family:Arial; font-size:10px; color:#000000;}
.relatedLinkHeader{background-color:#193682;font-family:Arial; font-size:12px; color:#FFFFFF; font-weight:bold;}
.relatedLinkBoxColor,.emailStoryBoxColor{background-color:#193682;}
.relatedLink{font-family:Arial; font-size:12px; color:#193682; background-color:#FFFFFF; text-decoration:none;}
.relatedLinkBullet{margin-left:5px;margin-right:5px;margin-bottom:5px;color:#193682;background-color:#FFFFFF;}
.newsSubSectionLink{font-family:Arial; font-size:12px; color:#003399; text-decoration:none;}
.emailStoryLink{font-family:Arial; font-size:12px; color:#193682; text-decoration:none;}
.emailFormRowEven{background-color:#CCCCCC;font-family:Arial; font-size:12px;}
.emailFormRowOdd,td.profileText{font-family:Arial; font-size:12px;}
.emailFormText{font-family:Arial; font-size:12px; color:#000000;}
.profileFieldsEven{background-color:#cccccc;font-size:12px;font-family:arial; color:#000000;}
td.profileFieldsOdd {font-size:12px;font-family:arial;color:#000000;}
select.profileFieldsOdd {font-weight:normal;font-size:11px;}
.mediaCaption{font-family:Arial; font-size:12px; font-weight:bold; color:#193682; text-decoration:none;}
.mediaLink{font-family:Arial; font-size:11px; font-weight:bold; color:#193682; text-decoration:none;}
.weeksTVGridHeader {font-family:Arial; font-size:12px; text-decoration:none; color:#003399;font-weight:bold}
.siteFragment {color:#003399;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;}
a.tabMenuLink {font-family:arial;color:#003399;font-size:11px;}
td.tabMenuMember {font-size:11px;font-style:normal;font-weight:normal;}
.rLLTitle {background-color:#003366; font-family:arial;color:#ffffff;font-size:12px;}
.nbaTVLink{font-family:Arial; font-size:11px; color:#ffffff;}
.hpTeaserText{font-family:Arial; font-size:11px; color:#000000;}
.alLeadPhotoCaptionLead {color:#000000;font-size:10px;font-family:arial;}
.nightlyLeadersTitleMILK {background-color:#ff0000; font-family:Arial; font-size:11px; font-weight:bold; color:#FFFFFF;text-decoration:none;}
.gSGRowEvenMILKER,.gSGRowOddMILK,.gSGRowEvenMILK {background-color:#FFFFFF; font-family:Arial; font-size:10px;color:#000000; border:solid #193682 1px;}
.gSGRowOddMILKER {background-color:#FF0000; color:#FFFFFF; font-family:Arial; font-size:10px; border:solid #193682 1px;}
.gSGPlayerLinkMILK {background-color:#FFFFFF; font-family:Arial; font-size:10px;}
td.nbatv_update {color:#ffffff;font-family:Arial;font-size:12px;font-weight:normal;}
td.standardTextBlack {color:#000000;font-family:Arial;font-size:11px;}
td.photoCell {color:#000000;font-family:Arial;font-size:11px;font-weight:normal;}
td.liveScores {color:#ffffff;font-family:Arial;font-size:11px;font-weight:bold;}
td.subindex_title {color:#ffffff;font-family:Arial;font-size:12px;font-weight:bold;}
div.tabTitle {color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;margin-left:2px;margin-right:2px;margin-top:2px;margin-bottom:2px;}
div.mainHeadline {color:#003399;font-family:Arial;font-size:16px;font-weight:bold;}
div.feature_theword {color:#000000;font-family:Arial;font-size:11px;font-weight:normal;margin-left:4px;margin-right:4px;margin-top:4px;margin-bottom:4px;}
div.date {color:#666666;font-family:Arial;font-size:10px;font-weight:normal;margin-top:5px;margin-bottom:5px;}
div.legalcopy {color:#000000;font-family:Arial;font-size:10px;font-weight:normal;margin-left:10px;margin-right:10px;margin-top:5px;margin-bottom:5px;}
.sBHRowEven{background-color:#CCCCCC;font-family:Arial;font-size:11px;font-weight:;}
.sBHRow{font-family:Arial;font-size:11px;font-weight:;}
.sipHeader{font-family:arial;font-size:16px;color:#547cc4;text-transform:uppercase;}
.sipBG{background-color:#ccd4Ec}
.sipSubHeader{font-family:arial;font-size:11px;color:#ffffff;text-transform:uppercase;}
.sipSubHeaderBG{background-color:#8cacd4;}
td.surveyHeader{background-color:#193682;color:#FFFFFF;font-family:arial;font-size:13px;font-weight:bold;margin-left:5px;}
.tabHeaderText{COLOR: #000066;FONT-FAMILY: Arial;FONT-SIZE: 12px;FONT-WEIGHT: bold;}
.tabBodyText{COLOR: #FFFFFF;FONT-FAMILY: Arial;FONT-SIZE: 11px;margin:5px;}
a.tabLinks {text-decoration: underline;color : #FFCC00;font-weight : normal;}
a.tabLinks:hover {text-decoration: underline;color : #FFFFFF;}
td.gSGBoxHeading{font-size:15px;font-weight:bold;color:#003399;}
td.gSGSectionTitle {background-color:#003399;color:#FFFFFF;font-size:12px;font-weight:none;text-transform:uppercase;}
div.gSGSectionTitle {background-color:#003399;color:#FFFFFF;font-size:12px;font-weight:bold;margin-bottom:2px;margin-top:2px;text-transform:uppercase;}
a.gSGSectionTitle{font-size:12px;font-weight:bold;color:#003399}
div.cBTitle,div.cBTitleREW {background-color:#003399;color:#FFFFFF;font-size:12px;font-weight:bold;margin-bottom:5px;margin-left:10px;margin-right:10px;margin-top:5px;font-family:Arial;}
td.gSGSectionColumnHeadings {background-color:#cccccc;font-family:verdana,arial;font-size:11px;font-weight:bold;text-transform:uppercase;}
.gSGRowEven {background-color:#e0dfe3;font-family:verdana,arial;font-size:11px;margin-top:2px;margin-bottom:2px;}
.gSGRowOdd {font-family:verdana,arial;font-size:11px;margin-top:2px;margin-bottom:2px;}
.gSGPlayerLink,.gSGTeamLink{font-size:11px;font-family:verdana,arial;}
/* New Sortable Team Stats styles */
td.column1,td.column2,td.column3{font-family: arial; font-size:11px;}
.genC{font-family: arial; font-size:11px;}
.genC2{font-family: arial; font-size:11px;font-weight:bold;}
td.otherCols1{font-family: arial; background-color:#ffffff; font-weight:normal; font-size:11px;}
td.otherCols2{font-family: arial; background-color:#cccccc; font-weight:normal; font-size:11px;}
td.theHeader1{font-family: arial; font-size: 11px; background-color:#003399; color:#ffffff; font-weight:bold;}
td.theHeader1a{font-family: arial; font-size: 12px; background-color:#9CCFFF; color:#000000; font-weight:bold;}
td.theHeader2{font-family: arial; font-size: 10px; background-color:#003399; color:#ffffff; font-weight:bold;}
a.statLink{font-family: arial; font-size: 10px; color:#ffffff; font-weight:bold; text-decoration:underline;}
a.statLink:hover{font-family: arial; font-size: 10px; color:#cccccc; font-weight:bold; text-decoration:underline;}
a.statLink:visited{font-family: arial; font-size: 10px; color:#ffffff; font-weight:bold; text-decoration:underline;}
table.thisTable {background: url(/media/nbav2/leftborder_tile.gif); background-repeat:repeat-y;}
.minAgo{font-size:10px;color:#cccccc;font-family:arial;}
