.loginheaderback
{
    background-color:#0099FF;
}
.logintableborder
{
    border-color: #0099FF;
    border-style: solid;
    border-width: 1px;
}
.prodmfg
{
    color: #FFFFFF;
}
.myacctmainheader
{
    background-color:#0099FF;
}
.myacctmaintable
{
    border-color: #0099FF;
    border-style: solid;
    border-width: 1px;
}
.myacctsectionback
{
    background-color: #FFFFFF;
}
.myacctsectionheaderback
{
    background-color: #FFFFFF;
}
.myacctsectiontable
{
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
td.subtitle
{
    background-color: 0;
    border-color: 0;
}
.productreviewsaltrowseven
{
    background: #FFFFFF;
}
.productreviewsaltrowsodd
{
    background: #FFFFFF;
}
table.productreviews
{
   border-top: 1px solid #33CCFF;
   border-left: 1px solid #33CCFF;
   border-right: 1px solid #33CCFF;
   border-bottom: 1px solid #33CCFF;
   border-collapse: collapse;
	text-align: left;
   margin-top: 10px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 10px;
}
table.productreviews th
{
    background: #33CCFF;
}
.qtyarrows
{
    color: 0;
}
.qtyarrows:hover
{
    color: 0;
    font-weight: bold;
}
.shoppingcartbg
{
}
.shippingbar
{
    background-color: #111111;
}
.mainborder
{
}
.cartdetailtable
{
    border-color: #0099FF;
    border-style: solid;
    border-width: 1px;
}
.cartdetailtableheaderback
{
    background-color: #0099FF;
}
.categorys
{
    color: #000000;
    background-color: #000000;
    border-color: #000000;
}
.centercontent
{
    background-color: #FFFFFF;
}
.checkoutreviewback
{
    background-color:#FFFFFF;
}
.checkoutreviewheaderback
{
    background-color: #FFFFFF;
}
.default
{
    border-color: #FFFFFF;
    border-width: 0;
    border-style:solid; border-collapse: collapse;
}
.prodvieweven
{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.prodviewodd
{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.proddisplay1
{
    background-color: #0099FF;
    border-color: #0099FF;
}
.proddisplay2
{
    background-color: #33CCFF;
    border-color: #33CCFF;
}
.sidecolumnitemtext
{
    padding-left: 10;
    margin-top: 0;
    margin-bottom: 0;
}
.sidecolumnitemtextsub
{
    padding-left: 20;
    margin-top: 0;
    margin-bottom: 0;
}
.wishlistbutton
{
    padding-top: 3px;
}
.categories
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.categories:hover
{
    font-family: Verdana;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.horznavbar
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.horznavbar:hover
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111110;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
}
.thumbnail
{
    font-family: Verdana;
    font-size: 10pt;
    color: #29166f;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.thumbnail:hover
{
    font-family: Verdana;
    font-size: 8pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.navbar
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.navbar:hover
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}
.price
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.listprice
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FF0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.producttext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.Subtitle2
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.shoppingcart
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.shoppingcart:hover
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.sitemessage
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.sitenews
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.sitewidelinks
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.sitewidelinks:hover
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000066;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.sitewide
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.sitewide:hover
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.sitewidefonts
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
body
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: ;
}
font.Subtitle
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.checkouttext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.checkoutheader
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.checkoutnote
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.checkoutcustomtext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.loginheadertext
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.checkoutnavpaststep, .checkoutnavpaststep a
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.checkoutnavcurrentstep, .checkoutnavcurrentstep a
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.checkoutnavfuturestep, .checkoutnavfuturestep a
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.checkoutsubheader
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.checkoutreviewheadertext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.checkoutreviewtext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.cartdetailtableheadertext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.cartdetailtableheadertext a
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.cartdetailtableheadertext a:hover
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.cartdetailheader
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.cartdetailtext
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.checkoutattentiontext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #CC0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctmainmenutext
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctmainmenutext a
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctheader
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.myaccttext
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctattentiontext
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #CC0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctsectionheadertext
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.myacctsectiontext
{
    font-family: Verdana;
    font-size: 8pt;
    color: #111111;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctsectiontext a
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #29166f;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctsectiontext a:hover
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #000066;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.sitewideinput
{
    font-family: Arial;
    font-size: 10pt;
    color: #333333;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
body.printbody
{
    font-family: Arial;
    font-size: 9pt;
    background-color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.printtext
{
    font-family: Arial;
    font-size: 9pt;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.printheader
{
    font-family: Arial;
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.storeButtons
{
    font-family: ;
    font-size: 8pt;
    color: #333333;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.myacctsectiontext ul
{
    margin: 0;
    padding: 0;
    margin-left: 15;
}
table.productreviews th, table.productreviews td
{
    padding: 5px;
}
table.productreviewsinner td
{
    padding: 0px;
}
table.productreviews .productreviewrating
{
    text-align: right;
}
table.productreviews th
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    padding-right: 7px;
}
table.productreviews td .productreviewalias
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FF0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.productreviewsinner td.prodreviewsattention
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #CC0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.productreviews td.productreviewtitle
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FF0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.productreviewsinner td
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FF0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.productreviewsinner td.prodreviewsubheader
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
table.productreviews td.productreviewdate
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #FF0000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
