BODY {
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000; 
background-color: #FFFFFF; 
margin: 0px; 
padding: 0px; 
z-index: 10; 
}

#today {
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
background-image: none;
text-decoration: none; 
WIDTH: 230px;
HEIGHT: 15px;
top: 5px;
left: 5px;
position: absolute;
z-index: 250;
}

#ribbon {
background-image: none;
WIDTH: 34px;
HEIGHT: 48px;
top: 30px;
left: 620px;
position: absolute;
z-index: 350;
}

#sponsor {
background-image: none;
WIDTH: 100px;
HEIGHT: 50px;
top: 30px;
left: 595px;
position: absolute;
z-index: 350;
}

#one, #two, #three {
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
background-image: none;
text-decoration: none;
WIDTH: 300px;
HEIGHT: 80px;
top: 0px;
left: 0px;
position: absolute;
z-index: 500;
visibility:hidden;
}

#wait {
font-weight: 700;
font-size: 12px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
background-image: none;
text-decoration: none;
WIDTH: 300px;
HEIGHT: 20px;
top: 30px;
left: 330px;
position: absolute;
z-index: 500;
visibility:visible;
}

#hidden {
position: absolute;
visibility: hidden;
WIDTH: 300px;
HEIGHT: 20px;
left: 400px;
top: 50px;
}

A:link {
color: #0000FF;
background-image: none;
}

A:active {
color: #00FF00;
background-image: none;
}

A:visited {
color: #FF0000;
background-image: none;
}

A:hover {
color: #CC6600;
background-image: none;
}

.nav, A.nav:link, A.nav:active, A.nav:visited, A.nav:hover {
/* font-weight: 400; */
font-weight: bold;
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #DDDDFF;
background-image: none;
text-decoration: none;
}

A.nav:hover, .plainred {
font-weight: bold;
color: #FF0000;
background-image: none;
}

.asearch1 {
font-weight: 400;
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000; 
background-color: #FFFFFF; 
/* background-image: url(http://www.centralpets.com/images/stripes_background.gif); */
}

.asearch2 {
font-size: 12px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000;
text-decoration: none;
background-color: #EEEEF6; 
background-image: none;
}

.banner {
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
}

.bigred {
text-indent: 0px;
/* line-height: 20px; */
font-weight: 700;
font-size: 24px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #FF0000; 
list-style-image: url("http://www.centralpets.com/images/bullet.gif");
text-decoration: none; 
}

.copyright {
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
background-image: none;
}

.count {
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF; 
text-decoration: none; 
background-image: none;
}

.critters {
font-weight: 400;
font-size: 12px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF; 
text-decoration: none; 
list-style-image: url("http://www.centralpets.com/images/bullet.gif");
}

.crittersheadings {
font-weight: 700;
font-size: 12px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000033; 
text-decoration: none; 
}

.CritNav {
text-indent: 0px;
line-height: 16px;
font-weight: 400;
font-size: 12px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF; 
list-style-image: url("http://www.centralpets.com/images/bullet.gif");
}

.CritNavTitle {
font-weight: 700;
font-size: 12px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000066; 
text-decoration: none; 
list-style-image: url("http://www.centralpets.com/images/bullet.gif");
}

.daily {
font-size: 11px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
text-decoration: none; 
}

.gradient1old {
background-color: #767D68; 
background-image: none;
}

.gradient1 {
background-color: #0000FF; 
background-image: none;
}

.gradient2 {
background-color: #9E9E9E; 
background-image: none;
}

.gradient3 {
background-color: #BBBBBB; 
background-image: none;
}

.gradient4 {
background-color: #D5D5D5; 
background-image: none;
}

.gradient5 {
background-color: #E5E5E5; 
background-image: none;
}

H1 {
font-weight: 600;
font-size: 18px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000;
background-image: none;
text-align:  center;
}

H2 {
font-style: italic;
font-weight: normal;
font-size: 14px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000;
background-image: none;
}

H3 {
font-weight: 700;
font-size: 14px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000066;
background-color: #FFFFFF;
}

H4 {
font-weight: 700;
font-size: 14px;
font-family: Times, 'Times New Roman', serif;
color: #000000;
background-image: none;
}

input, textarea, select {
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.navlinks {
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
background-color: #CCCCDD; 
}

.navtable {
font-weight: 400;
font-size: 10px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
text-decoration: none; 
}

.news {
font-weight: 400;
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF; 
background-color: #FFFFFF;
background-image: none;
text-decoration: none; 
list-style-image: url("http://www.centralpets.com/images/bullet.gif");
}

.newstitle {
list-style: none outside;
font-weight: 700;
font-size: 12px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000066; 
background-color: #FFFFFF;
background-image: none;
text-decoration: none; 
}

P.in {
text-indent: 2em;
}

.popwins {
font-size: 12px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000066;
background-color: #BDDEE7;
}

.results {
font-size: 11px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
}

.rightback {
background-color: #FFFFFF; 
/* background-image: url(http://www.centralpets.com/images/stripes_background.gif); */
}

.rightbody {
font-size: 12px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000; 
text-decoration: none; 
}

.sans {
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.serif {
font-family: Times, 'Times New Roman', serif;
}

.searchinstruct {
color: #3333FF; 
}

.sideback {
background-color: #CCCCDD; 
/* background-image: url(http://www.centralpets.com/images/left_background.gif); */
background-image: none;
}

.sidebar {
font-size: 11px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF;
/* background-image: none; */
text-decoration: none;
}

.stripes {
background-color: #FFFFFF; 
background-image: url(http://www.centralpets.com/images/stripes_background.gif);
}

.stripesback {
font-weight: 400;
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF; 
background-image: url(http://www.centralpets.com/images/stripes_background.gif);
}

.tabletitle {
font-weight: bold;
font-size: 13px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000066;
}

.tinytype {
font-weight: 100;
font-size: 6px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000;
}

.toptable {
font-weight: 400;
font-size: 12px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
/* color: #000000;
text-decoration: none; */
background-color: #CCCCDD; 
background-image: none;
}

.whiteback {
font-weight: 400;
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #0000FF; 
background-color: #FFFFFF; 
background-image: none;
}

.polls, .pollsquestion {
font-size: 10px; 
font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #000000; 
background-color: #FFFFFF; 
background-image: none;
}

.pollsquestion {
font-weight: bold;
font-size: 12px; 
background-color: #AAAAFF; 
}
