td {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px;
      
}
   
a.panellink:link {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 12px; text-decoration: none}
a.panellink:active {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #CCFFCC; text-decoration: underline}
a.panellink:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: none}
a.panellink:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF9900; font-size: 12px; text-decoration: underline}

a:link {  font-family: Geneva, Arial, Helvetica, san-serif; color: #000060}
a:active {  font-family: Geneva, Arial, Helvetica, san-serif; color: #336600}
a:visited {  font-family: Geneva, Arial, Helvetica, san-serif; color: #666666}
a:hover {
	font-family: Geneva, Arial, Helvetica, san-serif;
	color: #990000;
}

ul li {
	padding: 1px;
	list-style-type: disc;
}
ul li li {
	padding: 1px;
	list-style-type: square;
}
a.sitemap:link {
	color: #000066;
	text-decoration: none;
}
a.sitemap:active {
	color: #006600;
	text-decoration: none;
}
a.sitemap:visited {
	color: #000066;
	text-decoration: none;


}
a.sitemap:hover {
	background-color: #F2F2E6;
	color: #000066;
	text-decoration: none;
	font-weight: normal;

}
.smallFont {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 10px;
}
.lineSpace {
	line-height: 20px;
}
.bio {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}
.searchBox {
	font-size: 11px;
	width: 120px;
	color: #003399;
}
.LectureTitle {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
	font-style: italic;
}
.lecturePersonTitle {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 17px;
	font-weight: bold;
	text-transform: capitalize;
}
.lecturePersonName {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	color: #003399;
}
.underline {
	text-decoration: underline;
}
.SISblue {
	color: #003399;
	font-weight: bold;
}
.SISHighlight {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #003399;
}

<!-- styles for Giving page -->
#secnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 226px; PADDING-TOP: 0px
}
#secnav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 226px; PADDING-TOP: 0px
}
#secnav DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 226px; PADDING-TOP: 0px
}
#secnav UL {
	MARGIN-TOP: 10px
}
#secnav UL UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#secnav UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
#secnav UL A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; WIDTH: 199px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#secnav UL A.selected {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; WIDTH: 199px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#secnav UL A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; WIDTH: 199px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#secnav UL A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; WIDTH: 199px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#secnav UL UL A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 40px; WIDTH: 199px
}
#secnav UL UL A.selected {
	PADDING-RIGHT: 5px; PADDING-LEFT: 40px; WIDTH: 199px
}
#secnav UL UL A:active {
	PADDING-RIGHT: 5px; PADDING-LEFT: 40px; WIDTH: 199px
}
#secnav UL UL A:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 40px; WIDTH: 199px
}
#secnav A {
	COLOR: #366
}
#secnav LI {
	COLOR: #366
}
UNKNOWN {
	WIDTH: 224px
}
#secnav #header {
	WIDTH: 226px; HEIGHT: 26px
}
#secnav #footer {
	WIDTH: 226px; HEIGHT: 6px
}

#secnav #header {
	BACKGROUND: url(images/giving/sechead.gif) no-repeat 50% top
}
#secnav #footer {
	BACKGROUND: url(images/giving/secbottom.gif) no-repeat 50% bottom
}
#secnav LI a:link {  font-family: Geneva, Arial, Helvetica, san-serif; color: #000060}
#secnav LI a:active {  font-family: Geneva, Arial, Helvetica, san-serif; color: #336600}
#secnav LI a:visited {  font-family: Geneva, Arial, Helvetica, san-serif; color: #666666}
#secnav LI a:hover {	font-family: Geneva, Arial, Helvetica, san-serif; color: #990000}

#secnav {
	BACKGROUND: url(images/giving/secmiddle.gif) repeat-y left top
}
