html,body{margin:0;padding:0}
body{font: 76% 'Trebuchet MS','Lucida Grande',Verdana,Lucida,Geneva,Helvetica,Arial,sans-serif;text-align:center;background:#983937;}
pp{margin:0 10px 10px}
a{color: #006;}
div#navigation h3{font-size:medium; letter-spacing: -0.04em; color:#333; text-align:center;font-weight:bold; padding:1px 0; border-bottom:1px solid #c0b6a3;}
div#extra h3{text-align:center;font-weight:bold;ttext-decoration:underline;padding:1px 0;mmargin-bottom:10px;bborder-top:2px solid #983937;border-bottom:1px solid #c0b6a3;}
div#headerad{ padding:0; background:#666 url(none); color:#fff; text-align:center; }
div#headerad ul { margin:0; padding:0; list-style:none; }
div#headerad ul li { display:inline; }
div#headerad ul li a { color:#ddd; }
div#headerad ul li a:hover { color:#fff; }
div#header{clear:both;position:relative;}
div#header h1{height:111px;line-height:111px;margin:0;background-color:#fff;border-bottom:4px solid #983937;}
div#header div.tagline{position:absolute;right:10px;top:27px;margin-left:300px;margin-right:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#content div.spotlight{margin:0 1px 10px;padding:0 0 1em;bbackground-color:#c0b6a3;bborder-top:1px solid #c0b6a3;bborder-bottom:1px solid #983937;}
div#content div.spotlight h3{clear:both;margin:1em 1em 0;ttext-decoration:underline;}
div#content div.spotlight span{padding-left:2em;display:inline;}
div#content div.spotlight h4{margin:0;padding:0 1em;font-size:x-small;text-align:right;}
div#content div.spotlight ul{ list-style:none; margin:0 1em;padding:0 1em;}
div#content div.spotlight div.pullout{float:left;width:101px;margin:5px 5px;padding:5px;border-top:1px dotted #983937;border-bottom:1px dotted #983937;}
div#content div.spotlight div.pullout h3{margin:0;padding:0;font-size:x-small;}
div#mainmenu {width:170px; padding:0 0 1em 0; margin-bottom:1em; font-family: 'Trebuchet MS','Lucida Grande',Verdana,Lucida,Geneva,Helvetica,Arial,sans-serif; background-color:#fff; color:#333;}
div#mainmenu p {margin-left:1em;}
div#mainmenu ul {list-style:none; margin:0; padding:0; border:none;}
div#mainmenu li {border-bottom:1px solid #ae5766; margin:0; padding:0;}
div#mainmenu li a {display:block; padding:1px 5px 1px 0.5em; border-left:80px solid #b0a084; border-right:10px solid #e2d6c0; background-color:#c0b6a3; color:#983937; color:#333; text-decoration:none; width:100%;}
div#mainmenu li a:hover,div#mainmenu li.current a{border-left:80px solid #c9b695; border-right:10px solid #fff2d9; background-color:#d9cdb6; color:#fff; ffont-weight:bold;}
div#search{text-align:center;}
div#extra{ padding-top:5px; }
div#footer{background:#fff url(/images/bcbg950.gif);}

div#container{width:950px;margin:0 auto;background:#fff url(/images/bcbg950.gif);}
div#wrapper{float:left;width:100%}
div#content{ margin: 0 170px; }
div#navigation{float:left;width:170px;margin-left:-950px;background-color:#fff; overflow:hidden;}
div#extra{float:left;width:170px;margin-left:-170px;background-color:#fff; overflow:hidden;}
div#footer{clear:left;width:100%}
div.abody {background-color:#fff; font-family:'Lucida Grande',Verdana,Arial,sans-serif; font-size:110%; margin:20px 15px; line-height:140%; }

div#content h1 {cclear:left; font-size:x-large;color:#333;margin:10px; background-color:#fff; }
div#content div.articleType {ffloat:left; margin:0 1px 5px; width:12em; background:#b0a084; bborder:1px solid #cfb898; color:#983937; text-align:center; font-weight:bold; font-size:large;}
div#content .reviewItem {clear:both; float:right; text-align:center; font-size:x-small;}

#body.index div#content ul { list-style:none; margin:0; padding:0; }
#body.index div#content ul li { list-style:none; }
body.index div#content dl { padding:0 10px; }
body.index div#content dl dt { clear:both; font-weight:bold; border-bottom:1px dashed #c0b6a3; margin:0 0 10px 35px; }
body.index div#content dl dd { margin:0 10px 0 35px; }
body.index div#content dl dd ul { list-style:none; padding:0; margin:0; }
body.index div#content dl dd ul li { font-size:small; margin-bottom:20px; }
body.index div#content dl dd li.item { font-size:small; }
body.index div#content dl dd li.item img.amazon { margin-right:10px; margin-left:-50px; }
body.index div#content dl dd li.item img.icon { mmargin-right:10px; margin-left:10px; }
body.index div#content dl dd li.item h3 { font-size:small; display:inline; }
body.index div#content dl dd li.item p.excerpt { display:inline; }
body.index div#content dl dd li.item p.author { margin:0; font-size:x-small; }
body.index div#content dl dd li.item p.section { margin:0; }
body.index div#highlight { border:1px solid #983937; margin:10px 0; padding:10px; }
body.index div#highlight ul { list-style:none; margin:0; padding:0; }
body.index div#highlight ul li { clear:left; margin-top:10px; }
body.index div#highlight ul li.extra { margin-left:42px; }
body.index div#highlight ul li img { margin:2px 10px 2px 0; }

body.freshcomments div#content .cheader { font-weight:bold; }
#related {margin-top:5px;text-align:left;width:288px;padding:5px;font-size:11px;font-family:arial,sans-serif;line-height:1em;border:1px solid #666;}
#related a {font-weight:bold;}
div#flare {text-align:center;}
#authorbio {color:#666;font-size:small;line-height:120%;margin:1em 4em;}
#readmore {text-align:center;color:#983937;font-weight:bold;line-height:120%;margin:1em;border:1px solid #cfb898;clear:both;}

body.index div#content div.iblock {width:430px; margin:10px 0 10px 10px; background-color:#fff; }
body.index div#content div.iblock div.stitle {font-weight:bold; font-size:large;}
body.index div#content div.iblock div.stitle a {color:#000; text-decoration:none; }
body.index div#content div.iblock div.stitle2 {font-weight:bold; font-size:small; margin-top:1em; }
body.index div#content div.iblock div.sinfo {background-color:#f0e7da; padding:0; margin:0; bborder-left:5px solid #983937; padding-left:3px;}
body.index div#content div.iblock div.sinfo ul {ddisplay:inline; margin:0; padding:0;}
body.index div#content div.iblock div.sinfo ul li {display:inline; font-size:xx-small; border-left:1px solid #cfb898; margin:0 5px 0 0; padding:0 0 0 3px; }
body.index div#content div.iblock div.slist {margin:0; }
body.index div#content div.iblock div.slist ul {margin:0; padding:0; bborder:1px solid blue; list-style:circle inside;}
body.index div#content div.iblock div.slist ul li {margin:3px 0 3px 15px; font-size:small; text-indent:-15px;}
body.index div#content div.iblock div.slist div.slist ul {list-style:disc inside;}
body.index div#content div#fblock div.iblock {width:150px; margin:0 10px 10px 10px; padding:0; float:right; bborder:1px solid green;}
body.index div#content div#fblock div.iblock div.slist ul { list-style:square inside; }
body.index div#content div#fblock div.iblock div.slist ul li {margin:0 0 0 15px; }
body.index div#content div.iblock dl {padding:0; margin:0;}
body.index div#content div.iblock dl dt {background-color:#f0e7da; padding:0; margin:0; bborder-left:5px solid #983937; padding-left:3px; font-size:x-small;}
body.index div#content div.iblock div.slist dl dd {margin:0; bborder:1px solid green;}
body.index div#content div.iblock div.slist dl dd ul {llist-style:none;}

body.features div#content dt { margin-top:1em; font-weight:bold; font-size:large; }
body.features div#content dd { list-style:none; margin-left:0; text-indent:-1em; }
body.features div#content ul { list-style:none; margin-left:0; text-indent:0; padding-left:0; }
body.freshcomments div#content ul { list-style:none; margin-left:0; text-indent:0; padding-left:0; }
body.feeds div#content dl {margin:0; padding:0; }
body.feeds div#content dl dt {margin-left:1em; font-weight:bold; text-align:left;}
body.feeds div#content dl dd {text-align:left;}
body.feeds div#content ul {margin:0; padding:0; list-style:none; }
body.feeds div#content,body.feeds div#content p,body.feeds div#content a {font-family:'Trebuchet MS','Lucida Grande',Verdana,Lucida,Geneva,Helvetica,Arial,sans-serif;}
body.feeds div#content h1 {font-size: 36px;}
body.feeds div#content h3 {font-size: 18px;}
body.feeds .fbemail { float:right; width:50%; }
body.feeds .fbemail form { border:1px solid #ccc; padding:3px; text-align:center; }
body.feeds .fbemail form input.text { width:140px; }
body.writer div.narrowbox { width:225px; margin-bottom:5px; }
body.writer div.widebox {width:600px; margin-bottom:5px; clear:both; }
body.writer div.boxtitle {padding:5px 5px 0; border-bottom:1px solid #999; font-weight:bold; font-family:Georgia, serif; }
body.writer div.boxbody {margin-left:5px; padding:5px; font-family:Verdana, san serif; font-size:small; border-left:1px solid #999; }
body.writer div.boxbody img {float:left; margin:0 5px 5px 0; }
body.writer div#aBio div.boxbody {color:#666; font-size:x-small; }
body.writer div#aComments ul {list-style:none; padding:0; margin:0; }
body.writer li.aComment h3 {display:inline; }
body.writer li.aComment {margin-bottom:10px; }
body.writer .clist {font-size:small;}
body.writer .clist ul {list-style:none; margin-left:0; padding-left:1em; text-indent: -1em;}
body.writer .clist ul .cbody {font-weight:normal; font-style:italic;}
body.writer .clist ul li {font-weight:bold;}
body.writer .clist ul li a:link{font-weight:bold;}
body.writer .clist ul li a:hover{font-weight:bold;}
body.writer .clist ul li a:active{font-weight:bold;}
body.writer .clist ul li a:visited{font-weight:bold;}
body.writer div#content ol li { clear:both; font-size:small; margin-bottom:20px; }
body.writer div#content li.item { font-size:small; }
body.writer div#content li.item img.amazon { margin-right:10px; }
body.writer div#content li.item img.icon { float:right; margin-left:10px; }
body.writer div#content li.item h3 { font-size:small; display:inline; }
body.writer div#content li.item p.excerpt { display:inline; }
body.writer div#content li.item p.author { margin:0 0 0 50px; font-size:x-small; }

body.article div.attrib { color:#666; margin: 0 15px; }
body.article div.notice { width:550px; background-color:#cfb898; color:#983937; padding:.5em; }
##body.article dd.reddit { background-color:white; padding:8px 0 0 5px; }
##body.article dd.reddit iframe { background-color:red; height:1em; }
div.rssfwd { border-top:1px solid #983937; padding-top:.5em; font-size:small; font-style:italic; }

div.links {margin-bottom:1em; padding:0 10px 4px; font-size:small;}
div.links h3 {margin-bottom:0;margin-top:4px;}
div.links ul {margin:0; padding:0; list-style:none; padding-left:1em; text-indent: -1em;}
div.links span{font-size:xx-small;}
div.links span.aheader {font-size:small;}
div.links span.cheader {font-size:small;}
div.links span.cbody {font-size:small; font-style:italic; }
div#navigation div.spotlight {bborder-right:1px solid #cfb898;}

div#extra div.thanks {bborder-bottom:2px solid #983937; bborder-left:1px solid #cfb898;}
div#extra div.thanks ul {padding-bottom:10px; margin-bottom:1em; }
div#extra div.popular ul {padding-bottom:10px; bborder-bottom:2px solid #cfb898;}
div#navigation div.bcotd {text-align:center;bborder-right:1px solid #cfb898;}
div#navigation div.bcotm {text-align:center;bborder-right:1px solid #cfb898;}
div#navigation div.aotm {text-align:center;padding-bottom:10px; bborder-bottom:2px solid #cfb898;bborder-right:1px solid #cfb898;}
div.link {text-align:center;font-size:xx-small;}
div#extra div.topw div.link {padding-bottom:10px; margin-bottom:1em; bborder-bottom:2px solid #983937;}
ddiv#extra .adstrip { bborder-top:2px solid #983937;}

div#navigation div.archives {font-size:x-small;padding:0 15px 10px 20px; bborder-bottom:2px solid #983937;bborder-right:1px solid #cfb898;}
div#navigation div.archives h3 {font-size:medium;}
div#navigation div.archives p {display:inline; margin:0 0 0 2px; font-weight:bold;}
div#navigation div.archives ul {margin:0 0 5px 5px; padding:0; list-style:none; display:inline;}
div#navigation div.archives ul li {display:inline;}

div.comment { margin:0 2px 0 -1px; padding:4px; background: #fff url(/images/comment.gif) 0 0 no-repeat; }
div.comment .cheader { margin:0 30px; font-size:x-small; color:#444; }
div.comment .cheader a { color:#66c; }
div.comment .cbody { margin:0 5px; font-size:small; }

.adstrip{display:none; font-size:small;text-align:center;}
.adstrip_title{font-family:Times;font-style:italic;font-weight:normal;font-size:small;text-align:center;color:#000;}
ttd.adstrip_title{border-bottom:solid 1px #987;}
.blogad{text-align:left;width:160px;cursor:pointer;border:solid 1px #000;background:#fff;margin:auto auto;}
.blogad_headline{text-align:left;font-family:Times;border-spacing:0;color:#000000;font-weight:bold;font-size:medium;}
.blogad_thumbnail{text-align:center;border:none;border-spacing:0;}
.blogad_text{margin:0;font-family:Times;color:#000;border-spacing:0;font-size:small;}
.blogad_link{font-style:italic;font-family:Times;margin:0;color:#000;visibility:visible;font-weight:normal;}
a.blogad_link:link{font-size:small;text-decoration:underline;color:#000;}
a.blogad_link:visited{text-decoration:none;font-style:normal;font-size:small;color:#000;}
a.blogad_link:active{text-decoration:underline;color:#F00;}
a.blogad_link:hover{text-decoration:underline;color:#F00;}
.adstrip_link{font-family:Times;font-style:italic;font-weight:normal;font-size: small;color:#000;margin:0;}
a.adstrip_link:link{text-decoration:none;font-size:small;color:#000;}
a.adstrip_link:visited{font-style:normal;font-size:small;color:#000;}
a.adstrip_link:active{text-decoration:none;color:#F00;}
a.adstrip_link:hover{text-decoration:none;color:#F00;}

div.adspot { background-color:#fff; bborder-right:1px solid #cfb898; }
div.adspot_head { font-size:medium; letter-spacing: -0.04em; color:#333; text-align:center; font-weight:bold; margin-left:5px; margin-right:5px; }
div.adspot * ul { list-style:none; width:160px; margin:0; padding:0; margin-left:5px; }
div.adspot * li { bborder-top:1px solid #cfb898; border-bottom:1px solid #cfb898; text-align:left; width:100%; cursor:pointer; overflow:hidden; display:block; }
div.adspot * li span.adspot_adhead { text-align:center; font-weight:bold; }
a.adspot_adurl { font-family:Arial,sans-serif; font-size: 8pt; font-style:italic; text-align:left; text-decoration:none; color:#983937; }
a.adspot_adurl img { border:none; }
.adspot_adtext { font-family:Arial,sans-serif; font-size:8pt; color:#000; text-align:left; }
div.adspot * li span.adspot_adtext { text-align:right; color:#000; text-align:left; }
.adspot_link { font-face:Arial,sans-serif; font-size: 8pt; font-style:italic; text-align:center; text-decoration:none; color:#983937; }
.adspot_link:hover { background-color:#983937;color:#fff; }

#ad6 {clear:both; float:right; margin:5px 6px 5px 15px; }

.bumper {margin:0 0 0 5px; padding:0; font-size:130%;}
#footer .bumper {margin-left:174px;}

/* displays bottom */
.bumper1 {
	background: #fff url(/images/bumper.gif) 0 100% no-repeat;
	padding-bottom: 4px;
        margin-bottom: 10px;
	float: left;
	width: 600px;
	position: relative;
}

/* displays top */
.bumper2 {
	background: #fff url(/images/bumper.gif) 0 0 no-repeat;
	padding: 10px 0 6px 5px;
	float: left;
	width: 595px;
	color: #333;
}

.bumper dl {
	float: left;
	margin: 0 0 0 10px;
        padding:0;
	padding-right: 10px;
	width: 128px;
}
#ainfo.bumper dl {width: 172px;bborder:1px solid red;}

.bumper dl dd {
	margin: 0;
	padding: 3px 0;
	font-size: 85%;
}

.bumper dl dd a {
	font-size: 85%;
	line-height: 1;
}

.bumper dl dt {
        margin:0;padding:0;border:none;
	font-size: medium;
	font-weight: bold;
	letter-spacing: -0.02em;
}
