A:link {
	color: #990000;
	text-decoration: none;
}

A:visited {
	color: #CC0000;
	text-decoration: none;
}

A:active {
	color: #FF0000;
	text-decoration: none;
}

A:hover {
	color: #000066;
	text-decoration: none;
}

A.dark:link {
	color: #FFFFFF;
	text-decoration: none;
}

A.dark:visited {
	color: #FFFFFF;
	text-decoration: none;
}

A.dark:active {
	color: #FFFFFF;
	text-decoration: none;
}

A.dark:hover {
	color: #99CCFF;
	text-decoration: none;
}

TD {
	font-size: 12px;
	font-family : Verdana;
}

P {
	font-size: 12px;
	font-family : Verdana;
}

TD.dark {
	font-size: 11px;
	font-family : Verdana;
	color : #FFFFFF;
; background-color: #000066
}

P.dark {
	font-size: 12px;
	font-family : Verdana;
}

TD.smaller {
	font-size: 11px;
	font-family : Verdana;
	color : #000000;
}

P.smaller {
	font-size: 11px;
	font-family : Verdana;
	color : #000000;
}


.feature {  font-family: "Book Antiqua", "Bookman Old Style", serif; font-size: 14px; font-weight: bold; color: #000066}
.whitetext {  color: #FFFFFF}
.tinytext {  font-size: 8pt}
.navyText {  color: #000066}
.boxscore {  font-family: "Courier New", Courier, mono; font-size: x-small; background-image: url(graphics/news-bg.GIF); text-align: justify}
.centered_nav {  text-align: center; border-color: #000066 black; border-style: dashed; border-top-width: thin; border-bottom-width: thin}
h2 {
	font-size: large;
	font-weight: bold;
}
.quote {  color: #000066; margin-right: .5in; margin-left: .5in}
