body
{
	BACKGROUND-COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: x-small;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

td
{
	FONT-FAMILY: Arial;
	font-size: x-small;
	font-weight: normal;
	color: black;
}

b
{
	FONT-FAMILY: Arial;
    FONT-SIZE: x-small;
    FONT-WEIGHT: bold;
    color: #ad1202;	
}

h3
{
	FONT-FAMILY: Arial;
    FONT-SIZE: large;
    FONT-WEIGHT: bold;
    color: #ad1202;	
}

A:link	
{	
	text-decoration:	underline;
	color:	maroon;
}	
		
A:visited	
{	
	text-decoration:	underline;
	color:	maroon;
}	
		
A:active	
{	
	text-decoration:	underline;
	color:	maroon;
}