/* CSS Document */
#spacer_top{
   	width:800px;
   	height:10px;	
	padding: 0px;
	border: none;
	margin: 0px;
	background-color: #6699cc;
   	z-index:1;
}

#spacer_bottom{
   	width:800px;
   	height:10px;
	padding: 0px;
	border: none;
	margin: 0px;
	background-color: #336699;
   	z-index:2;
}

#header{
   width:760px;
   height:125px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	background-position: left center;
   z-index:3;
}

#side_spacer{
	width:20px;
	height:487px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: top;
	background-position: left top;
	z-index:4;
	background-color: #336699;
	background-repeat: no-repeat;
}

#navbar{
	width:760px;
	height:25px;
	padding: 0px;
	border: none;
	margin: 0px;
	background-position: left center;
	background-repeat: no-repeat;
	z-index:5;
	background-color: #FF9900;
}

#content_top{
   width:760px;
   height:10px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	background-position: left center;
   z-index:6;
}

#content{
	width:760px;
	height:365px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	background-position: left top;
	z-index:7;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	background-repeat: repeat;
	background-color: #FFFFFF;
}

#content_bottom{
   width:800px;
   height:9px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	background-position: left center;
   z-index:8;
}

#footer_spacer{
   width:20px;
   height:80px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	   background-color: #336699;
	background-position: left center;
   z-index:9;
}

#footer{
   width:760px;
   height:80px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	background-position: left center;
   z-index:10;
}

#footer_bottom{
   width:760px;
   height:4px;
	padding: 0px;
	border: none;
	margin: 0px;
	vertical-align: middle;
	background-position: left center;
   background-color: #003366;
   z-index:11;
}

#table_layout{
   width:800px;
   height:600px;
	padding: 0px;
	border: none;
	margin: 0px;
   z-index:12;
}
