A.example1
{
    BACKGROUND-COLOR: black
}

H1 {
	text-decoration:underline;
	color:#29166f;
	font-weight:bold;
	font-style:normal;
	font-size:20px; 
}
H2 {
	text-decoration:underline;
	color:#29166f;
	font-weight:bold;
	font-style:normal;
	font-size:18px; 
}
H3 {
	text-decoration:underline;
	color:#29166f;
	font-weight:bold;
	font-style:normal;
	font-size:16px; 
}
H4 {
	text-decoration:underline;
	color:#29166f;
	font-weight:bold;
	font-style:normal;
	font-size:14px; 
}