body {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	background-color: #3081d2;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}.table1 {
	height: 100%;
	width: 100%;
padding: 0px;
	text-align: center;
	vertical-align: top;
	margin-left: auto;
margin-right: auto;
}.table2 {
	margin: 0px;
	padding: 0px;
	width: 800px;
}.cellhead {
	margin: 0px;
	padding: 0px 20px;
	text-align: right;
	vertical-align: middle;
	background-image: url(images/header1.jpg);
	height: 125px;
	width: 740px;
	background-repeat: no-repeat;
}.cellmenu {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F4F4F4;
}.celltxt1 {
	padding: 4px 9px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
}.celltxt1sub {
	padding: 6px;
	text-align: left;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}.celltxt1subcent {
	padding: 6px;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}.celltxt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	background-color: #01066A;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333333;
	border-bottom-color: #333333;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
	font-weight: bold;
}.cellfoot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}.cellswf {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333333;
	border-bottom-color: #333333;
	padding: 1px;
	background-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	text-align: center;
	vertical-align: middle;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0033CC;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0033CC;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099FF;
	text-decoration: underline;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
a.white:link {
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a.white:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
}
a.white:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFCC;
	text-decoration: underline;
}

a.white:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
}.txtlrg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}.menustyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}.textboxstyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}.inputstyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
}.inputstyle1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 130px;
}.buttonup1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #000099;
	font-weight: bold;

}.white1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}.txt_simple {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}.whitebut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}.smalltxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}.cellmid {
	text-align: center;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}.tblbod {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 800px;
}.cellbodleft {
	margin: 0px;
	padding: 0px;
	width: 200px;
	text-align: center;
	vertical-align: top;
}
form {
	margin: 0px;
}.cellbodright {
	margin: 0px;
	padding: 0px 0px 0px 5px;
	height: auto;
	width: 580px;
	text-align: center;
	vertical-align: top;
}.cellbodrightinner {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 585px;
}.cbimid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 3px 10px 10px;
	text-align: left;
	vertical-align: top;
}.tblblock {
	margin-top: 5px;
	margin-bottom: 5px;
}.impad {
	margin: 5px;
}.headbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #003366;
	font-size: 12px;
}.box1 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #3081D2;
	border-bottom-color: #3081D2;
	border-left-color: #3081D2;
	padding: 3px 5px;
}
