H1  {}

H2  {}

H3  {}

A  {}

A:Link  {
	color : #004FFF;
}

A:Active  {
	color : #FFFFFF;
}

A:Visited  {
	color : #004FFF;
}

A:Hover  {
	color : #AA0000;
}

BODY  {
	background-image: url(../background/roughpaper.gif);
	color: #802F00;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 11pt;
}

P  {}

IMG.left  {
	float : left;
}

IMG.right  {
	float : right;
}

.navbar1 {
	background-image: url(../background/yellowish.gif);
	background-repeat: repeat-y;
}

.navbar2 {
	background-image: url(../background/brick.gif);
	background-repeat: repeat-y;
}

TD.heading  {
	background-color: #800000;
	color: #FFFF00;
	font-family: Times New Roman, Times, Serif;
	font-size: 13pt;
	font-weight: bold;
	padding-left: 5pt;
	text-align: left;
}

TD.contents  {
	margin-left : 10pt;
	color : #802F00;
	font-size : 11pt;
	text-align : left;
}

TD.relatedhead  {
	background-color: #666666;
	color: #C0C0C0;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

TD.relatedsub  {
	background-color: #CCCCCC;
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

TD.relatedinfo  {
	background-color: #CCCCCC;
	color: #000000;
	font-size: 9pt;
	padding-left: 8px;
	text-align: left;
}

TR.main  {
	color : #FFFF00;
	font-size : 10pt;
}

TR.related  {
	color : #000000;
	font-size : 10pt;
}

#copyright  {
	color : #802F00;
	font-size : 9pt;
	text-align : center;
}

#contacts  {
	color : #802F00;
	font-size : 11pt;
	text-align : center;
}

