body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCC99;
	color: #660000;
	margin: 0px;
	padding: 0px;



}

td {
	font-family: Arial, Helvetica, sans-serif;


}

th {
	font-family: Arial, Helvetica, sans-serif;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;

}
.mytables {
	border: thin double;
	list-style-type: disc;


}
h3 {
	font-size: 20px;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	color: #660000;



}
h4 {
	font-size: 18px;
	margin: 0px;
	padding: 0px;

}
p {
	font-size: 16px;
	top: 0px;
	margin: 0px;
	padding: 0px;


}
.textfortables {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	white-space: normal;
	vertical-align: top;
	border: none;


}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: capitalize;
	color: #660000;
	vertical-align: middle;
	text-align: center;
	white-space: normal;
	margin: 5px;
	padding: 0px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	margin: 0px;
	padding: 0px;
}
a {
	color: #660000;


}
.copyright {
	font-size: 9px;
}
li {
	text-align: left;
	text-indent: 0pt;
	list-style-type: disc;
	list-style-position: outside;
}
.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #660000;
	background-color: #CCCC99;

}
.textfortableswhite {

	font-size: 14px;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
	white-space: normal;
	vertical-align: top;
	border: none;
}
