BODY { margin-top: 30px;  margin-bottom: 30px; margin-left: 30px;  margin-right: 30px; font-family: times;  background: white; color: black;}

H1, H2, H3, H4, B { font-weight: bold }

EM { font-style: italic; font-weight: bold; color: maroon }

PRE { font-family: "Times New Roman"; font-size: 18px }

PRE { white-space: pre }

BLOCKQUOTE { font-family: "Arial"; font-size: 18px; margin-left: 40px; margin-right: 40px; line-height: 120% }

P { font-family: "Times New Roman"; font-size: 18px; text-indent: 25px; line-height: 120%}

.list { font-family: "Times New Roman"; font-size: 18px}

.quote { margin-top: 30px;  margin-bottom: 30px; margin-left: 50px; margin-right: 50px; font-family: "Arial"; font-size: 18px; text-align: justify; line-height: 120%}

A:link { font-family: "Times New Roman"; font-size: 18px; color: navy; text-decoration: none; font-weight: bold }
A:visited { font-family: "Times New Roman"; font-size: 18px; color: navy; text-decoration: none; font-weight: bold }
A:active { font-family: "Times New Roman"; font-size: 18px; color: navy; text-decoration: none; font-weight: bold }
A:hover { font-family: "Times New Roman"; font-size: 18px; color: red; text-decoration: none; font-weight: bold;}

.listref { font-family: "Times New Roman"; font-size: 18px; text-decoration: none; font-weight: bold; color: navy; padding: 5px;}

.listref:hover { font-family: "Times New Roman"; font-size: 18px; text-decoration: none; font-weight: bold; color: maroon; background: wheat; padding: 5px;}

A.NOBOLD { font-weight: normal } /*turn off bold for named anchors*/

A:hover { font-family: "Times New Roman"; font-size: 18px; color: maroon; text-decoration: none; font-weight: bold;}

H2 { margin-top: .2in; "Times New Roman"; font-size: 26px; font-style: italic; font-weight: bold; color: navy } /*Document Title*/

.header { font-family: "Times New Roman"; font-size: 26px; font-weight: bold; color: navy; text-align: center; font-style: italic }

H3 { font-family: "Times New Roman"; font-size: 20px; color: maroon } 

H4 { font-family: "Times New Roman"; font-size: 18px; color: maroon } 

EM.treaty { font: 15pt "Times New Roman"; font-weight: bold; color: maroon } /*treaty header*/

DIV.treaty { font: 15pt "Times New Roman"; font-weight: bold; color: maroon } /*treaty header*/

EM.letter { font: 13pt "Times New Roman"; font-weight: bold; color: green } /*initial letter or number in a paragraph or list*/

DIV.letter { font: 13pt "Times New Roman"; font-weight: bold; color: green } /*initial letter or number in a paragraph or list*/

DIV.sig { font: 13pt "Times New Roman"; text-align: justify } /*treaty signatures*/

DIV.sigimtdoc { font: 13pt "Times New Roman"; font-weight: bold; text-align: justify } /*IMT Signatures*/

.botmenu { margin-top: .2in; background-color: silver; background-image: url(../images/bg01a.jpg);}

.topmenu { background-color: silver; background-image: url(../images/bg01a.jpg);}

.inside { margin-top: .2in; background-color: silver;}

.nurn { background-color: teal }

.inner { background-color: silver; }

.contents {background-color: silver; background-image: url(../images/bg01a.jpg);}

.prevnext { background-color: silver; background-image: url(../images/bg01a.jpg);}

.prev {background-color: silver; background-image: url(../images/bg01a.jpg);}

.next {background-color: silver; background-image: url(../images/bg01a.jpg);}

.main { background-color: silver; background-image: url(../images/bg01a.jpg);}

.copyright { font-family: "Times New Roman"; font-size: 16px; font-weight: bold; font-style: italic; text-align: center }

.copytitle {color: maroon}

.malloyintro { font-family: "Times New Roman"; font-size: 18px; font-weight: bold; color: maroon }

.first { font-family: "Times New Roman"; font-size: 18px; font-weight: bold; color: maroon }

.docmenu {background-color: silver; background-image: url(../images/bg01a.jpg);}

.footnote { font-family: "Times New Roman"; font-size: 18px; color: maroon }

.copyright { font-family: "Times New Roman"; font-size: 16px; font-weight: bold; font-style: italic; text-align: center }

.copytitle {color: maroon}

.treaty { font-family: "Times New Roman"; font-size: 18px; font-weight: bold; color: darkgreen }

.article_num { font-family: "Times New Roman"; font-size: 20px; color: maroon } 

.para_num { font-family: "Times New Roman"; font-size: 20px; color: darkgreen } 

.preamble {}

.seealso { font-family: "Times New Roman"; font-size: 18px; font-weight: bold; color: red }

.copysearch { font-family: "Times New Roman"; font-size: 18px; font-weight: bold; color: maroon; }

.copyrightstate { font-family: "Times New Roman"; font-size: 16px; font-weight: bold; color: maroon; }

.first { font-family: "Times New Roman"; font-size: 18px; font-weight: bold; color: maroon }

.inside { margin-top: .2in; background-color: silver }

.source { font-family: "Times New Roman"; font-size: 16px; margin-top: .2in; background-color: lightblue; background-image: url(../images/bg01b.jpg);}

.docsignatures { font-family: "Times New Roman"; font-size: 18px; text-align: justify }

.inner { background-color: silver; }

.index {font-family: "Times New Roman"; font-size: 16px}

.footer {background-color: white; padding: 5px;}


