
	div#sub_pageheader {
		background: url("/resources/images/uss_sub_topimage.jpg") top right;; 
		height: 66px;
	}
			
	div#sub_pageheader form {
		padding: 0px 0;
		margin: 0;
	}
        
        div#sub_sub_pagenav {
		padding: 0px 0;
		margin: 0;
	}
	

	div#sub_pageheader select {
		width: 136px;
		font: 10px arial;		
		color: #636363;
		padding: 0;
	}
	
	.searchBox {
		width: 127px;
		font: 10px arial;		
		color: #636363;
		margin-right: 2px;
		padding: 1px 3px;
	}
	
	.formruler {
		margin: 5px 0;
		border-top: 1px solid #7C93C9;
		text-align: right;				
	}

	div#sub_pageheader_left {
		float:left;		
	}
	div#sub_pageheader_right {
		margin-left: 580px;
		padding-right: 15px;
		padding-top: 6px;
	}
	
	div#contentArea {
		clear: left;
		background: #FFF;
		overflow: visible;		
	} 
	
	div#leftCol {
		float: left;
		width: 140px;
		background: #FFF;
	}
	
	div#leftnav {
		background: #475B8C;
	}	
	
	div#center_rightColumn {
                background: #F7EDD2;
		margin-left: 140px;		
	}
	
	div#centerCol {
                margin-right: 185px;
		background: #FFF url("/resources/images/border-right.gif") repeat-y right;		
		padding: 10px 10px 50px 10px;		
	}
	div#rightCol {
                float: right;
		width: 180px;	
		padding-top: 30px;
	}
        
        	
