body {
  background: white;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0px;
  text-align: left;
}
span {
  color: #aaaaaa;
  font-size: 10px;
  font-style: italic;
}
div {
  background: #ffccba;
  border: 5px solid #e58080;
  margin: 30px;
  padding: 0px;
}
h1 {
  color: #0042ae;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
}
h2 {
  color: #0072de;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}
div h2 {
  color: #b22222;
  margin-top: 10px;
}
h3 {
  color: #0082ee;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}
div h3 {
  color: #b22222;
  margin-top: 10px;
}
h4 {
  color: #0082ee;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: left;
}
div h4 {
  color: #b22222;
  margin-top: 10px;
}
h5 {
  color: #0082ee;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 15px;
  text-align: left;
}
div h5 {
  color: #b22222;
  margin-top: 10px;
}
h6 {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 0px;
  text-align: left;
}
p {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
}
p.em {
  color: #b22222;
  font-weight: bold;
}
em {
  color: #b22222;
  font-style: normal;
  font-weight: bold;
}
div p {
  color: #b22222;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
table {
  border: 0px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
}
td {
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  vertical-align: top;
}
th {
  color: #0082ee;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  text-align: left;
  vertical-align: top;
}
th.big {
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
}
tr.grey {
  background: #e0f0ff;
}
img {
  border: 0px;
}
hr {
  border-color: #0072de;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 25px;
  margin-top: 25px;
}
