body, p, h1, h2, h3, h4, h5, h6, ul, dl, ol, li, td, th, blockquote, form {text-align: left; font-family: sans-serif; color:navy;}

body, p, ul, dl, ol, li, a, blockquote {font-size:10pt;}

body, input {background-color:white;}

h1 {font-size:18pt;}
h2 {font-size:16pt;}
h3 {font-size:14pt;}
h4 {font-size:12pt;}

td, th {font-family:sans-serif; color:navy; vertical-align:top; font-size:10pt;}

a:link, a:visited { color: navy; text-decoration: underline; }
a:hover { color: red; }

.title {font-size:24pt;color:red}
.subtitle {font-size:16pt;color:red}

sup {font-size:10pt;}

.section {background-color:red;color:white;font-size:18pt;text-align:center;}
.subsection {background-color:silver;color:navy;font-size:16pt;text-align:left;}

.gold {background-color:gray;color:gold;font-size:18pt;}
.silver {background-color:gray;color:#E7E7E7;font-size:18pt;}
.bronze {background-color:#E7E7E7;color:brown;font-size:18pt;}
