BODY {
	margin-top: 0px;
}
BODY, TABLE {
	font-size:   10pt;
	font-family: Arial;
	color:  #000000;
}


A:link {
	color: #0000CC;
}
A:visited  { 
	color: #000099;
}
A:active {
	color: #FF0000;
}

TD.vertical_group {
	border-collapse: collapse; 
	vertical-align: top;
}

.name_cell {
	font-weight: bold;
}





/* ------------ NAV HEADER 1 ------------- */
.level1Header { font-weight: bold; }
.level1Header a { white-space: nowrap; color: #ffffff !important; }

/* ------------ NAV HEADER 2 ------------- */
TD.level2HeaderLeft{
	padding-top:    2px; 
	padding-bottom: 3px; 
	padding-left:  26px;
}
TD.level2Header {
        padding-top:    2px;
        padding-bottom: 3px;
        padding-left:  51px;
}
.level2Header a { white-space: nowrap; color: #ffffff !important; }
.level2Header   { color: #FFFFFF; }


/* ------------ NAV HEADER 3 ------------- */
.level3Header {
        padding-top: 2px;
        padding-bottom: 3px;
        background-color: #F2EFF8; /*note: color may be overridden below*/
}
a.level3Header {
	background-color: transparent;
}
.level3Header, a.level3Header {
        color: #999966; /*note: color may be overriden below*/
}
td.level3HeaderLeft {
        padding-left: 86px;
}
td.level3HeaderRight {
        text-align: right;
}
.level3HeaderColorBar {
	height: 4px;
}
.level3HeaderSearch {
        font-size: 10px;
        vertical-align: middle;
}








/* ----------------- EDUCATION SECTION --------------- */

.browseTitle {
  font-weight: bold;
  font-size: 105%;
  padding-top: 0px;
  white-space: nowrap;
}

.browseDescription {
  font-size: 85%;
  margin-top: 2px;
  margin-left: 7px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  color: #333333;
}

.browseResult {
  padding: 0px;
}

.browseResult a {
  text-decoration: none;
}

.browseNavigation {
  vertical-align: bottom;
  padding-top: 12px;
  padding-right:4px;
  padding-bottom: 0px;
  width:100%;
  text-align: right;
}

.lastPage, .firstPage, .nextPage, .previousPage, .pageCount {
  padding-right: 5px;
  padding-left: 5px;
}

.breadcrumbs {
  font-weight: bold;
  font-size: 100%;
  padding-left: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
}

BODY.education hr {
  width: 0px;
  height: 0px;
}
/* ----------------- EDUCATION SECTION --------------- */













/* ------------- Contribution Stuff ------------------ */
OL.uploadInfo LI {
	font-size:24px;font-weight:bold;margin-bottom:50px;
}

OL.uploadInfo LI P {
	font-size:10pt; font-weight:normal;
}

P.statusMessage {
	background-color:#ffe;
	padding:6px;
	margin:25px;
	margin-top:10px;
	border:1px solid #000000;
}

/* ------------- Details pages ------------------ */
TABLE.fileFormats {
	border-collapse:collapse;
	width: 100%;
}
TABLE.fileFormats TD {
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 3px;
	border: 1px solid #AAAAAA;
	text-align:center;
}
TABLE.fileFormats TD.fileTitle {
	text-align:left;
}
TABLE.fileFormats TD.fileTitleHeader {
	text-align:left;
	font-weight:bold;
}

TABLE TD.derivativeFile {
	color:#AAAAAA;
	font-size:7pt;
}
TABLE TD.originalFile {
	color:#000000;
	padding-top:10px;
	font-weight:bold;
	border-top: 2px solid #000000;
}




TABLE.headerTable {
	width:100%;
}

TABLE.headerTable TD {
	background-color:#385C74;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
}

TABLE.subHeaderTable {
	width:100%;
}

TABLE.subHeaderTable TD {
	background-color:#92AED3;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
}

.infoHeader TD {
	background-color:#c0c0c0;
	color: #385C74;
	font-weight:bold;
}

TD.rightAlign {
	text-align:right;
	width:300px;
}

.authText, .authText A, .authText A:visited {
	color:#00AA00;
}




/* ------------- Forums ------------------ */

table.forumTable tr.forumRowHead { padding-bottom:1px; padding-left:5px; 
                                   padding-right:5px; }
table.forumTable tr.forumRowHead td { color:#fff; 
                                      font-weight:bold; font-size:10pt; }
table.forumTable tr.forumRow { padding-bottom:1px; padding-left:5px; 
                               padding-right:5px; 
                               background-color: #fff; }
table.forumTable td { color:#000; font-size:9pt; }





/* ------------- Search results ------------------ */
TABLE.searchResults {	
	font-family: Arial; 
	width:100%;
}

TABLE.searchResults TD {
	padding:5px;
}

TABLE.searchResults TABLE.resultsTable {
	width:100%;
}

TABLE.searchResults TD.resultsCell {
	vertical-align:top;
}

TABLE.searchResults TR.hitRow TD {
	padding-top:20px;
}

TABLE.searchResults TD.hitCell {
	border-bottom: 1px solid #c0c0c0;
	vertical-align:top;
}

TABLE.searchResults TD.thumbCell {
	border-bottom: 1px solid #c0c0c0;
	vertical-align:top;
	width:80px;
	text-align:right;
}

TABLE.searchResults TD.numberCell {
	padding-left:20px;
	vertical-align:top;
}

TABLE.searchResults TD.headerRow {
	font-size: 18pt; 
	font-weight: bold; 
	margin: 0px;
	padding-bottom:0px;
}

TABLE.searchResults TD.infoCell {
	font-size: 8pt;
	padding-left:10px;
	padding-top:0px;
}

TABLE.searchResults A.titleLink {
	font-weight:bold;
}

TABLE.searchResults TD.pageRow {
	text-align:center;
	padding-top:20px;
	font-size:12pt;
	font-weight:bold;
}

TABLE.searchResults TD.pageRow A {
	text-decoration:none;
}

TABLE.searchResults TD.relatedInfoCell {
	padding-top:20px;
	vertical-align:top;
	width:200px;
	padding-left:20px;
}

TABLE.searchResults TD.relatedInfoCell TABLE {
	border:#c0c0c0 solid 1px;
	width:100%;
	margin-bottom: 10px;
}

TABLE.searchResults TD.searchBox {
	vertical-align:bottom;
	text-align:center;
	padding-left:20px;
}

TABLE.searchResults TR.groupBy TD {
	padding-top:20px;
	font-weight:bold;
}

DIV.centerDiv {
	text-align:center;
}

TR.moreGroupBy TD {
	text-align:right;
	padding-top:20px;
	font-style:italic;
}

.minorHeader {
	font-weight:bold;
}

.searchTerm {
	font-weight:bold;
	padding:1px;
	background-color: #ccccff;
}

/* ------------- Form Constructor ------------------ */
TABLE.formConstructor TH {
	text-align:left;
	padding:3px;
	padding-bottom:15px;
}
TABLE.formConstructor TD {
	padding:3px;
}
TABLE.formConstructor TD.requiredField {
	font-weight:bold;
	vertical-align:top;
	padding-right:20px;
}
TABLE.formConstructor TD.optionalField {
	vertical-align:top;
	padding-right:20px;
}
TABLE.formConstructor TD.errorField {
	font-weight:bold;
	vertical-align:top;
	padding-right:20px;
	color:#ff0000;
}
TABLE.formConstructor TD.errorDescription {
	font-size:8pt;
	font-style:italic;
	padding-bottom:20px;
	text-align:left;
	color:#ff0000;
}
TABLE.formConstructor TD.descriptionCell {
	font-size:8pt;
	vertical-align:top;
	width:200px;
	padding-right:20px;
}



/* ******************************************************************  */
/*                          Mediatype colors                           */
/* ******************************************************************  */
body.Home       { background-color: #FFFFEE;}
body.Texts      { background-color: white;}
body.Admins     { background-color: #FFFEF9;}
body.Audio      { background-color: #F1FBFD;}
body.Movies     { background-color: #EEFFEE;}
body.Patron     { background-color: #F2EFF8;}
body.Web        { background-color: #F5FEF9;}
body.Education  { background-color: white;}

body.Home       .headerAt,body.Home       .level1Header{color:#CCCC99 !important}
body.Texts      .headerAt,body.Texts      .level1Header{color:#C33C36 !important}
body.Admins     .headerAt,body.Admins     .level1Header{color:#F8DA68 !important}
body.Audio      .headerAt,body.Audio      .level1Header{color:#92AED3 !important}
body.Movies     .headerAt,body.Movies     .level1Header{color:#339933 !important}
body.Patron     .headerAt,body.Patron     .level1Header{color:#9683FB !important}
body.Web        .headerAt,body.Web        .level1Header{color:#5DBF66 !important}
body.Education  .headerAt,body.Education  .level1Header{color:#92AED3 !important}

body.Home       .level2Header        { background-color: #999966;}
body.Texts      .level2Header        { background-color: #93092D;}
body.Admins     .level2Header        { background-color: #DBC033;}
body.Audio      .level2Header        { background-color: #385C74;}
body.Movies     .level2Header        { background-color: #115500;}
body.Patron     .level2Header        { background-color: #6B4E96;}
body.Web        .level2Header        { background-color: #6F9073;}
body.Education  .level2Header        { display: none;}

body.Home      .level3HeaderColorBar { background-color: #CCCC99;}
body.Texts     .level3HeaderColorBar { background-color: #C33C36;}
body.Admins    .level3HeaderColorBar { background-color: #F8DA68;}
body.Audio     .level3HeaderColorBar { background-color: #92AED3;}
body.Movies    .level3HeaderColorBar { background-color: #339933;}
body.Patron    .level3HeaderColorBar { background-color: #9683FB;}
body.Web       .level3HeaderColorBar { background-color: #5DBF66;}
body.Education .level3HeaderColorBar { background-color: #9966FF;}

body.Texts      td.level3Header      { background-color: #D8DEDE;}
body.Admins     td.level3Header      { background-color: #F2EFF8;}
body.Audio      td.level3Header      { background-color: #D8DEDE;}
body.Movies     td.level3Header      { background-color: #D8DEDE;}
body.Patron     td.level3Header      { background-color: #E2DFE8;}
body.Web        td.level3Header      { background-color: #F2EFF8;}
body.Education  td.level3Header      { background-color: #D8DEDE;}

body.Home       .level3Header, body.Home       a.level3Header { color: #999966;}
body.Texts      .level3Header, body.Texts      a.level3Header { color: #93092D;}
body.Admins     .level3Header, body.Admins     a.level3Header { color: #DBC033;}
body.Audio      .level3Header, body.Audio      a.level3Header { color: #385C74;}
body.Movies     .level3Header, body.Movies     a.level3Header { color: #115500;}
body.Patron     .level3Header, body.Patron     a.level3Header { color: #6B4E96;}
body.Web        .level3Header, body.Web        a.level3Header { color: #6F9073;}
body.Education  .level3Header, body.Education  a.level3Header { color: #385C74;}


body.Home      .color1     {            color: #999966; }
body.Home      .backColor1 { background-color: #999966; }
body.Home      .backColor2 { background-color: #CCCC99; }

body.Texts     .color1     {            color: #93092D; }
body.Texts     .backColor1 { background-color: #93092D; }
body.Texts     .backColor2 { background-color: #C33C36; }

body.Movies    .color1     {            color: #115500; }
body.Movies    .backColor1 { background-color: #115500; }
body.Movies    .backColor2 { background-color: #339933; }

body.Audio     .color1     {            color: #385C74; }
body.Audio     .backColor1 { background-color: #385C74; }
body.Audio     .backColor2 { background-color: #92AED3; }

body.Patron    .color1     {            color: #6B4E96; }
body.Patron    .backColor1 { background-color: #6B4E96; }
body.Patron    .backColor2 { background-color: #9683FB; }
   
body.Admins    .color1     {            color: #DBC033; }
body.Admins    .backColor1 { background-color: #DBC033; }
body.Admins    .backColor2 { background-color: #F8DA68; }

body.Web       .color1     {            color: #6F9073; }
body.Web       .backColor1 { background-color: #6F9073; }
body.Web       .backColor2 { background-color: #5DBF66; }

body.Education .color1     {            color: #6600CC; }
body.Education .backColor1 { background-color: #6600CC; }
body.Education .backColor2 { background-color: #9966FF; }

/* ******************************************************************  */
/*                          Mediatype colors                           */
/* ******************************************************************  */




/* ******************************************************************  */
/*                                                                     */
/* LAYOUT COMPONENTS for Layout class (in ../../common/Layout.inc)     */
/*                                                                     */
/* ******************************************************************  */
/* note if you add new mediatype/class here update mediatypeToCSS() in:
     ../../common/setup.php
*/

div.box {
  text-align: left;
  border: 2px solid #999966;
  padding-left: 5px; padding-right: 5px;
  padding-bottom:5px;
  margin:10px;
  background-color:#ffffff;
}
div.box h1 {
  text-align: left;
  margin-left:-5px; margin-right:-5px; margin-top:0px; margin-bottom:5px;
  padding:5px;
  font-size:10pt;
  font-weight: bold;
  background-color: #999966; color:#ffffff;
}
div.box h2 {
  text-align: left;
  margin-left:-5px; margin-right:-5px; margin-top:5px; margin-bottom:5px;
  padding:5px;
  font-size:10pt;
  font-weight: bold;
  background-color: #CCCC99; color:#ffffff;
}
div.box h1 a, div.box h2 a {
  color: #ffffff;
}
div.box img.stretch {
  /* make it so images "expand" to fill "box" properly */
  margin-left:-5px; margin-right:-5px;
}



/* Simple one, two, and three column page setup elements */
/* Always use id="col2" for center, and use col1 and col3 as desired! */
/* Output div with id="col3" FIRST as it floats right */
div#col1   {
  width: 200px;
  float: left;
  margin-left:10px;

  /* this clips long urls in mozilla */
  overflow: hidden;
  /* this wraps long urls in IE */
  word-wrap: break-word;
}
div#col2 {
  margin-left: 210px;
  margin-right:210px;

}
div#col3  {
  width: 200px;
  float: right;
  margin-right: 10px;

  /* this clips long urls in mozilla */
  overflow: hidden;
  /* this wraps long urls in IE */
  word-wrap: break-word;
}




/* mediatype/nav-area overrides to default "Home" colors */
body.Texts     div.box    {     border-color: #93092D; }
body.Texts     div.box h1 { background-color: #93092D; }
body.Texts     div.box h2 { background-color: #C33C36; }
   
body.Movies    div.box    {     border-color: #115500; }
body.Movies    div.box h1 { background-color: #115500; }
body.Movies    div.box h2 { background-color: #339933; }
   
body.Audio     div.box    {     border-color: #385C74; }
body.Audio     div.box h1 { background-color: #385C74; }
body.Audio     div.box h2 { background-color: #92AED3; }
   
body.Patron    div.box    {     border-color: #6B4E96; }
body.Patron    div.box h1 { background-color: #6B4E96; }
body.Patron    div.box h2 { background-color: #9683FB; }
   
body.Admins    div.box    {     border-color: #DBC033; }
body.Admins    div.box h1 { background-color: #DBC033; }
body.Admins    div.box h2 { background-color: #F8DA68; }

body.Web       div.box    {     border-color: #6F9073; }
body.Web       div.box h1 { background-color: #6F9073; }
body.Web       div.box h2 { background-color: #5DBF66; }

body.Education div.box    { border: 2px solid #6600CC; }
body.Education div.box h1 { background-color: #6600CC; }
body.Education div.box h2 { background-color: #9966FF; }



/* note if you add new mediatype/class here update mediatypeToCSS() in:
     ../../common/setup.php
*/
/* ******************************************************************  */
/*                                                                     */
/* LAYOUT COMPONENTS for Layout class (in ../../common/Layout.inc)     */
/*                                                                     */
/* ******************************************************************  */





.urge {
  font-size: 8pt;
  font-weight: bold;
  color: red;
  padding-left: 3px;
  padding-right: 3px;
}

/* even more urging than urge (background + border) */
.urge2 {
  font-size: 8pt;
  font-weight: bold;
  color: red;
  background-color:yellow;
  border:1px solid;
  margin:10px;
  padding:5px;
}

.rect {
  font-style:normal;
  font-weight:bold;
  border: 1px solid;
  padding: 2px;
}

/* bookmarks stuff */
a.userLink {
 color:#7777ff;
 background-color:#ffff33;
}
a.userLinkLight {
 color:#7777ff;
 background-color:#ffff77;
}
a.userLinkLight2 {
 color:#7777ff;
 background-color:#ffff99;
}
a.userLink:hover {
 background-color:#aaaaff;
}
a.userLinkLight:hover {
 background-color:#aaaaff;
}
a.userLinkLight2:hover {
 background-color:#aaaaff;
}


/* ------- hover (typically for help blocks) stuff by tracey -------- */
.showOnHover
  { display:none; }
span.hoverShower:hover .showOnHover
  { display:inline; z-index:100; position:absolute; width:500px; }

.catHidden, .catHidden
  { display:none; }
span.catHover:hover .catHidden
  { display:inline; z-index:100; position:absolute; width:500px; margin-left:-508px; padding:2px; color:black !important; background-color:white; border: 2px solid black; letter-spacing:-0.15em; white-space: normal; }
span.catHover2:hover .catHidden
  { display:inline; z-index:100; position:absolute; width:125px; padding:2px; color:black !important; background-color:white; border: 2px solid black; white-space: normal; }
/* ------- hover (typically for help blocks) stuff by tracey -------- */



table.sleek {
  font-size: 8pt;
  background-color:#ffffff; 
  margin:0px; 
  border-collapse: collapse; 
  border: 2px solid #666666;
}

table.sleek td {
  padding-left:2px; padding-right:2px; color:black;
}
