/* ////////////////////////////////// GLOBAL NAV START //////////////////////////////// */

#globalnavmain {
	z-index: 5;
	/*display: block;*/
	position: relative;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 744px;
	height: 18px;
	top: 0;
	color: #FAF6D1;
	}

.globalnavlink a{
	z-index: 5;
	color: #FAF6D1;
	text-decoration: none;
	}

.globalnavlink a:hover{
	z-index: 5;
	color: #982E1D;
	text-decoration: none;
	}

/* ////////////////////////// GLOBAL NAV TOP LEVEL ITEMS ///////////////////////////// */

#welcome {
	z-index: 5;
	position: relative;
	display: block;
	float: left;
	width: 97px;
	height: 18px;
	padding-top: 5px;
	text-align: right;
	}

/* ///////////////////////// 2ND LEVEL NAVIGATION ITEMS ///////////////////////////// */

#globalnavsubs {
	z-index: 5;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 735px;
	height: 0;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #FAF6D1;
	}

#academicssub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: -4px;
	float: left;
	width: 240px;
	margin: 0;
	}

#futurestudentssub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 64px;
	float: left;
	width: 165px;
	margin: 0;
	}

#currentstudentssub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 228px;
	float: left;
	width: 141px;
	margin: 0;
	}

#facultystaffsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 368px;
	float: left;
	width: 132px;
	margin: 0;
	}

#alumnisub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 460px;
	float: left;
	width: 151px;
	margin: 0;
	}

#familyvisitorssub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 609px;
	float: left;
	width: 131px;
	margin: 0;
	}

/* ///////////////////////// MAIN 3RD NAVIGATION ITEMS ///////////////////////////// */
#libartssubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 230px;
	float: left;
	width: 180px;
	padding-top: 0px;
	}

#profstudsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 230px;
	float: left;
	width: 180px;
	padding-top: 19px;
	}

#biblesubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 230px;
	float: left;
	width: 140px;
	padding-top: 38px;
	}

#gradprogssubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 230px;
	float: left;
	width: 140px;
	padding-top: 57px;
	}

#gradadmissionssubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 226px;
	float: left;
	width: 140px;
	padding-top: 19px;
	}
	
#campsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 226px;
	float: left;
	width: 140px;
	padding-top: 77px;
	}
	
#campsagainsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 470px;
	float: left;
	width: 140px;
	padding-top: 183px;
	}
	
#involvementsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 366px;
	float: left;
	width: 150px;
	padding-top: 0px;
	}
	
#spiritualsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 366px;
	float: left;
	width: 150px;
	padding-top: 19px;
	}
	
#onlinesubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 366px;
	float: left;
	width: 150px;
	padding-top: 38px;
	}
	
#academicressubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 366px;
	float: left;
	width: 150px;
	padding-top: 57px;
	}
	
#servicessubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 366px;
	float: left;
	width: 210px;
	padding-top: 76px;
	}
	
#facservicessubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 496px;
	float: left;
	width: 210px;
	padding-top: 0px;
	}
	
#alumniassocsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 608px;
	float: left;
	width: 120px;
	padding-top: 0px;
	}
	
#alumniservicessubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 608px;
	float: left;
	width: 150px;
	padding-top: 126px;
	}

/* ///////////////////////// MAIN 4TH NAVIGATION ITEMS ///////////////////////////// */	
#commfineartssubsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 405px;
	float: left;
	width: 150px;
	padding-top: 0px;
	}
#natscisubsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 405px;
	float: left;
	width: 150px;
	padding-top: 87px;
	}
#bibstudsubsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 365px;
	float: left;
	width: 150px;
	padding-top: 38px;
	}
#planningassessmentsubsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 702px;
	float: left;
	width: 150px;
	padding-top: 38px;
	}
#marcomsubsubsub {
	z-index: 5;
	display: block;
	visibility: hidden;
	position: absolute;
	left: 620px;
	float: left;
	width: 150px;
	padding-top: 22px;
	}
	

/* ///////////////////////// GLOBAL NAVIGATION VALUES ///////////////////////////// */

.subnav {
	}

.subnav ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	border: 0;
	}
	
.subnav ul li {
	border-bottom: 1px solid #BC9B4F;
	border-right: 1px solid #BC9B4F; 
	border-left: 1px solid #BC9B4F;
	background-color: #FAF6D1;
	margin: 0;
	padding: 0;
	}
	
.subnav ul li.first {
	border: 1px solid #881618;
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
	}
	
.subnav ul li a {
	display: block;
	margin: 0;
	padding: 3px 3px 3px 3px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #183864;
	text-decoration: none;
	}
	
.subnav ul li a:hover {
	color: #FAF6D1;
	background-color: #881618;
	}
	
.subnav ul li ul {
	list-style-type: none;
	list-style-image: none;
	}
	
.subnav ul li ul li{
	background-color: #E5E5E5;
	}
	
.subnav ul li ul li a {
	display: block;
	border-bottom: 1px solid #881618;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #881618;
	background-color: #ccc;
	text-decoration: none;
	}
	
.subnav ul li ul li a:hover {
	color: #FAF6D1;
	background-color: #881618;
	}

.menuarrow {
	background: transparent url(/lcu/images/menuarrow.gif) no-repeat;
	background-position: right;
	}

/* ///////////////////////////////// GLOBAL NAV END /////////////////////////////// */

#header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border-top: 1px solid #FAF6D1;
	border-bottom: 1px solid #FAF6D1;
	width: 735px;
	height: 72px;
	}

#header img {
	border: 0;
	}
	
#sectiontitletopbar { /*Blue bar above section title */
	margin-left: auto;
	margin-right: auto;
	width: 735px;
	height: 5px;
	background-color: #881618;
	}

#sectiontitle {
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0;
	width: 735px;
	height: 36px;
	background: transparent url(/wwwimages/template/section-title-bg.gif) no-repeat;
	}

#sectiontitle h1 {
	margin: 0;
	padding: 6px 0 0 179px;
	font: normal 18px Verdana, Arial, Helvetica, sans-serif;
	color: #881618;
	}