/*bogus link for NS6 bug - doesn't recognize the first style in the style sheet*/
.bogus {
color: #868686;
text-decoration: none;
}

.bogus:hover {
color: #868686;
text-decoration: none;
}

body, td {
color: #000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 10;
margin-bottom: 0;
margin-left: 10;
line-height: 1.3em;
}

a:link {
color: #990000;
text-decoration: underline
}

a:visited {
color: #990000;
}

a:hover {
color: #FF0000;
}

#large{color: #000;font-size:21px;line-height: 1.2em;font-weight:bold;font-family: Verdana, Helvetica, sans-serif; text-transform: uppercase}
#large a {color: #000;text-decoration: none;}
#large a:link, #large a:visited{color: #990000;text-decoration: none;}
#large a:hover{color: #990000;text-decoration: underline;}

#head {
color: #000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#blogname{ 
color: #990000; 
font-size: 11px; 
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
line-height: 1em;
}

#blogname a {
color: #990000;
text-decoration: none
}

#blogname a:hover {
color: #990000;
text-decoration: underline
}

#blogname a:visited {
color: #990000;
text-decoration: none
}

#blogprev{ 
color: #000; 
font-size: 10px; 
font-family: Arial, Helvetica, sans-serif;
line-height: 1em;
}

#blogprev a {
color: #000;
text-decoration: none
}

#blogprev a:hover {
color: #000;
text-decoration: underline
}
#blogprev a:visited {
color: #000;
text-decoration: none
}

#blogdate{ 
color: #666666; 
font-size: 9px; 
font-family: Arial, Helvetica, sans-serif;
line-height: 1.1em;
}

#blogdate a {text-decoration: none}
#blogdate a:hover {text-decoration: none}
#blogdate a:visited {text-decoration: none}

#tabs {
color: #FFFFFF;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}


#section {
color: #000;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#copy {
font-size: 12px;
color: #000;
}

#copy a {
color: #990000;
text-decoration: underline
}

#copy a:hover {
color: #FF0000;
text-decoration: underline
}

#bcopy {
font-size: 10px;
color: #000;
}

#bcopy a {
color: #000;
text-decoration: none
}

#bcopy a:hover {
color: #FF0000;
text-decoration: underline
}

.button {
border-bottom:thin solid #000000;
border-right:thin solid #000000;
border-top:thin solid #FFFFFF;
border-left:thin solid #FFFFFF;
background: #840800;
color:#F0F0F0;
font-weight:bold;
cursor:hand;
}

#big {
font-size: 14px;
color: #000;
line-height: 1.3em;
}

#big a {
color: #990000;
text-decoration: underline
}

#big a:hover {
color: #FF0000;
text-decoration: underline
}

#medium {
font-size: 12px;
color: #000;
line-height: 1.2em;
}

#medium a {
color: #FF0000;
text-decoration: underline
}

#medium a:hover {
color: #ff3300;
text-decoration: underline
}

#yellowbold {
font-size: 14px;
color: #ffff66;
font-weight: bold;
}

#whitebold {
font-size: 16px;
color: #ffffff;
font-weight: bold;
}

.box {
font-family:arial;
font-size:11px;
width:90px;
}

#navlist ul {
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:2px;
padding-left:0em;
list-style: square;
color: #000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}

.byttl {
color: #000;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

ul.sample
 {
list-style-type: none;
padding: 0;
margin: 0;
}

.sample li
 {
background-image: url(http://www.nysun.com/bullet/bullet5.gif);
background-repeat: no-repeat;
background-position: 0 .4em;
padding-left: .6em;
line-height: 1.2em;
}

.article {
font-size:1.2em 
line-height: 1.4em;
}

.article a {
color: #990000;
text-decoration: underline
}

.article a:hover {
color: #FF0000;
text-decoration: underline
}

.article_small {
font-size:1.1em 
}

.article_small a {
color: #990000;
text-decoration: underline
}

.article a:hover {
color: #FF0000;
text-decoration: underline
}

#textSizer
 {
width:100%;
background-repeat:repeat-x;
line-height: 1.4em;
}

#textSizer a {
color: #990000;
text-decoration: underline
}

#textSizer img
 {
cursor:hand;
}

.firsttopheadline {
color: #000;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.firsttopheadline a {
color: #990000;
text-decoration: none
}

.firsttopheadline a:hover {
color: #FF0000;
text-decoration: underline
}

.topheadline {
color: #000;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.topheadline a {
color: #990000;
text-decoration: none
}

.topheadline a:hover {
color: #FF0000;
text-decoration: underline
}

#headline {
color: #000;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#headline a {
color: #990000;
text-decoration: none
}

#headline a:hover {
color: #FF0000;
text-decoration: underline
}

.headline {
color: #000;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.headline a {
color: #990000;
text-decoration: none
}

.headline a:hover {
color: #FF0000;
text-decoration: underline
}

#headline6 {
color: #000;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#headline6 a {
color: #990000;
text-decoration: none
}

#headline6 a:hover {
color: #FF0000;
text-decoration: underline
}

.headline6 {
color: #000;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.headline6 a {
color: #990000;
text-decoration: none
}

.headline6 a:hover {
color: #FF0000;
text-decoration: underline
}

#headline5 {
color: #000;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#headline5 a {
color: #990000;
text-decoration: underline
}

#headline5 a:hover {
color: #FF0000;
text-decoration: underline
}

.headline5 {
color: #000;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.headline5 a {
color: #990000;
text-decoration: underline
}

.headline5 a:hover {
color: #FF0000;
text-decoration: underline
}

#breakheadline {
color: #990000;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#breakheadline a {
color: #990000;
text-decoration: none
}

#breakheadline a:hover {
color: #FF0000;
text-decoration: underline
}

#breakheadlinemid {
color: #000000;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#breakheadlinemid a {
color: #000000;
text-decoration: none
}

#breakheadlinemid a:hover {
color: #333333;
text-decoration: underline
}

.breakheadline {
color: #000;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.breakheadline a {
color: #990000;
text-decoration: none
}

.breakheadline a:hover {
color: #FF0000;
text-decoration: underline
}

#headline3 {
color: #000;
font-size:17px;
font-weight:bold;
font-family: Verdana, Helvetica, sans-serif;
text-transform: uppercase
line-height: 1.2em;
}

#headline3 a {
color: #000;
text-decoration: none;
}

#headline3 a:link, 
#headline3 a:visited {
color: #990000;
text-decoration: none;
}

#headline3 a:hover {
color: #FF0000;
text-decoration: underline;
}

#headline2 {
color: #000;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#headline2 a {
color: #990000;
text-decoration: none
}

#headline2 a:hover {
color: #FF0000;
text-decoration: underline
}

#day1 {
color: #FF0000;
font-size: 23px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#day2 {
color: #FF0000;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#byline {
color: #333333;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
}

#promohd {
color: #444444;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#promohdr {
color: #990000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-decoration: underline
}

#promohdb {
color: #336699;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#promohdr a {
color: #990000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-decoration: underline
}

#promohdr a:hover {
color: #FF0000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-decoration: underline
}

.search-link {
color: #990000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.search-link a {
color: #990000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-decoration: underline
}

.search-link a:hover {
color: #FF0000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-decoration: underline
}

#promohds {
color: #555555;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#promohdrs {
color: #990000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#sectionb {
color: #000;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#sectionc {
color: #000;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: bold;
}

#sectionm {
color: #990000;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#sectionh {
color: #990000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#subhead {
color: #990000;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#search {
color: #990000;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#new {
color: #000;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
}

#date {
color: #000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}

#date a {
color: #990000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline
}

#date a:hover {
color: #FF0000;
}

#column {
color: #000;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
}

#column a {
color: #990000;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline
}

#column a:hover {
color: #FF0000;
}

#columnnist {
color: #000;
font-size: 9px;
font-family: Arial, Helvetica, sans-serif;
}

#columnnist a {
color: #990000;
font-size: 9px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline
}

#columnnist a:hover {
color: #FF0000;
}

#disclaimor {
color: #000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}

#disclaimor a {
color: #990000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline
}

#disclaimor a:hover {
color: #FF0000;
}

#travelocity1 {
color: #FF0000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#travelocity2 {
color: #000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
}

#directory {
color: #990000;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}

#quote {
color: #003366;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}

#quote a {
color: #003366;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline
}

#quote a:hover {
color: #3366CC;
}

#bquote {
color: #000;
margin-left: 4;
font-size: 11px;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
}

#bquote a {
color: #003366;
text-decoration: underline
}

#bquote a:hover {
color: #3366CC;
}

#credit {
font-size:9px;
color:#000;
font-weight:normal;
font-family: Arial, Helvetica, sans-serif;
}

#caption {
font-size:11px;
color:#000;
font-weight:normal;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.2em;
}

#caption a {
color: #990000;
text-decoration: underline
}

#caption a:hover {
color: #FF0000;
text-decoration: underline
}

#photo {
font-size:10px;
color:#444444;
font-weight:normal;
font-family: Arial, Helvetica, sans-serif;
}

.photo {
font-size:10px;
color:#444444;
font-weight:normal;
font-family: Arial, Helvetica, sans-serif;
}

#newsnav {
padding 0;
margin-top: 0px;
}

#newsnav td {
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
background-color: #696969;
font-family: Arial, sans-serif;
line-height: 1em;
}

#newsnav a {
display: block;
font-size: 10px;
background-image:url(http://www.nysun.com/images/gray.jpg);
font-weight: normal;
color: #333333;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
background-color: #FFFFFF;
text-decoration: none;
padding-top: 3px;
padding-bottom: 2px;
}

#newsnav a:hover {
color: #FF0000;
background-image:url(http://www.nysun.com/images/gray_rl.jpg);
background-color: #FFFFFF;
text-decoration: none;
}

#classnav {
padding 0;
margin-top: 0px;
}

#classnav td {
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
background-color: #696969;
background-image:url(http://www.nysun.com/images/burgundy.jpg);
font-family: Arial, sans-serif;
line-height: 1em;
}

#classnav a {
display: block;
font-size: 10px;
background-image:url(http://www.nysun.com/images/pink.jpg);
font-weight: normal;
color: #333333;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
background-color: #FFFFFF;
text-decoration: none;
padding-top: 3px;
padding-bottom: 2px;
}

#classnav a:hover {
color: #FF0000;
background-image:url(http://www.nysun.com/images/pink_rl.jpg);
background-color: #FFFFFF;
text-decoration: none;
}

#extranav {
padding-left 0;
margin-top: 0px;
}

#extranav td {
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
background-color: #696969;
background-image:url(http://www.nysun.com/images/red.jpg);
font-family: Arial, sans-serif;
line-height: 1em;
}

#extranav a {
display: block;
font-size: 10px;
background-image:url(http://www.nysun.com/images/blush.jpg);
font-weight: normal;
color: #333333;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
background-color: #FFFFFF;
text-decoration: none;
padding-top: 3px;
padding-bottom: 2px;
}

#extranav a:hover {
color: #FF0000;
background-image:url(http://www.nysun.com/images/blush_rl.jpg);
background-color: #FFFFFF;
text-decoration: none;
}

h1 {
font-family:verdana,arial,sans-serif;
color: black;
font-size: 19px;
margin-top:12px;
margin-bottom:0px;
line-height:110%;
} 

h2 {
font-family:arial,sans-serif;
font-size: 17px;
} 

h3 {
font-family:arial,sans-serif;
color: #8A010D;
font-size: 16px;
} 

h4 {
font-family:arial,sans-serif;
color: #8A010D;
font-size: 14px;
} 

/*TOP NAVIGATION*/

.nav {
width: 690px;
height: 35px;
background: url(http://www.nysun.com/images/topnav2.gif);
padding-left: 0;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
position: relative;
}

.nav li {
padding-left: 0;
height: 35px;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;
display: block;
position: absolute;
}

.nav a {
display: block;
}

.tab1 {
left: 0px;
top: 0px;
width: 47px;
height: 35px;
}

.tab2 {
left: 47px;
top: 0px;
width: 82px;
height: 35px;
}

.tab3 {
left: 129px;
top: 0px;
width: 160px;
height: 35px;
}

.tab4 {
left: 289px;
top: 0px;
width: 74px;
height: 35px;
}

.tab5 {
left: 363px;
top: 0px;
width: 102px;
height: 35px;
}

.tab6 {
left: 465px;
top: 0px;
width: 108px;
height: 35px;
}

.tab7 {
left: 573px;
top: 0px;
width: 107px;
height: 35px;
}

.tab1 a {
height: 35px;
}

.tab2 a {
height: 35px;
}

.tab3 a {
height: 35px;
}

.tab4 a {
height: 35px;
}

.tab5 a {
height: 35px;
}

.tab6 a {
height: 35px;
}

.tab7 a {
height: 35px;
}

.tab1 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) 0px -35px no-repeat;
}

.tab2 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) -47px -35px no-repeat;
}

.tab3 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) -129px -35px no-repeat;
}

.tab4 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) -289px -35px no-repeat;
}

.tab5 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) -363px -35px no-repeat;
}

.tab6 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) -465px -35px no-repeat;
}

.tab7 a:hover {
background: url(http://www.nysun.com/images/topnav2.gif) -573px -35px no-repeat;
}


.frontpage {
width: 165px;
height: 70px;
background: url(http://www.newseum.org/media/dfp/med/NY_NYS.jpg) 0px -3px no-repeat;
padding-left: 0;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
position: relative;
border-bottom:thin solid #999999;
border-right:thin solid #999999;
border-top:thin solid #999999;
border-left:thin solid #999999;
}

.frontpage li {
padding-left: 0;
height: 70px;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;
display: block;
position: absolute;
}

.frontpage a {
display: block;
}

.cov {
left: 0px;
top: 0px;
width: 165px;
height: 70px;
}

.cov a {
height: 70px;
}

.cov a:hover {
background: url(http://www.newseum.org/media/dfp/med/NY_NYS.jpg) 0px -3px no-repeat;
}

#caption2 {
font-size:11px;
color:#333333;
font-weight:normal;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.2em;
}

#caption2 a {
color: #333333;
text-decoration: none
}

#caption2 a:hover {
color: #000000;
text-decoration: underline
}


.section3 {
color: #990000;
font-size: 12px;
margin: 0px;
margin-left: 3px;
vertical-align: bottom;
}

.section3 A {
color: #990000;
text-decoration: none
}

.section3 A:link {
color: #990000;
text-decoration: none
}

.section3 A:hover {
color: #990000;
text-decoration: underline
}

.section3 A:visited {
color: #990000;
}

#news {
	float: left;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 00px;
	border-right: 0px;
}
