A.nav  {
	COLOR : white;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav:visited  {
	COLOR : white;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav:active  {
	COLOR : white;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav:hover  {
	color : #CC0000;
	text-decoration:underline;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	FONT-WEIGHT : BOLD;

}

A.navtext  {
	COLOR : #003399;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;

}

A.navtext:visited  {
	COLOR : #003399;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
	
}

A.navtext:active  {
	COLOR : #003399;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
	
}

A.navtext:hover  {
	color : #CC0000;
	text-decoration:underline;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	

}



A.nav2  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav2:visited  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav2:active  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav2:hover  {
	color : white;
	text-decoration:underline;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	FONT-WEIGHT : BOLD;

}
A.nav3  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav3:visited  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav3:active  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
}

A.nav3:hover  {
	color :  #003399;
	text-decoration:underline;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	FONT-WEIGHT : BOLD;

}
A.boxlink  {
	COLOR : black;
	FONT-FAMILY : verdana;
	FONT-SIZE : 10px;
	TEXT-DECORATION : underline;
	
}

A.boxlink:visited  {
	COLOR : black;
	FONT-FAMILY : verdana;
	FONT-SIZE : 10px;
	TEXT-DECORATION : underline;
	}

A.boxlink:active  {
	COLOR : black;
	FONT-FAMILY : verdana;
	FONT-SIZE : 10px;
	TEXT-DECORATION : none;
	}


A.boxlink:hover  {
	color :  #003399;
	text-decoration:underline;
	FONT-FAMILY : verdana;
	FONT-SIZE : 10px;
}

A.ulink  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : underline;
	
}

A.ulink:visited  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : underline;
	}

A.ulink:active  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	}

A.ulink:hover  {
	color :  #003399;
	text-decoration:underline;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
}


A.sidelink  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
	
}

A.sidelink:visited  {
	COLOR : navy;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
	}

A.sidelink:active  {
	COLOR :#003399;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
	}

A.sidelink:hover  {
	color :  red;
	FONT-FAMILY : Arial;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
}



P  {
	font-size : 12px;
	font-family : Arial;
}

H1  {
	FONT-FAMILY : Arial;
	FONT-SIZE : 24px;
}

H2  {
	FONT-FAMILY : Arial;
	FONT-SIZE : 14px;
}

H3  {
    COLOR: #003399;
	FONT-FAMILY : Arial;
	FONT-SIZE : 14px;
}

A  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
}

A:visited  {
	COLOR : Navy;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
}

A:active  {
	COLOR : black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
}

A:hover  {
	color : #CC0000;
	TEXT-DECORATION : none;
	
}

BODY  {
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
}

DIV  {
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
}

TD  {
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
}

TH	{
	COLOR:black;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	font-weight : normal;
	}

.txtHeader	{
	COLOR:black;
	background-color:#003399;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	font-weight : normal;
	}

.txtHeaderX	{
	COLOR:black;
	background-color:#CCCC99;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	font-weight : normal;
	}
	
.smallText  {
	font-size : 10px;
	font-family : verdana;
}

.phototext  {
	font-size : 10px;
	font-family : verdana;
	color : #B8B8B8;
}

.headline1 	{
	FONT-FAMILY : Arial;
	FONT-SIZE : 26px;
	font-weight : bold;
}

.headline2 	{
	FONT-FAMILY : Arial;
	FONT-SIZE : 14px;
	font-weight : bold;
}

.lightText 	{
	color:gray;
}

.lightTextbold 	{
	color: #DCDCDC;
	font-weight : bold;
}



.lightText2 	{
	color: White;
}


input {
	font-size:12px;
}

.navbar {
	color:navy;
	font-family:Arial;
	font-size:12px;
	font-weight : bold;
}

.newslinks	{
	COLOR : #CC0000;
	FONT-FAMILY : Arial;
	FONT-SIZE : 10px;
	FONT-WEIGHT : bold;
}

.featurelinks	{
	COLOR : #CC0000;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	FONT-WEIGHT : bold;
}

.newstitle	{
	FONT-FAMILY : Verdana;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
}

.newstory	{
	FONT-FAMILY : Verdana;
	FONT-SIZE : 11px;
	TEXT-DECORATION : none;
}
.caption	{
	COLOR: Gray;
	FONT-FAMILY : Verdana;
	FONT-SIZE : 10px;
	TEXT-DECORATION : none;
}
.sideNavTxt	{
	COLOR : #CC0000;
	FONT-FAMILY : Arial;
	FONT-SIZE : 14px;
	TEXT-DECORATION : none;
}

.email {
	COLOR : Navy;
	FONT-FAMILY : Arial;
	FONT-SIZE : 12px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : BOLD;
} 
.searchtext {
	COLOR : FFFFFF;
	FONT-FAMILY : Arial;
	FONT-SIZE : 9px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : normal;
}
.readercount {
	COLOR : FFFFFF;
	FONT-FAMILY : Arial;
	FONT-SIZE : 13px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : normal;
} 



