body {
	color: black;
	font-family: Tahoma;
	font-size: 11px;
	font-style : normal;
	background-color: white;
	margin : 8px 8px 8px 8px;
}

a {
	color: #0F6A8C;
	font-size: 11px;
	font-family: Verdana, Tahoma, Times New Roman;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

td {
	font-family: Verdana, Tahoma, Times New Roman;
	font-size: 11px;
	font-style: normal;
}

hr {
	color: #B2B2B2;
	height: 1px;
}

li {
	color: black;
	font-family: Verdana;
	font-size: 11px;
	font-style : normal;
}

