table,td,th { border-collapse: collapse ;
              border-color: black ;
            }

.navtable   { border-collapse: separate ;
              border-color: black ;
            }

hr { background-color: black ;
     height: 1px ;
     color: black ;
     border-style: solid ;
     border-width: 0px ;
   }

body,p,td,th,li,ul,ol,form,dl,dd,.e  { 
       font-size: 10pt ;
       font-family: "Arial", "helvetica", "sans-serif size: 2"; 
       color: black;
       background: #99ffff; 
       background-color: #99ffff }

pre { font-family: "courier new"
    }

dt  { font-size: 10pt ;
      font-weight: bold ;
       font-family: "Arial", "helvetica", "sans-serif size: 2"; 
       background: #99ffff; 
       background-color: #99ffff }

.logo { font-family: "Times New Roman";
        color: #003399  ;
        font-size: 10pt ;
        background: red ;
      }
.red { color: red }

h1 { font-size: x-large; font-family: "Times New Roman"; 
     color: red }

h1.hlt { font-size: 20pt; font-family: "Times New Roman"; 
      font-weight: bold ;
     color: red }

h2 { font-size: 16pt
   }

h2.red { font-size: 16pt ;
font-family: "Times New Roman" ;
     color: red; 
   }
h3 { font-size: 14pt }

h4 { font-size: 12pt }

.note { font-size: 9pt ; 
        font-style: italic ;
        font-family: "Times New Roman"; 
   }

.hbar { font-size: small ;
        font-family: "Times New Roman"; 
        color: #99ffff;
        background: #003399; 
        background-color: #003399 }

.printing { 
        font-size: 10pt ;
        font-family: "Arial", "helvetica", "sans-serif size: 2"; 
        color: #000000;
        background: #ffffff; 
        background-color: #ffffff }

a.hbar:visited { color: #99ffff }
a.hbar:link    { color: #99ffff }

.vbar { font-weight: bold; 
        font-size: 9pt;
        font-family: "Arial", "Helvetica", "sans-serif"; 
        color: #99ffff;
        background: #003399 }

.vbarred { 
        font-weight: bold; 
        font-size: 14pt;
        font-family: "Arial", "Helvetica", "sans-serif"; 
        background: red 100% repeat-x;
        color: #99ffff }

a.vbar:link    { color: #99ffff }
a.vbar:active  { color: #ff0000 }
a.vbar:visited { color: #99ffff }
a.vbar         { text-decoration:none; }

