div#sitemenus {background-color:#ce0e00;}
div#header {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_header06.jpg);}
div#header1 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_fb06.jpg);background-color: #ce0e00;}
div#header2 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_fbrecr06.jpg);background-color: #ce0e00;}
div#header3 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_bb06.jpg);background-color: #ce0e00;}
div#header4 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_bbrecr06.jpg);background-color: #ce0e00;}
div#headervideo {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_video06.jpg);}
table#header {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_header06.jpg);background-color: #ce0e00;}
table#header1 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_fb06.jpg);background-color: #ce0e00;}
table#header2 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_fbrecr06.jpg);background-color: #ce0e00;}
table#header3 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_bb06.jpg);background-color: #ce0e00;}
table#header4 {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_bbrecr06.jpg);background-color: #ce0e00;}
table#headerf {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_mb06.jpg);background-color: #ce0e00;}
table#headervideo {background-image: url(http://vmedia.rivals.com/images/templates/ohiostate_video06.jpg);}
p.primaryheader {background-color: #ce0e00;}
div.selectorheader p {background-color: #ce0e00;}
div.selectorheader a.selected {background-color: #ce0e00;}
img.fontnow {border:3px solid #ce0e00;}
table.collegechoices tr.header td.schools {background-color: #ce0e00;}
tr#committed td {color:#ce0e00;}
tr.selectorheader p {background-color: #ce0e00;}
tr.selectorheader a.selected {background-color: #ce0e00;}
tr#committed td {color:#ce0e00;}
td.navmenu{background-image:url(http://vmedia.rivals.com/images/templates/default_navlinkbg.gif);}
.fnavborder {border: 2px solid #cccccc;}
td.fnavborderright {border-right: 1px solid #cccccc;}
td.fnavborderleft {border-left: 1px solid #cccccc;}
td.fnavbg {background-color: #cccccc; color: #000000;}
td.fnavbg a {color: #ce0e00; text-decoration: none;}
DIV#mboardnav TD A:hover {BACKGROUND-COLOR: #AAAAAA;}
div.MenuItem{color:#000000;}
div.MenuItemSelected{color:#ce0e00;}
div.MenuItemDropdown{color:#000000; background-color:#ece9e2;}
div.MenuItemDropdownSelected{color:#ffffff; background-color:#ce0e00;}
.navmenu p {border-right: 1px solid #999999;}
