body {background-color:#b7becc; padding:0px; margin:0px;}
#holder {text-align:center; margin-left:auto; margin-right:auto; z-index:10;}
#bodyCenter {text-align:center; margin-left:auto; margin-right:auto; z-index:1;}

.vertDivides {width:762px; height:2px; background-color:#939393;}


#headerHolder {background-color:#939393; width:762px; border:2px #ffffff solid; z-index:11; margin-left:auto; margin-right:auto; text-align:center;}
#searchModule {position:absolute; left:265px; top:10px; vertical-align:middle; text-align:left;}
#accountModule {position:absolute; left:572px; top:10px; width:190px; height:20px; text-align:right; vertical-align:middle;}
#menuModule {position:absolute; left:147px; top:41px; text-align:left; z-index:25;}
#flashModule {position:absolute; left:0px; top:0px; z-index:24; background-color:#D4DCEC;}
#utilityModule {position:absolute; left:605px; top:41px; border:2px solid #ffffff; border-right:0px; text-align:left;}

.navText {font:bold 11px arial; color:#676E7E; vertical-align:middle;}
.navText a {color:#676E7E;}
.navText a:hover {color:#8b0000;}

.midAlign {vertical-align:middle;}

#headerAd {position:relative; width:762px; height:94px; z-index:2001; text-align:center; background-color:#939393;}
#headerMain {position:relative; width:762px; height:73px; z-index:20; background-image:url(/sitewide/headerfooter/img/nav_bkgrd.gif); background-repeat:repeat-x; text-align:left; background-color:#B7BECC;}

input.searchNav {width:95px; height:20px; vertical-align:middle;}
input.go {vertical-align:middle;}
select.searchNav {width:90px; height:20px; vertical-align:middle;}

.footerBlk {font:normal 10px arial; color:#000000;}
.footerBlk a {color:#000000;}
.footerBlk a:hover {color:#ff0000;}
.footerGry {font:normal 10px arial; color:#7c848d;}
.footerGry a {color:#7c848d;}
.footerGry a:hover {color:#ff0000;}
.spc10 {font-size:10px;}
#contentHolder {position:relative; z-index:1; width:766px; margin-left:auto; margin-right:auto;}
#footer {position: relative; width: 762px; z-index: 1000; clear:both; margin-left: auto; margin-right: auto;}