.newsnavlink
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}

.newsheadlink
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #6D4319;
	text-decoration: none;
}

.newsdetails
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #333333;
}
.caption
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
}

.scrollheadline
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
}

.volnum {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
}

.mainheadlink
{
	color: #243E8B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 16pt;
	text-decoration: none;
}

.mainheadlink2
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	text-decoration: none;
}
.updatetime {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bolder;
	color: #333333;
}
.headlinetitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bolder;
	color: #FFFFFF;
}

.newsnavlinktitle {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.newsheadlinktitle {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.pollresult {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder;
}

.adtext
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #336699;
}


.subhead {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11pt;
}
.shoulder {
	color: #243E8B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12pt;
}

.byline{
	color: #243E8B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: Italic;
	font-size: 9pt;
}

.catagory{
	color: #243E8B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
}
.gistinhead{
	color: #243E8B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 9pt;
}
}
.newspath{
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}


</style>
