/* STANDARDIZE ELEMENTS */

body
{
margin: 0px 0px 0px 0px;
padding: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}

form
{
padding: 0px;
margin: 0px;
}

h1
{
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 16px;
margin-bottom: 15px;
color: black;
}

h2
{
font-size: 115%;
line-height: 100%;
margin: 0px;
padding: 0px;
margin-top: 15px; 
margin-bottom: 10px;
}

h3
{
font-size: 115%;
line-height: 100%;
margin: 0px;
padding: 0px;
margin-top: 15px; 
margin-bottom: 10px;
}

img
{
border-style: none;
}

/* TOPNAV */

.topnav
{
padding: 1px 0px 0px 0px;
border-color: #9B9083;
background-color: #CEA288;
background-image: url("../pics/background.jpg");
background-repeat: repeat-x;
background-position: bottom left;
}

.topnav img
{
vertical-align: bottom;
}

/* LOCATIONBAR */

div.locationbar
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
padding: 2px 7px 2px 9px;
margin: 1px 0px 0px 0px;
background-color: #CEA288;
background-image: url("../pics/background.jpg");
background-repeat: repeat-x;
background-position: bottom left;
}

div.locationbar a
{
background-color: #FFEAD0;
border: 1px solid #B8A985;
border-bottom-width: 1px;
padding: 2px .6em 1px .6em;
text-decoration: none;
border-bottom-color: #CDC1A2;
margin: 0px;
margin-right: 1px;
margin-left: 0px;
}

div.locationbar a:link, div.locationbar a:visited
{
color: blue;
}

div.locationbar a:hover
{
color: blue;
background-color: white;
text-decoration: underline;
border-color: #AC9A8F;
border-bottom-color: #CDC1A2;
}

a#thisone
{
background-color: white;
border-bottom-color: white;
}

div.alignright
{
top: 56px;
position: absolute;
right: 5px;
z-index: 3;
}

div.locationbar a.spacer
{
margin-left: 9px;
}

/* CONTENT */

div.content
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
margin: 10px;
}

div.zeitgeist
{
margin: 17px;
}

table.subactions
{
border: 1px none #8F8F8F;
border-bottom-style: solid;
font-size: 12px !important;
font-weight: bold;
padding-bottom: 3px;
margin-bottom: 10px;
}

div#finddiv, div#finddiv0, div#finddiv1
{
display: none;
}

table.find
{
margin-top: 0px;
border-top-style: none;
background-color: #CACBF8;
}

/* TAGCLOUD */

div.tagcloud a:link, div.tagcloud a:active, div.tagcloud a:visited, div.tagcloud a:hover
{
color: blue !important;
text-decoration: none !important;
}

div.tagcloud a:hover
{
text-decoration: underline !important;
}

p.tagcloud
{
margin: -5px 0px 15px 0px;
font-weight: bold;
text-align: right;
line-height: 100%;
}

/* ALERTS */

div.globalalert
{
padding: 2px;
position: absolute;
right: 0;
top: 0;
background-color: yellow;
text-align: right;
border: 1px none gray;
border-bottom-style: solid;
border-left-style: solid;
font-size: 11px;
font-family: sans-serif;
}

div.alert
{
font-weight: bold;
margin-bottom: 5px;
color: orange;
}

div.alert b
{
color: black;
}

/* USERID */

div.userid
{
position: absolute;
right: 0;
top: 0;
padding: 5px 10px 0px 0px;
font-size: 10px !important; 
font-weight: bold; 
color: gray;
}

div.userid a:link, div.userid a:active, div.userid a:visited
{
color: gray;
text-decoration: none;
}

div.userid a:hover
{
color: gray;
text-decoration: underline;
}

/* PROMOTIONAL */

div.promotional
{
color: black;
font-family: georgia;
line-height: 100%; 
font-size: 12px;
font-weight: bold;
padding-bottom: 3px;
}

div.msm
{
padding: 10px;
border: 1px solid #AAAAAA;
}

p.tinygray, div.tinygray, span.tinygray
{
font-size: 10px;
color: gray;
}

table.usertagnav2
{
border: 1px solid #B0B0B0;
background-color: #DAE1F6;
font-weight: bold;
}

table.usertagnav2 td
{
padding: 4px;
font-size: 12px !important;
}

span.untrans
{
background-color: #FFFF80;
}

div.translatebar
{
clear: both;
border: 1px solid #CCCCCC;
border-left-style: none;
border-right-style: none;
padding: 6px 6px 10px 6px;
font-size: 10px;
background-color: #EEEEEE;
color: #232323;
margin-top: 50px;
}

div.morespace
{
color: gray;
padding: 2px 0px 2px 2px;
font-size: 9px;
text-align: right; 
}
