body {
	margin: 0px;  
}

.ticker_text { font-family: Verdana, Arial; font-size: 11px; font-weight: bold; color: #660000 }
.ticker_text a:visited { color: #660000; text-decoration: none }
.ticker_text a:hover { color: #660000; text-decoration: underline; }

.red_kicker { font-family: arial, sans-serif; font-size: 9px; color: red; font-weight: normal; }
.red_kicker a:link { color: red; }
.red_kicker a:visited { color: red; }
.red_kicker a:hover { color: #333333; text-decoration: underline; }

.gallery_kicker { font-family: arial, sans-serif; font-size: 9px; color: #DDDDDD; font-weight: normal; text-decoration: none; }
.gallery_kicker a:link { color: #DDDDDD; text-decoration: none; }
.gallery_kicker a:visited { color: #DDDDDD; text-decoration: none; }
.gallery_kicker a:hover { color: white; text-decoration: none; }

.breadcrumb { font-family: Arial; color:Black; font-size:11px; text-decoration: none; font-weight: bold; } 
.breadcrumb:hover { font-family: Arial; color:#666666; font-size:11px; text-decoration: underline; font-weight: bold; }

.see_article { font-family: arial, sans-serif; font-size: 11px; color: #333333; font-weight: normal; }
.see_article a:link { color: #333333; }
.see_article a:visited { color: #333333; }
.see_article a:hover { color: maroon; text-decoration: underline; }

.vertical_divider { border-left: solid 1px maroon }

.almond_box { margin: 0; padding: 3px; border-top: solid 4px #660000; 
    background-color: #F8EBDB }

.red_headline_huge { font-family: arial, sans-serif; font-size: 24px; color: #660000; 
    font-weight: bold; text-decoration: none; }
.red_headline_huge a:link { color: #660000; text-decoration: none; }
.red_headline_huge a:visited { color: #660000; text-decoration: none; }
.red_headline_huge a:hover { color: #333333; text-decoration: underline; }
    
.red_headline_large { font-family: arial, sans-serif; font-size: 18px; color: #660000; 
    font-weight: bold; text-decoration: none; }
.red_headline_large a:link { color: #660000; text-decoration: none; }
.red_headline_large a:visited { color: #660000; text-decoration: none; }
.red_headline_large a:hover { color: #333333; text-decoration: underline; }

.red_headline_medium { font-family: arial, sans-serif; font-size: 16px; color: #660000; 
    font-weight: bold; text-decoration: none; }
.red_headline_medium a:link { color: #660000; text-decoration: none; }
.red_headline_medium a:visited { color: #660000; text-decoration: none; }
.red_headline_medium a:hover { color: #333333; text-decoration: underline; }

.red_headline_small { font-family: arial, sans-serif; font-size: 12px; color: #660000; 
    font-weight: bold; text-decoration: none; padding-top: 2px; padding-bottom: 2px }
.red_headline_small a:link { color: #660000; text-decoration: none; }
.red_headline_small a:visited { color: #660000; text-decoration: none; }
.red_headline_small a:hover { color: #333333; text-decoration: underline; }

.form { margin: 0px; padding: 0px; }

.advertisement { font-family: arial, sans-serif; font-size: 8pt; color: #808080; text-align: center }
.article_tools_header { font-family: arial, sans-serif; font-size: 9pt; color: #FFFFFF; text-align: center; border-style: solid; border-width: 1px; border-color: Maroon; width: 120px; background-color:Maroon }

.headline-news { font-family: arial, sans-serif; font-size: 20px; color: #003399; font-weight: bold }
.subhead { font-family: arial, sans-serif; font-size: 14px; color: #999999; font-weight: bold }
.author-news { font-family: arial, sans-serif; font-size: 12px; color: #000000; font-weight: bold; }

.byline { font-family: arial, sans-serif; font-size: 11px; font-weight:bold; color: black; text-decoration: none; }
.byline a:link { font-family: arial, sans-serif; font-size: 11px; font-weight:bold; color: black; text-decoration: underline; }
.byline a:visited { font-family: arial, sans-serif; font-size: 11px; font-weight:bold; color: black; text-decoration: underline; }
.byline a:hover { font-family: arial, sans-serif; font-size: 11px; font-weight:bold; color: #666666; text-decoration: underline; }

.oldbyline { font-family: arial, sans-serif; font-size: 12px; color: #000000; font-weight: normal; }

.date { font-family: verdana, sans-serif; font-size: 9px; color: #333333; font-weight: normal; }

.photo_by { font-family: arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-align: right; }
.photo_by a:link { color: #333333; }
.photo_by a:visited { color: #333333; }
.photo_by a:hover { color: #666666; }

.caption_kicker { font-family: arial, sans-serif; font-size: 11px; color: #000000; font-weight: bold; }

.caption { font-family: arial, sans-serif; font-size: 11px; color: #000000; font-weight: normal; }
.caption a:link { color: maroon; text-decoration: underline; font-weight: normal; }
.caption a:visited { color: maroon; text-decoration: underline; font-weight: normal; }
.caption a:hover { color: #333333; text-decoration: underline; font-weight: normal; }

.gallery_photo_by { font-family: arial, sans-serif; font-size: 10px; color: white; font-weight: normal; text-align: right; }
.gallery_photo_by a:link { color: white; }
.gallery_photo_by a:visited { color: white; }
.gallery_photo_by a:hover { color: #DDDDDD; }

.gallery_caption { font-family: arial, sans-serif; font-size: 11px; color: white; font-weight: normal; }
.gallery_caption a:link { color: white; }
.gallery_caption a:visited { color: white; }
.gallery_caption a:hover { color: #DDDDDD; }

.white_teaser_text { font-family: arial, sans-serif; font-size: 12px; color: white; text-decoration: none; }
.white_teaser_text a:link { color: #F4E7D9; }
.white_teaser_text a:visited { color: #F4E7D9; }
.white_teaser_text a:hover { color: #DDDDDD; text-decoration: underline; }

.black_text_header { margin: 0; padding: 3px; background-color: #EEEEEE; border-bottom: solid 1px black;
    font-family: arial, sans-serif; font-size: 12px; color: #000000; font-weight: bold; }
    
.blue_text_header { margin: 0; padding: 3px; background-color: #EEEEEE; text-align: center; border-bottom: solid 1px black;
    font-family: arial, sans-serif; font-size: 12px; color: #000066; font-weight: bold; }

.advertising_link { font-family: arial, sans-serif; font-size: 10px; color: #333333; 
  text-decoration: underline; margin-bottom: 3px; }
.advertising_link a:link { color: #333333; }
.advertising_link a:visited { color: #333333; }
.advertising_link a:hover { color: maroon; text-decoration: underline; }

.section_header { font-family: arial, sans-serif; font-size: 12px; font-weight:bold; padding-bottom: 3px}

.footer { font-family: sans-serif; text-align: center; font-size: 12px; color: #999; margin-top: 5px; }

.ArtsBigPicTabDefault { font-family: arial; font-size: 14px; background-color: #EEEEEE; 
    color: #660000; border: solid 1px #999999; text-align: center }
.ArtsBigPicTabSelected { font-family: arial; font-size: 14px; background-color: #EEEEEE; 
    color: black; border: solid 1px #999999; font-weight:bold; text-align: center }
.ArtsBigPicTabHover { font-family: arial; font-size: 14px; background-color: #EEEEEE; 
    color: #999999; border: solid 1px #999999; text-align: center; cursor:pointer }
.ArtsBigPicTabDisabled {font-family: arial; font-size: 14px; font-weight: bold; background-color: #EEEEEE; 
    color: black; border: solid 1px #999999; text-align: left }
    
.SportsBigPicTabDefault { font-family: arial; font-size: 12px; background-color: #EEEEEE; 
    color: #660000; border: solid 1px #999999; text-align: center }
.SportsBigPicTabSelected { font-family: arial; font-size: 12px; background-color: #EEEEEE; 
    color: black; border: solid 1px #999999; font-weight:bold; text-align: center }
.SportsBigPicTabHover { font-family: arial; font-size: 12px; background-color: #EEEEEE; 
    color: #999999; border: solid 1px #999999; text-align: center; cursor:pointer }
.SportsBigPicTabDisabled {font-family: arial; font-size: 12px; font-weight: bold; background-color: #EEEEEE; 
    color: black; border: solid 1px #999999; text-align: left }
    
.WriterBigPicTabDefault { font-family: arial; font-size: 12px; background-color: #EEEEEE; 
    color: #660000; border: solid 1px #999999; text-align: center }
.WriterBigPicTabSelected { font-family: arial; font-size: 12px; background-color: #EEEEEE; 
    color: black; border: solid 1px #999999; font-weight:bold; text-align: center }
.WriterBigPicTabHover { font-family: arial; font-size: 12px; background-color: #EEEEEE; 
    color: #999999; border: solid 1px #999999; text-align: center; cursor:pointer }
.WriterBigPicTabDisabled {font-family: arial; font-size: 12px; font-weight: bold; background-color: #EEEEEE; 
    color: #CCCCCC; border: solid 1px #999999; text-align: center }

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}