#Body {
	width: 700px;
	border: 0;
	margin: 0;
	padding: 0;
	float: none !important;
	position: static;
	left: -150px;
	top: 0px;
	z-index: 0;
}
#Header {display: none !important;}
#Background {display: none !important;}
#Menu {display: none !important;}

