

.cart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 003366;
	font-weight:bold;    
	text-decoration: none;
}

.text {
    font-family:verdana;
    font-size:12px;
		color:black;
		}
.text2 {
    font-family:arial;
    font-size:11px;
		color:black;
		font-weight:bold;
		}

.smalltext {font-family:verdana;
    font-size:11px;
		color:black;
		}
.bigheader {
		font-family:Arial;
	    	font-size: 16pt; 
		color: #D4A22E; 
		font-weight: bold;
		}

.h1 {
		font-family:Arial;
	    	font-size: 16pt; 
		color: #2A4978; 
		font-weight: bold;
		}


.smallheader {font-size:11pt;
						 color:#45557D;
						 font-weight:bold;}			
			
.oldprice {font-size:10px;
			color: #000000;
		   }	

.newprice {font-size:12px;
		   color:#000000;
		   font-weight:bold;
		  }
	
.yousave {font-size:10px;
			color: red;
			font-weight:bold;
			
		}

.caption { font-size:11px;
		font-style:italic;
		text-align:justify;
		padding-top:5px;
		padding-left:10px;
		padding-right:10px;
		}
	
.search {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.pageno { 
 				font-family:verdana;
    		font-size:12px;
				color:blue;
				text-decoration: underline;
				cursor:pointer;
}

.breadcrumber{ 
 			font-family:verdana;
    			font-size:12px;
			color: 1713A8;
			cursor:pointer;
}

.sortby { 
 				font-family:verdana;
    		font-size:12px;
				color:blue;
				text-decoration: underline;
				cursor:pointer;
}
.pageselected { 
 				font-family:verdana;
    		font-size:14px;
				color:black;
}

a.shoetitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	text-decoration: underline;
}
a.footer:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #003366;text-decoration: underline;
   }
a.footer:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #003366;text-decoration: underline;
   }	 
a.footer:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #D4A22E;text-decoration: underline;
   }
a.footer:visited:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #D4A22E;text-decoration: underline;
   }	 
	 	 
.brandheader {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
}


a:link {text-decoration:none; color:1713A8;}
a:hover {text-decoration:underline; color:#D4A22E;}
a:visited {text-decoration:none; color:1713A8;}
a:visited:hover {text-decoration:underline;color:#D4A22E;}


a.leftnav:link {text-decoration: none;color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;}
a.leftnav:hover { text-decoration: underline;color:orange;}
a.leftnav:visited {text-decoration: none; color:#FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
a.leftnav:visited:hover { text-decoration: underline; color:orange;}


a.brandlink:link {text-decoration: none;color: #141474;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;}
a.brandlink:hover { text-decoration: underline;color:orange;}
a.brandlink:visited {text-decoration: none; color:#141474; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
a.brandlink:visited:hover { text-decoration: underline; color:orange;}

a.ulink:link {text-decoration:underline; color:1713A8;}
a.ulink:hover {text-decoration:underline; color:#D4A22E;}
a.ulink:visited {text-decoration:underline; color:1713A8;}
a.ulink:visited:hover {text-decoration:underline;color:#D4A22E;}
}

.pointerhand {
	cursor: pointer;

}
